{% extends 'dialog_base.html' %}
{% load apparel_extras %}
{% load i18n %}

{% block title %}{% trans "Reject transaction?" %}{% endblock %}
{% block content %}
<p>
    <label for="status_message">{% trans "Describe your reason to reject the transaction." %}</label><br>
    <textarea name="status_message" id="status_message"></textarea>
</p>
<p>
    <a class="btn btn-upper btn-positive btn-yes close" href="#">{% trans "Yes" %}</a>
    <a class="btn btn-upper close" href="#">{% trans "Cancel" %}</a>
</p>
<script type="text/javascript">
    $(function() {
        $('.btn-yes').on('click', function() {
            var message = $('#status_message').val();
            $.post('{% url 'affiliate-admin-reject' transaction.id %}', {message: message}, function() { window.location.reload(); });

            return false;
        });
    });
</script>
{% endblock %}
