{% extends 'base.html' %}
{% load i18n l10n cache humanize %}

{% block extra-title %}{% trans "Your store" %} | {% endblock %}

{% block 'extra-scripts' %}
    <script type='text/javascript'>
        $(document).ready(function() {
            $('#content select').change(function() {
                var $selected = $(this).find(':selected');
                var year = $selected.data('year');
                var month = $selected.data('month');

                window.location.href = '/a/admin/' + year + '/' + month + '/';
            });
        });
    </script>
{% endblock %}

{% block body-header %}
<div id="body-header">
    <div class="column_one">
        <h1 class="max-width">{% trans "Your store" %}</h1>
    </div>
</div>
{% endblock body-header %}
{% block body-classes %}one-column affiliate{% endblock body-classes %}
{% block body %}
<div id="content">
    <ul class="total-stats group">
        <li class="first">{% trans "Balance:" %} {{ store.balance }} SEK</li>
        <li class="last">{% trans "Total accepted commission:" %} {{ total_accepted_commission|floatformat:2|intcomma }} SEK</li>
    </ul>
    <ul class="monthly-stats group">
        <li class="first">
            <label>{% trans "Show: " %}
                <select>
                    {% for date in dates %}
                    <option data-year="{{ date.year }}" data-month="{{ date.month }}"{% if date.year == year and date.month == month %} selected{%endif %}>{{ date|date:"F Y" }}</option>
                    {% endfor %}
                </select>
            </label>
        </li>
        <li class="last">{% trans "Accepted commission this month:" %} {{ accepted_commission|floatformat:2|intcomma }} SEK</li>
    </ul>
    <div class="transaction-table group">
        <div class="transaction-table-content">
            <table>
                <tr>
                    <th>{% trans "Order ID" %}</th>
                    <th>{% trans "Order Value" %}</th>
                    <th>{% trans "Commission" %}</th>
                    <th>{% trans "Order Detail" %}</th>
                    <th>{% trans "Time" %}</th>
                    <th>{% trans "Order Status" %}</th>
                </tr>
                {% for transaction in transactions %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{ transaction.order_id }}</td>
                    <td>{{ transaction.order_value }} {{ transaction.currency }}</td>
                    <td>{{ transaction.commission }} {{ transaction.currency }}</td>
                    <td>
                        {% for product in transaction.products.all %}
                            {{ product.quantity }} {{ product.sku }} {{ product.price }} {{ transaction.currency }}<br>
                        {% endfor %}
                    </td>
                    <td>{{ transaction.created }}</td>
                    <td>
                        {% if transaction.status == 'P' %}
                        <a class="open-dialog btn btn-upper btn-positive" href="{% url 'affiliate-admin-accept' transaction.id %}">{% trans "Accept" %}</a>
                        <a class="open-dialog btn btn-upper btn-negative" href="{% url 'affiliate-admin-reject' transaction.id %}">{% trans "Reject" %}</a>
                        {% else %}
                        {{ transaction.get_status_display }}<br>
                        {{ transaction.status_date }}
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">{% trans "No transactions" %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock body %}
