{% extends 'base.html' %}
{% load i18n l10n cache %}

{% block extra-title %}{% trans "Affiliate" %} | {% endblock %}

{% block body-header %}
<div id="body-header">
    <div class="column_one">
        <h1 class="max-width">{% trans "Affiliate" %}</h1>
    </div>
</div>
{% endblock body-header %}
{% block body-classes %}one-column affiliate{% endblock body-classes %}
{% block body %}
<div id="content">
    <div class="light-block group">
        <h3 class="commission">{% blocktrans %}Your commission: {{ total_sales }}kr{% endblocktrans %}</h3>
        <h3 class="commission">{% blocktrans %}Confirmed commission: {{ total_confirmed }}kr{% endblocktrans %}</h3>
        <h3 class="commission">{% blocktrans %}Pending payment: {{ pending_payment }}kr{% endblocktrans %}</h3>
    </div>
    <div class="content-chart group">
        <div class="chart-menu">
            <label>{% trans "Show: " %}
                <select>
                    {% for date in dates %}
                    <option data-year="{{ date.year }}" data-month="{{ date.month }}"{% if date.year == year and date.month == month %} selected{%endif %}>{{ date|date:"F Y" }}</option>
                    {% endfor %}
                </select>
            </label>
            <p>{% blocktrans %}Your commission {{ month_commission }}kr{% endblocktrans %}</p>
            <p>{% blocktrans %}Your clicks {{month_click}} st{% endblocktrans %}</p>
        </div>
        <div id="charts">
            <table>
                <tr>
                    <th>{% trans "Order ID" %}</th>
                    <th>{% trans "Order Value" %}</th>
                    <th>{% trans "Order Detail" %}</th>
                    <th>{% trans "Checkout" %}</th>
                    <th>{% trans "Cookie date" %}</th>
                    <th>{% trans "Order Status" %}</th>
                </tr>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.order_id }}</td>
                    <td>{{ transaction.order_value }} {{ transaction.currency }}</td>
                    <td>
                        {% for product in transaction.products.all %}
                            {{ product.sku }}, {{ product.price }}, {{ product.quantity }}<br>
                        {% endfor %}
                    </td>
                    <td>{{ transaction.created }}</td>
                    <td>{{ transaction.cookie_date }}</td>
                    <td>
                        {% if transaction.status == 'P' %}
                        <a class="open-dialog btn btn-upper btn-positive" href="{% url 'affiliate-admin-accept' transaction.id %}">{% trans "Accept" %}</a>
                        <a class="open-dialog btn btn-upper btn-negative" href="{% url 'affiliate-admin-reject' transaction.id %}">{% trans "Reject" %}</a>
                        {% else %}
                        {{ transaction.get_status_display }}<br>
                        {{ transaction.status_date }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div id="clicks_chart" style="width: 740px; height: 300px;"></div>
        </div>
    </div>
</div>
{% endblock body %}
