{% load i18n %}

{% for row in current_page.object_list %}
    <tr>
        <td class="col-md-2 center" data-sort="{{ row.user_id }}">{{ row.user_id }}</td>
        <td class="col-md-5 text-left" data-sort="{{ row.referer }}" alt="{{ row.referer }}">{{ row.referer|truncatechars:60 }}</td>
        <td class="col-md-3 center" data-sort="{{ row.created }}">{{ row.created_date }}</td>
        <td class="col-md-2 center" data-sort="{{ row.posts }}">{{ row.posts }}</td>
    </tr>
{% empty %}
    <tr>
        <td colspan="4">{% trans "No clicks registered for this period." %}</td>
    </tr>
{% endfor %}


