@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/fonts/glyphicons-halflings-regular.eot');
    src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 400px;
    height: 200px;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

a {
    outline: none;
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #737373;
}

h1 {
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

.disabled {
    display: none;
}

.header, .content {
    display: none;
}

body.active .header, body.semi-active .header, body.active .content {
    display: block;
}

body.active .loading {
    display: none;
}

.header {
    background-color: #000;
    color: #fff;
    text-align: center;
    overflow: auto;
    padding: 17px 0 13px 0;
}
.header img {
    width: 90px;
}

.loading {
    padding-top: 70px;
    text-align: center;
}

.content {
    min-height: 300px;
    padding: 15px;
}

.footer-links {
    position: absolute;
    bottom: 15px;
}

.no-like {
    display: none;
}
.no-like.show {
    display: block;
}

.product-short-link {
    display: none;
    margin-bottom: 20px;
}
.product-short-link input {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.product-warning-text {
    font-size: 12px;
}

.buttons {
    overflow: hidden;
    width: 100%;
    margin-bottom: 15px;
}

.like-button, .product-button {
    display: block;
    float: left;
    height: 42px;
    line-height: 42px;
    margin: 0;
    padding: 0;
    background-color: #000000;
    border: 0;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

.like-button.disabled, .product-button.disabled {
    cursor: default;
    background-color: #bfbfbf;
    border-color: #bfbfbf;
}
.like-button:hover.disabled, .product-button:hover.disabled {
    background-color: #bfbfbf;
    border-color: #bfbfbf;
}

.like-button .unlike, .like-button .liked {
    display: none;
}

.like-button.liked .liked {
    display: inline;
}

.like-button.liked .like, .like-button.liked .unlike {
    display: none;
}

.like-button:hover.liked .unlike {
    display: inline;
}

.like-button:hover.liked .liked {
    display: none;
}

.like-button {
    width: 177px;
    margin-right: 15px;
}

.product-button {
    width: 177px;
}

.like-button:hover, .product-button:hover {
    background-color: #333333;
    color: #ffffff;
}

.like-button:active, .like-button:hover, .like-button:focus, .product-button:focus, .product-button:active, .product-button:hover {
    outline: 0;
}

.like-button.liked > span:last-child {
    color: #e27b67;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.glyphicon-heart:before {
    content: "\e005";
}
