{% load i18n %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
    <head>
        <title>{% block title %}Index{% endblock %} - Importer Admin</title>
        <link rel="stylesheet" href="{% static "styles/bootstrap.min.css" %}" type="text/css" media="screen, projection">
        <style>
            .container-fluid { margin-top: 20px; }
            .help-block{ font-size: 80%; }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="navbar">
                {% url 'importer-index' as index_url %}
                {% url 'brand-mapper' as brand_url %}
                {% url 'category-mapper' as category_url %}
                {% url 'importer-messages' as message_url %}
                <div class="navbar-inner">
                    <a class="brand" href="{{ index_url }}">Importer Admin</a>
                    <ul class="nav">
                        <li{% if request.path == index_url %} class="active"{% endif %}><a href="{{ index_url }}">{% trans "Dashboard" %}</a></li>
                        <li{% if request.path == brand_url %} class="active"{% endif %}><a href="{% url 'brand-mapper' %}">{% trans "Brand" %}</a></li>
                        <li{% if request.path == category_url %} class="active"{% endif %}><a href="{% url 'category-mapper' %}">{% trans "Category" %}</a></li>
                        <li{% if request.path == message_url %} class="active"{% endif %}>
                            <a href="{{ message_url }}">Validation <span class="badge badge-important">34</span> <span class="badge badge-warning">398</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
