.*
*.pyc
*.db
*~
*#*#
settings_local.py
settings.py
/apparelrow/media/js/compiled/
/apparelrow/media/styles/ie.css
/apparelrow/media/styles/print.css
/apparelrow/media/styles/screen.css
/apparelrow/media/styles/widget.css
/apparelrow/media/styles/beta.css

# added by SE
/apparelrow/bootstrap/bootstrap-3.3.0/docs/dist/css/bootstrap.css
/apparelrow/bootstrap/bootstrap-3.3.0/docs/dist/css/bootstrap.css.map
/apparelrow/bootstrap/bootstrap-3.3.0/docs/dist/css/bootstrap.min.css

# generated sitemap
/apparelrow/sitemaps/sitemap*

# devops database backup folder
devops/dev_db_backups/

# django-static
/apparelrow/media/js/apparel.*.js
/apparelrow/media/js/browse.*.js
/apparelrow/media/js/filtersetup.*.js
/apparelrow/media/js/jquery/jquery.fixedscroll.*.js
/apparelrow/media/js/jquery/jquery.history.*.js
/apparelrow/media/styles/beta.*.css
/apparelrow/media/styles/print.*.css
/apparelrow/media/styles/screen.*.css
/apparelrow/media/styles/smoothness/jquery-ui-1.8rc3.custom.*.css
/bootstrap/bootstrap-3.3.0/_fonts
/apparelrow/static_local
/apparelrow/media/static
/apparelrow/media/cache
/apparelrow/media/products
/spiderpig/spiderpig/images
/warehouse
/eggs
/develop-eggs
/parts
/downloads
/include
/lib
/bin/*
!/bin/import
!/bin/django-server
!/bin/gunicorn-server
/pip-log.txt
/src
/var
/etc/logging.conf
/etc/lighttpd.conf
/apparelrow/development.py
/redis/*rdb
bootstrap/bootstrap-3.0.0-rc1/less/bootstrap.css
/locale
/etc/v2
.DS_Store
config.codekit

/static

/spiderpig/spidercrawl/local.py
/spiderpig/spidercrawl/spiders/shirtonomy.py
