.*
*.pyc
*.db
*~
*#*#
settings_local.py
/apparelrow/media/js/compiled/
/apparelrow/media/styles/ie.css
/apparelrow/media/styles/print.css
/apparelrow/media/styles/screen.css
/apparelrow/media/styles/widget.css
/apparelrow/media/products
/warehouse
/eggs
/develop-eggs
/parts
/downloads
/include
/lib
/bin/*
!/bin/import
!/bin/django-server
/pip-log.txt
/src
/var
/etc/logging.conf
/etc/lighttpd.conf
