.*
*.pyc
*.db
settings_local.py
apparelrow/media/products
warehouse
eggs
develop-eggs
parts
downloads
include
lib/python*
bin/python*
bin/activate*
bin/easy_install*
bin/django-1.1.1
bin/buildout
bin/pil*
bin/django-admin.py
bin/pip
pip-log.txt
src
*~
*#*#
