Django==1.2
PIL==1.1.7
MySQL-python==1.2.3c1
sorl-thumbnail==3.2.2
PyYAML==3.09
flup==1.0.2
south==0.7
python-memcached==1.45
-f http://bitbucket.org/ubernostrum/django-registration/downloads/django-registration-0.8-alpha-1.tar.gz
django-registration==0.8.0-alpha-1
-e git+http://github.com/flashingpumpkin/django-socialregistration.git@v0.4-tag#egg=django-socialregistration
-e git+http://github.com/facebook/python-sdk.git@2da0f678f0c0c5a5ddc77b7456dde232e9b98bd9#egg=facebook-sdk
oauth2==1.1.3
python-openid==2.2.5
django-notification==0.1.5
django-announcements==0.1.0
-e svn+http://django-mptt.googlecode.com/svn/trunk/@116#egg=django-mptt
-e svn+http://django-voting.googlecode.com/svn/trunk/@71#egg=django-voting
-e svn+http://code.hanssonlarsson.se/svn_public/hanssonlarsson_utils-svn/tags/hanssonlarsson-django-exporter-0.2.4/#egg=hanssonlarsson-django-exporter
-e svn+http://code.hanssonlarsson.se/svn_public/hanssonlarsson_utils-svn/tags/django-jsmin-0.0.2/#egg=django-jsmin
django-tagging==0.3.1
django-pagination==1.0.5
-e git://github.com/django-extensions/django-extensions.git#egg=django-extensions
-e svn+http://django-trackback.googlecode.com/svn/trunk/@15#egg=django-trackback
django-ajaxcomments==0.2
-e svn+http://code.hanssonlarsson.se/svn_public/hanssonlarsson_django-recommender-fork#egg=django-recommender
-f ftp://xmlsoft.org/libxml2/python/libxml2-python-2.6.15.tar.gz
libxml2-python==2.6.15
-e svn+http://django-compress.googlecode.com/svn/trunk/#egg=django-compress
