Django==1.1.1
PIL==1.1.7
MySQL-python==1.2.3c1
sorl-thumbnail==3.2.2
-f http://bitbucket.org/ubernostrum/django-registration/downloads/django-registration-0.8-alpha-1.tar.gz
-e git://github.com/sciyoshi/pyfacebook.git#egg=pyfacebook
-e svn+http://django-facebookconnect.googlecode.com/svn/tags/v0.1/#egg=django-facebookconnect
django-notification==0.1.5
django-announcements==0.1.0
django-mptt==0.2.1
-e svn+http://django-voting.googlecode.com/svn/trunk/@71#egg=django-voting
django-tagging==0.3.1
django-pagination==1.0.5
django-registration==0.8.0-alpha-1
