{% extends 'base.html' %}
{% load i18n %}

{% block extra-title %}{% trans "Settings" %} | {% endblock %}

{% block extra-scripts %}
<script type="text/javascript">
$(document).ready(function() {
    console.log('test');
    // Set active submenu link
    var url = window.location.href.split('/');
    $('a[href*="' + url[6] + '"]', '.page-menu').parent().addClass('active');
});
</script>
{% endblock %}

{% block body-classes %}settings-page{% endblock %}
{% block body %}
    <div class="body-header">
        <h1>{% trans "Settings" %}</h1>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <ul class="page-menu">
                <li{% if 'email' in request.path %} class="selected"{% endif %}><a href="{% url 'settings-email' %}">{% trans "Account" %}</a></li>
                <li{% if 'notification' in request.path %} class="selected"{% endif %}><a href="{% url 'settings-notification' %}">{% trans "Notifications" %}</a></li>
                {% if request.user.is_authenticated and request.user.is_partner %}
                <li{% if 'publisher' in request.path %} class="selected"{% endif %}><a href="{% url 'settings-publisher' %}">{% trans "Publisher" %}</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-sm-9">
            {% block content %}{% endblock content %}
        </div>
    </div>
{% endblock %}