{% extends 'base.html' %}
{% load i18n %}

{% block extra-title %}{% trans "Settings" %} | {% endblock %}

{% block body-header %}
<div id="body-header">
    <div class="column_one">
        <h1>{% trans "Settings" %}</h1>
    </div>
</div>
{% endblock body-header %}
{% block body-classes %}two-columns settings{% endblock body-classes %}
{% block body %}
    <div class="sidebar">
        <h2>{% trans "Settings" %}</h2>
        <ul class="settings-list">
            <li class="first"><a href="{% url 'profile.views.settings_notification' %}">{% trans "E-mail Notifications & Newsletters" %}</a></li>
            <li><a href="{% url 'profile.views.settings_email' %}">{% trans "E-mail Address" %}</a></li>
            {% if request.user.is_authenticated and request.user.is_partner %}
            <li><a href="{% url 'profile.views.settings_facebook' %}">{% trans "Facebook" %}</a></li>
            <li class="last"><a href="{% url 'profile.views.settings_partner' %}">{% trans "Partner" %}</a></li>
            {% else %}
            <li class="last"><a href="{% url 'profile.views.settings_facebook' %}">{% trans "Facebook" %}</a></li>
            {% endif %}
            <li class="last"><a href="{% url profile.views.settings_password %}">{% trans "Password" %}</a></li>
        </ul>
    </div>
    <div id="content" class="settings-content">
        {% block content %}{% endblock content %}
    </div>
{% endblock body %}
