{% extends "base.html" %}
{% load i18n %}

{% block body-classes %}three-columns profile{% endblock body-classes %}
{% block body %}
    <div id="profile-nav">
        <ul>
            {% include 'profile/fragments/menu_items.html' %}
        </ul>
        <hr>
    </div>
    <div class="sidebar">
        <div id="profile-image">
            <img src="{{ profile.avatar_large }}" class="avatar large">
            {% if user.is_authenticated and user == profile.user %}
                <button class="edit">{% trans "Change picture" %}</button>
                <button class="cancel-edit">{% trans "Cancel" %}</button>
                {% with "multipart/form-data" as form_enctype %}
                {% include 'profile/fragments/change_image_form.html' %}
                {% endwith %}
            {% endif %}
        </div>
        <h1>{{ profile.display_name }}</h1>
        <p>
            {% trans "Member since" %} {{ profile.user.date_joined|date:"SHORT_DATE_FORMAT" }}
        </p>
        <p>
        {% blocktrans count profile.likes as likes %}
            {{ likes }} like
        {% plural %}
            {{ likes }} likes
        {% endblocktrans %}
        </p>
        <p>
        {% blocktrans count profile.looks as looks %}
            {{ looks }} look
        {% plural %}
            {{ looks }} looks
        {% endblocktrans %}
        </p>      
        {% if profile.about %}<p class="description">{{ profile.about }}</p>{% endif %}
        <p class="large_follow">{% include 'apparel/fragments/follow.html' %}</p>
    </div>
    <div id="content">
    {% block content %}
    {% endblock content %}
    </div>
    <div class="sidebar last">
    {% block profile_right_sidebar %}
        <h2>{% blocktrans with profile.display_name as name %}{{ name }}'s latest looks{% endblocktrans %}</h2>
        {% with recent_looks as looks %}
            {% include 'apparel/fragments/looks_sidebar.html' %}
        {% endwith %}
    {% endblock %}
    </div>
{% endblock %}
