{% extends "profile/base_profile.html" %}
{% load i18n apparel_extras %}
{% block extra-title %}{{ profile.display_name }} - {% trans "All" %} | {% endblock %}

{% block body-classes %}profile-page profile-default{% endblock body-classes %}
{% block content %}
{% with looks_url=profile.url_looks likedlooks_url=profile.url_likedlooks brandlooks_url=profile.url_brandlooks products_url=profile.url_likes %}
     <div class="row">
        <div class="col-lg-12">
            <ul class="list-alphabet">
                <li>
                    <a{% if request.path == products_url %} class="selected"{% endif %} href="{{ products_url }}">
                        {% blocktrans count products as product_count %}Item ({{product_count}}){% plural %}Items ({{product_count}}){% endblocktrans %}
                    </a>
                </li>
                <li>
                    <a{% if request.path == likedlooks_url %} class="selected"{% endif %} href="{{ likedlooks_url }}">{% comment %}{{ profile.look_likes_count }}{% endcomment %}
                        {% blocktrans count profile.total_look_count as look_count %}Look ({{look_count}}){% plural %}Looks ({{look_count}}){% endblocktrans %}
                    </a>
                </li>
                {% if profile.is_brand %}
                  <li><a{% if request.path == brandlooks_url %} class="selected"{% endif %} href="{{ brandlooks_url }}">{% trans "Using Brand" %}</a></li>
                {% endif %}
            </ul>
            <hr>
        </div>
    </div>
{% endwith %}
    {% if current_page.object_list %}
        {% include 'apparel/fragments/default_list.html' with is_profile=True %}
    {% else %}
        <div class="empty">
        {% if profile == request.user %}
            <div class="message warning">
                <p>{% trans "All products and looks that you like end up here." %}</p>
                <a class="btn btn-success" href="{% url 'look-list' %}">{% trans "Find your favorites" %}</a>
            </div>
        {% else %}
            <div class="message warning">{% blocktrans with profile.display_name as display_name %}{{ display_name }} has not liked any products or looks yet.{% endblocktrans %}</div>
        {% endif %}
        </div>
    {% endif %}
{% endblock %}