{% load i18n %}
{% load static from staticfiles %}
<div class="modal fade" id="modal_embed_shop" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{% trans "Customize, embed & save your shop" %}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
            </div>
            <div class="modal-body">

                <p>{% trans "Customize your shop below to get it the style you want, then get the embed code to put it on your blog / site." %}</p>

                <form id="embed_shop_form" class="form">
                    <div class="form-group">
                        <label class="control-label" for="id_name">{% trans "Shop name" %}</label>
                        <input id="id_name" type="text" required value="{{ title }}"/>
                        <span class="help-block">{% trans "This field is required." %}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="id_language">{% trans "Language & currency" %}</label>
                        <a href="#" class="info-toggler" data-target="info-language"><i class="fa fa-question-circle"></i></a>
                        <span class="info-box" id="info-language">{% trans "Select the language for your shop and the currency the product prices should be showed in." %}</span>
                        <div class="select">
                            <span><i class="fa fa-caret-down"></i></span>
                            <select id="id_language" name="language">
                                {% for language in LANGUAGES %}
                                <option{% if language.0 == LANGUAGE_CODE %} selected="selected"{% endif %} value="{{ language.0 }}">{{ language.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="id_height">{% trans "Height" %}</label>
                        <a href="#" class="info-toggler" data-target="info-height"><i class="fa fa-question-circle"></i></a>
                        <span class="info-box" id="info-height">{% trans "Depends on for example your site's layout and how many products you have in your shop, but 800-1200 pixels is usually good. You can always edit your shop height later." %}</span>
                        <input id="id_height" type="text" name="height" placeholder="1000">
                        <span class="help-block">{% trans "( pixels )" %}</span>
                    </div>
                    <div class="form-group">
                        <!--<h4>{% trans "Advanced options" %}</h4>-->
                        <ul>
                            <li>
                                <label><input type="checkbox" name="show_brand_price" id="id_show_brand_price" value="1" checked><span><i class="fa fa-check"></i></span>{% trans "Show brands & prices" %}</label>
                                <a href="#" class="info-toggler" data-target="info-brand-price"><i class="fa fa-question-circle"></i></a>
                                <span class="info-box" id="info-brand-price">{% trans "Keep this box checked if you want to show brand & price under each product in your shop." %}</span>
                            </li>
                            <li>
                                <label><input type="checkbox" name="show_filters" id="id_show_filters" value="1"><span><i class="fa fa-check"></i></span>{% trans "Show filters" %}</label>
                                <a href="#" class="info-toggler" data-target="info-filters"><i class="fa fa-question-circle"></i></a>
                                <span class="info-box" id="info-filters">{% trans "Keep this box if you want your shop to include filters for category, colour and price. This is suitable if you have many products in your shop, otherwise it might be an idea to skip filters." %}</span>
                            </li>
                            <li>
                                <div id="filter-collapsed" style="display:none;">
                                    <label><input type="checkbox" name="show_filters_collapsed" id="id_show_filters_collapsed" value="1"><span><i class="fa fa-check"></i></span>{% trans "Show filters as collapsed" %}</label>
                                    <a href="#" class="info-toggler" data-target="info-filters-collapsed"><i class="fa fa-question-circle"></i></a>
                                    <span class="info-box" id="info-filters-collapsed">{% trans "Check this box to have all filters collapsed by default." %}</span>
                                </div>
                            </li>
                            <li>
                                <label><input type="checkbox" name="show_width" id="id_show_width" value="1"><span><i class="fa fa-check"></i></span>{% trans "Manually choose width" %}</label>
                                <a href="#" class="info-toggler" data-target="info-width"><i class="fa fa-question-circle"></i></a>
                                <span class="info-box" id="info-width">{% trans "By default, the shop automatically adapts to the width of the device/browser it is viewed with, but if you want you can manually specify an exact number of pixels for your shop." %}</span>
                            </li>
                            <li>
                                <div id="width-collapsed" class="form-group" style="display:none;">
                                    <!--<label class="control-label" for="id_width">{% trans "Width" %}</label>-->
                                    <input id="id_width" type="text" name="width" placeholder="1000">
                                    <span class="help-block">{% trans "( pixels )" %}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block center">{% trans "Embed shop on your site" %}</button>
                    </div>
                    <div class="form-group" style="display:none;">
                        <label class="control-label" for="id_embed_code">{% trans "Copy and paste this code (in HTML-mode) into your site/blog" %}</label>
                        <textarea id="id_embed_code" name="embed_code" rows="8"></textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{% trans "Continue editing" %}</button>
                <button type="button" class="btn btn-default pull-left hidden" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" class="btn btn-default pull-right btn-save-exit" data-dismiss="modal">{% trans "Save and exit" %}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        } else {
            return uri + separator + key + "=" + value;
        }
    }
    var shop_id = {{external_shop_id}};
    $(document).ready(function() {
        // Added on December 29
        $('.info-toggler').click(function() {
            $('#' + $(this).data('target')).toggleClass('active');
            return false;
        });

        $('#modal_embed_shop').on('show.bs.modal', function () {
            $('#id_embed_code').parent().hide();
        });
        $('#id_embed_code')
            .focus(function(e) { this.select(); })
            .mouseup(function(e) { e.preventDefault() });

        var width_type = '%';

        $('#id_show_filters').on('click', function() {
            if($(this).prop('checked')) {
                $('#filter-collapsed').show();
            } else {
                $('#filter-collapsed').hide();
                $('#id_show_filters_collapsed').prop('checked', '');
            }
        });

        // Added on December 29
        $('#id_show_width').on('click', function() {
            if($(this).prop('checked')) {
                $('#width-collapsed').show();
            } else {
                $('#width-collapsed').hide();
                $('#id_width').val('');
            }
        });

        $('.btn-save-exit').on('click', function(e) {
            e.preventDefault();
            if (!$('#embed_shop_form #id_name').val().length) {
                $('#embed_shop_form #id_name').parent().addClass('has-error');
                $('#embed_shop_form #id_name').focus()[0].scrollIntoView();
                return false;
            }
            App.Events.trigger('widget:save', {title: $('#embed_shop_form #id_name').val()});
        });

        $('#width_dropdown a').on('click', function(e) {
            e.preventDefault();
            var value = $(this).data('value');
            var text = $(this).data('text');

            width_type = value;
            $('#width_type .text').text(text);
            if (value == 'px') {
                $('#id_width').attr('placeholder', '960');
            } else {
                $('#id_width').attr('placeholder', '100');
            }
        });

        $('#embed_shop_form').on('submit', function() {
            if (!$('#embed_shop_form #id_name').val().length) {
                $('#embed_shop_form #id_name').parent().addClass('has-error');
                $('#embed_shop_form #id_name').focus()[0].scrollIntoView();
                return false;
            }
            if (!external_shop_id) {
                App.Events.trigger('widget:save', {title: $('#embed_shop_form #id_name').val(), callback: get_embed});
            } else {
                get_embed(external_shop_id);
            }

            return false;
        }).on('change', 'input, select', function() {
            $('#id_embed_code').parent().hide();
        });

        function get_embed(external_shop_id) {
            var data = {
                name: $('#id_name').val(),
                width: $('#id_width').val(),
                width_type: width_type,
                height: $('#id_height').val(),
                language: $('#id_language').val(),
                show_product_brand: $('#id_show_brand_price').is(':checked') ? 1 : 0,
                show_filters: $('#id_show_filters').is(':checked') ? 1 : 0,
                show_filters_collapsed: $('#id_show_filters_collapsed').is(':checked') ? 1 : 0
            };

            if(!data['height']) {
                data['height'] = '600';
                $('#id_height').val(data['height']);
            }

            if(!data['width']) {
                if (width_type == '%') {
                    data['width'] = '100';
                    $('#id_width').val(data['width']);
                } else {
                    data['width'] = '960';
                    $('#id_width').val(data['width']);
                }
            }

            $('#id_embed_code').hide().parent().show().append('<img style="margin-top:6px;" id="loading_image" src="{% static "images/loading_white.gif" %}">');

            $.post("{% url 'shop-widget' external_shop_id %}".replace('/0/', '/'+external_shop_id+'/'), data, function(response) {
                $('#id_embed_code').val(response).show().select();
                $('#loading_image').remove();
                $('#modal_embed_shop').animate({scrollTop: 800});
            });
        }
    });
</script>
