{% load i18n %}
<div class="modal fade" id="modal_embed_shop" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{% trans "Create a shop for your site/blog" %}</h4>
            </div>
            <div class="modal-body">

                <p>{% trans "It's easy to create an Apprl shop for your site/blog that includes all the products that you like on Apprl. Enter your preferred format below, then copy and paste the embed-code (in HTML-mode) into your site/blog." %}</p>

                <form id="embed_shop_form" class="form">
                    <div class="form-group">
                        <label class="control-label" for="id_name">{% trans "Name" %}</label>
                        <input id="id_name" type="text" class="form-control" placeholder="Name" value="{{ title }}"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="id_width">{% trans "Width" %}</label>
                        <div class="input-group">
                            <input id="id_width" type="text" name="width" class="form-control" placeholder="100">
                            <div class="input-group-btn">
                                <button id="width_type" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="text">%</span> <span class="caret"></span></button>
                                <ul id="width_dropdown" class="dropdown-menu">
                                    <li><a href="#" data-text="%" data-value="%">%</a></li>
                                    <li><a href="#" data-text="{% trans "pixels" %}" data-value="px">{% trans "pixels" %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="id_height">{% trans "Height" %}</label>
                        <div class="input-group">
                            <input id="id_height" type="text" name="height" class="form-control" placeholder="600">
                            <span class="input-group-addon">{% trans "pixels" %}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="id_language">{% trans "Language & currency" %}</label>
                        <select id="id_language" name="language" class="form-control">
                            {% for language in LANGUAGES %}
                            <option{% if language.0 == LANGUAGE_CODE %} selected="selected"{% endif %} value="{{ language.0 }}">{{ language.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Advanced options" %}</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="show_brand_price" id="id_show_brand_price" value="1" checked>
                                {% trans "Show prices and brands" %}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="show_filters" id="id_show_filters" value="1">
                                {% trans "Show filters" %}
                            </label>
                        </div>
                        <div class="checkbox filter-collapsed" style="margin-left: 12px">
                            <label>
                                <input type="checkbox" name="show_filters_collapsed" id="id_show_filters_collapsed" value="1">
                                {% trans "Show filters as collapsed" %}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">{% trans "Get embed code" %}</button>
                    </div>
                    <div class="form-group" style="display:none;">
                        <label class="control-label" for="id_embed_code">{% trans "Copy and paste this code (in HTML-mode) into your site/blog" %}</label>
                        <textarea id="id_embed_code" name="embed_code" rows="8" class="form-control"></textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Continue editing" %}</button>
                <button type="button" class="btn btn-save-exit" data-dismiss="modal">{% trans "Save and exit" %}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        } else {
            return uri + separator + key + "=" + value;
        }
    }
    var shop_id = {{external_shop_id}};
    $(document).ready(function() {
        $('#modal_embed_shop').on('show.bs.modal', function () {
            $('#id_embed_code').parent().hide();
        });
        $('#id_embed_code')
            .focus(function(e) { this.select(); })
            .mouseup(function(e) { e.preventDefault() });

        var width_type = '%';

        $('.filter-collapsed').hide();
        $('#id_show_filters').on('click', function() {
            if($(this).prop('checked')) {
                $('.filter-collapsed').show();
            } else {
                $('.filter-collapsed').hide();
                $('#id_show_filters_collapsed').prop('checked', '');
            }
        });

        $('.btn-save-exit').on('click', function(e) {
            e.preventDefault();
            App.Events.trigger('widget:save', {title: $('#embed_shop_form #id_name').val()});
        });

        $('#width_dropdown a').on('click', function(e) {
            e.preventDefault();
            var value = $(this).data('value');
            var text = $(this).data('text');

            width_type = value;
            $('#width_type .text').text(text);
            if (value == 'px') {
                $('#id_width').attr('placeholder', '960');
            } else {
                $('#id_width').attr('placeholder', '100');
            }
        });

        $('#embed_shop_form').on('submit', function() {
            if (!shop_id) {
                App.Events.trigger('widget:save', {title: $('#embed_shop_form #id_name').val(), callback: get_embed});
            } else {
                get_embed(external_shop_id);
            }

            return false;
        });

        function get_embed(external_shop_id) {
            shop_id = external_shop_id;
            var data = {
                name: $('#id_name').val(),
                width: $('#id_width').val(),
                width_type: width_type,
                height: $('#id_height').val(),
                language: $('#id_language').val(),
                show_product_brand: $('#id_show_brand_price').is(':checked') ? 1 : 0,
                show_filters: $('#id_show_filters').is(':checked') ? 1 : 0,
                show_filters_collapsed: $('#id_show_filters_collapsed').is(':checked') ? 1 : 0
            };

            if(!data['height']) {
                data['height'] = '600';
                $('#id_height').val(data['height']);
            }

            if(!data['width']) {
                if (width_type == '%') {
                    data['width'] = '100';
                    $('#id_width').val(data['width']);
                } else {
                    data['width'] = '960';
                    $('#id_width').val(data['width']);
                }
            }

            $.post("{% url 'shop-widget' external_shop_id %}".replace('/0/', '/'+external_shop_id+'/'), data, function(response) {
                $('#id_embed_code').val(response);
                $('#id_embed_code').parents('.form-group').show();
                $('#modal_embed_shop').animate({scrollTop: 800});
            });
        }
    });
</script>
