{% extends 'dialog_base.html' %}
{% load i18n %}

{% block dialog_class %}welcome-dialog{% endblock %}
{% block title %}{% blocktrans %}Welcome {{ first_name }}{% endblocktrans %}!{% endblock %}
{% block content %}
<p>{% trans "The first thing you should do now is to follow members here on the site, to keep you updated when they create looks, see which products they like and what which products they have in their closet." %}</p>
<p>{% trans "Find your friends below, or among all our other members." %}</p>
<h3>{% trans "Most popular to follow" %}</h3>
<ul class="suggested-friends three-columns">
{% for profile in most_followed_users %}
    <li class="{% cycle 'column-1' 'column-2' 'column-3' %}">
    {% include 'apparel/fragments/avatar_link_no_cache.html' %}
    </li>
{% endfor %}
</ul>
<h3>{% trans "Your friends are here!" %}</h3>
<ul class="suggested-friends suggested-facebook-friends three-columns">
{% for profile in facebook_friends %}
    <li class="{% cycle 'column-1' 'column-2' 'column-3' %}">
        {% include 'apparel/fragments/avatar_link_no_cache.html' %}
    </li>
{% endfor %}
</ul>
<a class="all-users" href="{% url apparel.views.user_list %}">{% trans "See all members" %}</a>
{% endblock %}
