{% load i18n %}
<html>
  <head></head>
  <body>
    <p>{% trans "At Apprl we have collected clothes, shoes and accessories from all the leading international brands and retailers in one place." %}</p>
    <p>{% trans "By ♥-ing products and following other members & brands you'll make the site smarter and more personalized. For example:" %}</p>
    <ul>
      <li>{% blocktrans %}Products that you ♥ will be placed under your <a href="http://apprl.com/profile/">profile</a>. You can create <a href="http://apprl.com/looks/">looks</a> from these to share on Apprl, Facebook or your blog.{% endblocktrans %}</li>
      <li>{% blocktrans %}You find all the products that you friends ♥ under <a href="http://apprl.com/#f=1">Friends' Favourites</a>.{% endblocktrans %}</li>
      <li>{% blocktrans %}Keep yourself updated when your friends ♥, comment and create looks under <a href="http://apprl.com/home/">Friends' Updates</a>{% endblocktrans %}</li>
    </ul>
    <p>{% blocktrans %}If you have questions, feedback or just want to get in touch let us know on <a href="mailto:info@apprl.com">info@apprl.com</a>!{% endblocktrans %}</p>
    <p>Have fun!<br />
    /The Apprl team</p>
  </body>
</html>
