{% extends "profile/base_profile.html" %}
{% load i18n %}

{% block extra-title %}{{ profile.display_name }} - {% trans "Follows" %} | {% endblock %}

{% block body-classes %}three-columns profile profile-following{% endblock body-classes %}
{% block content %}
    {% if current_page.object_list %}
        {% include 'profile/fragments/following.html' %}
    {% else %}
        <div class="empty">
        {% if profile == request.user.get_profile %}
            <div class="message warning">
                {% trans "You currently don't follow anyone." %}
                <a class="btn btn-block btn-positive" href="{% url user-list-popular %}">{% trans "Find members to follow!" %}</a>
            </div>
        {% else %}
            <div class="message warning">{% blocktrans with profile.display_name as display_name %}{{ display_name }} is not following anyone yet.{% endblocktrans %}</div>
        {% endif %}
        </div>
    {% endif %}
{% endblock %}
