{% extends "profile/base_profile.html" %}
{% load i18n apparel_extras cache thumbnail %}

{% block extra-title %}{{ profile.display_name }} | {% endblock %}

{% block extra-styles %}
    {% if request.GET %}
    <meta name="robots" content="noindex, follow">
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block pre-extra-scripts %}
<script type="text/javascript">
    var profile_shop_user_id = {{ profile.pk }};
</script>
{% endblock %}

{% block body-classes %}profile-page profile-likes{% endblock body-classes %}

{% block content %}
    {% if current_page.paginator.count != 0 %}
        {% include 'apparel/product_list.html' with show_filters=True%}
    {% else %}
    <div class="row">
        <div class="col-lg-12">
            {% url 'profile-likes' request.user.slug as profile_likes_url %}
            {% if request.path == profile_likes_url and not user.is_brand %}
            <div class="message warning">
                <p>{% trans "Welcome to your Apprl profile!" %}</p>
                <p>{% trans "All the items that you ♥ will end up here<br>(and you will get alerts once they go on sale)." %}</p>
                <a class="btn btn-success" href="{% multi_gender_url request 'shop' 'shop' %}">{% trans "Go find items!" %}</a>
            </div>
            {% else %}
            {% if profile.is_brand %}
            <p>{{ profile.display_name }} {% trans "currently does not have any products." %}</p>
            {% else %}
            <p>{{ profile.display_name }} {% trans "does not like any products so far." %}</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}
