{% extends "profile/base_profile.html" %}
{% load i18n apparel_extras cache thumbnail %}

{% block extra-title %}{{ profile.display_name }} | {% endblock %}

{% block body-classes %}two-columns profile profile-likes{% endblock body-classes %}

{% block extended_content %}
<div id="content">
    {% if current_page.paginator.count != 0 %}
    <div id="product-list" class="product-list">
        {% include 'profile/fragments/likes.html' %}
    </div>
    <p id="back-top"><a href="#top"><span>{% trans "Back to Top" %}</span></a></p>
    <div class="clear"></div>
    {% else %}
    <div class="empty">
        {% url 'profile-likes' request.user.get_profile.slug as profile_likes_url %}
        {% if request.path == profile_likes_url and not user.get_profile.is_brand %}
            <div class="message warning">
                <p>{% trans "Welcome to your Apprl profile!" %}</p>
                <p>{% trans "All the items that you ♥ will end up here<br>(and you will get alerts once they go on sale)." %}</p>
                <a class="btn btn-upper btn-block btn-positive" href="{% gender_url APPAREL_GENDER 'shop' %}">{% trans "Go find items!" %}</a>
            </div>
        {% else %}
            {% if profile.is_brand %}
            <div class="message warning">{{ profile.display_name }} {% trans "currently does not have any products." %}</div>
            {% else %}
            <div class="message warning">{{ profile.display_name }} {% trans "does not like any products so far." %}</div>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock extended_content %}
