{% extends "profile/base_login_flow.html" %}
{% load i18n apparel_extras %}

{% block 'extra-scripts' %}
<script>
jQuery(document).ready(function() {
    jQuery('.profile-list li .btn').on('click', function() {
        var element = jQuery(this);
        if(element.hasClass('btn-follow')) {
            element.removeClass('btn-follow').addClass('btn-unfollow').text(element.data('unfollow-text')).removeClass('btn-positive');
        } else {
            element.removeClass('btn-unfollow').addClass('btn-follow').text(element.data('follow-text')).removeClass('btn-negative').addClass('btn-positive');
        }

        var input = jQuery(this).closest('li').find('input');
        input.attr('checked', !input.attr('checked'));

        return false;
    }).on('mouseenter', '.btn-unfollow', function(event) {
        jQuery(this).text(jQuery(this).data('unfollow-hover')).addClass('btn-negative');
    }).on('mouseleave', '.btn-unfollow', function(event) {
        jQuery(this).text(jQuery(this).data('unfollow-text')).removeClass('btn-negative');
    });
});
</script>
{% endblock 'extra-scripts' %}

{% block login-flow-nav %}
<ul class="steps-nav group">
    <li><a class="{% selected_reverse request "login-flow-bio" %}" href="{% url 'login-flow-bio' %}"><span class="btn-step">1</span> {% trans "Your info" %}</a></li>
    <li><a class="{% selected_reverse request "login-flow-friends" %}" href="{% url 'login-flow-friends' %}"><span class="btn-step">2</span> {% trans "Friends" %}</a></li>
    <li><span class="{% selected_reverse request "login-flow-featured" %}" href="{% url 'login-flow-featured' %}"><span class="btn-step">3</span> {% trans "Featured" %}</span></li>
    <li><span class="{% selected_reverse request "login-flow-brands" %}" href="{% url 'login-flow-brands' %}"><span class="btn-step">4</span> {% trans "Brands" %}</span></li>
    <li><span class="{% selected_reverse request "login-flow-like" %}" href="{% url 'login-flow-like' %}"><span class="btn-step">5</span> {% trans "Follow us" %}</span></li>
</ul>
{% endblock %}

{% block login-flow-content %}
    {% if profiles %}
    <form class="friends" action="{% url 'login-flow-friends' %}" method="post">
        <h2>{% trans "Follow your friends to see what they like" %}</h2>
        {% csrf_token %}
        <ul class="profile-list group">
        {% for profile in profiles %}
            <li class="{% cycle 'column-1' 'column-2' 'column-3' %}">
                <span class="profile-link"><img class="avatar" src="{{ profile.avatar }}" alt="{{ profile.display_name }}"/>{{ profile.display_name }}</span><br>
                <a class="btn btn-small btn-unfollow" href="#" data-unfollow-text="{% trans 'Following' %}" data-unfollow-hover="{% trans 'Stop following' %}" data-follow-text="{% trans 'Follow' %}">{% trans "Following" %}</a>
                <input style="display: none;" type="checkbox" name="profile_ids" value="{{ profile.pk }}" checked="checked">
            </li>
        {% endfor %}
        </ul>
        <p class="friends">{% trans "APPRL is more fun together with your friends!" %}</p>
        <a class="btn btn-upper btn-positive facebook-invite" href="#invite">{% trans "+ Invite more friends!" %}</a>
        <div class="content-footer">
            <button type="submit" href="{{ next_url }}" class="btn btn-block btn-large btn-upper">{% trans "Next step" %}</button>
        </div>
    </form>
    {% else %}
        <h2>{% trans "Invite your friends" %}</h2>
        {% if not request.user.facebook_user_id %}
            <p>{% trans "Connect your Facebook account to find your friends." %}</p>
            <br>{% facebook_button connect='yes' %}<br>
            {% if request.GET.error %}
                <p class="error">{% trans "It is not possible to connect this account with Facebook." %}</p>
            {% endif %}
        {% else %}
            <p class="friends">{% trans "APPRL is more fun together with your friends!" %}</p>
            <a class="btn btn-upper btn-positive facebook-invite" href="#invite">{% trans "+ Invite friends!" %}</a>
        {% endif %}
        <div class="content-footer">
            <a href="{{ next_url }}" class="btn btn-block btn-large btn-upper">{% trans "Next step" %}</a>
        </div>
    {% endif %}
{% endblock %}

{% block login-flow-footer %}{% endblock %}
