{% extends "profile/base_login_flow.html" %}
{% load i18n %}

{% block login-flow-content %}
        <div id="steps" class="{{ login_flow_step }}">
            <div class="steps-top">
                <div id="step-initial" class="fbflowbtn">{% trans "Follow your friends" %}</div>
                <div id="step-members" class="fbflowbtn">{% trans "Follow popular members" %}</div>
                <div id="step-brands" class="fbflowbtn">{% trans "Follow brands" %}</div>
            </div>
            <div class="steps-bottom">
                <ul class="suggested-friends profiles">
                {% for profile in profiles %}
                    <li class="{% cycle 'column-1' 'column-2' 'column-3' %}">
                    {% include 'profile/fragments/avatar.html' %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}

{% block login-flow-footer %}
<a href="{{ next_url }}" class="footer-button">{% trans "Proceed" %}</a>
{% endblock %}
