{% extends "base.html" %}
{% load i18n apparel_extras %}


{% block extra-scripts %}
<script type="text/javascript">
    $(function() {
        ga('send', 'event', 'Signup', 'FollowBrandsPage');
        _gaq.push(['_trackEvent', 'Signup', 'FollowBrandsPage']);
    });
</script>
{% endblock %}

{% block custom_navigation %}
<ul class="nav navbar-nav navbar-right">
    <li><a class="btn-login-flow-continue" href="{{ next_url }}">{% trans "Continue to APPRL" %}</a></li>
</ul>
{% endblock %}

{% block body-classes %}profile-welcome{% endblock %}
{% block body %}

    <div class="body-header">
        <div class="body-header-col-full">
            <h1>{% trans "Welcome" %} {{ request.user.first_name }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p>{% trans "Scroll down and follow a few of our most popular brands to personalise your APPRL experience. (Once you're signed in you can follow more of our brands)" %}</p>
        </div>
    </div>

    {% include 'apparel/fragments/user_list.html' %}

    <a class="btn btn-primary btn-lg btn-block btn-login-flow-continue" href="{{ next_url }}">{% trans "Continue to APPRL" %}</a>

{% endblock %}
