{% extends "profile/base_profile.html" %}
{% load i18n apparel_extras %}

{% block extra-title %}{{ profile.display_name }} - {% trans "Looks" %} | {% endblock %}

{% block body-classes %}profile-page profile-looks discover-list-page{% endblock body-classes %}
{% block content %} 
{% with looks_url=profile.url_looks likedlooks_url=profile.url_likedlooks brandlooks_url=profile.url_brandlooks %}
     <div class="row">
        <div class="col-lg-12">
            <ul class="alphabet list-inline">
                <li><a{% if request.path == looks_url %} class="selected"{% endif %} href="{{ looks_url }}">{% trans "Created" %}</a></li>
                <li><a{% if request.path == likedlooks_url %} class="selected"{% endif %} href="{{ likedlooks_url }}">{% trans "Liked" %}</a></li>
                {% if profile.is_brand %}
                  <li><a{% if request.path == brandlooks_url %} class="selected"{% endif %} href="{{ brandlooks_url }}">{% trans "Using Brand" %}</a></li>
                {% endif %}

            </ul>
        </div>
    </div>   
    {% endwith %}
    {% if current_page.object_list %}
        {% include 'apparel/fragments/look_list.html' with is_profile=True %}
    {% else %}
        <div class="empty">
        {% if profile == request.user %}
            <div class="message warning">
            {% if request.path == profile.url_looks %}
                <p>{% trans "All looks that you create end up here." %}</p>
                <a class="btn btn-success" href="{% url 'look-create' %}">{% trans "Create your first look!" %}</a>
            {% elif request.path == profile.url_likedlooks %}
                <p>{% trans "All looks that you like end up here." %}</p>
                <a class="btn btn-success" href="{% url 'look-list' %}">{% trans "Find looks!" %}</a>
            {% endif %} 
               
            </div>
        {% else %}
            <div class="message warning">{% blocktrans with profile.display_name as display_name %}{{ display_name }} has not created any looks yet.{% endblocktrans %}</div>
        {% endif %}
        </div>
    {% endif %}
{% endblock %}
