{% extends "profile/base_profile.html" %}
{% load i18n cache thumbnail apparel_extras %}

{% block extra-title %}{{ profile.display_name }} - {% trans "Looks" %} | {% endblock %}
{% block 'extra-scripts' %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        makeProductTooltip('.collage .product, .photo .product');

        jQuery('.inline-delete-look').click(function(event) {
            var title = jQuery(this).prev('a').attr('title');
            var href = jQuery(this).attr('href');
            var li = jQuery(this).closest('li');
            create_modal_dialog(
                '{% trans "Are you sure?" %}',
                ['{% trans "Do you really want to delete look" %} <span class="bold">' + title + '</span>?'],
                function (modal_dialog) {
                    jQuery.ajax({
                        url: href,
                        success: function(data) {
                            if (data.data) {
                                li.remove();
                            }
                        },
                        complete: function() { modal_dialog.close(); }
                    });
                },
                function (modal_dialog) { modal_dialog.close(); }
            );
            event.preventDefault();
        });

        {% url profile-looks user.username as looks_url %}
        {% if request.path == looks_url %}
        jQuery('.inline-delete-look').show();
        {% endif %}
    });
</script>
{% endblock 'extra-scripts' %}

{% block body-classes %}two-columns profile profile-looks{% endblock body-classes %}
{% block content %}
{% include 'apparel/fragments/looks_large.html' %}
{% endblock %}

{% block profile_right_sidebar %}{% endblock %}
