{% extends "profile/base_profile.html" %}
{% load i18n %}

{% block extra-title %}{{ profile.display_name }} - {% trans "Updates" %} | {% endblock %}

{% block body-classes %}three-columns profile{% endblock body-classes %}
{% block content %}
    {% if current_page.object_list %}
        {% include 'activity_feed/feed.html' %}
    {% else %}
        <div class="empty">
        {% if profile == request.user.get_profile %}
            <div class="message warning">
                <p>{% trans "All your activity is shown here as a timeline." %}</p>
                <a class="btn btn-upper btn-block btn-positive" href="{% url user-list-popular %}">{% trans "Find members to follow!" %}</a>
            </div>
        {% else %}
            <div class="message warning">{% blocktrans with profile.display_name as display_name %}{{ display_name }} has not done anything yet.{% endblocktrans %}</div>
        {% endif %}
        </div>
    {% endif %}
{% endblock %}
