{% extends "profile/base_profile.html" %}
{% load i18n %}

{% block extra-title %}{{ profile.display_name }} - {% trans "Updates" %} | {% endblock %}

{% block body-classes %}three-columns profile{% endblock body-classes %}
{% block content %}
    {% if current_page.object_list %}
        {% include 'apparel/fragments/activity/list.html' %}
    {% else %}
        {% if profile == request.user.get_profile %}
        <div class="empty">
            {% trans "You have not done anything yet. Why don't you start off by following some people whose style you like?" %}
            <p><a class="button" href="{% url user-list-popular %}">{% trans "Find members to follow!" %}</a></p>
        </div>
        {% else %}
        <div class="empty">{% blocktrans with profile.display_name as display_name %}{{ display_name }} has not done anything yet.{% endblocktrans %}</div>
        {% endif %}
    {% endif %}
{% endblock %}
