{% extends 'profile/base_settings.html' %}
{% load i18n %}

{% block content %}
        <h2 id="events">{% trans "Partner" %}</h2>
        <p>Någon text här eller...?</p>
        <form action="{% url profile.views.settings_partner %}" method="post">{% csrf_token %}
            <div style="clear: both; padding: 1em 0;">
                {% for field in form %}
                <p>{{ field.label }} {{ field }}</p>
                {% endfor %}
            </div>
            <div>
                <input type="submit" value="{% trans "Save changes" %}" />
            </div>
        </form>
{% endblock content %}
