{% extends 'profile/base_settings.html' %}
{% load i18n %}

{% block content %}
<h2 id="email-address">{% trans "E-mail Address" %}</h2>
<p>{% trans "Here you can set which e-mail adress you want to receive messages and updates to from Apprl" %}</p>
{% if email_change %}
<p>{% blocktrans with email_change.email as new_email %}Pending e-mail address change to {{ new_email }}, check your inbox for confirmation mail.{% endblocktrans %}</p>
{% endif %}
<form action="{% url profile.views.settings_email %}" method="post">{% csrf_token %}
    <p>{% trans "Current e-mail address:" %} {{ request.user.email }}</p>
    {{ email_form.as_p }}
    <input type="submit" value="{% trans "Update" %}" />
</form>
{% endblock content %}
