{% extends 'profile/base_settings.html' %}
{% load i18n %}

{% block 'extra-scripts' %}
<script type="text/javascript">
$(document).ready(function() {
    var company = $('input[name="company"]');
    var translations = $('form > .translations');

    function updateForm(isCompany) {
        if(isCompany === 'True') {
            $('#id_orgnr').siblings('label').text(translations.data('orgnr-company'));
            $('#id_banknr').siblings('label').text(translations.data('banknr-company'));
        } else {
            $('#id_orgnr').siblings('label').text(translations.data('orgnr-person'));
            $('#id_banknr').siblings('label').text(translations.data('banknr-person'));
        }
    }

    updateForm(company.filter(':checked').val());

    company.change(function(e) {
        updateForm(e.currentTarget.value);
    });
});
</script>
{% endblock %}

{% block content %}
        <h2 id="events">{% trans "Publisher" %}</h2>
        <p>{% blocktrans with userid=request.user.pk %}Your publisher ID is <strong>{{userid}}</strong>.{% endblocktrans %}</p><br>
        <form id="publisher-form" action="{% url 'settings-publisher' %}" method="post">{% csrf_token %}
            <h4>{% trans "Your blog" %}</h4>
            <div class="group" style="clear: both; padding: 0 0 1em 0;">
                {% for field in form %}
                <p><label>{{ field.label }} {{ field }}</label></p>
                {% endfor %}
            </div>
            <h4>{% trans "Your payment settings" %}</h4>
            <div class="group translations" data-orgnr-company="{% trans "Organization number" %}" data-orgnr-person="{% trans "Personal number" %}" data-banknr-company="{% trans "Bank account number 1" %}" data-banknr-person="{% trans "Bank account number" %}">
                {% for field in details_form %}
                <p>{{ field.label_tag }} {{ field }}</p>
                {% endfor %}
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="{% trans "Save changes" %}" />
            </div>
        </form>
{% endblock content %}
