{% extends 'profile/base_settings.html' %}
{% load i18n %}

{% block 'extra-scripts' %}
<script type="text/javascript">
$(document).ready(function() {
    var company = $('input[name="company"]');
    var translations = $('form > .translations');

    function updateForm(isCompany) {
        if(isCompany === 'True') {
            $('#id_orgnr').siblings('label').text(translations.data('orgnr-company'));
            $('#id_banknr').siblings('label').text(translations.data('banknr-company'));
        } else {
            $('#id_orgnr').siblings('label').text(translations.data('orgnr-person'));
            $('#id_banknr').siblings('label').text(translations.data('banknr-person'));
        }
    }

    updateForm(company.filter(':checked').val());

    company.change(function(e) {
        updateForm(e.currentTarget.value);
    });
});
</script>
{% endblock %}

{% block content %}
        <div class="group translations form-group" data-orgnr-company="{% trans "Organization number" %}" data-orgnr-person="{% trans "Personal number" %}" data-banknr-company="{% trans "Bank account number 1" %}" data-banknr-person="{% trans "Bank account number" %}">
        <h2 id="events">{% trans "Publisher" %}</h2>
        <p>{% blocktrans with userid=request.user.pk %}Your publisher ID is <strong>{{userid}}</strong>.{% endblocktrans %}</p><br>
        <form class="form-horizontal" id="publisher-form" action="{% url 'settings-publisher' %}" method="post">{% csrf_token %}
            <h4>{% trans "Your blog" %}</h4>
            <div class="form-group{% if form.blog_url.errors %} has-error{% endif %}">
                <label for="id_{{ form.blog_url.html_name }}" class="col-sm-2 control-label">{{ form.blog_url.label }}</label>
                <div class="col-sm-6">
                    <input name="{{ form.blog_url.html_name }}" type="text" class="form-control" id="id_{{ form.blog_url.html_name }}" value="{% if form.blog_url.value %}{{ form.blog_url.value }}{% endif %}" placeholder="{{ form.blog_url.help_text }}">
                    {% if form.blog_url.errors %}<span class="help-block">{{ form.blog_url.errors.as_text }}</span>{% endif %}
                </div>
            </div>


            <h4>{% trans "Your payment settings" %}</h4>
            <div class="form-group{% if details_form.company.errors %} has-error{% endif %}">
                <label for="id_{{ details_form.company.html_name }}" class="col-sm-2 control-label">{{ details_form.company.label }}</label>
                <div class="col-sm-6">
                    <ul class="list-unstyled">
                    {% for choice in details_form.company %}
                        <li>{{ choice.tag }}{{ choice.choice_label }}</li>
                    {% endfor %}
                    </ul>
                    {% if details_form.company.errors %}<span class="help-block">{{ details_form.company.errors.as_text }}</span>{% endif %}
                </div>
            </div>
            <div class="form-group{% if details_form.name.errors %} has-error{% endif %}">
                <label for="id_{{ details_form.name.html_name }}" class="col-sm-2 control-label">{{ details_form.name.label }}</label>
                <div class="col-sm-6">
                    <input name="{{ details_form.name.html_name }}" type="text" class="form-control" id="id_{{ details_form.name.html_name }}" value="{% if details_form.name.value %}{{ details_form.name.value }}{% endif %}" placeholder="{{ details_form.name.help_text }}">
                    {% if details_form.name.errors %}<span class="help-block">{{ details_form.name.errors.as_text }}</span>{% endif %}
                </div>
            </div>
            <div class="form-group{% if details_form.orgnr.errors %} has-error{% endif %}">
                <label for="id_{{ details_form.orgnr.html_name }}" class="col-sm-2 control-label">{{ details_form.orgnr.label }}</label>
                <div class="col-sm-6">
                    <input name="{{ details_form.orgnr.html_name }}" type="text" class="form-control" id="id_{{ details_form.orgnr.html_name }}" value="{% if details_form.orgnr.value %}{{ details_form.orgnr.value }}{% endif %}" placeholder="{{ details_form.orgnr.help_text }}">
                    {% if details_form.orgnr.errors %}<span class="help-block">{{ details_form.orgnr.errors.as_text }}</span>{% endif %}
                </div>
            </div>
            <div class="form-group{% if details_form.bank_name.errors %} has-error{% endif %}">
                <label for="id_{{ details_form.bank_name.html_name }}" class="col-sm-2 control-label">{{ details_form.bank_name.label }}</label>
                <div class="col-sm-6">
                    <input name="{{ details_form.bank_name.html_name }}" type="text" class="form-control" id="id_{{ details_form.bank_name.html_name }}" value="{% if details_form.bank_name.value %}{{ details_form.bank_name.value }}{% endif %}" placeholder="{{ details_form.bank_name.help_text }}">
                    {% if details_form.bank_name.errors %}<span class="help-block">{{ details_form.bank_name.errors.as_text }}</span>{% endif %}
                </div>
            </div>
            <div class="form-group{% if details_form.clearingnr.errors %} has-error{% endif %}">
                <label for="id_{{ details_form.clearingnr.html_name }}" class="col-sm-2 control-label">{{ details_form.clearingnr.label }}</label>
                <div class="col-sm-6">
                    <input name="{{ details_form.clearingnr.html_name }}" type="text" class="form-control" id="id_{{ details_form.clearingnr.html_name }}" value="{% if details_form.clearingnr.value %}{{ details_form.clearingnr.value }}{% endif %}" placeholder="{{ details_form.clearingnr.help_text }}">
                    {% if details_form.clearingnr.errors %}<span class="help-block">{{ details_form.clearingnr.errors.as_text }}</span>{% endif %}
                </div>
            </div>
            <div class="form-group{% if details_form.banknr.errors %} has-error{% endif %}">
                <label for="id_{{ details_form.banknr.html_name }}" class="col-sm-2 control-label">{{ details_form.banknr.label }}</label>
                <div class="col-sm-6">
                    <input name="{{ details_form.banknr.html_name }}" type="text" class="form-control" id="id_{{ details_form.banknr.html_name }}" value="{% if details_form.banknr.value %}{{ details_form.banknr.value }}{% endif %}" placeholder="{{ details_form.banknr.help_text }}">
                    {% if details_form.banknr.errors %}<span class="help-block">{{ details_form.banknr.errors.as_text }}</span>{% endif %}
                </div>
            </div>

            <div class="form-group{% if details_form.address.errors %} has-error{% endif %}">
                <label for="id_{{ details_form.address.html_name }}" class="col-sm-2 control-label">{{ details_form.address.label }}</label>
                <div class="col-sm-6">
                    <input name="{{ details_form.address.html_name }}" type="text" class="form-control" id="id_{{ details_form.address.html_name }}" value="{% if details_form.address.value %}{{ details_form.address.value }}{% endif %}" placeholder="{{ details_form.address.help_text }}">
                    {% if details_form.address.errors %}<span class="help-block">{{ details_form.address.errors.as_text }}</span>{% endif %}
                </div>
            </div>
            <div class="form-group{% if details_form.care_of.errors %} has-error{% endif %}">
                <label for="id_{{ details_form.care_of.html_name }}" class="col-sm-2 control-label">{{ details_form.care_of.label }}</label>
                <div class="col-sm-6">
                    <input name="{{ details_form.care_of.html_name }}" type="text" class="form-control" id="id_{{ details_form.care_of.html_name }}" value="{% if details_form.care_of.value %}{{ details_form.care_of.value }}{% endif %}" placeholder="{{ details_form.care_of.help_text }}">
                    {% if details_form.care_of.errors %}<span class="help-block">{{ details_form.care_of.errors.as_text }}</span>{% endif %}
                </div>
            </div>
            <div class="form-group{% if details_form.postal_code.errors %} has-error{% endif %}">
                <label for="id_{{ details_form.postal_code.html_name }}" class="col-sm-2 control-label">{{ details_form.postal_code.label }}</label>
                <div class="col-sm-6">
                    <input name="{{ details_form.postal_code.html_name }}" type="text" class="form-control" id="id_{{ details_form.postal_code.html_name }}" value="{% if details_form.postal_code.value %}{{ details_form.postal_code.value }}{% endif %}" placeholder="{{ details_form.postal_code.help_text }}">
                    {% if details_form.postal_code.errors %}<span class="help-block">{{ details_form.postal_code.errors.as_text }}</span>{% endif %}
                </div>
            </div>
            <div class="form-group{% if details_form.city.errors %} has-error{% endif %}">
                <label for="id_{{ details_form.city.html_name }}" class="col-sm-2 control-label">{{ details_form.city.label }}</label>
                <div class="col-sm-6">
                    <input name="{{ details_form.city.html_name }}" type="text" class="form-control" id="id_{{ details_form.city.html_name }}" value="{% if details_form.city.value %}{{ details_form.city.value }}{% endif %}" placeholder="{{ details_form.city.help_text }}">
                    {% if details_form.city.errors %}<span class="help-block">{{ details_form.city.errors.as_text }}</span>{% endif %}
                </div>
            </div>
            <div class="form-group{% if details_form.notes.errors %} has-error{% endif %}">
                <label for="id_{{ details_form.notes.html_name }}" class="col-sm-2 control-label">{{ details_form.notes.label }}</label>
                <div class="col-sm-6">
                    <input name="{{ details_form.notes.html_name }}" type="text" class="form-control" id="id_{{ details_form.notes.html_name }}" value="{% if details_form.notes.value %}{{ details_form.notes.value }}{% endif %}" placeholder="{{ details_form.notes.help_text }}">
                    {% if details_form.notes.errors %}<span class="help-block">{{ details_form.notes.errors.as_text }}</span>{% endif %}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit" value="{% trans "Save changes" %}" />
                </div>
            </div>
        </form>
{% endblock content %}