{% extends 'profile/base_settings.html' %}
{% load i18n %}

{% block content %}

<h2 id="password">{% trans "Password" %}</h2>
<p>{% trans "Your username: "%}{{ request.user.username }}</p>
{% if request.user.password %}
<p>{% trans "Change your password:" %}</p>
{% else %}
<p>{% trans "Add a password to your account:" %}</p>
{% endif %}
{% if messages %}
    {% for message in messages %}
    <p class="success">{{ message }}</p>
    {% endfor %}
{% endif %}
{% with "Update" as submit_text %}
    {% include "fragments/form.html" %}
{% endwith %}

{% endblock content %}
