{% extends "profile/base.html" %}
{% load i18n %}

{% block 'extra-scripts' %}
    {% include 'apparel/fragments/browse_scripts.html' %}
    <script type="text/javascript">
        var browse_url = '{% url apparel.views.wardrobe user %}';
    </script>
{% endblock 'extra-scripts' %}

{% block profile_left_sidebar %}
    {% include 'apparel/fragments/product_menu_browse.html' %}
{% endblock %}
{% block profile_content %}
    <h2 id="product-count">
        {% blocktrans count current_page.paginator.count as counter %}{{ counter }} product{% plural %}{{ counter }} products{% endblocktrans %}
    </h2>
    {% include 'apparel/fragments/product_list.html' %}
{% endblock %}
