{% extends 'dialog_base.html' %}
{% load i18n dashboard_extras %}

{% block modal_id %}modal_top_publishers{% endblock %}
{% block extra_modal_classes %}full_modal{% endblock %}
{% block modal_title %}&nbsp;{% endblock %}
{% block modal_content %}
    <div class="row">
        <div class="col-lg-12">
            <h2>{% trans "Top publishers in" %} {{ month }} {{ year }}</h2>
            <table id="top-publishers-more" class="sortable table">
                <thead>
                    <tr>
                        <th class="col1 product-image center">{% trans "Publisher" %}</th>
                        <th class="col2 hidden-xs center"></th>
                        <th class="hidden-xs center">{% trans "Commission earnings" %}</th>
                        <th class="hidden-xs center">{% trans "Click earnings" %}</th>
                        <th class="center">{% trans "Total earnings" %}</th>
                        <th class="center">{% trans "Network earnings" %}</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                      <td colspan="7"><i>Showing a maximum of 50 publishers</i></td>
                    </tr>
                </tfoot>
                <tbody>
                    {% for publisher in top_publishers %}
                    <tr>
                        <td data-sort="{{ publisher.user }}" class="col1 product-image center">
                            <img src="{{ publisher.publisher_image }}">
                        </td>
                        <td class="col2 hidden-xs">
                            <a href="{{ publisher.publisher_link }}">{{ publisher.user }}</a>
                        </td>
                        <td class="hidden-xs center" data-sort="{{ publisher.publisher_earnings }}">
                            {{ currency }} {{ publisher.publisher_earnings }}
                        </td>
                        <td class="hidden-xs center" data-sort="{{ publisher.publisher_click_earnings }}">
                            {{ currency }} {{ publisher.publisher_click_earnings }}
                        </td>
                        <td class="center" data-sort="{{ publisher.total_network_earnings }}">
                            {{ currency }} {{ publisher.total_network_earnings }}
                        </td>
                        <td class="center" data-sort="{{ publisher.network_earnings }}">
                            {{ currency }} {{ publisher.network_earnings }}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">{% trans "No sales yet." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
