{% extends 'dialog_base.html' %}
{% load i18n dashboard_extras %}

{% block modal_id %}modal_top_publishers{% endblock %}
{% block modal_extra_class %}full_modal{% endblock %}
{% block modal_title %}&nbsp;{% endblock %}
{% block modal_content %}
    <div class="row">
        <div class="col-lg-12">
            <h2>{% trans "Top publishers in" %} {{ month }} {{ year }}</h2>
            <table id="top-publishers-more" class="sortable table">
                <thead>
                    <tr>
                        <th class="col1 product-image center">{% trans "User" %}</th>
                        <th class="col2 hidden-xs center"></th>
                        <th class="col3 center hidden-xs">{% trans "Clicks" %}</th>
                        <th class="center">{% trans "Sales" %}</th>
                        <th class="hidden-xs center">{% trans "Conversion rate" %}</th>
                        <th class="hidden-xs center">{% trans "Sales generated" %}</th>
                        {% if is_admin %}
                            <th class="center">{% trans "Publisher earnings" %}</th>
                        {% else %}
                            <th class="center">{% trans "Network earnings" %}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                      <td colspan="7"><i>Showing a maximum of 50 publishers</i></td>
                    </tr>
                </tfoot>
                <tbody>
                    {% for publisher in top_publishers %}
                    <tr>
                        <td data-sort="{{ publisher.user }}" class="col1 product-image center">
                            <img src="{{ publisher.publisher_image }}">
                        </td>
                        <td class="col2 hidden-xs">
                            <a href="{{ publisher.publisher_link }}">{{ publisher.user }}</a>
                        </td>
                        <td class="col3 center hidden-xs">
                            {{ publisher.clicks }}
                        </td>
                        <td class="center">
                            {{ publisher.sales }}
                        </td>
                        <td class="hidden-xs center">
                            {{ publisher.sales|commission_rate:publisher.clicks }}
                        </td>
                        <td class="hidden-xs center" data-sort="{{ publisher.converted_amount }}">
                            {{ publisher.converted_amount }} {{ currency }}
                        </td>
                        {% if is_admin %}
                            <td class="center" data-sort="{{ publisher.publisher_earnings }}">
                                {{ publisher.publisher_earnings }} {{ currency }}
                            </td>
                        {% else %}
                            <td class="center" data-sort="{{ publisher.network_earnings }}">
                                {{ publisher.network_earnings }} {{ currency }}
                            </td>
                        {% endif %}
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">{% trans "No sales yet." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
