{% extends 'dialog_base.html' %}
{% load i18n dashboard_extras %}

{% block modal_id %}modal_top_products{% endblock %}
{% block extra_modal_classes %}full_modal{% endblock %}
{% block modal_title %}&nbsp;{% endblock %}
{% block modal_content %}
    <div class="row">
        <div class="col-lg-12">
            <h2>{% trans "Top Links in" %} {{ month }} {{ year }}</h2>
            <table id="top-products-more" class="sortable table">
                <thead>
                    <tr>
                        <th class="col-md-1 product-image center">{% trans "Link" %}</th>
                        <th class="col-md-5 hidden-xs center"></th>
                        <th class="col-md-2 center">{% trans "Clicks" %}</th>
                        <th class="col-md-2 center">{% trans "Earnings" %}</th>
                        {% if is_owner %}<th class="col-md-2 center">{% trans "Network earnings" %}</th>{% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for product in top_products %}
                    <tr>
                        <td data-sort="{{ product.aggregated_from_name }}" class="col-md-1 product-image center">
                            <a href="{{ product.aggregated_from_link }}" target="_blank">
                                <img src="{{ product.aggregated_from_image }}">
                            </a>
                        </td>
                        <td data-sort="{{ product.aggregated_from_name }}" class="col-md-5 hidden-xs text-left">
                            <a href="{{ product.aggregated_from_link }}" target="_blank">
                                {{ product.aggregated_from_name }}
                            </a>
                        </td>
                        <td data-sort="{{ product.total_clicks }}" class="col-md-2 center" >
                            {{ product.total_clicks }}
                        </td>
                        <td class="col-md-2 center" data-sort="{{ product.total_earnings }}" >
                            {{ currency }} {{ product.total_earnings }}
                        </td>
                        {% if is_owner %}<td class="col-md-2 center" data-sort="{{ product.total_network_earnings }}" >
                            {{ currency }} {{ product.total_network_earnings }}
                        </td>{% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                {% if top_products|length == TOP_PRODUCTS_LIMIT %}
                <tfoot>
                    <tr>
                        <td colspan="4">{% blocktrans %}Only showing top {{ TOP_PRODUCTS_LIMIT }} links.{% endblocktrans %}</td>
                    </tr>
                </tfoot>
                {% endif %}
                {% if not top_products %}
                <tfoot>
                    <tr>
                        <td colspan="4">{% trans "No sales yet." %}</td>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
