{% extends 'dialog_base_transparent_header.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block modal_id %}modal_tool_shop{% endblock %}
{% block modal_title %}&nbsp;{% endblock %}
{% comment %}
{% block extra_modal_classes %}modal_pub_tools{% endblock %}
{% endcomment %}
{% block modal_content %}

<div class="modal-header">
    <h2>{% trans "Shop" %}</h2>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
</div>

<div class="modal-content">
    <div class="modal-body">
        <div class="apprl-modal-tools-content">
            <div class="slider-container">
                <div class = 'iosSlider'>
                    <div class = 'slider'>
                        <div class='item'><img src="{% static 'images/tools/PublisherToolSliderShop-1.jpg' %}" /></div>
                        <div class='item'><img src="{% static 'images/tools/PublisherToolSliderShop.jpg' %}" /></div>
                        <div class='item'><img src="{% static 'images/tools/Apprl-Shop-ProjectRunway.png' %}" /></div>
                        <div class='item'><img src="{% static 'images/tools/Apprl-Shop-Rawness.png' %}" /></div>
                    </div>
                    <div class="hidden-xs tools_prevButton"><i class="fa fa-chevron-left"></i></div>
                    <div class="hidden-xs tools_nextButton"><i class="fa fa-chevron-right"></i></div>
                </div>
            </div>
        </div>

        <div class="tool-description">
            <h4>{% trans "Description" %}</h4>
            <p>
            {% blocktrans %}
                A shop on your site will be loved by your readers. It helps your readers to find all your favourite
                items in one place and it’s super easy for you to keep it up to date.
                You can create two types of shops:
            {% endblocktrans %}
            </p>
            <ul>
                <li>
                    {% blocktrans %}
                        &mdash; My liked items: A shop that automatically includes all your liked items, even when you
                        like new items
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                        &mdash; Custom shop: A shop where you can manually select a specific collection of products.
                    {% endblocktrans %}
                </li>
            </ul>
            <p
            {% blocktrans %}
                A really good bonus is that by updating your shop often you encourage your readers to visit your
                site more often. A good tip is to remind your readers when you have added new products to your shop.
            {% endblocktrans %}
             </p>

            <h4>{% trans "Key Features" %}</h4>
            <ul>
                <li>
                    {% blocktrans %}
                        &mdash; Easy to update: Add products to your shop by liking new ones either on Apprl.com or through
                        our ‘Apprl for Chrome’ browser plugin. When you like a new product it immediately appears
                        in your shop
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                        &mdash; Customize the shop: You can choose if you want to have the left-hand filtering or not,
                        if you want to show brand & prices for products and the width/height of the shop
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                       &mdash; Put it on your site: Just get the embed code and paste it in your CMS/blogging admin.
                        (Note: you need to insert the code as text in HTML mode)
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                        &mdash; Works on all devices: By default, the shop automatically adapts to any size, from mobile
                        to computer.
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                        &mdash; Earn money: You earn money on all sales/clicks generated from your shop.
                        (You also earn money on sales/clicks from your profile on apprl.com!)
                    {% endblocktrans %}
                </li>
            </ul>
        </div>
    </div>

    <div class="modal-footer">
        <a class="btn btn-primary" href="{% url 'create-shop' %}">
            {% trans "Create Shop" %}
        </a>
    </div>
</div>

{% endblock %}