{% extends 'apparel/fragments/comment_base.html' %}
{% load humanize apparel_extras %}

{% block avatar %}
<a href="{{ comment.user.get_profile.get_absolute_url }}"><img class="avatar" src="{{ comment.user.get_profile.avatar }}" alt="{{ comment.user.get_profile.display_name }}"/></a>
{% endblock %}
{% block title %}<a href="{{ comment.user.get_profile.get_absolute_url }}">{{ comment.user.get_profile.display_name }}</a>{% endblock %}
{% block submit_date %}{{ comment.submit_date|since }}{% endblock %}
{% block content %}{{ comment.comment }}{% endblock %}
