{% load comments i18n %}
<div class="comment-avatar comment-poster-avatar">
    <a href="{{ user.get_absolute_url }}" title="{{ user.get_profile.display_name }}">
        <img alt="{{ user.get_profile.display_name }}" title="{{ user.get_profile.display_name }}" src="{{ user.get_profile.avatar }}">
    </a>
</div>
<form action="{% comment_form_target %}" method="post">
  {% csrf_token %}
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      {% if field.name != "name" and field.name != "email" and field.name != "url" %}
      <p class="{{ field.name }}{% if field.errors %} error{% endif %}"{% if field.name == "honeypot" %} style="display:none;"{% endif %}>
        {{ field }}
      </p>
      {% endif %}
    {% endif %}
  {% endfor %}
  <button type="submit" name="post" class="btn btn-block btn-positive btn-upper">{% trans "Comment" %}</button>
</form>
