{% extends 'dialog_base.html' %}
{% load i18n %}

{% block modal_id %}modal_store_accept{% endblock %}
{% block modal_title %}{% trans "Accept transaction?" %}{% endblock %}
{% block modal_content %}{% endblock %}
{% block modal_footer %}
<p>
    <a class="btn btn-upper btn-positive btn-yes" href="#">{% trans "Yes" %}</a>
    <a class="btn btn-upper close" href="#">{% trans "Cancel" %}</a>
</p>
<script type="text/javascript">
    $(function() {
        $('.btn-yes').on('click', function() {
            $.post('{% url 'advertiser-admin-accept' transaction.id %}', function() { window.location.reload(); });

            return false;
        });
    });
</script>
{% endblock %}
