{% extends 'dialog_base.html' %}
{% load apparel_extras %}
{% load i18n %}

{% block title %}{% trans "Reject transaction?" %}{% endblock %}
{% block content %}
<p>
    <label id="status_message_label" for="status_message">{% trans "Describe your reason to reject the transaction." %}</label><br>
    <textarea name="status_message" id="status_message"></textarea>
</p>
<p>
    <a class="btn btn-upper btn-negative btn-yes close" href="#">{% trans "Reject" %}</a>
    <a class="btn btn-upper close" href="#">{% trans "Cancel" %}</a>
</p>
<script type="text/javascript">
    $(function() {
        $('.btn-yes').on('click', function() {
            var message = $('#status_message').val();
            if(message) {
                $.post('{% url 'advertiser-admin-reject' transaction.id %}', {message: message}, function() { window.location.reload(); });
            } else {
                $('#status_message_label').addClass('error');;
            }

            return false;
        });
    });
</script>
{% endblock %}
