{% extends 'dialog_base.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block modal_id %}modal_test_purchase{% endblock %}
{% block modal_title %}{% trans "Make a test purchase" %}{% endblock %}
{% block modal_content %}
    <p>{% trans "Here you can make a test purchase to make sure that the Apprl tracking is implemented correctly and is reporting sales that are generated via Apprl back to the Apprl system. This is what you need to do:" %}</p>

    <div class="center">
        <p>1. {% trans "Input the URL to the page of your store to be tested. This could be for example to the home page or a product page. The tracking should work for any page on your site:" %}</p>
        <div class="form-group">
            <label class="control-label" for="id_url_shop">{% trans "URL" %}</label>
            <input id="id_url_shop" type="text" name="url" class="center" placeholder="URL">
        </div>

        <p>2. {% trans "Click Get test link." %}</p>

        <div class="form-group">
            <button class="btn btn-primary center btn-block get-link">{% trans "Get test link" %}</button>
        </div>

        <div id="show_link"style="display:none;">
            <p>3. {% trans "Click the link below and buy a product on your site:" %}</p>
            <p><a id="purchase_link" href="#" target="_blank"></a></p>
            <p>{% trans "If the Apprl tracking has been correctly implemented on your site, a sale will appear here on your dashboard (apprl.com/a/admin). If you need help with implementing the Apprl tracking or anything else, just contact support@apprl.com." %}</p>
        </div>
    </div>

{% endblock %}
{% block modal_footer %}
<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
<script type="text/javascript">

function startsWith(word, str){
    return word.indexOf(str) == 0;
};

function addHttp(url) {
    if ((!(startsWith(url, "http://") || startsWith(url, "https://")))){
        url = "http://" + url;
    }
    return url;
}
$('.get-link').click( function() {
    var url_shop = $('#id_url_shop').val();
    url_shop = addHttp(url_shop);
    var url = "http://{{ request.META.HTTP_HOST }}/a/link/?store_id={{ store.identifier }}&url="+url_shop;
    $('#show_link').css("display", "block");
    $('#purchase_link').attr("href", url);
    $('#purchase_link').html("<b>"+url+"</b>")
});
</script>
{% endblock %}
