{% extends 'base.html' %}
{% load i18n l10n cache humanize %}

{% block extra-title %}{% trans "Your store" %} | {% endblock %}

{% block 'extra-scripts' %}
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
        google.load('visualization', '1', {'packages':['corechart']});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', '{% trans "Transactions" %}');
            data.addColumn('number', '{% trans "Clicks" %}');
            data.addRows([
            {% for date, amount in data_per_month.items %}
            [new Date({{ date.year }}, {{ date.month }} - 1, {{ date.day }}), {{ amount.0 }}, {{ amount.1 }}],
            {% endfor %}
            ]);
            data.sort(0);

            var left = data.getColumnRange(1);
            var right = data.getColumnRange(2);
            var view = new google.visualization.DataView(data);
            //var chart = new google.visualization.LineChart(document.getElementById('transaction_chart'));
            //var options = {legend: {position: 'none'}};
            var series = {
                0: {targetAxisIndex: 0},
                1: {targetAxisIndex: 1, color: '#dc3912'}
            };
            var chart = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'transaction_chart',
                dataTable: view,
                options: {
                    vAxes: {
                        0: {
                            minValue: 0,
                            maxValue: (left.min == 0 && left.max == 0) ? 1 : null,
                            title: '{% trans "Earnings" %} ({{ currency }})',
                            textStyle: {color: '#3366cc'},
                            titleTextStyle: {color: '#3366cc'}
                        },
                        1: {
                            minValue: 0,
                            maxValue: (right.min == 0 && right.max == 0) ? 1 : null,
                            title: '{% trans "Clicks" %}',
                            textStyle: {color: '#dc3912'},
                            titleTextStyle: {color: '#dc3912'}
                        }
                    },
                    series: series
                }
            });
            chart.draw();
        }
        $(document).ready(function() {
            $('.monthly-list select').change(function() {
                var $selected = $(this).find(':selected');
                var year = $selected.data('year');
                var month = $selected.data('month');

                window.location.href = '/a/admin/' + year + '/' + month + '/';
            });
        });
    </script>
{% endblock %}

{% block body-classes %}store-page{% endblock body-classes %}
{% block body %}

    <div class="body-header">
        <div class="body-header-col-full">
            <h1>{% trans "Your store" %}</h1>
            <br>
            <br>
            <a class="btn btn-primary" data-toggle="modal" data-target="#modal_test_purchase">{% trans "Make a test purchase" %}</a>
        </div>
    </div>

    <div class="row subnav-page" style="margin-bottom: 10px;">
        <div class="col-md-12">{% trans "Balance:" %} <strong>{{ store.balance }} EUR</strong></div>
        <div class="col-md-12">{% trans "Total accepted commission:" %} <strong>{{ total_accepted_commission|floatformat:2|intcomma }} EUR</strong></div>
        <div class="col-sm-12" style="border-bottom: 2px solid #DDD; text-align:center; margin:10px; padding-bottom: 10px;"></div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ul class="list-inline monthly-list">
                <li class="first">
                    <label>{% trans "Show: " %}
                        <select>
                            {% for date in dates %}
                            <option data-year="{{ date.year }}" data-month="{{ date.month }}"{% if date.year == year and date.month == month %} selected{%endif %}>{{ date|date:"F Y" }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </li>
            </ul>
            <ul class="list-inline monthly-list">
                <li class="last">{% trans "Accepted commission this month:" %} {{ accepted_commission|floatformat:2|intcomma }} EUR</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="transaction_chart" style="width: 100%; height: 240px; margin: 20px 0;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-condensed">
                <tr>
                    <th>{% trans "Order ID" %}</th>
                    <th>{% trans "Order Value" %}</th>
                    <th>{% trans "Commission" %}</th>
                    <th class="hidden-xs">{% trans "Order Detail" %}</th>
                    <th>{% trans "Time" %}</th>
                    <th>{% trans "Order Status" %}</th>
                </tr>
                {% for transaction in transactions %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{ transaction.order_id }}</td>
                    <td>{{ transaction.order_value }} {{ transaction.currency }}</td>
                    <td>{{ transaction.commission }} {{ transaction.currency }}</td>
                    <td class="hidden-xs">
                        {% for product in transaction.products.all %}
                            {{ product.quantity }} {{ product.sku }}<br>
                        {% endfor %}
                    </td>
                    <td>{{ transaction.created }}</td>
                    <td>
                        {% if transaction.status == 'P' %}
                        <a data-toggle="modal" class="btn btn-success" href="#" data-target="#modal_store_accept_{{ transaction.id }}">{% trans "Accept" %}</a>
                        <a data-toggle="modal" class="btn btn-danger" href="#" data-target="#modal_store_reject_{{ transaction.id }}">{% trans "Reject" %}</a>
                        {% else %}
                        {{ transaction.get_status_display }}<br>
                        {{ transaction.status_date }}
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">{% trans "No transactions" %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% for transaction in transactions %}
    {% if transaction.status == 'P' %}
    {% include 'advertiser/modal_accept.html' with transaction=transaction only %}
    {% include 'advertiser/modal_reject.html' with transaction=transaction only %}
    {% endif %}
{% endfor %}

{% include 'advertiser/modal_test_purchase.html' with store=store%}
{% endblock body %}
