{% extends 'base.html' %}
{% load i18n static l10n cache humanize apparel_extras dashboard_extras %}

{% block extra-title %}{% trans "Your Store" %} | {% endblock %}

{% block extra-scripts %}
    <script type="text/javascript" src="{% static "js/vendor/tablesort.min.js" %}"></script>
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
        google.load('visualization', '1', {'packages':['corechart']});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', '{% trans "Sales" %} ({{ currency }})');
            data.addColumn('number', '{% trans "Clicks" %}');
            data.addRows([
            {% for date, amount in data_per_month.items %}
            [new Date({{ date.year }}, {{ date.month }} - 1, {{ date.day }}), {{ amount.0 }}, {{ amount.1 }}],
            {% endfor %}
            ]);
            data.sort(0);

            {% if vendor.is_cpo %}
            var left = data.getColumnRange(1);
            {% endif %}
            var right = data.getColumnRange(2);
            var view = new google.visualization.DataView(data);
            //var chart = new google.visualization.LineChart(document.getElementById('transaction_chart'));
            //var options = {legend: {position: 'none'}};
            var max_value = right.max;
            while (max_value % 4 != 0) {
                max_value++;
            }

            {% if vendor.is_cpo %}
            var series = {
                0: {targetAxisIndex: 0},
                1: {targetAxisIndex: 1, color: '#dc3912'}
            };
            {% else %}
            var series = {
                0: {targetAxisIndex: 0, color: '#dc3912'}
            };
            view.setColumns([0,2]);
            {% endif %}
            var chart = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'transaction_chart',
                dataTable: view,
                options: {
                    vAxes: {
                        {% if vendor.is_cpo %}
                        0: {
                            minValue: 0,
                            maxValue: (left.min == 0 && left.max == 0) ? 1 : null,
                            title: '{% trans "Sales" %} ({{ currency }})',
                            textStyle: {color: '#3366cc'},
                            titleTextStyle: {color: '#3366cc'}
                        },
                        {% endif %}
                        {% if vendor.is_cpo %}1{% else %}0{% endif %}: {
                            minValue: 0,
                            maxValue: (right.min == 0 && right.max <= 4) ? 4 : max_value,
                            title: '{% trans "Clicks" %}',
                            textStyle: {color: '#dc3912'},
                            titleTextStyle: {color: '#dc3912'},
                        }
                    },
                    legend: { position: 'top' },
                    series: series
                }
            });
            chart.draw();
        }
        $(document).ready(function() {
            $('.monthly-list select').change(function() {
                var $selected = $(this).find(':selected');
                var year = $selected.data('year');
                var month = $selected.data('month');

                window.location.href = '/a/admin/' + year + '/' + month + '/';
            });
            if ($('table#clicks_tb').length) {
                new Tablesort($('table#clicks_tb').get(0));
            }
        });
        /*
        Load detail click earning details for clicks in a modal
        */
        function load_detailed_data_clicks(jsonDetail, date, vendor, currency, isStore){
            var html = "<table>";
            for (i = 0; i < jsonDetail.length; i++){
                html += "<tr>" +
                        "<td><a href=\""+jsonDetail[i].product_url+"\" target=\"_blank\">" + jsonDetail[i].product_name + "</a></td>" +
                        "<td class='center'>"  + jsonDetail[i].clicks + "</td>"
                if (!isStore){
                    html += "<td class='center'>" + currency + " " + jsonDetail[i].product_earning.toFixed(2) + "</td>";
                }
                html += "<tr>";
            }
            html += "</table>";
            $("#content-clicks").html(html);
            $("#modal-date").html(date);
            $("#modal-vendor").html(vendor);
            $("#modal_detail_clicks").modal("show");
        }
    </script>
{% endblock %}

{% block body-classes %}store-page{% endblock body-classes %}
{% block body %}

    <div class="body-header">
        <h1>{% trans "Your Store" %}</h1>
        {% if vendor.is_cpo %}
        <br><a class="btn btn-primary" data-toggle="modal" data-target="#modal_test_purchase">{% trans "Make a test purchase" %}</a>
        {% endif %}
    </div>

    <section class="overview">
        <p>
            {% if vendor.is_cpc %}
            {% trans "Total clicks to your store:" %} <strong>{{ total_clicks_per_month }}</strong><br><br>
            {% endif %}

            {% if vendor.is_cpo %}
            {% trans "Total sales generated:" %} <strong>{{ currency }} {{ sales_generated|floatdot|intcomma }}</strong><br><br>
            {% endif %}
            {% trans "Invoiced & unpaid:" %} <strong>{{ currency }} {{ accepted_commission|floatdot|intcomma }}</strong><br>
            {% trans "To be invoiced:" %} <strong>{{ currency }} {{ commission_to_be_invoiced|floatdot|intcomma }}</strong>
        </p>
    </section>

    <section class="container center">
        <ul class="list-horizontal center">
            <li>{% trans "Show statistics for: " %}</li>
            <li>
                <div class="select">
                    <span><i class="fa fa-caret-down"></i></span>
                    <select>
                        {% for date in dates %}
                        <option data-year="{{ date.year }}" data-month="{{ date.month }}"{% if date.year == year and date.month == month %} selected{%endif %}>{{ date|date:"F Y" }}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
        </ul>

        {% if vendor.is_cpc %}
        <p>{% trans "Clicks to your store this month:" %} <strong>{{ clicks_delivered_per_month }}</strong><br>{% trans "Value:" %} {{ currency }} <strong>{{ monthly_click_value }}</strong></p>
        {% endif %}
        {% if vendor.is_cpo %}
        <p>{% trans "Sales generated this month:" %} <strong>{{ currency }} {{ monthly_sales|floatdot|intcomma }}</strong></p>
        {% endif %}
    </section>

    <section>
        <div id="transaction_chart" style="width: 100%; height: 240px; margin: 20px 0;"></div>
    </section>

    {% if vendor.is_cpo %}
    <section class="row">
        <div class="col-lg-12">
            <table class="table table-condensed">
                <tr>
                    <th>{% trans "Order ID" %}</th>
                    <th>{% trans "Order Value" %}</th>
                    <th>{% trans "Commission" %}</th>
                    <th class="hidden-xs">{% trans "Order Detail" %}</th>
                    <th>{% trans "Time" %}</th>
                    <th>{% trans "Order Status" %}</th>
                </tr>
                {% for transaction in transactions %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{ transaction.order_id }}</td>
                    <td>{{ transaction.currency }} {{ transaction.order_value }}</td>
                    <td>{{ transaction.currency }} {{ transaction.commission }}</td>
                    <td class="hidden-xs">
                        {% for product in transaction.products.all %}
                            {{ product.quantity }} {{ product.sku }}<br>
                        {% endfor %}
                    </td>
                    <td>{{ transaction.created }}</td>
                    <td>
                        {% if transaction.status == 'P' %}
                        <a data-toggle="modal" class="btn btn-success" href="#" data-target="#modal_store_accept_{{ transaction.id }}">{% trans "Accept" %}</a>
                        <a data-toggle="modal" class="btn btn-danger" href="#" data-target="#modal_store_reject_{{ transaction.id }}">{% trans "Reject" %}</a>
                        {% else %}
                        {{ transaction.get_status_display }}<br>
                        {{ transaction.status_date }}
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">{% trans "No transactions" %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    {% endif %}

    {% if vendor.is_cpc %}
    <section class="row">
        <div class="col-lg-12 table-responsive  ">
            <h2 class="sales-header">{% trans "Clicks in" %} {{ month_display }} {{ year }}</h2>
            <table id="clicks_tb" class="sortable table table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-3 hidden-xs">{% trans "Date" %}</th>
                        <th class="col-sm-3">{% trans "Clicks" %}</th>
                        <th class="col-sm-4">{% trans "Value" %}</th>
                        <th class="col-sm-2">{% trans "Info" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, row in clicks_per_day %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td class="hidden-xs" data-sort="{{ row.date|date:"U" }}">{{ row.date.date }}</td>
                            <td>{{ row.clicks }}</td>
                            <td>{{ currency }} {{ row.amount|floatdot }}</td>
                            <td>
                                <a class="btn btn-primary click-detail" data-vendor="{{ vendor }}"
                                   data-date="{{ row.date|date:"U" }}" data-amount="{{ row.amount|floatdot }}"
                                   data-date_display="{{ row.date.date }}" data-clicks="{{ row.clicks }}">
                                   {% trans "See details" %}
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">{% trans "No clicks" %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}

{% for transaction in transactions %}
    {% if transaction.status == 'P' %}
    {% include 'advertiser/modal_accept.html' with transaction=transaction only %}
    {% include 'advertiser/modal_reject.html' with transaction=transaction only %}
    {% endif %}
{% endfor %}
{% include 'advertiser/modal_test_purchase.html' with store=store%}

{% if vendor.is_cpc %}
<script>
    $(".click-detail").click(function() {
        var user_id = $(this).data("user");
        var vendor = $(this).data("vendor");
        var date = $(this).data("date");
        var date_display = $(this).data("date_display");
        var amount = $(this).data("amount");
        var clicks = $(this).data("clicks");
        var currency = 'original';
        $.ajax({
            type: "get",
            url: "{% url 'clicks-detail' %}",
            data: { user_id: user_id, vendor : vendor, date : date, currency: currency, amount: amount, clicks: clicks},
            success: function (response) {
                var json = jQuery.parseJSON(response);
                load_detailed_data_clicks(json, date_display, vendor, "{{ currency }}", true);
            }
        });
    });
</script>
{% endif %}

{% include 'dashboard/fragments/dialog_detail_clicks.html' with request=request csrf_token=csrf_token is_store=True only  %}
{% endblock body %}
