{% load i18n follow_tags humanize apparel_extras %}

<a href="{{ profile.get_absolute_url }}"><img class="avatar" src="{{ profile.avatar }}" alt="{{ profile.display_name }}"/></a>
<div class="profile-info">
    <a href="{{ profile.get_absolute_url }}"><h3>{{ profile.display_name }}</h3></a>
    {% include 'apparel/fragments/follow.html' %}
    {% if user.is_authenticated %}
        {% if profile|is_following_profile:request.user.get_profile %}<span class="btn btn-small btn-disabled btn-follow-you">{% trans "Following you" %}</span>{% endif %}
    {% endif %}
    {% if profile.about %}<p class="about">{{ profile.about|urlize_target_blank|linebreaksbr }}</p>{% endif %}
    <p>
      {% if profile.product_likes_count %}
      <span class="likes_count">{% blocktrans count profile.product_likes_count as likes_count %}Likes {{likes_count}} product{% plural %}Likes {{likes_count}} products{% endblocktrans %}</span>
      {% endif %}
      <br>
      {% if profile.looks %}
          <span class="looks_count">{% blocktrans count profile.looks as look_count %}Created {{look_count}} look{% plural %}Created {{look_count}} looks{% endblocktrans %}</span>
      {% endif %}
      <span class="follower_count">
          <a href="{% url 'profile-followers' profile.slug %}">{% blocktrans with profile.followers_count as follower_count %}Followed by {{ follower_count }}{% endblocktrans %}</a>
      </span>
      <span class="following_count"></span>
    </p>
</div>
