{% load i18n %}
{% url profile-likes profile.user.username as profile_likes_url %}
{% url profile-updates profile.user.username as updates_url %}
{% url profile-looks profile.user.username as looks_url %}
{% url profile-followers profile.user.username as followers_url %}
{% url profile-following profile.user.username as following_url %}
<li>
    {% if profile and profile.brand %}
    <a class="{% if request.path == profile_likes_url %}selected{% else %}first{% endif %}" href="{{ profile_likes_url }}">{% trans "Shop" %}</a>
    {% else %}
    <a class="{% if request.path == profile_likes_url %}selected{% else %}first{% endif %}" href="{{ profile_likes_url }}">{% trans "Likes" %}</a>
    {% endif %}
</li>
<li>
    <a class="{% if request.path == updates_url %}selected{% endif %}" href="{{ updates_url }}">{% trans "Updates" %}</a>
</li>
<li>
    <a class="{% if request.path == looks_url %} selected{% endif %}" href="{{ looks_url }}">{% trans "Looks" %}</a>
</li>
<li>
    <a class="{% if request.path == followers_url %} selected{% endif %}" href="{{ followers_url }}">{% trans "Followers" %}</a>
</li>
<li>
    <a class="last{% if request.path == following_url %} selected{% endif %}" href="{{ following_url }}">{% trans "Following" %}</a>
</li>
