@import partials/base.sass
@import partials/typography.sass
@import partials/filter.sass
@import partials/row.sass
@import partials/look.sass

body
  background:
    color: white
    image= image_url("header-bg.png")
    repeat: no-repeat
    position: center top

button, a.button
  +button
  display: inline-block

#content.fixed
  position: fixed
  top: 0

#header
  height: 140px
  overflow: visible
  position: relative
  h1
    +float-left
    +replace-text("logo.png")
    width: 128px
    height: 13px
    padding: 20px
    margin-top: 38px
    +border("bottom", #999)


#login-pane
  height: 2em
  line-height: 2em
  background: transparent url(../images/loggedin-pane-bg.png) scroll repeat-x left top

  &.updates
    background: transparent url(../images/updates-bg.png) scroll repeat-x left top


#nav-user
  float: left
  margin: 0


#nav-main
  position: absolute
  top: 50px
  left: 450px

  li
    display: inline
    margin-left: 2em

    a
      text-decoration: none
      text-transform: uppercase
      color: white
      padding-top: 1em
      padding-bottom: 1em

      &.selected
        background: transparent url('../images/nav-main-selected.png') fixed no-repeat center bottom



#logged-in-as
  float: left


#logout
  display: inline-block
  float: right
  text-decoration: none
  padding-left: 20px
  background: transparent url('../images/logout.png') fixed no-repeat left center


#account-dialogue
  position: absolute
  width: 482px
  height: 36px
  padding: 3px 0
  top: 37px
  left: 200px
  display: none
  background: transparent url('../images/login-bg.png') scroll no-repeat left center


#login-forgot-password
  color: #fb9292


#login-create-account
  color: #92c0c0


#account-dialogue
  input.default-value
    font-style: italic

  form
    margin: 0
    margin: auto 1em


#login-username, #login-password, #login-password-placeholder
  background: transparent url(../images/login-text-bg.png) scroll no-repeat left center
  width: 108px
  height: 24px
  margin: 0
  border: none
  vertical-align: middle
  padding: 8px 16px
  font-size: 1.2em
  float: left


#login-submit
  width: 40px
  height: 40px
  background: transparent url(../images/login-button.png) scroll no-repeat left center
  text-indent: -10000em
  border: none
  float: left
  cursor: pointer


#login-password
  display: none


#account-dialogue .fb-connect-button
  float: right
  margin-right: 2em
  margin-top: auto
  height: 100%
  padding-top: 6px



.collage .tooltip, #product-menu ul, a.block_link, table.available-sizes td, #add-to-look ul, .product-vendor
  +box


.product-options
  .option-size, .option-relative-size, .option-shoe-size, .option-pants-length, .option-pants-width
    border: 1px solid #dadada
    background-color: #f2f2f2

#switchlook
  +box
  height: 36px
  padding: 16px 10px 10px
  background:
    image= image_url("gradient-tall-bg.png")
    repeat: repeat-x
  .info
    +float-left
    background= "transparent" image_url("arrow-bg.png") "no-repeat" "scroll" "left" 10px
    padding-left: 20px
  .nav
    +float-right
    margin-top: 10px
    .backward
      +replace-text("prev-shadow.png")
      +float-left
      display: inline-block
      width: 6px
      height: 16px
      margin-right: 20px
    .forward
      +replace-text("next-shadow.png")
      +float-left
      display: inline-block
      width: 6px
      height: 16px
      margin-left: 10px
    .tabs
      +float-left
      +horizontal-list(0)
      a
        +replace-text("switcher.png")
        display: inline-block
        width: 10px
        height: 16px
        margin-right: 10px
        &.current
          background-image= image_url("switcher-selected.png")

ul.looks
  +horizontal-list(0)
  li
    margin-right= !gutter_width / 2
    margin-bottom: 10px
    &.last
      margin-right: 0
    .look
      +box
      width= !aside_width / 2 - !gutter_width / 4 - 2
      height: 72px
    span.button
      +button
      line-height: 1.5em
      border-top: 0
      display: block
      +border-bottom-radius("3px")
      text-align: center

#lookproducts
  +row

#sidebar ul
  padding: 0

h2
  a
    +float-right

#reset
  background= "transparent" image_url("logout.png") "no-repeat" "scroll" "right" "center"
  padding-right: 15px

!color_width = 39px
!color_height = 20px

=colors
  +horizontal-list
  li
    background: none
    border: none
    a
      +replace-text("colors.png")
      padding: 0
      background= "transparent" image_url("colors.png") "no-repeat" "scroll" 0 0
      width= !color_width
      height= !color_height
      &.black
        &.selected
          background-position= 0 -!color_height
      &.grey
        background-position= -!color_width "top"
        &.selected
          background-position= -!color_width -!color_height
      &.white
        background-position= -!color_width * 2 "top"
        &.selected
          background-position= -!color_width * 2 -!color_height
      &.beige
        background-position= -!color_width * 3 "top"
        &.selected
          background-position= -!color_width * 3 !color_height
      &.brown
        background-position= -!color_width * 4 "top"
        &.selected
          background-position= -!color_width * 4 !color_height
      &.red
        background-position= -!color_width * 5 "top"
        &.selected
          background-position= -!color_width * 5 !color_height
      &.yellow
        background-position= -!color_width * 6 "top"
        &.selected
          background-position= -!color_width * 6 !color_height
      &.green
        background-position= -!color_width * 7 "top"
        &.selected
          background-position= -!color_width * 7 !color_height
      &.blue
        background-position= -!color_width * 8 "top"
        &.selected
          background-position= -!color_width * 8 !color_height
      &.magenta
        background-position= -!color_width * 9 "top"
        &.selected
          background-position= -!color_width * 9 !color_height
      &.pink
        background-position= -!color_width * 10 "top"
        &.selected
          background-position= -!color_width * 10 !color_height

#product-gender
  +filter("list-item.png", "list-item-radio-selected.png")

#product-options
  +filter("list-item-arrow.png", "list-item-radio-checked.png")
  +popup
  li.active
    background-image= image_url("gradient-darker-bg.png")
  #product-price
    #price-slider
      margin: 10px 12px    
  #product-color
    ul
      +colors
  #product-manufacturers
    .option-content
      background-color= !button_color
    input
      +text_input
      width: 323px
      margin: 4px 3px 3px
      padding-left: 8px
      padding-right: 8px
      font-style: italic
    ul
      +border("top")
      +border("bottom")
      height: 205px
      overflow-y: auto
      padding: 0 12px
      background-color= !button_color
      li
        line-height: 20px
        height: 20px
        border: none
        +border("bottom")
        background-image: none
        a
          margin-left: -10px
          background-image= image_url("list-item-check.png")
          &.selected
            background-image= image_url("list-item-check-selected.png")

#product-category
  +filter("list-item-check.png", "list-item-check-selected.png")
  li
    ul
      overflow-y: auto
      max-height= (!button_height + !border_width) * 4
      li
        border: none
        padding-left: 10px
        +border("top")
        background-image= image_url("gradient-dark-bg.png")

a.comments
  background= "transparent" image_url("comments.png") "no-repeat" "scroll" "left" "center"
  padding-left: 16px

a.looks
  background= "transparent" image_url("look.png") "no-repeat" "scroll" "left" "center"
  padding-left: 16px

span
  &.likes
    background= "transparent" image_url("heart.png") "no-repeat" "scroll" "left" "center"
    padding-left: 16px
    color= !like_color

  &.price
    background: transparent url(../images/check.png) no-repeat scroll left bottom
    color= !price_color
    padding-left: 15px


.product-photo
  border: 1px solid #dadada


div#product-list
  +clearfix
  +box
  border: none
  width: 697px
  ul
    +clearfix
    +border("right")
    li
      display: block

.product-small
  width: 115px
  background-color: white
  +border("all")
  border-bottom: none
  border-right: none
  text-align: center
  float: left
  h4
    +border("top")
    height: 1.5em
    overflow: hidden

  .product-image
    position: relative
    height: 153px

  span.likes
    display: none
    position: absolute
    top: 5px
    left: 5px
    padding-left: 0
    padding-top: 6px
    min-width: 10px
    background-position: center top


#pagination
  height: 30px
  +border("all")
  +border-bottom-radius("3px")

  .prev, .next
    display: inline-block
    width: 115px
    height: 30px
    
  .prev
    float: left
    +replace-text("prev-page.png", "20px", "center")
    +border("right")

  .next
    float: right
    +replace-text("next-page.png", "89px", "center")
    +border("left")

  
  div
    float: left
    width= !large_width - 2 * (115 + 2)
    line-height: 30px
    text-align: center
    margin: 0 auto
    position: relative
    ol
      +horizontal-list(5px)
      clear: left
      float: left
      left: 50%
      text-align: center
      position: relative
      overflow: visible
      li
        right: 50%
        display: block
        position: relative
        a
          display: block
        &.current
          font-weight: bold
          background= "transparent" image_url("current-page.png") "no-repeat" "scroll" "center" "bottom"
      

.product-left
  +float-left
  margin-top: 30px
  width= !small_width
  margin-right= !gutter_width

.activity
  margin-top: 30px
  +border("top")
  p
    line-height: 26px
    +border("bottom", !easy_border_color)

.product-info
  +float-left
  width= !small_width
  h2
    color= !easy_color
  h1
    text-transform: uppercase
    font-size: 1.25em
  h3
    text-transform: uppercase
    font-weight: normal
  p.description
    width= !aside_width + !gutter_width
    margin-bottom: 18px

.product-image
  border: 1px solid #dadada
  position: relative
  .magnifier
    position: absolute
    right: 10px
    bottom: 10px
    width: 19px
    height: 20px
    background: transparent url(../images/magnifier.png) no-repeat scroll left top
    display: none
  img
    vertical-align: top


table.available-sizes th
  border: none
  font-size: 0.8em
  font-weight: normal
  text-align: center
  text-transform: uppercase


.product-options
  margin-left: 0
  margin-right: 0
  margin-bottom: 5px
  list-style: none

  ul
    margin-left: 0
    margin-right: 0
    margin-bottom: 5px
    list-style: none

  li ul li
    float: left

  .option-size, .option-relative-size, .option-shoe-size, .option-pants-length, .option-pants-width
    border-right: none

  .option-size li, .option-relative-size li, .option-shoe-size li, .option-pants-length li, .option-pants-width li
    padding: 0 10px
    border-right: 1px solid #dadada

  .option-color
    background: transparent url(../images/option-color-bg.png) scroll repeat-x left top
    border-right: 1px solid #dadada

    li
      background: transparent scroll no-repeat left top
      width: 39px
      height: 20px
      text-indent: -10000em

      &.black
        background-image: url(../images/option-color-black.png)

      &.yellow
        background-image: url(../images/option-color-yellow.png)

      &.green
        background-image: url(../images/option-color-green.png)

      &.magenta
        background-image: url(../images/option-color-magenta.png)


.product-vendors
  border-bottom: 1px solid #e7e7e7


a.buy-now
  padding: 58px 0 0
  text-align: center
  width: 73px
  height: 30px
  background: #d0fae8 url(../images/check-large.png) scroll no-repeat center center
  border: 1px solid #92c0c7
  color: #408994
  text-transform: uppercase
  font-weight: bold


.product-vendors a.buy-now
  float: right
  margin-top: -50px


.product-vendor
  border-bottom: none
  padding: 7px 9px
  height: 16px

  .price, .currency
    vertical-align: middle

  .price
    font-size: 2em
    background: none
    padding-left: 0
    padding-right: 5px

  .vendor
    float: right
    background= "transparent" image_url("vendor-three-quarters.png") "scroll" "no-repeat" "left" "center"
    padding: 0 10px 0 16px

#comments
  li
    h3
      span
        float: right
        font-weight: normal

#recentlyviewed
  +row(!aside_width)

body.product .product-image, body.look .collage
  form
    position: absolute
    top: 0px
    right: 0px
    button
      margin: 0
      border: none
      background= "transparent" image_url("like-large.png") "no-repeat" "scroll" "center" "center"
      color= !like_color
      text-transform: uppercase
      padding-top: 20px
      height: 100px
      width: 89px
      cursor: pointer
      text-align: center

.similar-product
  .product-photo
    float: left
    margin-right: 10px

  .product-summary
    float: left


.product-summary
  a, span
    display: block

  a
    text-transform: uppercase
    background: transparent url(../images/arrow-bg.png) scroll no-repeat left bottom
    padding-left: 20px


#add-menu
  +clearfix
  +horizontal-list(0)
  margin-top: 18px
  li
    +button
    +border-radius(3px)
    line-height: 2em
    padding: 0 10px
    margin-right: 8px
    a
      background: transparent url(../images/add.png) scroll no-repeat left center
      padding-left: 20px
    &#add-to-look
      > a
        background-image= image_url("look.png")
      ul
        display: none
        margin: 0 -1em
        border-bottom: none
        border-right: none
        li
          padding: 0 1em
          border-bottom: 1px solid #dadada
          a
            display: block
    &.share > a
      background-image= image_url("share.png")
    &#add-to-wardrobe > a
      margin-right: 0
      background-image= image_url("embed.png")


a.block_link
  display: block
  line-height: 2.5em
  text-align: center
  text-transform: uppercase


#search
  background: transparent url(../images/search.png) scroll no-repeat left center
  top: 31px
  right: 0px
  position: absolute
  width: 163px
  height: 24px
  padding: 17px 50px 17px 25px
  overflow: visible
  z-index: 1000

  &.expanded
    background: transparent url(../images/searchresult-bg.png) scroll no-repeat center top
    height: 547px
    width: 895px


#searchbox
  position: absolute
  width: 163px
  right: 50px
  margin: 0
  border: none
  vertical-align: middle
  font-size: 1.2em
  background: transparent


#search-result
  margin-top: 140px
  display: none

  h2
    font-size: 1.2em
    font-weight: bold


.search-result-container
  margin-left: 5px

  h3
    font-size: 1em
    font-weight: bold

  a
    display: block
    margin-bottom: 4px

  .product-info
    border: none
    text-align: left

  .product-small
    width: 205px

  .product-image
    float: left
    margin-right: 5px


#content form
  margin-left: .5em
  padding-top: -.5em

  label
    display: block
    margin-top: .5em

  button
    margin-top: 1em

  .errorlist
    color: #990000


.facebook-profile-image
  float: left
  margin-right: .5em


#profile-nav li
  display: block
  float: left
  height: 30px
  padding-left: .5em
  padding-right: .5em
  border: 1px solid #d9d9d9
  border-left-color: white
  text-transform: uppercase
  background: transparent url(../images/profile-nav-bg.png) scroll repeat-x top left

  &.selected
    background-image: url(../images/profile-nav-bg-selected.png)
    border-right-color: #ababab
    border-left-color: #ababab

  a
    line-height: 30px

  &.profile-image
    padding: 0


#profile-nav-dash
  position: relative
  top: -10px
  z-index: -1
