!page_width = 980px
!margin_width = 20px
!gutter_width = 36px
!content_width = !page_width - 2 * !margin_width

!aside_width = 208px
!small_width = 1.5 * !aside_width + !gutter_width / 2
!middle_width = 2 * !aside_width + !gutter_width
!large_width = !aside_width + !middle_width + !gutter_width

!box_color = #fafafa
!border_color = !box_color - #212121
!easy_border_color = !box_color - #080808
!font_color = !box_color - #bababa
!easy_color = !box_color - #999
!like_color = !box_color - #008a8a
!price_color = !box_color - #878787
!button_color = !box_color - #080808

!border_width = 1px

!button_height = 30px


!box_disabled_color = !box_color + #aaa
!border_disabled_color = !border_color + #1e1e1e

!default_box_shadow_color     ||= #999
!default_box_shadow_h_offset  ||= 0px
!default_box_shadow_v_offset  ||= 0px
!default_box_shadow_blur      ||= 20px

=text_input
  font-family: "Helvetica", "Arial", sans-serif
  font-size: 1em
  +border-radius(3px)
  +border("all", #d9d9d9)
  background-color: #f6f6f6
  color: #666
  +box-shadow-inset(#f6f6f6 - #222, 0, 3px, 3px)
  padding: 0.5em 5px


=container
  margin: 0 auto
  width= !content_width

=border(!side = "none", !color = !border_color)
  @if !side == "all"
    border= !border_width "solid" !color
  @else
    border-#{!side}= !border_width "solid" !color

=box(!bg = !box_color, !border = !border_color)
  +border("all", !border)
  background-color= !bg

=button(!bg = "gradient-bg.png")
  +box
  line-height= !button_height
  height= !button_height
  overflow: hidden
  white-space: nowrap
  background:
    color= !button_color
    image= image_url(!bg)
    repeat: repeat-x
  &.cancel:before
    content= image_url("cancel.png")
  &.ok:before
    content= image_url("ok.png")

!color_width = 21px
!color_height = 19px

=colors
  +horizontal-list
  position: relative
  li
    background: none
    border: none
    padding: 0
    height= !color_height
    a
      +replace-text("sprite-colors.png")
      padding: 0
      width= !color_width
      height= !color_height
      position: absolute
      top: 0
      &.black
        background-position: 0 0
        left: 0
      &.grey
        background-position= -!color_width "top"
        left= !color_width + 1
      &.white
        background-position= -!color_width * 2 "top"
        left= (!color_width + 1) * 2
      &.beige
        background-position= -!color_width * 3 "top"
        left= (!color_width + 1) * 3 + 7
      &.brown
        background-position= -!color_width * 4 "top"
        left= (!color_width + 1) * 4 + 7    
      &.red
        background-position= -!color_width * 5 "top"
        left= (!color_width + 1) * 5 + 7
      &.orange
        background-position= -!color_width * 6 "top"
        left= (!color_width + 1) * 6 + 7
      &.yellow
        background-position= -!color_width * 7 "top"
        left= (!color_width + 1) * 7 + 7
      &.green
        background-position= -!color_width * 8 "top"
        left= (!color_width + 1) * 8 + 7
      &.blue
        background-position= -!color_width * 9 "top"
        left= (!color_width + 1) * 9 + 7
      &.magenta
        background-position= -!color_width * 10 "top"
        left= (!color_width + 1) * 10 + 7
      &.pink
        background-position= -!color_width * 11 "top"
        left= (!color_width + 1) * 11 + 7
      &.gold
        background-position= -!color_width * 12 "top"
        left= (!color_width + 1) * 12 + 14
      &.silver
        background-position= -!color_width * 13 "top"
        left= (!color_width + 1) * 13 + 14
      &.selected
        background-position= "inherit" !color_height