@import partials/base.sass
@import partials/box_shadow_inset.sass

!input_bg_color ||= !highlight_bg_color
!input_color ||= !highlight_color
!input_border_color ||= !highlight_border_color

!look_height ||= 524px

// EDIT

#edit-look .panes
  position: relative

#photo, #collage
  height= !look_height

#selection
  !row_width = !large_width - 20
  +row(!row_width)
  background= "transparent" image_url("look-selection-row-bg.png") "no-repeat" "scroll"
  padding: 9px 9px 0 9px
  height: 252px

#collage, #photo
  position: relative
  img.product
    position: absolute


#collage, #photo-background
  .ui-wrapper
    position: absolute
    opacity: 0.8
    +box-shadow
  .delete
    display: block
    position: absolute
    height: 22px
    width: 22px
    background= "transparent" image_url("delete.png") "no-repeat" "scroll" "center" "center"
    left: -11px
    top: -11px
  .ui-state-disabled, .ui-widget-content .ui-state-disabled
    -moz-box-shadow: none
    -webkit-box-shadow: none
    box-shadow: none
    opacity: 1.0
    .close
      display: none

#photo-background
  position: relative
  margin: 0 auto
  .hotspot
    position: absolute
    padding: 40px
    background= "transparent" image_url("look-hotspot.png") "no-repeat" "scroll" "center" "center"
  .delete
    left: 5px
    top: 5px

#product-chooser
  position: absolute
  display: none
  width: 250px
  height: 175px
  overflow-y: auto
  overflow-x: hidden
  background-color: white
  
  li
    +clearfix
    padding: 5px
    a
      display: block
      img
        float: left
        margin-right: 10px
      h4, p
        white-space: nowrap

#photo-form
  position: absolute
  top: 10px
  left: 10px
  background-color: white
  .upload-form
    display: none
  button
    +button
    height= !button_height
    width: 200px
    text-align: left
  div
    padding: 5px

#edit-look
  +border-top-radius
  +border("all")
  ul.tabs
    +horizontal-list(1px)
    li
      +button
      width: 229px
      border-style: none solid solid none
      text-align: center
      &.current
        background-image= image_url("gradient-dark-bg.png")
      &:first-child, &.first
        +border-top-left-radius
      &:last-child, &.last
        +border-top-right-radius
        border-right: none
      a
        display: block
        background:
          color: transparent
          repeat: no-repeat
          position: 75px center
        &.collage
          background-image= image_url("kollage.png")
        &.photo
          background-image= image_url("foto.png")
          background-position: 80px center
        &.selection
          background-image= image_url("urval.png")

#look-title
  +border("all")
  width: 893px
  height: 27px
  background= !button_color image_url("gradient-bg.png") "repeat-x"
  margin: 20px 0 10px -24px
  padding-top: 3px
  padding-left: 20px

  #id_title, button
    color= !input_color
    font-family: "Helvetica", "Arial", sans-serif
    
  #id_title
    +border("all", !input_border_color)
    +border-radius(3px)
    background-color= !input_bg_color
    line-height: 20px
    height: 14px
    width: 210px
    text-align: center
    padding-top: 6px
    +box-shadow-inset(!input_bg_color - #222, 0, 3px, 3px)

  button
    +float-right
    margin-right: -21px
    background= "transparent" image_url("preview-button.png") "no-repeat" "scroll"
    height: 24px
    line-height: 24px
    width: 103px
    border: none
    text-align: start

#id_description,
#id_tags
  +text_input
  width: 196px
 
#id_description
  height: 2em

#id_tags
  height: 1em

body.edit-look
  .sidebar
    label
      display: block
      margin: 20px 0 10px
      padding: 0 0 5px
      +border("bottom")

body.look
  .spread
    margin-top: 20px
    input
      +text_input
      width: 140px
      margin-left: 0.5em

.tooltip
  +box
  background= !box_color - #0b0b0b image_url("tooltip-bg.png") "repeat-x" "scroll" "center" "top"
  +border-radius(2px)
  +border("all")
  +box-shadow(!default_box_shadow_color, !default_box_shadow_h_offset, !default_box_shadow_v_offset, "5px")
  display: none
  z-index: 1100
  padding: 10px 10px 8px 10px
  position: relative
  h2
    margin-top: 0
    margin-bottom: 1px
    border-bottom: none
  p, a
    color= !easy_color
    font-size: smaller
  .arrow
    position: absolute
    background= "transparent" image_url("tooltip-arrow.png") "no-repeat" "scroll" "center" "center"
    width: 14px
    height: 8px
    bottom: -8px
    left: 16px

body.look
  .collage
    position: relative
    height= !look_height
  #comments-and-links
    float: left
    width= !middle_width
    margin-right= !gutter_width
  #tags
    float: left
    width= !aside_width
    li
      +border("bottom", !easy_border_color)
      span
        float: right
        color= !easier_color
  .sidebar
    margin-top: 30px
    p
      border-top: none
      +border("bottom")
    .description
      border-bottom: none
      padding-top: 1.5em
  #content
    margin-top: -2em
    .collage
      background-color: white
      margin-right: 2em


#look-header
  position: relative
  +border("bottom")
  .profile-image
    position: absolute
    left: 0em
    top: 0
  div
    margin-left: 70px
    h1
      font-size: 1.5em
      line-height: 2em
      a
        font-size: 0.75em

#wardrobe
  margin: 0 -16px 0 -24px
  clear: both

#wardrobe-title
  +border("all")
  height: 27px
  background= !button_color image_url("gradient-bg.png") "repeat-x"
  padding: 10px 8px 0 10px
  
  span
    background= "transparent" image_url("arrow-bg-down.png") "no-repeat" "top left"
    padding-left: 14px

#wardrobe-contents
  padding: 10px 8px
  background= "transparent" image_url("wardrobe-bg.png") "scroll" "repeat-x" "center" "center"
  +row(!content_width + !gutter_width - 12)
  
  li
    a
      cursor: move


// Override backgrounds for jQuery UI icons
.ui-icon
  background-image: none
  background-position: 0 0

// Resizable
.ui-icon-gripsmall-diagonal-se
  bottom: -11px
  right: -11px
  width: 23px
  height: 23px
  background= "transparent" image_url("resize.png") "no-repeat" "scroll" "center" "center"

// Rotatable
.ui-rotatable
  position: relative

.ui-rotatable-handle
  position: absolute
  z-index: 99999
  display: block

.ui-rotatable-disabled .ui-rotatable-handle,
.ui-rotatable-autohide .ui-rotatable-handle
  display: none

.ui-rotatable-ne
  top: -11px
  right: -11px
  width: 23px
  height: 23px
  background= "transparent" image_url("rotate-cw.png") "no-repeat" "scroll" "center" "center"

.ui-rotatable-sw
  bottom: -11px
  left: -11px
  width: 23px
  height: 23px
  background= "transparent" image_url("rotate-ccw.png") "no-repeat" "scroll" "center" "center"
