/* Contains CSS rules that are used both in external widgets and on the apparelrow site */

$look_height: 524px !default
$tooltip_width: 242px

=apparel_tooltip
  +box
  background-color: $box_color - #0b0b0b
  +border-radius(2px)
  +border(all)
  +box-shadow($default_box_shadow_color, $default_box_shadow_h_offset, $default_box_shadow_v_offset, unquote("5px"))
  display: none
  z-index: 1100
  padding: 4px !important
  position: relative
  white-space: nowrap
  .product-image, .ar-product-image
    border: 1px solid #dadada
    text-align: center
    background-color: white
    float: left
    width: 90px
    line-height: 113px
    height: 115px
    margin-right: 10px
    img
      vertical-align: middle
  .product-meta, .ar-product-meta
    float: left
    margin-right: 10px
    margin-top: 2px
    h2
      margin-top: 0
      margin-bottom: 0
      border-bottom: none
      white-space: normal
      overflow: hidden
      padding-right: 16px
    h3
      color: $easy_color
      font-size: smaller
      font-weight: normal
    div.vendors, div.ar-vendors
      margin-top: 0.5em
      a.vendor, a.ar-vendor
        +vendor
        display: inline-block
        color: $easy_color
        font-size: smaller
      a.buy-now, a.ar-buy-now
        +buy_now
        display: inline
        padding: 5px
        font-size: smaller
        margin-left: 5px
    .arrow, .ar-arrow
      position: absolute
      background: transparent image_url(unquote("tooltip-arrow.png")) no-repeat scroll center center
      width: 14px
      height: 8px
      bottom: -8px
      left: $tooltip_width / 2 - 5

=vendor
  background: transparent image_url(unquote("vendor.png")) scroll no-repeat left center
  padding-left: 15px

=buy_now
  text-align: center
  background-color: $highlight_bg_color
  +border(all, $highlight_border_color)
  color: $highlight_color
  text-transform: uppercase
  &:hover
    background-color: $hover_highlight_bg_color
  
=apparel_hotspot
  position: relative
  margin: 0 auto
  .hotspot, .ar-hotspot
    position: absolute
    padding: 40px
    background: transparent image_url(unquote("look-hotspot.png")) no-repeat scroll center center

=apparel_likes
  background: transparent image_url(unquote("heart.png")) no-repeat scroll left center
  padding-left: 16px
  color: $like_color
  
=apparel_price
  background: transparent url(../images/check.png) no-repeat scroll 1px center
  color: $font_color
  padding-left: 16px

