{% extends 'base.html' %}
{% load i18n flatpages %}

{% block extra-title %}{{ flatpage.title }} | {% trans "Privacy Policy & Terms of Use" %} | {% endblock %}

{% block body-header %}
<div id="body-header">
    <div class="column_one">
        <h1>{% trans "Privacy Policy & Terms of Use" %}</h1>
    </div>
</div>
{% endblock body-header %}
{% block body-classes %}two-columns about{% endblock body-classes %}
{% block body %}
    <div class="sidebar">
        <h2>{% trans "Privacy Policy & Terms of Use" %}</h2>
        <ul class="about-list">
            <li><a href="{% url 'django.contrib.flatpages.views.flatpage' url='about/terms-of-use/' %}">{% trans "Terms of Use" %}</a></li>
            {% if request.user.is_authenticated and request.user.is_partner %}
            <li><a href="{% url 'django.contrib.flatpages.views.flatpage' url='about/terms-of-use/partner-villkor/' %}">{% trans "Publisher terms" %}</a></li>
            {% endif %}
            <li><a href="{% url 'django.contrib.flatpages.views.flatpage' url='about/privacy-policy/' %}">{% trans "Privacy Policy" %}</a></li>
            <li><a href="{% url 'django.contrib.flatpages.views.flatpage' url='about/acceptable-use-policy/' %}">{% trans "Acceptable Use Policy" %}</a></li>
            <li><a href="{% url 'django.contrib.flatpages.views.flatpage' url='about/copyright-policy/' %}">{% trans "Copyright Policy" %}</a></li>
            <li><a href="{% url 'django.contrib.flatpages.views.flatpage' url='about/trademark-policy/' %}">{% trans "Trademark Policy" %}</a></li>
            <li><a href="{% url 'django.contrib.flatpages.views.flatpage' url='about/cookies/' %}">{% trans "Cookies" %}</a></li>
        </ul>
    </div>
    <div id="content" class="about-content">
        <h2>{{ flatpage.title }}</h2>
        {% if LANGUAGE_CODE == 'sv' %}
        <p>Samtliga villkor är skrivna på Engelska för att kunna tillgängliggöra villkoren för så många som möjligt av våra användare. Är det något i våra villkor & policies som du inte förstår och vill ha förklarat på Svenska, hör av dig till oss på <a href="mailto:info@apprl.com">info@apprl.com</a>.</p>
        {% endif %}
        <div class="dynamic-content">
            {{ flatpage.content }}
        </div>
    </div>
{% endblock body %}
