{% extends "base.html" %}
{% load i18n %}

{% block body %}

{% if not form %}
    {% blocktrans %}
        Your password has been changed.
    {% endblocktrans %}
{% else %}
    {% if form.temp_key.errors %}
        <div class="form-error">
            {{ form.temp_key.errors.0 }}
        </div>
    {% else %}
        
        <form action="{{ request.path }}" method="post" id="reset-password-form">
            {% csrf_token %}
            {{ form.temp_key }}
            <label>
                <span>{% trans "New password" %}</span>
                <input type="password" name="password1" />
            </label>
            <label>
                <span>{% trans "New password (again)" %}</span>
                {% if form.password2.errors %}
                    <span class="form-error">{{ form.password2.errors.0 }}</span>
                {% endif %}
                <input type="password" name="password2" />
            </label>
            
            <input type="submit" name="send" value="{% trans "Update password" %}" />
        </form>    
    {% endif %}
{% endif %}
{% endblock %}
