{% extends "base.html" %}
{% load i18n apparel_extras %}

{% block body-classes %}one-column accounts{% endblock body-classes %}
{% block body %}

<div id="content">
    <h1>{% trans "Login" %}</h1>
    {% url 'login-flow-redirect' as next_url %}
    {% if request.GET.next %}
    {% with next_url|add:"?next="|add:request.GET.next as next_url_extra %}{% facebook_button next=next_url_extra %}{% endwith %}
    {% else %}
    {% facebook_button next=next_url %}
    {% endif %}
    <p>{% trans "or:" %}</p>
    <form action="{% url 'auth_login' %}" method="post" class="standard-form">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'login-flow-redirect' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
        <ul>
            <li>
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}
            </li>
            <li>
                {{ form.password.label_tag }}
                {{ form.password }}
                {{ form.password.errors }}
                {% if form.errors %}
                <ul class="errorlist"><li>{% blocktrans %}Your username and password did not match. Please try again.{% endblocktrans %}</li></ul>
                {% endif %}
            </li>
            <li>
                <button class="btn btn-upper" type="submit">{% trans "Login" %}</button>
            </li>
        </ul>
    </form>
    <a class="underline" href="{% url 'auth_password_reset' %}">{% trans "Forgot password?" %}</a>
    <a class="underline" href="{% url 'auth_register' %}">{% trans "Sign up" %}</a>

</div>
{% endblock %}
