{% extends "base.html" %}
{% load apparel_extras %}
{% load i18n %}
{% block body-classes %}one-column{% endblock body-classes %}
{% block body %}
    <div id="content">
        <h2>{% trans "Log out" %}</h2>
        <p>
            {% trans "You have logged out" %}
        </p>
        <br />
        {% with STATIC_URL|add:'images/facebook-'|add:LANGUAGE_CODE|add:'.png' as facebook_login_image %}
            {% facebook_button facebook_login_image %}
        {% endwith %}
    </div>
{% endblock %}
