{% extends "base.html" %}
{% load i18n %}
{% block body-classes %}one-column{% endblock body-classes %}
{% block body %}

<div id="content">
{% if validlink %}

    <h2>{% trans 'Enter new password' %}</h2>
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    
    {% with "Reset password" as submit_text %}
        {% include "fragments/form.html" %}
    {% endwith %}
    
{% else %}

    <h2>{% trans 'Password reset unsuccessful' %}</h2>
    <p>{% trans "The password reset link was invalid, possibly because it has already been used." %} <a href="{% url 'auth_password_reset' %}">{% trans "Please request a new password reset." %}</a></p>

{% endif %}
</div>

{% endblock %}
