{% extends "base.html" %}
{% load i18n %}
{% block body-classes %}account password-reset{% endblock body-classes %}
{% block full-body %}
    <div class="container center">
        <h1>{% trans "Forgotten your password?" %}</h1>

        <p>{% trans "Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

        <div class="form-container">
            {% with "Reset" as submit_text %}
                {% include "fragments/form.html" %}
            {% endwith %}
        </div>
    </div>

{% endblock %}
{% block footer %}
{% endblock footer %}
