{% extends "base.html" %}
{% load i18n %}
{% block body-classes %}account password-reset{% endblock body-classes %}
{% block body %}

    <div class="body-header">
        <div class="body-header-col-full">
            <h1>{% trans "Forgotten your password?" %}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>{% trans "Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
            {% with "Reset" as submit_text %}
                {% include "fragments/form.html" %}
            {% endwith %}
        </div>
    </div>

{% endblock %}
