{% extends "base.html" %}
{% load i18n %}
{% block body-classes %}one-column accounts{% endblock body-classes %}
{% block body %}

{% if validlink %}

    <div class="body-header">
        <h1>{% trans "Enter new password" %}</h1>
    </div>

    <div class="container center">

        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <div class="form-container">
            {% with "Reset password" as submit_text %}
                {% include "fragments/form.html" %}
            {% endwith %}
        </div>

    </div>

{% else %}

    <div class="body-header">
        <h1>{% trans "Password reset unsuccessful" %}</h1>
    </div>

    <div class="container center">

        <p>{% trans "The password reset link was invalid, possibly because it has already been used." %} <a href="{% url 'auth_password_reset' %}">{% trans "Please request a new password reset." %}</a></p>

    </div>

{% endif %}

{% endblock %}