{% extends "base.html" %}
{% load i18n %}
{% block body-classes %}account password-reset{% endblock body-classes %}
{% block full-body %}
    <div class="container center">
        <h1>{% trans "Forgotten your password?" %}</h1>

        <p>{% trans "Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

        <div class="form-container">
            <form action="{{ request.path }}" method="post"{% if form_enctype %} enctype="{{ form_enctype }}"{% endif %} class="default-form">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-group{% if field.errors %} error{% endif %}">
                    <label for="id_{{ field.html_name }}">{% trans "Email address" %}</label>
                    <input name="email" type="text" id="id_email" value="">
                    {% if field.errors %}<span class="help-block">{{ field.errors.as_text }}</span>{% endif %}
                </div>
                {% endfor %}

                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-email-signup">{% trans "Reset" %}</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block footer %}
{% endblock footer %}
