{% extends "base.html" %}
{% load i18n %}

{% block body-classes %}account registration-complete{% endblock body-classes %}
{% block body %}

    <div class="body-header">
        <h1>{% trans "Check your e-mail!" %}</h1>
    </div>

    <div class="row center">
        <div class="col-lg-12">
            <p>{% trans "We have sent an e-mail to you.<br>To complete your signup, open that e-mail and click the link." %}</p>
            <br>
            <p>{% trans "If you can't find the confirmation e-mail,<br>check your spam folder or send the e-mail again:" %}</p>
            <form action="{% url 'auth_register_complete' %}" method="post">
                {% csrf_token %}
                <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                    <label for="id_{{ form.email.html_name }}">{{ form.email.label }}</label>
                    <input type="email" name="{{ form.email.html_name }}" class="form-control" id="id_{{ form.email.html_name }}">
                </div>
                <button class="btn btn-primary" type="submit">{% trans "Send e-mail again" %}</button>
                {% if request.GET.sent %}
                <span>{% trans "E-mail sent." %}</span>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}
