{% extends 'base.html' %}
{% load i18n %}

{% block body-classes %}admin-dashboard-kpi-page{% endblock body-classes %}
{% block body %}

    {% include 'apparel/admin/header.html' with title="Admin KPIs" %}

    <div class="row">
        <div class="col-sm-12">

            <p>Available query strings:</p>
            <dl class="dl-horizontal">
                <dt>is_month=1</dt>
                <dd>Interval is set to monthly</dd>
                <dt>is_year=1</dt>
                <dd>Interval is set to yearly</dd>
                <dt>date=YYYY-MM-DD</dt>
                <dd>Date of origin for interval. If date is set to 2013-11-17, the interval is created around that date, example:
                    <ul>
                        <li>Week: 2013-11-11 to 2013-11-17</li>
                        <li>Month: 2013-11-01 to 2013-11-30</li>
                        <li>Year: 2013-01-01 to 2013-12-31</li>
                    </ul>
                </dd>
                <dt>Example</dt>
                <dd>"?date=2013-10-17&is_month=1" produces the following interval: 2013-10-01 - 2013-10-31</dd>
            </dl>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% if is_month %}{% trans "Selected month" %}{% else %}{% trans "Selected week" %}{% endif %}<br>{{ col1_week_start|date }} - {{ col1_week_end|date }}</th>
                        <th>{% trans "Change %" %}</th>
                        <th>{% if is_month %}{% trans "Last month" %}{% else %}{% trans "Last week" %}{% endif %}<br>{{ col3_week_start|date }} - {{ col3_week_end|date }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>{% trans "Sales generated (€)" %}</strong></td>
                        <td>€{{ col1_total_sale }}</td>
                        <td>{{ col2_total_sale|floatformat:2 }}</td>
                        <td>€{{ col3_total_sale }}</td>
                    </tr>
                    <tr>
                        <td>{% trans " - APPRL" %}</td>
                        <td>€{{ col1_apprl_sale }}</td>
                        <td>{{ col2_apprl_sale|floatformat:2 }}</td>
                        <td>€{{ col3_apprl_sale }}</td>
                    </tr>
                    <tr>
                        <td>{% trans " - Publisher" %}</td>
                        <td>€{{ col1_publisher_sale }}</td>
                        <td>{{ col2_publisher_sale|floatformat:2 }}</td>
                        <td>€{{ col3_publisher_sale }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Commission (€)" %}</strong></td>
                        <td>€{{ col1_total_commission }}</td>
                        <td>{{ col2_total_commission|floatformat:2 }}</td>
                        <td>€{{ col3_total_commission }}</td>
                    </tr>
                    <tr>
                        <td>{% trans " - APPRL" %}</td>
                        <td>€{{ col1_apprl_commission }}</td>
                        <td>{{ col2_apprl_commission|floatformat:2 }}</td>
                        <td>€{{ col3_apprl_commission }}</td>
                    </tr>
                    <tr>
                        <td>{% trans " - Publisher" %}</td>
                        <td>€{{ col1_publisher_commission }}</td>
                        <td>{{ col2_publisher_commission|floatformat:2 }}</td>
                        <td>€{{ col3_publisher_commission }}</td>
                    </tr>

                    <tr>
                        <td>{% trans "Clicks" %}</td>
                        <td>{{ col1_clicks }}</td>
                        <td>{{ col2_clicks|floatformat:2 }}</td>
                        <td>{{ col3_clicks }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Sales" %}</td>
                        <td>{{ col1_sales }}</td>
                        <td>{{ col2_sales|floatformat:2 }}</td>
                        <td>{{ col3_sales }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Conversion rate" %}</td>
                        <td>{{ col1_conversion_rate|floatformat:2 }}%</td>
                        <td>{{ col2_conversion_rate|floatformat:2 }}</td>
                        <td>{{ col3_conversion_rate|floatformat:2 }}%</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average commission rate" %}</td>
                        <td>{{ col1_avg_commission|floatformat:2 }}%</td>
                        <td>{{ col2_avg_commission|floatformat:2 }}</td>
                        <td>{{ col3_avg_commission|floatformat:2 }}%</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average sale value" %}</td>
                        <td>€{{ col1_avg_sale|floatformat:2 }}</td>
                        <td>{{ col2_avg_sale|floatformat:2 }}</td>
                        <td>€{{ col3_avg_sale|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Active publishers" %}</td>
                        <td>{{ col1_active_publishers }}</td>
                        <td>{{ col2_active_publishers|floatformat:2 }}</td>
                        <td>{{ col3_active_publishers }}</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
