{% extends 'base.html' %}
{% load i18n l10n cache dashboard_extras %}
{% load static from staticfiles %}

{% block extra-title %}{% trans "Blog posts" %} | {% endblock %}
{% block extra-scripts %}
<script type="text/javascript" src="{% static "js/vendor/tablesort.min.js" %}"></script>
<script>
  $(document).ready(function() {
    $('.month-select, .year-select, .vendor-select').change(function() {
        var month = $('.month-select').find(':selected').data('month');
        var year = $('.year-select').find(':selected').data('year');
        var vendor = $('.vendor-select').find(':selected').data('vendor');
        window.location.href = '{% url "admin-posts" %}' + year + '/' + month + '/' + vendor + '/';
    });

    //new Tablesort($('table#posts-table').get(0));
    /* new Tablesort($('table#all-earnings').get(0));
    new Tablesort($('table#top-products').get(0));
    new Tablesort($('table#top-products-more').get(0));
    new Tablesort($('table#top-publishers').get(0));
    new Tablesort($('table#top-publishers-more').get(0));
    new Tablesort($('table#detail-clicks-more').get(0)); */
  });
</script>
{% endblock extra-scripts %}
{% block body-classes %}dashboard{% endblock body-classes %}
{% block body %}
    {% include "apparel/admin/header.html" with title="Admin Posts" %}
    <section class="container">
        <ul class="list-horizontal center">
                <li>Show statistics for: </li>
                <li>
                    <div class="select">
                        <span><i class="fa fa-caret-down"></i></span>
                        <select class="month-select">
                            {% for item_month in month_choices %}
                            <option data-month="{{ item_month.0 }}"{% if item_month.0 == month %} selected{%endif %}>{{ item_month.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </li>
                <li>
                    <div class="select">
                        <span><i class="fa fa-caret-down"></i></span>
                        <select class="year-select">
                            {% for item_year in year_choices %}
                            <option data-year="{{ item_year }}" {% if item_year == year %} selected{%endif %}>{{ item_year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </li>

                <li>
                    <div class="select">
                        <span><i class="fa fa-caret-down"></i></span>
                        <select class="vendor-select">
                            <option data-vendor="all" {% if "all" == vendor %} selected{%endif %}>All vendors</option>

                            {% for item_vendor in vendor_choices %}
                            <option data-vendor="{{ item_vendor.pk }}" {% if item_vendor.pk == vendor %} selected{%endif %}>{{ item_vendor.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </li>
            </ul>
    </section>

    <section class="container">
        <div class="col-lg-12 table-responsive">
            <h2>{% trans "Referer Links from Clicks" %}</h2>
            <table id="posts-table" class="sortable table table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-2 center">
                            <a href="?sort_by=user_id&order={% if sort_by == 'user_id' and order == 'desc' %}asc{% else %}desc{% endif %}">
                                {% trans "User ID" %} {% if sort_by == 'user_id' %}<i class="fa fa-caret-{% if order == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}
                            </a>
                        </th>
                        <th class="col-md-5 text-left">
                            <a href="?sort_by=referer&order={% if sort_by == 'referer' and order == 'desc' %}asc{% else %}desc{% endif %}">
                                {% trans "URL" %} {% if sort_by == 'referer' %}<i class="fa fa-caret-{% if order == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}
                            </a>
                        </th>
                        <th class="col-md-3 center">
                            <a href="?sort_by=created_date&order={% if sort_by == 'created_date' and order == 'desc' %}asc{% else %}desc{% endif %}">
                                {% trans "Date/time" %} {% if sort_by == 'created_date' %}<i class="fa fa-caret-{% if order == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}
                            </a>
                        </th>
                        <th class="col-md-2 center">
                            <a href="?sort_by=posts&order={% if sort_by == 'posts' and order == 'desc' %}asc{% else %}desc{% endif %}">
                                {% trans "Number of clicks" %} {% if sort_by == 'posts' %}<i class="fa fa-caret-{% if order == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'apparel/admin/fragments/posts_list.html' %}
                </tbody>
            </table>
        </div>
        {% if current_page %}
        <div class="pagination-simple">
            <span class="step-links">
                {% if current_page.has_previous %}
                    <a href="?page={{ current_page.previous_page_number }}">&laquo;</a>
                {% endif %}

                <span class="current">
                    Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}
                </span>

                {% if current_page.has_next %}
                    <a href="?page={{ current_page.next_page_number }}">&raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </section>
{% endblock body %}´

