{% extends 'base.html' %}
{% load i18n %}

{% block body-classes %}admin-dashboard-stores-page{% endblock body-classes %}
{% block body %}

    {% if user_id %}
    <div class="body-header">
        <div class="body-header-col-full">
            <h1>{% trans "Admin dashboard" %}</h1>
        </div>
    </div>
    {% else %}
    {% include 'apparel/admin/header.html' with title="Admin Stores" %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12">

            <h2>Displaying: {{ date_start|date }} - {{ date_end|date }}</h2>
            <p>Available query strings:</p>
            <dl class="dl-horizontal">
                <dt>is_month=1</dt>
                <dd>Interval is set to monthly</dd>
                <dt>is_year=1</dt>
                <dd>Interval is set to yearly</dd>
                <dt>date=YYYY-MM-DD</dt>
                <dd>Date of origin for interval. If date is set to 2013-11-17, the interval is created around that date, example:
                    <ul>
                        <li>Week: 2013-11-11 to 2013-11-17</li>
                        <li>Month: 2013-11-01 to 2013-11-30</li>
                        <li>Year: 2013-01-01 to 2013-12-31</li>
                    </ul>
                </dd>
                <dt>Example</dt>
                <dd>"?date=2013-10-17&is_month=1" produces the following interval: 2013-10-01 - 2013-10-31</dd>
            </dl>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Store" %}</th>
                        <th>{% trans "Clicks" %}</th>
                        <th>{% trans "Sales" %}</th>
                        <th>{% trans "Sales value" %}</th>
                        <th>{% trans "Commission value" %}</th>
                        <th>{% trans "Commission %" %}</th>
                        <th>{% trans "Conversion" %}</th>
                        <th>{% trans "EPC" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-transform:uppercase;padding-bottom:50px;"><strong>TOTAL</strong></td>
                        <td><strong>{{ clicks }}</strong></td>
                        <td><strong>{{ sales }}</strong></td>
                        <td><strong>€{{ sales_sum }}</strong></td>
                        <td><strong>€{{ commission }}</strong></td>
                        <td><strong>{{ actual_commission|floatformat:2 }}%</strong></td>
                        <td><strong>{{ conversion|floatformat:2 }}%</strong></td>
                        <td><strong>€{{ epc|floatformat:2 }}</strong></td>
                    </tr>
                    {% for affiliate, affiliate_data in affiliates.items %}
                    {% for vendor in affiliate_data.vendors %}
                    <tr>
                        <td>{{ vendor.vendor_object.name }}</td>
                        <td>{{ vendor.clicks }}</td>
                        <td>{{ vendor.sales }}</td>
                        <td>€{{ vendor.sales_sum }}</td>
                        <td>€{{ vendor.commission }}</td>
                        <td>{{ vendor.actual_commission|floatformat:2 }}%</td>
                        <td>{{ vendor.conversion|floatformat:2 }}%</td>
                        <td>€{{ vendor.epc|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td style="text-transform:uppercase;padding-bottom:50px;"><strong>{{ affiliate }} average</strong></td>
                        <td><strong>{{ affiliate_data.clicks }}</strong></td>
                        <td><strong>{{ affiliate_data.sales }}</strong></td>
                        <td><strong>€{{ affiliate_data.sales_sum }}</strong></td>
                        <td><strong>€{{ affiliate_data.commission }}</strong></td>
                        <td><strong>{{ affiliate_data.actual_commission|floatformat:2 }}%</strong></td>
                        <td><strong>{{ affiliate_data.conversion|floatformat:2 }}%</strong></td>
                        <td><strong>€{{ affiliate_data.epc|floatformat:2 }}</strong></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
