{% load i18n %}
<div class="dialog-container">
    <h1>
        {% trans "Invite friends" %}
        <a class="close" href="#">{% trans "Close" %}</a>
    </h1>
    <form method="post" action="{% url beta.views.invite %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
    <div class="content">
        <p>
            {% blocktrans %}Right now a limited number of people have access to Apparelrow.{% endblocktrans %}
            {% blocktrans count invites_count as counter %}You can invite 1 friend:{% plural %}You can invite {{ counter }} friends:{% endblocktrans %}
        </p>
        {% for i in display_count %}
        <p class="email-field">{% trans "E-mail address" %}: <input type="text" name="email" /></p>
        {% endfor %}
        <p class="add-another-field"><a href="#">{% trans "Add more e-mail addresses" %}</a></p>
        <p>
            {% trans "Message" %}:
        </p>
        <textarea name="email-message" id="email-message" placeholder="{% blocktrans %}Follow me on Apparelrow{% endblocktrans %}!"></textarea>
    </div>
    <div class="dialog-footer">
        <input type="submit" name="submit" value="{% trans "Send" %}">
    </div>
    </form>
</div>
<p class="email-field-template" style="display: none">{% trans "E-mail address" %}: <input type="text" name="email" /></p>
<script type="text/javascript">
jQuery(document).ready(function() {
    var invites_count = {{ invites_count }};
    var current_count = jQuery('.email-field').length;
    if(current_count >= invites_count) {
        jQuery('.add-another-field').remove();
    } else {
    jQuery('.add-another-field a').click(function(e) {
            current_count++;
            jQuery(this).parent().before(jQuery('.email-field-template').clone().removeClass('email-field-template').addClass('email-field').show());
            if(current_count >= invites_count) {
                jQuery('.add-another-field').remove();
            }
            return false;
        });
    }

    {% comment %}
    // Check for placeholder support and use js instead
    // IE versions <= 9 does not support placeholder
    // Could be integerated into jQuery.support
    {% endcomment %}
    if ('placeholder' in document.createElement('input') == false) {
        var input = jQuery("<input>").attr({"type":"hidden", "name":"modified"});
        var email_message = jQuery("textarea[name=email-message]");
        email_message.closest("form").submit(function() {
            if (email_message.attr("value") == jQuery(email_message).attr("placeholder")) {
                email_message.attr("value", '');
            }
        });
        email_message.focus(function() {
            if (this.value == jQuery(this).attr("placeholder")) {
                this.value = '';
            }
        });
        email_message.blur(function() {
            if (this.value == '') {
                this.value = jQuery(this).attr("placeholder");
            }
        });
        email_message.attr("value", email_message.attr("placeholder"));
    }
});
</script>
