{% load i18n %}
<html>
    <head></head>
    <body>
        <p>{% trans "Hi!" %}</p>
        <p>{% blocktrans %}{{ name }} has invited you to the beta version of Apparelrow.{% endblocktrans %} - {% blocktrans %}A service that makes it more easy and fun to find clothes and be inspired by your friends.{% endblocktrans %}</p>
        {% if message %}
        <p>{{ name }} {% trans "says" %}:<br />
        "{{ message|escape }}"</p>
        {% endif %}
        <p>{% blocktrans %}To enter the site, go to <a href="{{ domain }}">{{ domain }}</a> and log in with:{% endblocktrans %}<br />
        {% blocktrans %}E-mail: {{ email }}{% endblocktrans %}<br />
        {% blocktrans %}Invite code: {{ password }}{% endblocktrans %}</p>
        <p>{% trans "Then log in with your Facebook account on the site to find your friends." %}</p>
        <p>{% trans "See you!" %}<br />
        {% trans "/ Apparelrow" %}</p>
    </body>
</html>
