@import compass/reset
@import compass/css3
@import compass/utilities

@import partials/base.sass

body
  +font
  +typography
  background: white image_url('') no-repeat center 61px
  padding-bottom: 20px
  #header-container
    margin: 0 auto
    background: transparent image_url("landing-header-bg.png") scroll repeat-x left top
    max-width: 1280px
    height: 67px
    h1
      position: absolute
      left: 50%
      margin-left: -84px
      +replace-text("logo.png")
      width: 128px
      height: 13px
      padding: 20px 20px 10px 20px
      +border(bottom, #999999)
  #link-container
    width: 510px
    margin: 4px auto 0 auto
    .men, .women
      display: block
      width: 252px
      height: 52px
      line-height: 54px
      font-size: 1.25em
      text-transform: uppercase
      text-align: center
      background-color: $white_color
    .men
      float: right
      background: transparent image_url("big-right-button.png") scroll no-repeat left top
      &:hover
        color: $white_color
        background: transparent image_url("big-right-button-hover.png") scroll no-repeat left top
    .women
      float: left
      background: transparent image_url("big-left-button.png") scroll no-repeat left top
      &:hover
        color: $white_color
        background: transparent image_url("big-left-button-hover.png") scroll no-repeat left top

  .content
    +border(all)
    +single-box-shadow(rgba(0,0,0,0.5), 1px, 1px, 51px)
    margin: 8em auto 0 auto
    width: 468px
    background-color: $white_color
    padding: 20px
    p
      margin: 2em 0
      a
        color: $highlight_color
    &.jobs
      h2
        margin: 0 0 1em 0
        font-size: 2em
        +border(bottom)
        padding-bottom: 5px
        text-align: center
      h3
        margin-top: 3em
        font-size: 1.1em
        font-weight: 500
        +border(bottom)
        padding-bottom: 5px
      p
        font-size: 1.1em
      .center
        text-align: center
      .swedish, .english
        p
          margin: 10px 0

  #beta-container
    +border(all)
    +single-box-shadow(rgba(0,0,0,0.5), 1px, 1px, 51px)
    margin: 8em auto 0 auto
    width: 468px
    background-color: $white_color
    padding: 20px
    h2
      margin: 0
      padding-bottom: 20px
      font-size: 2em
      text-transform: uppercase
      text-align: center
    h3
      margin: 1.6em 0
      font-size: 1.25em
      font-weight: bold
    p
      margin: 2em 0
      font-size: 1.1em
      a
        color: $highlight_color
    form
      +clearfix()
    input
      +text_input
      outline: none
      width: 214px
      height: 30px
      display: block
      font-size: 1.1em
      background-color: $white_color
      margin: 0
      padding: 0 8px
      &.default
        font-style: italic
      &.left
        float: left
      &.right
        float: right
      &.error
        background: $like_color + #666
        border-color: $like_color
    button
      +button(none, 30px, 3px)
      width: 230px
      height: 30px
      float: right
      margin: 0
      padding: 0
      font-size: 1.1em
      text-transform: uppercase
      color: $font_color
      box-sizing: content-box
      -webkit-box-sizing: content-box
      -moz-box-sizing: content-box
    .error-message
      clear: both
    #request-invite
      padding-bottom: 1.5em
      +border(bottom)
    #use-invite
      button
        +highlight_button(30px)
        width: 466px
        height: 30px
        margin-top: 1.5em
    .italic
      font-style: italic
