{% load i18n %}
<div class="body-header">
    <div class="body-header-col-full">
        <h1>{% trans "About" %}</h1>
        <ul class="list-inline">
            <li><h2><a{% if 'about' in request.path %} class="selected"{% endif %} href="{% url 'about' %}">{% trans "Apprl" %}</a></h2></li>
            <li><h2><a{% if 'founders' in request.path %} class="selected"{% endif %} href="{% url 'founders' %}">{% trans "The founders" %}</a></h2></li>
            <li><h2><a{% if 'jobs' in request.path %} class="selected"{% endif %} href="{% url 'jobs' %}">{% trans "Join our team" %}</a></h2></li>
        </ul>
    </div>
</div>
