{% extends "base.html" %}
{% load i18n %}
{% load cache %}
{% load apparel_extras %}

{% block extra-title %}{% if APPAREL_GENDER == 'M' %}{% trans "Brands Men" %}{% else %}{% trans "Brands Women" %}{% endif %} | {% endblock %}

{% block body-header %}
<div id="body-header">
    <div class="column_one">
        <h1 class="max-width">{% trans "Brands" %}</h1>
    </div>
</div>
{% endblock body-header %}
{% block body-classes %}three-columns brand-list{% endblock body-classes %}
{% block body %}
    <div class="sidebar">
        <h2>{% trans "Most followed" %}</h2>
        <ul class="suggested-friends">
        {% for profile in popular_brands %}
            <li>
            {% include 'apparel/fragments/avatar_link_no_cache.html' %}
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="content">
        {% if APPAREL_GENDER = 'M' %}
            {% include 'apparel/generated/brand_list_men.html' only %}
        {% elif APPAREL_GENDER = 'W' %}
            {% include 'apparel/generated/brand_list_women.html' only %}
        {% endif %}
        <p id="back-top"><a href="#top"><span>{% trans "Back to Top" %}</span></a></p>
    </div>
    <div class="sidebar last">
        <h2>{% trans "Your friends like" %}</h2>
        {% if not user.is_authenticated %}
            <div>{% trans "Sign up to see what your friends like." %}</div>
            <a class="btn btn-upper btn-positive btn-signup" href="{% url 'auth_register' %}">{% trans "Sign up" %}</a>
        {% else %}
            {% include 'apparel/fragments/products_sidebar.html' with products=popular_products CACHE_TIMEOUT=CACHE_TIMEOUT LANGUAGE_CODE=LANGUAGE_CODE only %}
        {% endif %}
    </div>
{% endblock body %}
