{% extends "base.html" %}
{% load i18n %}
{% load cache %}
{% load apparel_extras %}

{% block extra-title %}{% if APPAREL_GENDER == 'M' %}{% trans "Brands Men" %}{% else %}{% trans "Brands Women" %}{% endif %} | {% endblock %}

{% block body-classes %}three-columns brand-list{% endblock body-classes %}

{% block body %}
    <div class="sidebar">
        <h2>{% trans "Popular brands" %}</h2>
        {% for brand, products in popular_brands %}
        <a class="title" href="{% url brand-redirect brand.id %}"><h3>{{ brand.name }}</h3></a>
        {% include 'apparel/fragments/follow.html' with profile=brand.profile %}
        {% include 'apparel/fragments/products_sidebar.html' with products=products CACHE_TIMEOUT=CACHE_TIMEOUT LANGUAGE_CODE=LANGUAGE_CODE only %}
        {% endfor %}
    </div>
    <div id="content">
        <ul class="alphabet-list">
        {% for brand_char, brand_empty, _ in brands %}
            {% if brand_empty %}
            <li class="empty">{{ brand_char }}</li>
            {% else %}
            <li><a href="#{{ brand_char }}">{{ brand_char }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>

        {% for brand_char, brand_empty, brand_list in brands %}
            {% if not brand_empty %}
            <div class="brand-container">
                <div class="brand-anchor"><a name="{{ brand_char }}">{{ brand_char }}</a></div>
                <ul class="brands">
                {% for brand in brand_list %}
                    <li><a href="{% url brand-redirect brand.id %}">{{ brand.name }}</a></li>
                {% endfor %}
                </ul>
                <br>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="sidebar last">
        <h2>{% trans "Popular brands in your network" %}</h2>
        {% if not user.is_authenticated %}
            <div>{% trans "To see popular brands in your network you need to connect with your Facebook account." %}</div>
            {% with MEDIA_URL|add:'images/facebook-'|add:LANGUAGE_CODE|add:'.png' as facebook_login_image %}
                {% facebook_button facebook_login_image %}
            {% endwith %}
        {% else %}
            {% for brand, products in popular_brands_in_network %}
            <a class="title" href="{% url brand-redirect brand.id %}"><h3>{{ brand.name }}</h3></a>
            {% include 'apparel/fragments/follow.html' with profile=brand.profile %}
            {% include 'apparel/fragments/products_sidebar.html' with products=products CACHE_TIMEOUT=CACHE_TIMEOUT LANGUAGE_CODE=LANGUAGE_CODE only %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock body %}
