{% extends "base.html" %}
{% load i18n %}

{% block extra-title %}{% if APPAREL_GENDER == 'M' %}{% trans "Brands Men" %}{% else %}{% trans "Brands Women" %}{% endif %} | {% endblock %}

{% block body-classes %}brand-list{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="content-header">
                <h1><span class="icon-slash-a"></span>{% trans "Brands" %}</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% if APPAREL_GENDER = 'M' %}
                {% include 'apparel/generated/brand_list_men.html' only %}
            {% elif APPAREL_GENDER = 'W' %}
                {% include 'apparel/generated/brand_list_women.html' only %}
            {% endif %}
        </div>
    </div>
{% endblock %}
