  <ul class="alphabet-list">
  {% for brand_char, brand_list in brands %}
      {% if not brand_list %}
      <li class="empty">{{ brand_char }}</li>
      {% else %}
      <li><a href="#{{ brand_char }}">{{ brand_char }}</a></li>
      {% endif %}
  {% endfor %}
  </ul>

  {% for brand_char, brand_list in brands %}
      {% if brand_list %}
      <div class="brand-container">
          <div class="brand-anchor"><a name="{{ brand_char }}">{{ brand_char }}</a></div>
          <ul class="brands">
          {% for brand in brand_list %}
              <li><a href="{{ brand.url_likes }}">{{ brand.brand.name }}</a></li>
          {% endfor %}
          </ul>
          <br>
      </div>
      {% endif %}
  {% endfor %}
