{% extends 'base.html' %}
{% load i18n apparel_extras %}

{% block extra-title %}{% if gender == 'M' %}{% trans "Shop Men" %}{% else %}{% trans "Shop Women" %}{% endif %} | {% endblock %}

{% block extra-styles %}
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
{% endblock extra-styles %}
{% block 'extra-scripts' %}
    {% include 'apparel/fragments/browse_scripts.html' %}
{% endblock 'extra-scripts' %}

{% block body-classes %}shop product-list{% endblock body-classes %}
{% block full-body %}
<div class="container">
    <div class="row content-header">
        <div class="col-lg-5">
            <h1><span class="icon-slash-a"></span>{% if gender == 'M' %}{% trans "Shop Men" %}{% elif gender == 'W' %}{% trans "Shop Women" %}{% else %}{% trans "Shop" %}{% endif %}</h1>
        </div>
        <div class="col-lg-7">
            <ul class="shop-view list-inline">
                <li><a href="?view=all" data-view="all" class="selected">{% trans "Show all" %}</a></li>
                <li><a href="?view=friends" data-view="friends">{% trans "My friends" %}</a></li>
                <li><a href="?view=brands" data-view="brands">{% trans "My brands" %}</a></li>
            </ul>
        </div>
    </div>
    {% include 'apparel/product_list.html' %}

</div>

{% endblock full-body %}
