{% extends 'base.html' %}
{% load i18n %}
{% load mptt_tags %}
{% load apparel_extras %}
{% block extra-title %}{% trans "Browse" %} | {% endblock %}

{% block 'extra-styles' %}
    <style type="text/css">
        .tooltip {
            display: none;
            width: 699px;
            height: 478px;
            -moz-box-shadow: 0 0 1em black;
            -webkit-box-shadow: 0 0 1em black;
            z-index: 200;
        }
    </style>
{% endblock 'extra-styles' %}
{% block 'extra-scripts' %}
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.history.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.fixedscroll.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/filtersetup.js"></script>
    <script type="text/javascript">

        var pagination = {
            recalculate: function(page) {
                var on_ends      = 2;   // FIXME: These constants should come from the server
                var on_each_side = 3;
                var num_pages = this.data.paginator.num_pages;
                
                this.data.pagination.right = null;
                this.data.pagination.left  = null;
                this.data.pagination.mid   = [];
                
                if(num_pages <= (on_ends * 2) + (on_each_side * 2)) {
                    for(var i = 1; i <= num_pages; i++) {
                        this.data.pagination.mid.push(i);
                    }
                } else {
                    if(page <= on_ends + on_each_side + 1) {
                        for(var i = 1; i <= page; i++) {
                            this.data.pagination.mid.push(i);
                        }
                    } else {
                        this.data.pagination.left = [];
                        for(var i = 1; i <= on_ends; i++) {
                            this.data.pagination.left.push(i);
                        }
                        for(var i = page - on_each_side; i <= page; i++) {
                            this.data.pagination.mid.push(i);
                        }
                    }
                    
                    if(page >= num_pages - (on_ends + on_each_side + 1)) {
                        for(var i = page + 1; i <= num_pages; i++) {
                            this.data.pagination.mid.push(i);
                        }
                    } else {
                        this.data.pagination.right = [];
                        for(var i = page + 1; i <= on_each_side + page; i++) {
                            this.data.pagination.mid.push(i);
                        }
                        for(var i = num_pages - on_ends + 1; i <= num_pages; i++) {
                            this.data.pagination.right.push(i);
                        }                        
                    }
                }
                                
                this.data.next_page_number     = (page < num_pages) ? page + 1 : null;
                this.data.previous_page_number = (page > 1)         ? page - 1 : null;
                this.data.number = page;
            },
            /* This variable contains the pagination data. It needs to be populated 
               with before rendering/recalculation may happen. This is the structure:
                - next_page_number      Integer or null if on last page
                - previous_page_number  Integer or null if on first page
                - pagination
                    left                Array with page numbers on the left of ... null if there is nothing to display
                    mid                 Array with page numbers on in the middle of the ...
                    right               Array with page numbers on the right of ... null if there is nothing to display
                - paginator
                    count               ?
                    num_pages           Total number of pages
                - number                Current page number
            */
            data: {
                pagination: {{ pagination|export_as_json}},
                paginator: {
                    {# The Pagination object is not currently exportable... #}
                    count: {{ pages.0.paginator.count }},
                    num_pages: {{ pages.0.paginator.num_pages }}
                },
                number: {{ pages.0.number }}
            },
            render: function() {
                try {
                    $('#pagination').empty();
                    $('#pagination_template').render({products: this.data}).appendTo('#pagination');
                } catch(e) {
                    console.log(e)
                }
            }
        };
        
        var pricerange = {
            min: {{ pricerange.min }},
            max: {{ pricerange.max }}
        };

        var baseQuery = {};
        var baseIndex = 0;
        
        jQuery(document).ready(function() {
            // Initialize jquery history plugin with our filter
            var firstLoad = true;
            if(location.search.length > 1) {
                
                var pairs = location.search.substr(1).split('&');
                for(var i = 0; i < pairs.length; i++) {
                    keyval = pairs[i].split('=');
                    if(/^(\d+):/.test(unescape(keyval[0])))
                        baseIndex = Math.max(RegExp.$1, baseIndex);
                    
                    baseQuery[unescape(keyval[0])] = unescape(keyval[1])
                }
            }
            
            jQuery.history.init(function(hash) {
                
                // This is slightly contrived. On first load, only filter if we have something in the hash.
                // If so, hide the content to avoid flashing the products in the page, then show content again
                // and render products.
                // If it's not the first load, just filter products.
                if(firstLoad) {
                    firstLoad = false;
                    if(hash != "") {
                        jQuery('#content').hide();
                        doFilter(hash, function(response) {
                            jQuery('#content').show();
                            renderProducts(response);
                        });
                    }
                } else {
                    doFilter(hash, this.filterCallback);
                    this.filterCallback = null;
                }
            });
            // Tooltips FIXME: Fix this, so it works with ajax fetched stuff and looks nice
            // jQuery('#product-list > ul > li').tooltip({ effect: 'slide', position: 'bottom center', offset: [170, 0], relative: true });
            cloneProducts(jQuery('#product-list > ul > li > ul > li'));
            // Fixed scrolling
            //jQuery('#content').fixedscroll();

            // Reset button
            jQuery('#reset').click(function() {
                $('.selected').removeClass('selected');
                baseQuery = {};
                baseIndex = 0;
                filter(getQuery());
                return false;
            });
            jQuery('.options .reset').click(function(e) {
                var link = jQuery(this);
                
                switch(link.closest('li').attr('id')) {
                    case 'product-price':
                        // Move slider to min and max
                        var slider = jQuery('#price-slider').data('slider');
                            slider.values([slider.option('min'), slider.option('max')]);
                        break;
                    case 'product-color':
                        // Uncheck all colours
                        jQuery('ul > li', link.closest('.popup'))
                            .find('.selected')
                            .removeClass('selected');
                            
                        break;
                    case 'product-manufacturers':
                        jQuery("input[name=brand]")
                            .val('')
                            .keyup();
                        
                        jQuery('ul > li', link.closest('.popup'))
                            .find('.selected')
                            .removeClass('selected');
                        
                        break;
                    default:
                        return false;
                }
                
                filter(getQuery());
                return false;
            });
            jQuery('.options li > a').click(function() {
                jQuery(this).toggleClass('selected');
                return false;
            });
            jQuery('#product-price form').submit(function() {
                filter(getQuery({criterion: 'price'}));
                return false;
            });
            jQuery('#product-color form').submit(function() {
                filter(getQuery({criterion: 'color'}));
                return false;
            });
            jQuery('#product-manufacturers form').submit(function() {
                filter(getQuery({criterion: 'manufacturer'}));
                return false;
            });
            jQuery('#product-gender li > a').click(function() {
                $this = jQuery(this);
                if(! $this.is('.selected')) {
                    $this.addClass('selected');
                    $this.parent().siblings().find('a').removeClass('selected');
                    filter(getQuery());
                }
                return false;
            });
            jQuery('#product-category li > a').click(function() {
                filter(getQuery({ criterion: 'category'}));
                return false;
            });
            jQuery('#pagination a').live('click', function(e) {
                // FIXME: Move out logic to section that handles page-swapping
                
                var link = jQuery(this);
                var page = parseInt(link.attr('href').split('=')[1]);
                
                if(page == 0 || page > pagination.data.paginator.num_pages)
                    return false;
                
                if(jQuery('#page-' + page).length == 0) {
                    filter(getQuery({page: page}), function(response) {
                        renderPage(response);
                        jQuery('#product-list').data('scrollable').seekTo(jQuery('#page-' + page).index(), 400);
                    });
                } else {
                    pagination.recalculate(page);
                    pagination.render();
                    jQuery('#product-list').data('scrollable').seekTo(jQuery('#page-' + page).index(), 400);
                }
                return false;
            });
            jQuery('#product-list').scrollable({
                items: 'ul.list',
                onBeforeSeek: function() { jQuery('#hover-products > li').hide() }
            });
            
            /**
             * BROWSE PAGE DEFAULTS
             * This allows manipulating the browse page interface on page load 
             * from the query string.
             * 
             * Syntax
             *  ?defaults=action|argument&...
             *  
             *  action      An named action see switch statement below
             *  argument    Optional argument passed with action
             * 
             * Any number of 'defaults' query parameters may be present
             * The actions will be performed in the same order as they appear in
             * the query string
             * 
             */
            jQuery.each(location.search.split('&'), function(i, e) {
                var pair = e.split('=');
                if(pair[0] != 'defaults') return;
                var value = unescape(pair[1]).split('|');
                
                switch(value[0]) {
                    case 'manufacturer-dialog':
                        // Show manufacturers filter dialog
                        jQuery('#product-manufacturers > a').click();
                        break;
                        
                    case 'manufacturer-dialog-filter':
                        // Set and perform a filter om the manufacturer dialog
                        jQuery('#product-manufacturers input[name=brand]')
                            .attr('value', value[1])
                            .keyup()
                            .focus();
                        break;
                        
                    case 'price-dialog':
                        // Show price dialog
                        jQuery('#product-price > a').click();
                        break;
                        
                    case 'color-dialog':
                        // Show colour dialog
                        jQuery('#product-color > a').click();
                        break;
                    
                    default:
                        console.error('Action ', value[0], ' not implemented');
                }
            });
        });
        function getQuery(query) {
            index = baseIndex;
            query = query || {}
            for(var key in baseQuery)
                query[key] = baseQuery[key]
            
            category_list = getElementIds(jQuery('#product-category li > a.selected'));
            if(category_list.length > 0) {
                query[++index + ':c.id:in'] = category_list.join(',');
                if('o' in query)
                    query['o'] += 'a' + index
            }
            manufacturer_list = getElementIds(jQuery('#product-manufacturers li > a.selected'));
            if(manufacturer_list.length > 0) {
                query[++index + ':m.id:in'] = manufacturer_list.join(',');
                if('o' in query)
                    query['o'] += 'a' + index
            }
            gender_list = getElementIds(jQuery('#product-gender li > a.selected'));
            if(gender_list.length > 0) {
                query[++index + ':p.gender'] = gender_list[0];
                if('o' in query)
                    query['o'] += 'a' + index
            }
            color_list = getElementIds(jQuery('#product-color li > a.selected'));
            if(color_list.length > 0) {
                query[++index + ':o.color:in'] = color_list.join(',');
                if('o' in query)
                    query['o'] += 'a' + index
            }
            if(jQuery('#product-price > a').is('.selected')) {
                query[++index + ':vp.price:range'] = 
                      jQuery("input[name=pricerange_min]").val()
                    + ',' 
                    + jQuery("input[name=pricerange_max]").val();
                if('o' in query)
                    query['o'] += 'a' + index
            }
            
            return query;
        }
        function getElementIds(elements) {
            return jQuery.map(elements, function(element) {
                return element.id.split('-')[1];
            });
        }
        
        function filter(query, callback) {
            // FIXME: History hack. It is not possible to set location.hash and then call
            // doFilter(...) as that will invoke the call twice with a different callback
            // The current workaround is this:
            // 1) Only let the jQuery.history callback invoke doFilter()
            // 2) If a callback other than renderProducts is required, set the filterCallback property
            //    It will be cleaned up after first use
            // Anyone with a better, cleaner idea how to solve this, just go ahead and implement it. This doesn't feel so nice
            jQuery.history.filterCallback = callback;
            window.location.hash = jQuery.param(query) || '!';
        }
        function doFilter(query, callback) {
            jQuery.getJSON('{% url apparel.views.browse %}', query, callback || renderProducts);
        }
        function renderPage(products) {
            // Find the pages in the response
            jQuery('ul.list > li', products.html)
            // Filter out pages that we already have
            .filter(function(i) { return jQuery('#' + this.id).length == 0 })
            // Iterate over each page
            .each(function(i, page) {
                // Find the correct place for the page
                var existingPages = jQuery('#product-list > ul.list > li');
                var nextPage = existingPages.filter(function(i) {
                    return this.id.split('-')[1] > parseInt(page.id.split('-')[1])
                }).first();

                if(nextPage.length == 1) {
                    // There are pages that should be after this one in the list
                    nextPage.before(page);
                } else if(existingPages.length > 0) {
                    // This should be the last page in the list
                    existingPages.last().after(page);
                } else {
                    // There are no other pages
                    jQuery('#product-list > ul.list').append(page);
                }
            });
            cloneProducts(jQuery('#product-list > ul > li > ul > li'));
            
            jQuery('#pagination').replaceWith(jQuery('#pagination', products.html));
            
            if(location.hash && location.hash != '#!') {
                jQuery('#reset').show()
            } else {
                jQuery('#reset').hide()
            }
        }
        function filterCriteria(criteria_filter) {
            if('manufacturers' in criteria_filter) {
                applyCriteriaFilter({ 
                    'selector': '#product-manufacturers .option-content li > a', 
                    'criteria': criteria_filter['manufacturers'],
                    'add': function(o) { o.parent().addClass('filtered'); },
                    'remove': function(o) { o.parent().removeClass('filtered');  },
                });
            }
            
            if('categories' in criteria_filter) {
                applyCriteriaFilter({ 
                    'selector': '#product-category li > a', 
                    'criteria': criteria_filter['categories'],
                    'add': function(o) { o.parent().addClass('filtered'); },
                    'remove': function(o) { 
                        o.parent().removeClass('filtered');
                        if(o.parent().parent().attr('id') != 'product-category') {
                            // If the element is part of a sub category, ensure its
                            // parent is also not filtered. 
                            // FIXME: This does currently only work for a one level deep hierarchy
                            // FIXME: Is there an easier way to look up in the hierarchy?
                            o.parent().parent().parent().removeClass('filtered');
                        }
                    },
                });
            }
            
            if('options' in criteria_filter) {            
                applyCriteriaFilter({ 
                    'selector': '#product-color .option-content li > a', 
                    'criteria': criteria_filter['options'],
                    'add': function(o) { o.addClass('filtered'); },
                    'remove': function(o) { o.removeClass('filtered');  },
                });

                // FIXME: Add size here aswell
            }
        }
        
        function applyCriteriaFilter(args) {
            //selector, criteria, cb_add, cb_remove) {
            jQuery(args.selector).each(function() {
                $this = jQuery(this);
                if (args.criteria.length == 0 || jQuery.inArray(this.id.split('-')[1], args.criteria) >= 0) {
                    args.remove($this);
                } else {
                    args.add($this);
                }
            });
        }
        
        function renderProducts(products) {
            $('#product-count').text(
                interpolate(ngettext(
                    '%s product', 
                    '%s products', 
                    products.paginator.count
                ), [products.paginator.count])
            );
            // $('#product_count_template').render({ products: products }).appendTo('#product-count');
            jQuery('#product-list > ul').empty();
            renderPage(products);
            jQuery('#product-list').data('scrollable').begin();
            filterCriteria(products.criteria_filter);
            
        }
    </script>
{% endblock 'extra-scripts' %}

{% block body-classes %}two-columns{% endblock body-classes %}

{% block body %}
        <div class="sidebar">
            {% include 'apparel/fragments/product_menu_browse.html' %}
        </div>
        <div id="content">
            {% with pages|first as products %}
            <h2 id="product-count">
                {% blocktrans count products.paginator.count as counter %}{{ counter }} product{% plural %}{{ counter }} products{% endblocktrans %}
            </h2>
            {% endwith %}
            {% include 'apparel/fragments/product_list.html' %}
        </div>
{% endblock body %}
