{% extends 'base.html' %}
{% load i18n %}
{% load mptt_tags %}

{% block extra-title %}{% trans "Browse" %} | {% endblock %}

{% block 'extra-styles' %}
    <style type="text/css">
        .tooltip {
            display: none;
            width: 699px;
            height: 478px;
            -moz-box-shadow: 0 0 1em black;
            -webkit-box-shadow: 0 0 1em black;
            z-index: 200;
        }
    </style>
{% endblock 'extra-styles' %}
{% block 'extra-scripts' %}
    <script type="text/javascript" src="/site_media/static/js/jquery.fixedscroll.js"></script>
    <script type="text/javascript" src="/site_media/static/js/jquery.jqote2.js"></script>
    <script type="text/javascript" src="/site_media/static/js/resig.js"></script>
    <script type="text/javascript" src="/site_media/static/js/filtersetup.js"></script>
    <script type="text/javascript">
        /*
        jQuery(window).load(function() {
            if(window.location.hash) {
                doFilter(window.location.hash.substr(1));
            }
        });
        */
        var pricerange = {
            min: {{ pricerange.min }},
            max: {{ pricerange.max }}
        }
        jQuery(document).ready(function() {
            // Tooltips FIXME: Fix this, so it works with ajax fetched stuff and looks nice
            // jQuery('#product-list > ul > li').tooltip({ effect: 'slide', position: 'bottom center', offset: [170, 0], relative: true });
            // Fixed scrolling
            //jQuery('#content').fixedscroll();
            // Reset button
            jQuery('#reset').click(function() {
                $('.selected').removeClass('selected');
                filter(getQuery());
                return false;
            });
            jQuery('.options form').submit(function() {
                filter(getQuery());
                return false;
            });
            jQuery('#product-gender li > a').click(function() {
                jQuery(this).toggleClass('selected');
                jQuery(this).parent().siblings().find('a').removeClass('selected');
                filter(getQuery());
                return false;
            });
            jQuery('#product-category li > a').click(function() {
                filter(getQuery());
                return false;
            });
            jQuery('#pagination a').live('click', function() {
                filter(getQuery($(this).attr('href').split('=')[1]));
                return false;
            });
            product_template = jQuery.template('{{ product_template|escapejs }}');
        });
        function getQuery(page_number) {
            index = 0;
            query = {};
            category_list = getElementIds(jQuery('#product-category li > a.selected'));
            if(category_list.length > 0) {
                query[++index + ':c.id:in'] = category_list.join(',');
            }
            manufacturer_list = getElementIds(jQuery('#product-manufacturers li > a.selected'));
            if(manufacturer_list.length > 0) {
                query[++index + ':m.id:in'] = manufacturer_list.join(',');
            }
            gender_list = getElementIds(jQuery('#product-gender li > a.selected'));
            if(gender_list.length > 0) {
                query[++index + ':o.gender:in'] = gender_list.join(',');
            }
            color_list = getElementIds(jQuery('#product-color li > a.selected'));
            if(color_list.length > 0) {
                query[++index + ':o.color:in'] = color_list.join(',');
            }
            if(jQuery('#product-price > a').is('.selected')) {
                query[++index + ':vp.price:range'] = jQuery('#price-slider').slider('values', 0) + ',' + jQuery('#price-slider').slider('values', 1);
            }
            if(page_number) {
                query['page'] = page_number;
            }
            return query;
        }
        function getElementIds(elements) {
            return jQuery.map(elements, function(element) {
                return element.id.split('-')[1];
            });
        }
        function filter(query) {
            window.location.hash = jQuery.param(query);
            doFilter(query);
        }
        function doFilter(query) {
            jQuery.getJSON('{% url apparel.views.search "products" %}', query, renderProducts);
        }
        function renderProducts(products) {
            jQuery('#product-list > ul').empty();
            /*
            template.render(jQuery('#product-list'), products, product_template,
                function(obj) {
                    return template.getTemplateContext({
                        'product': {
                            'object': obj,
                            'properties': ['id', 'product_image', 'product_name', 'get_absolute_url']
                        },
                    });
                }
            );*/
            $('#product-count').empty();
            $('#product-count').append(tmpl('product_count_template', { products: products }));
            try {
                $('#pagination').empty();
                $('#pagination').append(tmpl('pagination_template', { products: products }));
            } catch(e) {
                console.log(e)
            }
            $.each(products.object_list, function(i, product) {
                    try {
                    $('#product-list > ul').append(tmpl('product_template', { product: product }));
                    } catch (e) {
                    console.log(e);
                    }
            });
        }
    </script>
{% endblock 'extra-scripts' %}

{% block body-classes %}two-columns{% endblock body-classes %}

{% block body %}
        <div class="sidebar">
            {% include 'apparel/fragments/product_menu.html' %}
        </div>
        <div id="content">
            <h2><span id="product-count">{% include 'apparel/fragments/product_count.html' %}</span> {% trans "products" %}</h2>
            <div id="product-list">
                <ul>
                {% for product in products.object_list %}
                    {% include 'apparel/fragments/product_small.html' %}
                    {% comment %}
                    FIXME: Fix this so it works with ajax fetched stuff and looks nice
                    {% with product as object %}
                    <div class="tooltip">
                        {% include 'apparel/fragments/product_detail.html' %}
                    </div>
                    {% endwith %}
                    {% endcomment %}
                {% endfor %}
            </ul>
            <div id="pagination">
                {% include 'apparel/fragments/pagination.html' %}
            </div>
        </div>
        </div>
        <script type="text/html" id="product_count_template">
        <![CDATA[
            {{ product_count_template|safe }}
        ]]>
        </script>
        <script type="text/html" id="pagination_template">
        <![CDATA[
            {{ pagination_template|safe }}
        ]]>
        </script>
        <script type="text/html" id="product_template">
        <![CDATA[
            {{ product_template|safe }}
        ]]>
        </script>
{% endblock body %}
