{% extends 'base.html' %}
{% load i18n follow_tags %}
{% load static from staticfiles %}

{% block extra-title %}{% trans "Menlook.com X-mas Wishlist Challenge" %} | {% endblock %}

{% block body-classes %}contest-stylesearch{% endblock %}
{% block body %}

    <div class="row">
        <h1 class="col-sm-12">{% trans "X-mas Wishlist Challenge" %}</h1>
        <h2 class="col-sm-12">{% trans "Create your wishlist with 5 Menlook items for a chance to win €250 at Menlook.com" %}</h2>
    </div>

    <div class="row">
        <div class="col-sm-12 media-container">

            <div class="row">
                <div class="col-contest-image">
                    
                </div>
                <div class="col-contest-text">
                    {% if is_closed %}
                    <p><strong>{% trans "Competition is now closed " %}</strong></p>
                    <p style="text-decoration: line-through;"><strong>{% trans "Competition open 20th Nov - 8th Dec" %}</strong></p>
                    {% else %}
                    <p><strong>{% trans "Competition open 20th Nov - 8th Dec" %}</strong></p>
                    {% endif %}
                    <p>{% trans "The look with the most likes on Apprl.com by the end of Dec 8th wins the competition." %}</p>

                    <p><strong>{% trans "To participate:" %}</strong></p>
                    <ol>
                        <li>
                            <p>Follow <a href="http://apprl.com/profile/menlook/">Menlook on APPRL</a>:</p>
                            {% if request.user.is_authenticated and request.user != profile %}
                                {% if request.user|is_following_profile:profile %}
                                <a class="{% if classes %}{{ classes }}{% else %}btn btn-default btn-sm{% endif %} btn-unfollow" href="#" data-follow-url="{% follow_tag profile %}" data-unfollow-url="{% unfollow_tag profile %}" data-profile-type="{% if profile.is_brand %}brand{% else %}member{% endif %}" data-profile-id="{{ profile.id }}" data-unfollow-text="{% trans 'Following' %}" data-unfollow-hover="{% trans 'Stop following' %}" data-follow-text="{% trans '+ Follow Menlook' %}">{% trans "Following" %}</a>
                                {% else %}
                                <a class="{% if classes %}{{ classes }}{% else %}btn btn-success btn-sm{% endif %} btn-follow" href="#" data-follow-url="{% follow_tag profile %}" data-unfollow-url="{% unfollow_tag profile %}" data-profile-type="{% if profile.is_brand %}brand{% else %}member{% endif %}" data-profile-id="{{ profile.id }}" data-unfollow-text="{% trans 'Following' %}" data-unfollow-hover="{% trans 'Stop following' %}" data-follow-text="{% trans 'Follow' %}">{% trans "+ Follow Menlook" %}</a>
                                {% endif %}
                            {% else %}
                                {% if request.user != profile %}
                                <a class="{% if classes %}{{ classes }}{% else %}btn btn-success btn-sm btn-follow-placeholder{% endif %}" data-toggle="modal" href="#" data-target="#modal_follow_user">{% trans "+ Follow Menlook" %}</a>
                                {% endif %}
                            {% endif %}
                        </li>
                        <li>
                            <p>Like the items you want to include in your wishlist, <a href="http://apprl.com/shop/men/?store=71">find all Menlook items HERE</a>.</p>
                        </li>
                        <li>
                            <p>Create a collage with your wishlist, consisting of 5 items from Menlook.</p>
                            {% if request.user.is_authenticated %}
                            <a class="btn btn-primary btn-lg" href="{% url 'look-create' %}">{% trans "+ CREATE LOOK" %}</a>
                            {% else %}
                            <a data-toggle="modal" class="btn btn-primary" href="#modal_create_look">{% trans "+ CREATE LOOK" %}</a>
                            {% endif %}
                        </li>
                        <li>Promote your look! The wishlist with the most likes on Apprl by the end of Dec 8th, wins a €250 voucher on Menlook.</li>
                    </ol>
                </div>
                <div class="col-contest-button"><a class="btn btn-primary btn-block" href="{% url 'contest-xmas-menlook-charts' %}">{% trans "See winner" %}</a></div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 small-text">
            <small>Only looks with at least 5 items from Menlook created between 20th of November and 8th of December are included in the contest. The look with the most likes on Apprl by the end of December 8th is the winner of a €250 voucher code on Menlook.com. The contestant is responsible to pay any taxes if required and that uploaded images (if any) follows Apprl's Terms of Service. Apprl holds the right to disqualify contestants for suspected cheating, abuse or other reason. Our general terms of service & privacy policy apply.</small>
            <small>For questions & info contact <a target="_blank" href="mailto:info@apprl.com">info@apprl.com</a></small>
        </div>
    </div>

{% endblock %}
