{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block extra-title %}{% trans "COMPETE WITH TOP MODEL SWEDEN & PANOS EMPORIO" %} | {% endblock %}

{% block body-classes %}contest-stylesearch{% endblock %}
{% block body %}

    <div class="row">
        <h1 class="col-sm-12">{% trans "COMPETE WITH TOP MODEL SWEDEN & PANOS EMPORIO" %}</h1>
        <h2 class="col-sm-12">{% trans "Follow the models on Apprl for a chance to become one of three winners of €150 at Panos Emporio" %}</h2>
    </div>

    <div class="row">
        <div class="col-sm-12 media-container">

            <div class="row">
                <div class="col-md-6">
                    <img src="{% static image %}" alt="{% trans "Fashion week style search" %}" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <p><strong>{% trans "Contest open 3rd March - 11th May" %}</strong></p>
                    <!--p><strong style="text-decoration: line-through;"></strong></p-->

                    <p><strong>{% trans "To join:" %}</strong></p>
                    <ol>
                        <li>
                            <p>{% trans "Follow at least one of the Top Model Sweden participants on Apprl, <a href=“https://apprl.com/topmodelsverige/”>you find them all here</a>." %}</p>
                        </li>
                        <li>
                            <p>{% trans "Make sure you check the e-mail address registered to your Apprl account as further info about the contest will be sent via e-mail." %}</p>
                        </li>
                    </ol>
                </div>
                <!-- div class="col-contest-button"><a class="btn btn-primary btn-block" href="{% url 'contest-stylesearch-charts' %}">{% trans "SEE FINALISTS" %}</a></div -->

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 small-text">
            <small>{% trans "The winning prize for three winners is a gift card (or equal) for €150 at the Panos Emporio web shop www.panos.se. The contestant is responsible to pay any taxes if required. A jury put together by Apprl will select the 3 winners. Apprl holds the right to disqualify contestants for suspected cheating, abuse or other reason. Our general terms of service & privacy policy apply." %}</small>
            <small>{% trans "For questions & info contact " %}<a target="_blank" href="mailto:info@apprl.com">info@apprl.com</a></small>
        </div>
    </div>

{% endblock %}
