{% extends 'base.html' %}
{% load i18n cache %}

{% block extra-title %}{% trans "Festivalsommar med JC" %} | {% endblock %}

{% block body-classes %}contest-stylesearch-charts{% endblock %}
{% block body %}

    <div class="body-header">
        <div class="body-header-col-left">
            <h1>{% trans "RESULTAT" %}</h1>
            <h2>{% trans "Festivalsommartävling med JC" %}</h2>
        </div>
        <div class="body-header-col-right">
            <ul class="list-inline">
                <li><a class="btn btn-primary" href="{% url 'festivalsommar' %}">{% trans "OM TÄVLINGEN" %}</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        {% for look in looks %}
        <div class="col-sm-12">
            <div class="feed-item panel">
                <div class="panel-heading">
                    <a href="{{ look.user.get_absolute_url }}"><img class="img-circle" src="{{ look.user.avatar }}"></a>
                    <p><a href="{{ look.get_absolute_url }}">{{ forloop.counter }}. {{ look.title }}</a> {% trans "by" %} {{ look.user.display_name }}</p>
                    <p><span>♥</span> {{ look.contest_jc_score }}</p>
                </div>
                <div class="panel-body">
                    {% include 'apparel/fragments/look_medium_cache.html' with object=look %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        $("body").removeClass('contest');
    </script>


{% endblock %}
