{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n compressed %}

{% block extra-title %}{% if external_shop_id %}{% trans "Edit" %} {{ object.title }}{% else %}{% trans "Create single product widget" %}{% endif %} | {% endblock %}

{% block body-classes %}create-product product-list create-product-widget-page shop widget-page{% endblock %}
{% block full-body %}

    {% if external_product_widget_id %}
        {% if type == 'multiple' %}
            {% with 'Edit Product List' as title %}
            {% include "apparel/tools/widget_header.html" with title=title type='create_product_widget' external_product_widget_id=external_product_widget_id %}
            {% endwith %}
        {% else %}
            {% with 'Edit Single Product List' as title %}
            {% include "apparel/tools/widget_header.html" with title=title type='create_product_widget' external_product_widget_id=external_product_widget_id %}
            {% endwith %}
        {% endif %}
    {% else %}
        {% if type == 'multiple' %}
            {% with 'Create Product List' as title %}
            {% include "apparel/tools/widget_header.html" with title=title type='create_product_widget' external_product_widget_id=external_product_widget_id %}
            {% endwith %}
        {% else %}
            {% with 'Create Single Product List' as title %}
            {% include "apparel/tools/widget_header.html" with title=title type='create_product_widget' external_product_widget_id=external_product_widget_id %}
            {% endwith %}
        {% endif %}
    {% endif %}

    <div id="content">
        <div class="row content-row">
            <div class="col-md-6 col-widget">
                {% include "apparel/tools/widget_product_edit.html" with title=title external_product_widget_id=external_product_widget_id type=type %}
            </div>

            <div class="col-md-6 visible-md visible-lg">
                {% include "apparel/tools/product_picker.html" with enabled=product_picker liked_info="This widget automatically includes all your liked products. If you wish to create a widget where you can manually choose what to include, create a new widget." %}
            </div>
        </div>
    </div>

    {% include "apparel/tools/widget_templates.html" with typename='product widget'%}

    {% include "apparel/tools/widget_footer.html" %}
    <script type="text/javascript">
        var external_product_widget_id = {% if external_product_widget_id %}{{ external_product_widget_id }}{% else %}0{% endif %};
        var selected_gender = 'A';
        var external_product_widget_type = '{{  type }}';
        var external_widget_url = '{{  external_widget_url }}'
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    {% compressed_js 'create_product_widget' %}
{% endblock %}
