{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n compressed %}

{% block body-classes %}create-shop product-list create-store-page shop{% endblock %}
{% block full-body %}

    {% include "apparel/tools/widget_header.html" with title='Create a shop' type='create_shop' %}

    <div id="content" class="row">
        <div class="col-md-6">
            {% include "apparel/tools/widget_shop_edit.html" %}
        </div>

        <div class="col-md-6 visible-md visible-lg">
            {% include "apparel/tools/product_picker.html" %}
        </div>
    </div>

    {% include "apparel/tools/widget_templates.html" %}

    {% include "apparel/tools/widget_footer.html" %}
    <script type="text/javascript">
        var external_shop_id = {% if external_shop_id %}{{ external_shop_id }}{% else %}-1{% endif %};
        var selected_gender = '{{ gender }}';
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    {% compressed_js 'create_store' %}
{% endblock %}