{% load i18n %}
{% load static from staticfiles %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
            <h2 class="modal-title">{% trans "Embed look on your site / blog" %}</h2>
        </div>
        <div class="modal-body">

            <p>{% trans "It's easy to embed a look on your blog / site. Enter your preferred format below, copy and paste the embed code (in HTML mode) into your blog / site." %}</p>

            <form id="embed_look_form" class="form">
                <!--<div class="form-group">
                    <label class="control-label" for="id_look_width">{% trans "Width" %}</label>
                    <div class="input-group">
                        <input id="id_look_width" type="text" name="width" class="form-control" placeholder="100">
                         <div class="input-group-btn">
                            <button id="width_type" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="text">%</span> <span class="caret"></span></button>
                            <ul id="width_dropdown" class="dropdown-menu">
                                <li><a href="#" data-text="%" data-value="%">%</a></li>
                                <li><a href="#" data-text="{% trans "pixels" %}" data-value="px">{% trans "pixels" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>-->
                <div class="form-group">
                    <label class="control-label" for="id_look_language">{% trans "Language" %}</label>
                    <div class="select">
                        <span><i class="fa fa-caret-down"></i></span>
                        <select id="id_look_language" name="language">
                            {% for language in LANGUAGES %}
                            <option{% if language.0 == LANGUAGE_CODE %} selected="selected"{% endif %} value="{{ language.0 }}">{{ language.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label><input type="checkbox" name="show_width" id="id_show_width" value="1"><span><i class="fa fa-check"></i></span>{% trans "Manually choose width" %}</label>
                    <a href="#" class="info-toggler" data-target="info-width"><i class="fa fa-question-circle"></i></a>
                    <span class="info-box" id="info-width">{% trans "By default, the shop automatically adapts to the width of the device/browser it is viewed with, but if you want you can manually specify an exact number of pixels for your shop." %}</span>
                    <div id="width-collapsed" class="form-group" style="display:none;">
                        <label class="control-label" for="id_width">{% trans "Width" %}</label>
                        <input id="id_width" type="text" name="width" placeholder="1000">
                        <span class="help-block">{% trans "( pixels )" %}</span>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block center">{% trans "Get embed code" %}</button>
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_look_embed_code">{% trans "Copy and paste this code (in HTML-mode) into your site/blog" %}</label>
                    <textarea class="form-control" id="id_look_embed_code" rows="8" name="embed_code"></textarea>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        </div>
    </div>
</div>
<script type="text/javascript">
        function updateQueryStringParameter(uri, key, value) {
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            } else {
                return uri + separator + key + "=" + value;
            }
        }
        $(document).ready(function() {
        // Added on December 29
        $('.info-toggler').click(function() {
            $('#' + $(this).data('target')).toggleClass('active');
            return false;
        });

        // Added on December 29
        $('#id_show_width').on('click', function() {
            if($(this).prop('checked')) {
                $('#width-collapsed').show();
            } else {
                $('#width-collapsed').hide();
                $('#id_width').val('');
            }
        });

        var width_type = '%';

        $('#width_dropdown a').on('click', function(e) {
            e.preventDefault();
            var value = $(this).data('value');
            var text = $(this).data('text');

            width_type = value;
            $('#width_type .text').text(text);
            if (value == 'px') {
                $('#id_look_width').attr('placeholder', '600');
            } else {
                $('#id_look_width').attr('placeholder', '100');
            }
        });

        $('#modal_embed_look').on('show.bs.modal', function () {
            $('#id_look_embed_code').parent().hide();
        });
        $('#id_look_embed_code')
            .focus(function(e) { this.select(); })
            .mouseup(function(e) { e.preventDefault() });

        $('#embed_look_form').on('submit', function() {
            var data = {
                width: jQuery('#id_look_width').val(),
                width_type: width_type,
                language: jQuery('#id_look_language').val()
            };

             if(!data['width']) {
                if (width_type == '%') {
                    data['width'] = '100';
                    $('#id_look_width').val(data['width']);
                } else {
                    data['width'] = '600';
                    $('#id_look_width').val(data['width']);
                }
            }

            $('#id_look_embed_code').hide().parent().show().append('<img style="margin-top:6px;" id="loading_image" src="{% static "images/loading_white.gif" %}">');

            $.post("{% url 'look-widget' look.slug %}", data, function(response) {
                $('#id_look_embed_code').val(response).show();
                $('#loading_image').remove();
                $('#modal_embed_look').animate({scrollTop: 800});
            });

            return false;
        }).on('change', 'input, select', function() {
            $('#id_look_embed_code').parent().hide();
        });
    });
</script>
