{% extends "base.html" %}
{% load i18n %}

{% block 'extra-scripts' %}
<script type="text/javascript">
    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        } else {
            return uri + separator + key + "=" + value;
        }
    }
    jQuery(document).ready(function() {
        jQuery('#id_embed_code')
            .focus(function(e) { this.select(); })
            .mouseup(function(e) { e.preventDefault() });

        jQuery('#embed_shop_form').on('submit', function() {
            var data = {
                width: jQuery('#id_width').val(),
                height: jQuery('#id_height').val(),
                language: jQuery('#id_language').val(),
                gender: jQuery('input[name=gender]:checked').val()
            };

            if(!data['height']) {
                data['height'] = '600';
                jQuery('#id_height').val(data['height']);
            }

            jQuery.post("{% url 'look-widget' look.slug %}", data, function(response) {
                $('#id_embed_code').val(response);
                $('#id_embed_code').parents('.control-group').show();
            });

            return false;
        });
    });
</script>
{% endblock %}

{% block body-classes %}one-column profile-embed-shop{% endblock body-classes %}
{% block body %}
<div id="content">
    <h1>{% trans "Embed look on your site/blog" %}</h1>
    <p>{% trans "It's easy to embed a look on your blog/site.  Enter your preferred format below and paste the embed-code (In HTML-mode) into your blog/site." %}</p>
    <form id="embed_shop_form" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="id_width">{% trans "Width" %}</label>
            <div class="controls">
                <select id="id_width" name="width">
                    <option value="720">{% trans "720 pixels" %}</option>
                    <option value="960">{% trans "960 pixels" %}</option>
                    <option value="1200">{% trans "1200 pixels" %}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_language">{% trans "Language" %}</label>
            <div class="controls">
                <select id="id_language" name="language">
                    {% for language in LANGUAGES_DISPLAY %}
                    <option{% if language.0 == LANGUAGE_CODE %} selected="selected"{% endif %} value="{{ language.0 }}">{{ language.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-upper btn-block">{% trans "Get embed code" %}</button>
            </div>
        </div>
        <div class="control-group" style="display:none;">
            <label class="control-label" for="id_embed_code">{% trans "Embed code" %}</label>
            <div class="controls">
                <textarea id="id_embed_code" name="embed_code"></textarea>
            </div>
        </div>
    </form>
</div>
{% endblock %}
