{% load i18n l10n apparel_extras compressed login_bar cache localeurl_tags %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head{% block head-data %}{% endblock head-data %}>
    <title>{% block full-title %}{% block extra-title %}{% endblock %}Apprl - The Social Commerce Platform{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="description" content="{% spaceless %}{% block meta_description %}{% endblock %}{% endspaceless %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% for language in LANGUAGES_DISPLAY %}
    <link rel="alternate" hreflang="{{ language.0 }}" href="{{ request.path|chlocale:language.0 }}">
    {% endfor %}
    <link rel="icon" href="{% static "images/favicon.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "images/apple-touch-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "images/apple-touch-icon-152x152.png" %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <meta property="og:image" content="{% static "images/share-image.jpg" %}">
    <link rel="image_src" href="{% static "images/share-image.jpg" %}">

    {% compressed_css 'bootstrap' %}
    {% block extra-styles %}
    {% endblock extra-styles %}
    <script type="text/javascript">var addToHomeConfig = {returningVisitor: true, touchIcon: true, expire: 20160};</script>
    <script src="//cdn.optimizely.com/js/180383028.js"></script>
    {% block pre-extra-scripts %}{% endblock %}
    {% compressed_js 'main' %}
    {% block 'extra-scripts' %}
    {% endblock 'extra-scripts' %}
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ GOOGLE_ANALYTICS_UNIVERSAL_ACCOUNT }}', {'cookieDomain': '{{ GOOGLE_ANALYTICS_UNIVERSAL_DOMAIN }}'});
        ga('send', 'pageview');

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
        _gaq.push(['_setDomainName', '{{ GOOGLE_ANALYTICS_DOMAIN }}']);
        _gaq.push(['_setSiteSpeedSampleRate', 10]);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body class="front publisher-page">
    {# Header #}
    <header role="banner">
        <a class="menu-toggler" href="#"><span></span></a>
        <nav role="navigation">
            <ul>
                <li><a href="{% url 'index-retailers' %}"><span>{% trans "For Retailers" %}</span></a></li>
                <li><a href="{% url 'index-community' %}"><span>APPRL Community</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>International&nbsp;<b class="caret"></b></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Swedish</a></li>
                        <li><a href="#">Danish</a></li>
                        <li><a href="#">Norwegian</a></li>
                        <li><a href="#">Finnish</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'auth_login' %}"><span>{% trans "Log In" %}</span></a></li>
            </ul>
        </nav>
    </header>

    <main role="main">
        {# Welcome #}
        <section class="publisher-welcome">
            <div class="splash">
                <a class="logo" href="/"><img src="{% static 'images/logo.svg' %}" alt="APPRL" /></a>
                <h1 class="display">{% trans 'The leading monetisation tool for style influencers<span class="wbr"></span> and premium lifestyle media.' %}</h1>
                <p class="preamble">{% trans "With APPRL's smart & simple toolbox, you can create great shoppable content that your fans will love – for your blog, app and social media." %}</p>
                <a class="btn btn-scroll btn-outline" href="#" data-scroll="publisher-apply">{% trans "Apply for invitation" %}</a>
            </div>
            <a class="btn-scroll btn-arrow" href="#" data-scroll="publisher-users"><i class="fa fa-angle-down"></i></a>
            <p class="crosslink">{% trans 'Looking for ' %}<a href="{% url 'index-community' %}">APPRL Community</a>?</p>
        </section>

        {# Users #}
        <section class="publisher-users">
            <div class="container">
                <h1>{% trans "Used by top influencers & media" %}</h1>
                <p>{% trans "Style bloggers, magazines and other influencers choose to use APPRL to earn money on product recommendations in their content. APPRL’s simple & flexible toolbox enables them to easily share the products they love with their fans and get rewarded for the clicks they generate." %}</p>
                <ul class="list-brands">
                    <li><img src="{% static 'images/influencer_logos/men-with.gif' %}" alt="Men With"></li>
                    <li><img src="{% static 'images/influencer_logos/elle.gif' %}" alt="ELLE"></li>
                    <li><img src="{% static 'images/influencer_logos/carolines-mode.gif' %}" alt="Carolines Mode"></li>
                    <li><img src="{% static 'images/influencer_logos/metro-mode.gif' %}" alt="Metro Mode"></li>
                    <li><img src="{% static 'images/influencer_logos/project-runway.gif' %}" alt="Project Runway"></li>
                    <li><img src="{% static 'images/influencer_logos/nettavisen.gif' %}" alt="Nettavisen"></li>
                    <li><img src="{% static 'images/influencer_logos/caroline-berg-eriksen.gif' %}" alt="Caroline Berg Eriksen"></li>
                    <li><img src="{% static 'images/influencer_logos/andrea-brodin.gif' %}" alt="Andrea Brodin"></li>
                    <li><img src="{% static 'images/influencer_logos/berlingske.gif' %}" alt="Berlingske"></li>
                    <li><img src="{% static 'images/influencer_logos/sania-claus-demina.gif' %}" alt="Sania Claus Demina"></li>
                    <li><img src="{% static 'images/influencer_logos/nojesguiden.gif' %}" alt="Nöjesguiden"></li>
                    <li><img src="{% static 'images/influencer_logos/petra-tungarden.gif' %}" alt="Petra Tungården"></li>
                </ul>
            </div>
        </section>

        <hr>

        {# Tools #}
        <section class="publisher-tools">
            <div class="container">
                <h1>{% trans "Create great shoppable content that your fans will love" %}</h1>
            </div>

            <div class="tools-preview">
                <div class="feature first">
                    <div class="tools-display">
                        <div id="tools-demo">
                            <img src="{% static 'images/tools-demo-1.jpg' %}" class="active" alt="">
                            <img src="{% static 'images/tools-demo-2.jpg' %}" alt="">
                            <img src="{% static 'images/tools-demo-3.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="tools-description">
                        <h2>{% trans "Create shoppable content for all platforms" %}</h2>
                        <p>{% trans "With APPRL, you can make your content shoppable through a range of formats, create interactive collage, link your text & photos and create your own shop in minutes." %}</p>
                    </div>
                </div>

                <div class="feature second">
                    <div class="tools-description">
                        <h2>{% trans "The APPRL editor" %}</h2>
                        <p>{% trans "Create shops, looks and other content from any device with the APPRL editor and publish to your blog, site or social media." %}</p>
                    </div>
                    <div class="tools-display"><img src="{% static 'images/tools-platforms.jpg' %}" alt=""></div>
                </div>
            </div>
        </section>

        <hr>

        {# Brands #}
        <section class="publisher-brands">
            <div class="container">
                <h1>{% trans "Get access to top retailers & brands" %}</h1>
                <p>{% trans "Get rewarded by featuring products and driving traffic to the world’s leading online retailers. APPRL can offer high rewards since we’re exclusively working with premium media & influencers." %}</p>
                <ul class="list-brands">
                    <li><img src="{% static 'images/retailers/Net-A-Porter-logo-Apprl-home.gif' %}" alt="Net-A-Porter"></li>
                    <li><img src="{% static 'images/retailers/Asos-logo-Apprl-home.gif' %}" alt="ASOS"></li>
                    <li><img src="{% static 'images/retailers/Luisa-Viaroma-logo-Apprl-home.gif' %}" alt="Luisa Viaroma"></li>
                    <li><img src="{% static 'images/retailers/Acne-Studios-logo-Apprl-home.gif' %}" alt="Acne Studios"></li>
                    <li><img src="{% static 'images/retailers/Mr-Porter-logo-Apprl-home.gif' %}" alt="Mr Porter"></li>
                    <li><img src="{% static 'images/retailers/Burberry-logo-Apprl-home.gif' %}" alt="Burberry"></li>
                    <li><img src="{% static 'images/retailers/The-Outnet-logo-Apprl-home.gif' %}" alt="The Outnet"></li>
                    <li><img src="{% static 'images/retailers/Alexander-Wang-logo-Apprl-home.gif' %}" alt="Alexander Wang"></li>
                    <li><img src="{% static 'images/retailers/Nelly-logo-Apprl-home.gif' %}" alt="Nelly"></li>
                    <li><img src="{% static 'images/retailers/Saint-Laurent-logo-Apprl-home.gif' %}" alt="Saint Laurent"></li>
                    <li><img src="{% static 'images/retailers/Isabel-Marant-logo-Apprl-home.gif' %}" alt="Isabel Marant"></li>
                    <li><img src="{% static 'images/retailers/GinaTricot-logo-Apprl-home.gif' %}" alt="Gina Tricot"></li>
                </ul>
            </div>
        </section>

        <hr>

        {# Apply #}
        <section class="publisher-apply">
            <div class="container">
                <a class="logo">
                <h1>{% trans "Apply for an invitation" %}</h1>
                <p>{% trans "As a member of the APPRL network, you'll get access to our range of tools, access to the best retailers, high rewards and support from our team to help you grow, maximise your earnings and learn more about your audience. To ensure a high quality of the APPRL network of style influencers & media, we kindly ask you to apply for an invitation." %}</p>
                <div class="form-container">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-is-6">
                                <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                                    <label for="id_{{ form.name.html_name }}">{% trans "Name" %}</label>
                                    <input name="{{ form.name.html_name }}" type="text" id="id_{{ form.name.html_name }}" value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
                                    {% if form.name.errors %}<span class="help-block">{{ form.name.errors.as_text }}</span>{% endif %}
                                </div>
                            </div>
                            <div class="col-is-6">
                                <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                                    <label for="id_{{ form.email.html_name }}">{% trans "Email" %}</label>
                                    <input name="{{ form.email.html_name }}" type="text" id="id_{{ form.email.html_name }}" value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                                    {% if form.email.errors %}<span class="help-block">{{ form.email.errors.as_text }}</span>{% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-is-6">
                                <div class="form-group{% if form.blog.errors %} has-error{% endif %}">
                                    <label for="id_{{ form.blog.html_name }}">Url</label>
                                    <input name="{{ form.blog.html_name }}" type="text" id="id_{{ form.blog.html_name }}" value="{% if form.blog.value %}{{ form.blog.value }}{% endif %}">
                                    {% if form.blog.errors %}<span class="help-block">{{ form.blog.errors.as_text }}</span>{% endif %}
                                </div>
                            </div>
                            <div class="col-is-6">
                                <div class="form-group{% if form.traffic.errors %} has-error{% endif %}">
                                    <label for="id_{{ form.traffic.html_name }}">{% trans "Unique visitors / month or no. of followers" %}</label>
                                    <input name="{{ form.traffic.html_name }}" type="text" id="id_{{ form.traffic.html_name }}">
                                    {% if form.traffic.errors %}<span class="help-block">{{ form.traffic.errors.as_text }}</span>{% endif %}
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-white">{% trans "Submit Application" %}</button>
                    </form>
                </div>
            </div>
        </section>

        <hr>

        {# Featured #}
        <section class="publisher-featured">
            <div class="container">
                <h1>{% trans "Featured In" %}</h1>
                <ul class="list-brands">
                    <li><img src="{% static 'images/featured_logos/fokus_inverted.gif' %}" alt="Fokus"></li>
                    <li><img src="{% static 'images/featured_logos/computer-sweden_inverted.gif' %}" alt="Computer Sweden"></li>
                    <li><img src="{% static 'images/featured_logos/breakit_inverted.gif' %}" alt="Breakit"></li>
                    <li><img src="{% static 'images/featured_logos/internetworld_inverted.gif' %}" alt="Internet World"></li>
                    <li><img src="{% static 'images/featured_logos/dagens-media_inverted.gif' %}" alt="Dagens Media"></li>
                    <li><img src="{% static 'images/featured_logos/resume_inverted.gif' %}" alt="Resumé"></li>
                    <li><img src="{% static 'images/featured_logos/sss_inverted.gif' %}" alt="Startup Space Sweden"></li>
                    <li><img src="{% static 'images/featured_logos/digitalpodden_inverted.gif' %}" alt="Digitalpodden"></li>
                    <li><img src="{% static 'images/featured_logos/les-assorties_inverted.gif' %}" alt="Les Assorties’"></li>
                    <li><img src="{% static 'images/featured_logos/plaza-kvinna_inverted.gif' %}" alt="Plaza Kvinna"></li>
                    <li><img src="{% static 'images/featured_logos/webrazzi_inverted.gif' %}" alt="Webrazzi’"></li>
                    <li><img src="{% static 'images/featured_logos/cofounder_inverted.gif' %}" alt="CoFounder"></li>
                </ul>
            </div>
        </section>
    </main>

    {# Footer #}
    <footer role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h5>{% trans "Follow Us" %}</h5>
                    <ul>
                        <li><a target="_blank" href="http://blog.apprl.com">{% trans "Blog" %}</a></li>
                        <li><a target="_blank" href="http://www.facebook.com/apprl">Facebook</a></li>
                        <li><a target="_blank" href="http://instagram.com/get_apprl">Instagram</a></li>
                        <li><a target="_blank" href="https://twitter.com/get_apprl">Twitter</a></li>
                        <li><a target="_blank" href="http://pinterest.com/apprl/">Pinterest</a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/company/apprl">LinkedIn</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h5>APPRL</h5>
                    <ul>
                        <li><a href="{% url 'about' %}">{% trans "About Us" %}</a></li>
                        <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
                        <li><a href="{% url 'jobs' %}">{% trans "Jobs" %}</a></li>
                        <li><a href="{% url 'django.contrib.flatpages.views.flatpage' url='about/terms-of-use/' %}">{% trans "Terms & Conditions" %}</a></li>
                        <li><a href="{% url 'django.contrib.flatpages.views.flatpage' url='about/cookies/' %}">{% trans "Cookies" %}</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h5>APPRL Fashion AB</h5>
                    <address>
                        Kammakargatan 41<br>
                        111 24 Stockholm<br>
                        Sweden
                    </address>
                </div>
            </div>
        </div>
    </footer>

    <script>
        var mobile = false;
        if ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            mobile = true;
        }

        $(document).ready(function() {
            if ( mobile == true ) {
                $('section:first').append('<div class="background-image" style="background-image: url({% static 'video/poster.jpg' %});"></div>');
            }
            else {
                $('section:first').append('<div class="background-video"><video autoplay="autoplay" preload="auto" poster="{% static 'video/poster.jpg' %}" loop="loop" muted="true"><source src="{% static 'video/apprl.webm' %}" type="video/webm"><source src="{% static 'video/apprl.mp4' %}" type="video/mp4"></video></div>');
            }

            var anchor = $('section:first').offset().top + $('section:first').outerHeight(),
                scroll = false;

            $(window).on('scroll', function() {
                if ($(window).scrollTop() >= anchor) {
                    $('header').addClass('expand');
                    scroll = true;
                }
                if ($(window).scrollTop() < anchor && scroll == true) {
                    $('header').removeClass('expand');
                }
            });

            $('.btn-scroll').click(function(e) {
                $('html, body').animate({scrollTop: $('.' + $(this).data('scroll')).offset().top - 30}, 1000);
                e.preventDefault();
            });

            $('.menu-toggler').click(function(e) {
                $(this).toggleClass('active');
                $('nav').toggleClass('active');
                e.preventDefault();
            });
        });

        // Image slideshow
        (function(window) {
            SlideCrossFade = {
                container: 'tools-demo',
                displayTime: 5000,
                fadeTime: 1500,

                start: function() {
                    var self = this;
                    $('#' + this.container + ' img').show();
                    setInterval(function() { self.next(); }, this.displayTime);
                },

                next: function() {
                    var $active = $('#' + this.container + ' .active');
                    var $next = ($active.next().length > 0) ? $active.next() : $('#' + this.container + ' img:first');
                    $next.css('z-index', 2);

                    $active.fadeOut(this.fadeTime, function() {
                        $active.css('z-index', 1).show().removeClass('active');
                        $next.css('z-index', 3).addClass('active');
                    });
                }
            };
            window.SlideCrossFade = SlideCrossFade;
        })(this);

        $(window).load(function() {
            SlideCrossFade.start();
        });
    </script>

    <script type="text/javascript" src="{% static 'js/money.min.js' %}"></script>
    <script type="text/javascript">
        fx.base = 'SEK';
        fx.rates = {
            {% for currency, rate in currency_rates.items %}
            '{{ currency }}': {{ rate|unlocalize }},
            {% endfor %}
            'SEK': 1
        };
        var current_currency = '{{ CURRENCY }}';
        function formatNumber(num) {
            var array = parseInt(num, 10).toFixed().split('');
            var index = -3;
            while (array.length + index > 0) {
                array.splice(index, 0, ' ');
                index -= 4;
            }
            return array.join('');
        };
        function currencyConversion(elements) {
            elements.each(function(index, element) {
                var $element = jQuery(element);
                var data = $element.data();
                var converted_price = Math.round(fx.convert(data.price, {from: data.currency, to: current_currency}));
                $element.text(formatNumber(converted_price) + ' ' + current_currency);
            });
        }

        $('#language-dropdown > li > a').click(function(event){
            var $this = $(this);
            var location = $this.data("location");
            $.removeCookie('location');
            $.cookie('location', location, { expires: 60, path: '/' });
        } );
    </script>
</body>
</html>