{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block extra-title %}{% trans "Join our team" %} | {% endblock %}

{% block body-classes %}about-page{% endblock %}
{% block body %}

    {% include 'apparel/about_body_header.html' %}

    <div class="row">
        <div class="col-md-6 col-md-push-6">
            <img src="{% static 'images/apprlteam_lowres.jpg' %}" class="img-responsive">
        </div>
        <div class="col-md-6 col-md-pull-6">
            <article>
                <h2>{% trans 'Working at Apprl' %}</h2>

                <p>
                    {% blocktrans %}
                    We strongly believe in building things that are larger than the sum of its parts. Both tech- and personalitywise. If you have some passion besides work, tell us! We are a perfection-oriented company and the only way to accomplish that is through a diverse mash of people and experiences. We want you to teach us stuff we didn’t know before, just as much as the other way around.
                    {% endblocktrans %}
                </p>

                <p>
                    {% trans "At Apprl we're offering you:" %}
                <ul>
                    <li>&mdash; {% trans "To be part of a really experienced team that will do everything they can to make you better - and happier :) " %}</li>
                    <li>&mdash; {% trans "To work on an innovative product with a global ambition" %}</li>
                    <li>&mdash; {% trans "Lots of freedom to shape your role, way of working as well as the product APPRL!" %}</li>
                </ul>
                </p>

                <p>
                    {% blocktrans %}
                    Get in touch with Martin Landén on <a href="mailto:martin@apprl.com">martin@apprl.com</a> if you want to know more, apply for a job or just swing by for a coffee.
                    {% endblocktrans %}
                </p>

                <div class="job-position">
                    <h2>{% trans 'Lead Developer (Python)' %}</h2>
                    <small>February 2016</small>
                    <h5>{% trans "About the role" %}</h5>

                    <p>We’re looking for the next superstar to join our team in Stockholm, who wants to be a part of building the future of commerce and become a driving force of APPRL.</p>
                    <p>As a lead developer of APPRL, you’ll be an important part of our tech team working closely with our CTO Klas. Focus is on backend but experience with frontend &amp; apps are meriting for sure.<br>
                    Skill and attitude is more important than language and platform, but the more familiar you are with Python/Django and our other technologies (Gunicorn, Nginx, Redis, Memcached, Scrapy(d), SOLR, Backbone.js/jQuery, PostgreSQL) the better.</p>

                    <h5>How to apply</h5>
                    <p>Send your resume along with relevant work samples to <a href="mailto:jobs@apprl.com">jobs@apprl.com</a></p>
                </div>
            </article>
        </div>
    </div>

{% endblock %}
