{% extends 'base.html' %}
{% load i18n humanize comments cache apparel_extras thumbnail %}

{% block extra-title %}{{ object.title }} {% trans "by" %} {{ object.user.display_name }} | {% trans "Looks" %} | {% endblock %}

{% block head-data %} prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {{ FACEBOOK_OG_TYPE }}: http://ogp.me/ns/fb/{{ FACEBOOK_OG_TYPE }}#"{% endblock head-data %}

{% block extra-styles %}
    {% cache CACHE_TIMEOUT look_detail_metaextra object.id LANGUAGE_CODE %}
    <link rel="canonical" href="{{ object_url }}">
    <meta property="og:title" content="{{ object.title }}"/>
    <meta property="og:type" content="{{ FACEBOOK_OG_TYPE }}:look"/>
    <meta property="og:image" content="{{ look_full_image }}"/>
    <meta property="og:url" content="{{ object_url }}"/>
    <meta property="og:description" content="{% if object.product_brands_unique %}{{ object.product_brands_unique|join:", " }}{% endif %}"/>
    <meta property="og:site_name" content="{{ CURRENT_NAME }}"/>
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}"/>
    <meta property="{{ FACEBOOK_OG_TYPE }}:likes" content="{{ object.score }}"/>
    <meta property="{{ FACEBOOK_OG_TYPE }}:products" content="{{ components|length }}"/>
    {% endcache %}
{% endblock extra-styles %}

{% block 'extra-scripts' %}
<script type="text/javascript">
    $(document).ready(function() {
        var popover_elements = $('[data-toggle=popover]');
        var is_touch_device = ("ontouchstart" in window) || window.DocumentTouch && document instanceof DocumentTouch;
        var timeout = null;

        popover_elements.each(function(i, element) {
            $(element).popover({
                html: true,
                trigger: 'manual',
                content: $(element).next().html()
            });
        });

        $(document).on('click', function(e) {
            popover_elements.popover('hide');
        });

        if(!is_touch_device) {
            $(document).on('mouseenter', '.popover', function() { clearTimeout(timeout); });
            popover_elements.on('mouseenter', function() {
                clearTimeout(timeout);
                var $element = $(this);
                popover_elements.not($element).popover('hide');
                $element.popover('show');
            }).on('mouseleave', function (e) {
                var $element = $(this);
                timeout = setTimeout(function() { $element.popover('hide'); }, 400);
            });
        }

        popover_elements.on('click', function(e) {
            var $element = $(this);
            popover_elements.not($element).popover('hide');
            if(is_touch_device) {
                $element.popover('show');
                return false;
            }
        });

        {% if look_created %}
        try {
            ga('send', 'event', 'Look', 'Create', '{{ object.slug }}');
            _gaq.push(['_trackEvent', 'Look', 'Create', '{{ object.slug }}']);
        } catch(err){}
        {% endif %}

        {% if look_saved %}
        ApparelActivity.notification('create', 'look', {{ object.id }});
        {% endif %}
    });

</script>
{% endblock 'extra-scripts' %}

{% block meta_description %}
    {% cache CACHE_TIMEOUT look_detail_metadesc object.id LANGUAGE_CODE %}
    {% if object.description %}{{ object.description }} - {% endif %}{{ object.category_and_brand|join:', ' }}
    {% endcache %}
{% endblock %}

{% block body-classes %}look-detail-page{% endblock body-classes %}
{% block full-body %}


    <div class="container" itemscope itemtype="http://data-vocabulary.org/Product">
        <div class="body-header">
            <div class="body-header-col-full">
                <div class="float-container">
                    <h1>{{ object.title }} <span class="draft-text{% if object.published %} published{% endif %}">({% trans "Not published" %})</span></h1>
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-primary btn-look-like{% if is_liked %} liked{% endif %}" href="#" data-liked-text="{% trans "Liked" %}" data-unlike-text="{% trans "Unlike" %}" data-like-text="{% trans "Like" %}" data-like-url="{% url 'look-like' object.slug 'like' %}" data-unlike-url="{% url 'look-like' object.slug 'unlike' %}" data-slug="{{ object.slug }}" data-id="{{ object.id }}"><span>{% if is_liked %}{% trans "Liked" %}{% else %}{% trans "Like" %}{% endif %}</span>&nbsp;<span class="glyphicon glyphicon-heart"></span></a>
                    {% else %}
                    <a class="btn btn-primary" data-toggle="modal" href="#" data-target="#modal_like_look"><span>{% trans "Like" %}</span> <span class="glyphicon glyphicon-heart"></span></a>
                    {% endif %}
                </div>
                <h2>{% trans "by" %} <a href="{{ object.user.get_absolute_url }}">{{ object.user.display_name }}</a></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="look-main-content">
                    {% if request.user.is_authenticated and request.user == object.user %}
                    <a class="btn btn-edit" href="{% url 'look-editor' object.slug %}">{% trans "Edit" %}</a>
                    <a class="btn btn-delete" data-toggle="modal" href="#" data-target="#modal_look_delete_{{ object.id }}">{% trans "Delete" %}</a>
                    <a class="btn btn-unpublish{% if object.published %} published{% endif %}" data-toggle="modal" href="#" data-target="#modal_look_unpublish_{{ object.id }}">{% trans "Unpublish" %}</a>
                    <a class="btn btn-publish{% if object.published %} published{% endif %}" data-toggle="modal" href="#" data-target="#modal_look_publish_{{ object.id }}">{% trans "Publish" %}</a>
                    {% endif %}

                    {% cache CACHE_TIMEOUT look_detail_content object.id LANGUAGE_CODE %}
                    {% if object.display_with_component == 'C' %}
                    <div class="look-large collage">

                        <div id="collage-background" class="look-collage">
                            {% thumbnail object.image "720" upscale=True as im %}
                            <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            <div class="component-wrapper" style="width: {{ wrapper_element.width }}%; height: {{ wrapper_element.height }}%;position:absolute; top:50%; left:50%; transform:translateX(-50%) translateY(-50%);">
                                {% for component in object.collage_components.all %}
                                    {% thumbnail component.product.product_image "224x291" crop=False format="PNG" transparent=True as im %}
                                    <a href="{{ component.product.get_absolute_url }}" data-container="body" data-toggle="popover" data-placement="auto" data-trigger="click" class="product collage-image {% if component.flipped %}flipped{% endif %}" style="{{ component.style_percentage }}">
                                        <img src="{{ im.url }}" title="{{ component.product }}" style="width:{{ im.width }}px;height:{{im.height}}px;" class="img-responsive" />
                                    </a>
                                    {% endthumbnail %}
                                    {% include "apparel/fragments/look_product_tooltip.html" with owner=object.user product=component.product only %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    {% else %}
                    <div class="look-large photo">

                        {% thumbnail object.image "720" upscale=False as im %}
                        <div id="photo-background" class="look-photo" style="max-width: {{ im.width }}px;">
                            <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% for component in components %}
                                <a href="{{ component.product.get_absolute_url }}" data-container="body" data-toggle="popover" data-placement="auto" data-trigger="click" class="hotspot product" style="{% look_component_style component im.width im.height %}"></a>
                                {% include "apparel/fragments/look_product_tooltip.html" with owner=object.user product=component.product only %}
                            {% endfor %}
                        </div>
                        {% endthumbnail %}

                    </div>
                    {% endif %}
                    {% endcache %}

                    {% if object.description %}
                    <p>{{ object.description }}</p>
                    {% endif %}
                </div>

            </div>
            <div class="col-md-6">

                <div class="row">
                    <div class="col-lg-6">

                        {% cache CACHE_TIMEOUT look_detail object.id LANGUAGE_CODE %}
                        <h3>{% trans "Look details" %}</h3>
                        <ul class="brands list-unstyled">
                            {% for text, product in object.category_and_brand_with_product %}
                            <li><a href="{% internal_referral_url product.get_absolute_url object.user.pk %}">{{ text }}</a></li>
                            {% endfor %}
                        </ul>

                        <p class="total-price">
                            <span class="price">
                                {% blocktrans count object.category_and_brand_count as number %}{{ number }} article{% plural %}{{ number }} articles{% endblocktrans %}
                            </span>
                            {% if object.category_and_brand_count > 0 %}
                            <span class="sum"> - {{ object.total_price|floatformat:0|apprl_intcomma }} {{ CURRENCY }}</span>
                            {% endif %}
                        </p>
                        <p class="created">{% trans "Created" %} {{ object.created|since }}</p>
                        {% endcache %}

                        {% comment %}
                            Removed exclusive access, ticket #65018758
                        {% if request.user == object.user %}
                        {% endif %}
                        {% endcomment %}

                        <a href="{% url 'dialog-look-embed' object.slug %}" class="btn btn-primary btn-block btn-embed" data-slug="{{ object.slug }}" data-toggle="modal" data-target="#modal_embed_look">{% trans "Embed on your blog / site" %}</a>

                        {% include 'apparel/fragments/share.html' %}

                    </div>
                    <div class="col-lg-6">

                        {% if looks_by_user %}
                        <h3>{% trans "More looks by" %} {{ object.user.display_name }}</h3>
                        <ul class="list-unstyled list-looks">
                            {% for look in looks_by_user %}
                            <li class="col-list-look">
                                {% cache CACHE_TIMEOUT look_small_like_product look.id LANGUAGE_CODE %}
                                <a title="{{ look.title }}" href="{% url 'look-detail' slug=look.slug %}">
                                    <div class="look-small {% if look.display_with_component == 'P' %}look-photo{% else %}look-collage{% endif %}">
                                        {% thumbnail look.static_image "300x226" is_collage=look.is_collage keep_size=True crop=False format="PNG" as im %}
                                        <img id="look-{{ look.id }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive" />
                                        {% endthumbnail %}
                                    </div>
                                </a>
                                {% endcache %}
                            </li>
                            {% endfor %}
                        </ul>
                        <a class="btn btn-primary btn-block" href="{% url 'profile-looks' object.user.slug %}">{% blocktrans with firstname=object.user.first_name %}See all looks by {{firstname}}{% endblocktrans %}</a>
                        {% endif %}

                        {% cache CACHE_TIMEOUT look_detail_likes object.id LANGUAGE_CODE %}
                        <h3>{% trans "Likes" %}</h3>
                        <ul id="likes-box" class="list-inline list-likes">
                            <li{% if likes %} class="hide"{% endif %}><p>{% trans "Be the first one to like this look!" %}</p></li>
                            {% for like in likes %}
                            <li data-user-id="{{ like.user.pk }}"><a href="{{ like.user.get_absolute_url }}" title="{{ like.user.display_name }}"><img class="img-circle" alt="{{ like.user.display_name }}" title="{{ like.user.display_name }}" src="{{ like.user.avatar }}"></a></li>
                            {% endfor %}
                        </ul>
                        {% endcache %}

                    </div>
                </div>

            </div>
        </div>
    </div>

    {% include 'apparel/modal_look_delete.html' with look=object only %}
    {% include 'apparel/modal_look_publish.html' with look=object only %}
    {% include 'apparel/modal_look_unpublish.html' with look=object only %}

{% endblock %}
