{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n apparel_extras thumbnail cache compressed %}

{% block extra-title %}{% trans "Edit" %} {{ object.title }} {% trans "by" %} {{ object.user }} | {% trans "Looks" %} | {% endblock %}

{% block extra-styles %}
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/smoothness/jquery-ui.css" rel="stylesheet" />
{% endblock %}


{% block 'extra-scripts' %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
{% compressed_js 'look_editor' %}
{% endblock 'extra-scripts' %}

{% block body-classes %}look-editor{% endblock %}
{% block body-header %}
<div id="body-header">
    <div class="column_one">
        <h1>{% if component == 'collage' %}{% trans "Create collage look" %}{% else %}{% trans "Create photo look" %}{% endif %}</h1>
    </div>
</div>
{% endblock body-header %}
{% block body %}
<form enctype="multipart/form-data" action="{% url look-editor component %}" method="POST" id="look-form">
    {% csrf_token %}
    {{ form.component.as_hidden }}
    <input type="hidden" name="z_index" value="">
    <input type="hidden" name="product_ids" value="">

    <div id="content" class="group">
        <div class="button-container">
            <button class="btn btn-upper btn-save" name="save" type="submit">{% trans "Save" %}</button>
            <button class="btn btn-upper btn-positive btn-publish" name="publish" type="submit">{% trans "Publish" %}</button>
            {% if object.slug %}
            <button class="btn btn-upper btn-delete" title="{{ object.title }}" href="{% url apparel.views.look_delete object.slug %}">{% trans "Delete look" %}</button>
            {% else %}
            <button class="btn btn-upper btn-clean" href="#clean">{% trans "Clean" %}</button>
            {% endif %}
        </div>

        <div id="edit-look">
        {% if object.display_with_component == 'C' %}
            <div id="collage">
                {% include 'apparel/fragments/look_collage_edit.html' %}
                <div class="look-empty"{% if object.collage_components.all.count > 0 %} style="display: none"{% endif %}>
                    {% if wardrobe|length == 0 %}
                        <div class="message warning">{% trans "To create a look, you need to have liked at least one product." %} <a href="{% gender_url APPAREL_GENDER 'shop' %}">{% trans "Find products!" %}</a></div>
                    {% else %}
                        <div class="message">{% trans "Drag products here to start building a collage" %}</div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div id="photo">
                {% include 'apparel/fragments/look_photo.html' %}
                <div class="look-empty"{% if object.image %} style="display: none"{% endif %}>
                    <p>{% trans "Upload a photo to create a tagged image" %}</p>
                    <div class="message">
                        <div class="upload-field">
                            <span><input type="file" name="image" id="id_image"></span>
                        </div>
                        <button type="submit">{% trans "Upload" %}</button>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
        <div id="product-chooser">
            <div id="product-filter">
                <div class="tabs">
                    <a href="#likes">{% trans "Your ♥" %}</a>
                    <a href="#all">{% trans "All products" %}</a>
                </div>
                <div class="main-filters">
                    <input type="search" name="q" placeholder="{% trans "Search for your product here.." %}">
                    <label><input type="radio" name="gender" value="W"{% if APPAREL_GENDER == 'W' %} checked{% endif %}> {% trans "Women" %}</label>
                    <label><input type="radio" name="gender" value="M"{% if APPAREL_GENDER == 'M' %} checked{% endif %}> {% trans "Men" %}</label>
                    <div class="sub-filters"></div>
                </div>
            </div>
            <ul id="product-list"></ul>
        </div>

        <div id="publish-container">
            <label for="id_title">{% trans "Title:" %}</label>
            {{ form.title }}
            <label for="id_description">{% trans "Description (optional):" %}</label>
            {{ form.description }}
        </div>
    </div>
</form>

{% comment %}
<div id="look-tooltips">
    {% for component in object.display_components.all %}
        {% cache CACHE_TIMEOUT look_product_tooltip component.product.id LANGUAGE_CODE %}
        {% include "apparel/fragments/look_product_tooltip.html" with owner=object.user product=component.product only %}
        {% endcache %}
    {% endfor %}
</div>
{% endcomment %}
{% endblock body %}
