{% extends 'site_base.html' %}
{% block 'extra-styles' %}
<style type="text/css">
    #collage {
        height: 500px;
        border: 1px dotted black;
        position: relative;
    }
    .look {
        height: 150px;
        position: absolute;
    }
    .ui-wrapper {
        float: left;
        position: absolute;
        opacity: 0.8;
    }
    .ui-state-disabled, .ui-widget-content .ui-state-disabled {
        opacity: 1.0;
    }
</style>
{% endblock 'extra-styles' %}
{% block 'extra-scripts' %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script type="text/javascript">
var look = {
    initialize: function(ele) {
        ele.resizable({
            aspectRatio: 'true',
            maxHeight: ele.parent().height(),
            maxWidth: ele.parent().width(),
            minHeight: 30,
            minWidth: 30,
            //grid: [10, 10],
            stop: function(event, ui) {
                look.saveProduct(ui);
            },
        });
        ele.parent('.ui-wrapper').draggable({
            stack: { group: '.ui-wrapper', min: 50 },
            containment: 'parent',
            //snap: true,
            //grid: [10, 10],
            stop: function(event, ui) {
                look.saveProduct(ui);
            },
        });
        jQuery.fn.reverse = [].reverse;
        ele.parent('.ui-wrapper').reverse().each(function() {
            var el = $(this);
            position = el.position();
            el.css({
                position: 'absolute',
                marginLeft: 0,
                marginRight: 0,
                top: position.top,
                left: position.left,
            });
        });
    },
    saveProduct: function(ui) {
        product = ui.helper.find('.look');
        data = {
            look: {{ object.id }},
            product: product.attr('id').split('-')[1],
            top: parseInt(ui.position.top),
            left: parseInt(ui.position.left),
            z_index: product.parent('.ui-wrapper').css('z-index'),
        }
        if('size' in ui) {
            data['width'] = parseInt(ui.size.width);
            data['height'] = parseInt(ui.size.height);
        }
        else {
            data['width'] = product.width();
            data['height'] = product.height();
        }
        jQuery.post('{% url apps.apparel.views.save_look_product %}', data,
        function(response) {
            //alert('saved! ' + response);
        });
    },
    disable: function(ele) {
        ele.resizable('disable');
        ele.parent('.ui-wrapper').draggable('disable');
    },
    enable: function(ele) {
        ele.resizable('enable');
        ele.parent('.ui-wrapper').draggable('enable');
    },
};
    jQuery(document).ready(function() {
        look.initialize(jQuery('.look'));
        look.disable(jQuery('.look'));
        jQuery('.look').click(function() {
            look.disable(jQuery('.look'));
            look.enable(jQuery(this));
            return false;
        });
        jQuery('#collage').click(function() {
            look.disable(jQuery('.look'));
        });
    });
</script>
{% endblock 'extra-scripts' %}
{% block body %}
<div class="container">
    <div id="collage">
    {% include 'apparel/fragments/look_collage.html' %}
    </div>
</div>
{% endblock body %}
