{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}

{% block extra-title %}{% trans "Create new look" %} | {% endblock %}

{% block 'extra-scripts' %}{% endblock 'extra-scripts' %}

{% block body-classes %}create-look one-column{% endblock %}

{% block body %}
<div id="content">
    <h2>{% trans "Create a new look" %}</h2>
    <form action="{{ request.path }}" method="post" class="standard-form">
        {% csrf_token %}
        <ul>
        <li>
            <label for="id_title">{% trans "Title" %}</label>
            {{ form.title }}
        </li>
        <li>
            <label for="id_description">{% trans "Description (optional):" %}</label>
            {{ form.description }}
        </li>
        <li>
            <button type="submit">{% trans "Create" %}</button>
        </li>
    </ul>    
    </form>
</div>
{% endblock body %}
