{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n apparel_extras thumbnail cache compressed %}

{% block extra-title %}{% trans "Edit" %} {{ object.title }} {% trans "by" %} {{ object.user }} | {% trans "Looks" %} | {% endblock %}

{% block extra-styles %}
<!--<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/smoothness/jquery-ui.css" rel="stylesheet" />-->
{% endblock %}

{% block header %}

    <div id="header" class="small">
        <div id="inner-header">
            {% include 'apparel/shared_header.html' %}
        </div>
    </div>

{% endblock %}

{% block body-classes %}look-editor{% endblock %}
{% block body %}

    <div id="content" class="group">

        <div class="body-header">
            <h1>{% if object %}{% trans "Edit look" %}{% else %}{% trans "Create a new look" %}{% endif %}</h1>
            <div class="button-container">
                {% if object and object.slug %}
                <button class="btn btn-upper btn-delete" name="look_delete">{% trans "Delete look" %}</button>
                {% else %}
                <button class="btn btn-upper btn-reset" name="look_reset">{% trans "Reset look" %}</button>
                {% endif %}
                <button class="btn btn-upper btn-save" name="look_save">{% trans "Save" %}</button>
                {% if object and object.published %}
                <button class="btn btn-upper btn-positive btn-unpublish" name="look_publish" data-publish-text="{% trans "Publish" %}" data-unpublish-text="{% trans "Unpublish" %}">{% trans "Unpublish" %}</button>
                {% else %}
                <button class="btn btn-upper btn-positive btn-publish" name="look_publish" data-publish-text="{% trans "Publish" %}" data-unpublish-text="{% trans "Unpublish" %}">{% trans "Publish" %}</button>
                {% endif %}
            </div>
        </div>

        <div id="edit-look"></div>

        <div id="product-chooser">
            <ul id="product-tabs" class="group">
                <li><a class="tab-likes{% if request.user.is_authenticated %} selected{% endif%}"{% if request.user.is_authenticated %} data-user="{{ request.user.id }}"{% endif %} href="#likes">{% trans "Your ♥" %}</a>
                <li><a class="tab-all{% if not request.user.is_authenticated %} selected{% endif%}" href="#all">{% trans "All products" %}</a></li>
            </ul>
            <div id="product-filter" class="group">
                <div class="middle-filters">
                    <input type="search" name="q" placeholder="{% trans "Search for your product here.." %}">
                    <label><input type="radio" name="gender" value="W"{% if APPAREL_GENDER == 'W' %} checked{% endif %}> {% trans "Women" %}</label>
                    <label><input type="radio" name="gender" value="M"{% if APPAREL_GENDER == 'M' %} checked{% endif %}> {% trans "Men" %}</label>
                </div>
                <div class="hidden-filters-container">
                    <ul class="hidden-filters">
                        <li id="product-filter-category" class="dropdown left">
                            <a href="#" data-default-name="{% trans "Choose category" %}"><span>{% trans "Choose category" %}</span></a>
                        </li>
                        <li id="product-filter-subcategory" class="dropdown left">
                            <a href="#" data-default-name="{% trans "Subcategory" %}"><span>{% trans "Subcategory" %}</span></a>
                        </li>
                        <li id="product-filter-color" class="dropdown">
                            <a href="#" data-default-name="{% trans "Color" %}"><span>{% trans "Color" %}</span></a>
                        </li>
                        <li id="product-filter-price" class="dropdown">
                            <a href="#" data-default-name="{% trans "Price" %}"><span>{% trans "Price" %}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-list-container">
                <ul id="product-list"></ul>
            </div>
        </div>
    </div>

    <script type="text/template" id="dialog_reset_template">
        <p>{% trans "Are you sure you want to discard changes and start over?" %}</p>
        <a href="#" class="btn btn-upper btn-block btn-no">{% trans "No" %}</a>
        <a href="#" class="btn btn-upper btn-block btn-positive btn-yes">{% trans "Yes" %}</a>
    </script>

    <script type="text/template" id="dialog_delete_template">
        <p>{% trans "Are you sure you want to permanently delete your look?" %}</p>
        <a href="#" class="btn btn-upper btn-block btn-no">{% trans "No" %}</a>
        <a href="#" class="btn btn-upper btn-block btn-positive btn-yes">{% trans "Yes" %}</a>
    </script>

    <script type="text/template" id="save_look_template">
        <label for="look_title">{% trans "Your look title" %}</label>
        <input id="look_title" type="text" value="<%= title %>" name="title">

        <label for="look_description">{% trans "Description" %}</label>
        <textarea name="description" id="look_description"><%= description %></textarea>

        <a href="#" class="btn btn-upper btn-block btn-cancel">{% trans "Cancel" %}</a>
        <a href="#" class="btn btn-upper btn-block btn-positive btn-save">{% trans "Save" %}</a>
    </script>

    <script type="text/template" id="publish_look_template">
        <label for="look_title">{% trans "Your look title" %}</label>
        <input id="look_title" type="text" value="<%= title %>" name="title">

        <label for="look_description">{% trans "Description" %}</label>
        <textarea name="description" id="look_description"><%= description %></textarea>

        <a href="#" class="btn btn-upper btn-block btn-cancel">{% trans "Cancel" %}</a>
        <a href="#" class="btn btn-upper btn-block btn-positive btn-publish">{% trans "Publish" %}</a>
    </script>

    <script type="text/template" id="popup_slim_template">
        <div class="header group">
            <h5 class="title"></h5>
            <a href="#" class="close">close</a>
        </div>
        <div class="content-container">
            <div class="content"></div>
        </div>
    </script>

    <script type="text/template" id="look_edit_popup_loading">
        <img class="loading" src="{% static "images/loading_white.gif" %}">
    </script>

    <script type="text/template" id="look_edit_add_popup_template">
        <div class="add-container group">
            <img src="{% static "images/big-larrow.png" %}">
            <p>{% trans "Click in photo to place item" %}</p>
            <img src="<%= image_small %>">
        </div>
    </script>

    <script type="text/template" id="edit_look_template">
        <div class="look-container" id="<%= look_type %>"<% if(look_type == 'photo' && look.image) { %> style="background-image: url('<%= look.image %>');"<% } %>></div>
    </script>

    <script type="text/template" id="look_component_photo">
        <a href="#" class="delete"></a>
    </script>

    <script type="text/template" id="look_component_collage">
        <img src="<%= product.image %>" style="width: 100%; height: 100%;">
        <a href="#" class="delete"></a>
    </script>

    <script type="text/template" id="temporary_image_form_template">
        <div class="loading" style="display:none;">
            <span>{% trans "Uploading image" %}</span> <img src="{% static "images/loading_white.gif" %}">
        </div>
        <form enctype="multipart/form-data" action="{% url temporary-image %}" method="POST" id="temporaryimage">
            {% csrf_token %}
            <div class="look-empty">
                <p>{% trans "Upload a photo to create a tagged image" %}</p>
                <div class="upload-field">
                    <span><input type="file" name="image_file"></span>
                </div>
                <button type="submit">{% trans "Upload" %}</button>
            </div>
        </form>
    </script>

    <script type="text/template" id="product_small_template">
        <div class="product-small product-container">
            <a class="image-small" href="#">
                <img src="<%= image_small %>">
            </a>
            <div class="hover">
                <a class="btn btn-upper btn-block btn-info" href="#">{% trans "Info" %}</a>
                <a class="btn btn-upper btn-block btn-positive btn-add" href="#">{% trans "Add" %}</a>
            </div>
            <div class="caption">
                <h4><%= brand_name %></h4>
                <% if(!availability) { %>
                <span class="sold-out">SOLD OUT</span>
                <% } else { %>
                <p>
                    <% if(discount) { %>
                        <span class="discount-price"><%= formatNumber(discount_price) %> <%= currency %></span>
                        <span class="price discounted"><%= formatNumber(price) %> <%= currency %></span>
                    <% } else { %>
                        <span class="price"><%= formatNumber(price) %> <%= currency %></span>
                    <% } %>
                </p>
                <% } %>
            </div>
        </div>
    </script>

    <script type="text/javascript">
        var external_look_type = '{{ component }}';
        var external_look_id = {% if object %}{{ object.id }}{% else %}-1{% endif %};
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    {% compressed_js 'look_editor' %}

{% endblock body %}
