{% extends 'base.html' %}
{% load i18n cache thumbnail apparel_extras %}

{% block extra-title %}{% if APPAREL_GENDER == 'M' %}{% trans "Looks Men" %}{% else %}{% trans "Looks Women" %}{% endif %} | {% endblock %}

{% block body-header %}
<div id="body-header">
    <div class="column_one">
        <h1 class="max-width">{% if APPAREL_GENDER == 'M' %}{% trans "Looks Men" %}{% else %}{% trans "Looks Women" %}{% endif %}</h1>
    </div>
    <div class="column_two">
        <ul>
            {% url 'popular-look-list' as popular_look_list_url %}
            <li><a class="first latest{% if 'popular' not in request.path %} current{% endif %}" href="{% gender_url APPAREL_GENDER 'look-list' %}">{% trans "Popular looks" %}</a></li>
            <li><a class="last popular{% if 'popular' in request.path %} current{% endif %}" href="{{ popular_look_list_url }}">{% trans "Popular looks in your network" %}</a></li>
        </ul>
    </div>
    <a class="btn btn-positive btn-upper btn-create-look" href="{% url 'look-create' %}">{% trans "+ Create look" %}</a>
</div>
{% endblock body-header %}
{% block body-classes %}one-column look-list{% endblock body-classes %}
{% block body %}
    <div id="content">
        {% url 'look-list-men' as look_list_men %}
        {% url 'look-list-women' as look_list_women %}
        {% url 'popular-look-list' as popular_look_list_url %}
        {% if request.path == look_list_women or request.path == look_list_men or request.path == popular_look_list_url %}
        {% else %}
            {% if 'products/' in request.path %}
            <h2>{% trans "Showing" %} {% blocktrans count paginator.count as counter %}{{ counter }} look{% plural %}{{ counter }} looks{% endblocktrans %}</h2>
            {% else %}
            <h2>{% trans "Showing" %} '{{ query|escape }}', {% blocktrans count paginator.count as counter %}{{ counter }} look{% plural %}{{ counter }} looks{% endblocktrans %}</h2>
            {% endif %}
        {% endif %}

        {% if not user.is_authenticated and request.path == popular_look_list_url %}
            <div class="empty-content">
                <p>{% trans "To see popular looks in your network you need to connect with your Facebook account." %}</p>
                {% facebook_button %}
            </div>
        {% else %}
            {% if not current_page.object_list and request.path == popular_look_list_url %}
            <div class="empty-content">
                <p>{% trans "You currently don't follow anyone who has liked any looks, find friends to follow amoung our members." %}</p>
                <a class="btn btn-upper" href="{% url 'user-list-popular' %}">{% trans "See all members" %}</a>
            </div>
            {% else %}
                {% include 'apparel/fragments/looks_medium.html' %}
            {% endif %}
        {% endif %}
    </div>
{% endblock body %}
