{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block extra-title %}{% trans "Create a new look" %} | {% endblock %}

{% block body-scripts %}
{% endblock %}
{% block body-classes %}look-create-page{% endblock %}
{% block body %}

<div class="body-header">
    <h1>{% trans "Create a new look" %}</h1>
</div>

<div class="row look-choice">
    <div class="col-is-6">
        <a href="{% url 'look-editor' 'photo' %}"><img class="img-responsive" src="{% static "images/look_example_photo.jpg" %}"></a>
        <a href="{% url 'look-editor' 'photo' %}" class="btn btn-primary btn-block btn-large center">{% trans "Create a tagged photo" %}</a>
    </div>
    <div class="col-is-6">
        <a href="{% url 'look-editor' 'collage' %}"><img class="img-responsive" src="{% static "images/look_example_collage.jpg" %}"></a>
        <a href="{% url 'look-editor' 'collage' %}" class="btn btn-primary btn-block btn-large center">{% trans "Create a collage" %}</a>
    </div>
</div>

{% endblock body %}