{% extends 'base.html' %}
{% load i18n cache thumbnail apparel_extras %}

{% block extra-title %}{% if APPAREL_GENDER == 'M' %}{% trans "Looks Men" %}{% else %}{% trans "Looks Women" %}{% endif %} | {% endblock %}
{% block 'extra-scripts' %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        makeProductTooltip('.collage .product, .photo .product');
    });
</script>
{% endblock 'extra-scripts' %}

{% block body-header %}
<div id="body-header">
    <div class="column_one">
        <h1 class="max-width">{% trans "Looks" %}</h1>
    </div>
    <div class="column_two">
        <ul>
            {% url popular-look-list as popular_look_list_url %}
            <li><a class="first latest{% if 'popular' not in request.path %} current{% endif %}" href="{% gender_url APPAREL_GENDER 'look-list' %}">{% trans "Popular looks" %}</a></li>
            <li><a class="last popular{% if 'popular' in request.path %} current{% endif %}" href="{{ popular_look_list_url }}">{% trans "Popular looks in your network" %}</a></li>
        </ul>
    </div>
    <a class="open-dialog create-look" data-dialog-width="380" href="{% url apparel.views.look_create %}">{% trans "Create a look" %}</a>
</div>
{% endblock body-header %}
{% block body-classes %}one-column look-list{% endblock body-classes %}
{% block body %}
    <div id="content">
        {% url look-list-men as look_list_men %}
        {% url look-list-women as look_list_women %}
        {% url popular-look-list as popular_look_list_url %}
        {% if request.path == look_list_women or request.path == look_list_men or request.path == popular_look_list_url %}
        {% else %}
            {% if 'products/' in request.path %}
            <h2>{% trans "Showing" %} {% blocktrans count paginator.count as counter %}{{ counter }} look{% plural %}{{ counter }} looks{% endblocktrans %}</h2>
            {% else %}
            <h2>{% trans "Showing" %} '{{ query|escape }}', {% blocktrans count paginator.count as counter %}{{ counter }} look{% plural %}{{ counter }} looks{% endblocktrans %}</h2>
            {% endif %}
        {% endif %}

        {% if not user.is_authenticated and request.path == popular_look_list_url %}
            <div>{% trans "To see popular looks in your network you need to connect with your Facebook account." %}</div>
            {% with MEDIA_URL|add:'images/facebook-'|add:LANGUAGE_CODE|add:'.png' as facebook_login_image %}
                {% facebook_button facebook_login_image %}
            {% endwith %}
        {% else %}
            {% if not current_page.object_list and request.path == popular_look_list_url %}
                <div>{% trans "You currently don't follow anyone who has liked any looks, find friends to follow amoung our members." %}</div>
                <a class="all-users" href="{% url user-list-popular %}">{% trans "See all members" %}</a>
            {% else %}
                {% include 'apparel/fragments/looks_medium.html' %}
            {% endif %}
        {% endif %}
    </div>
{% endblock body %}
