{% load static from staticfiles %}
{% load thumbnail cache compressed buy_extras %}
{% spaceless %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}" class="look-type-{{ object.display_with_component }}">
  <head>
    <title>{{ object.title }} by {{ object.user.display_name }} | Apprl - Social Shopping</title>
    <link rel="stylesheet" href="{% static 'styles/widget.css' %}">
    <link rel="stylesheet" href="{% static 'less/widget.css' %}">
    <link rel="canonical" href="{% url 'look-detail' object.slug %}">
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ GOOGLE_ANALYTICS_UNIVERSAL_ACCOUNT }}', {'cookieDomain': '{{ GOOGLE_ANALYTICS_UNIVERSAL_DOMAIN }}'});
        ga('send', 'pageview');

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
        _gaq.push(['_setDomainName', '{{ GOOGLE_ANALYTICS_DOMAIN }}']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
  </head>
  <body class="look-embed">
    <div class="container">
      {% if object.display_with_component == 'C' %}
        <div class="look collage">
          {% for component in components %}
            {% thumbnail component.product.product_image "694x524" crop="noop" format="PNG" transparent=True as im %}
            <a rel="nofollow" target="_blank" href="{% if component.product.default_vendor and component.product.default_vendor.availability != 0 %}{% buy_url component.product.id component.product.default_vendor object.user.pk 'Ext-Look' %}{% else %}{{ component.product.get_absolute_url }}{% endif %}" id="product-{{ component.product.id }}" class="product collage-image btn-buy-external" data-sid="{% get_sid component.product.id object.user.pk 'Ext-Look' %}" data-slug="{{ component.product.slug }}" data-vendor="{{ component.product.default_vendor.vendor }}" data-price="{{ component.product.default_vendor.lowest_price_in_sek|floatformat:0 }}" style="{{ component.style_embed }};">
              <img src="{{ im.url }}" title="{{ component.product }}" />
            </a>
            {% endthumbnail %}
            {% cache CACHE_TIMEOUT look_embed_tooltip component.product.id LANGUAGE_CODE %}
              {% include "apparel/fragments/look_embed_tooltip.html" with owner=object.user product=component.product alternative=component.alternative only %}
            {% endcache %}
          {% endfor %}
        </div>
      {% else %}
        <div id="photo-background" class="look look-photo"
        {% if object.image %}
          {% thumbnail object.image "1000" upscale=False as im %}
          style="background-image: url('{{ im.url }}'); padding-right: 100%; padding-bottom: {% widthratio im.height im.width 100  %}%; background-size: 100% auto; background-repeat: no-repeat"
          {% endthumbnail %}
        {% endif %}
        </div>
        <div id="photo-markers" class="photo-hotspots">
            {% for component in components %}
              <a rel="nofollow" target="_blank" href="{% if component.product.default_vendor and component.product.default_vendor.availability != 0 %}{% buy_url component.product.id component.product.default_vendor object.user.pk 'Ext-Look' %}{% else %}{{ component.product.get_absolute_url }}{% endif %}" class="hotspot product btn-buy-external" id="hotspot-{{ component.product.id }}" data-sid="{% get_sid component.product.id object.user.pk 'Ext-Look' %}" data-slug="{{ component.product.slug }}" data-vendor="{{ component.product.default_vendor.vendor }}" data-price="{{ component.product.default_vendor.lowest_price_in_sek|floatformat:0 }}" style="{{ component.style_embed }}"></a>
              {% cache CACHE_TIMEOUT look_embed_tooltip component.product.id LANGUAGE_CODE %}
                {% include "apparel/fragments/look_embed_tooltip.html" with owner=object.user product=component.product alternative=component.alternative only %}
              {% endcache %}
            {% endfor %}
        </div>
      {% endif %}
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
        var embedWidth = {{ embed_width }};
        var embedHeight = {{ embed_height }};
        var embedId = '{{ embed_id }}';
    </script>
    {% compressed_js 'embed' %}
  </body>
</html>
{% endspaceless %}
