{% extends 'profile/base.html' %}
{% load i18n %}

{% block 'extra-styles' %}
<style type="text/css">
    .collage {
        position: relative;
        height: 500px;
    }
    .look {
        position: absolute;
        cursor: pointer;
    }
    .tooltip {
        display: none;
        z-index: 1100;
        padding: 1em;
    }
</style>
{% endblock 'extra-styles' %}

{% block 'extra-scripts' %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.look').tooltip({
            effect: 'slide',
            relative: true,
            delay: 500,
            offset: [30, 0],
        });
        jQuery('.row').scrollable();
    });
</script>
{% endblock 'extra-scripts' %}

{% block body-classes %}three-columns{% endblock %}

{% block body %}
<div class="sidebar">
    <h2>Sidebar</h2>
</div>
<div id="content">
    <h2>{{ object.title }}</h2>
    <ul class="collage">{% include 'apparel/fragments/look_collage.html' %}</ul>
    {% ifequal object.user user %}
    <a href="{% url apps.apparel.views.look_edit object.id %}">{% trans "Edit look" %}</a>
    {% endifequal %}
    <h2>{% trans "Articles in this look" %}</h2>
    <div id="lookproducts">
        <a class="prevPage">{% trans "Previous" %}</a>
        <div class="row">
            <ul>
                {% for product in object.look_products.all %}
                <li><a href="{{ product.product.get_absolute_url }}"><img src="/scale/116x116{{ product.product.product_image.url }}" /></a></li>
                {% endfor %}
            </ul>
        </div>
        <a class="nextPage">{% trans "Next" %}</a>
    </div>
</div>
<div class="sidebar">
    <h2>Sidebar 2</h2>
</div>
{% endblock body %}
