{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}

{% block extra-title %}{% trans "Edit" %} {{ object.title }} {% trans "by" %} {{ object.user }} | {% trans "Looks" %} | {% endblock %}

{% block 'extra-styles' %}
<link rel="stylesheet" href="{{ MEDIA_URL }}/styles/jquery.ui.rotatable.css" type="text/css" media="screen, projection">
{% endblock 'extra-styles' %}
{% block 'extra-scripts' %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.ui.rotatable.js"></script>
<script type="text/javascript">

var look = {
    initialize: function(ele) {
        var pane    = ele.parent();
        var wrapper = ele;
        
        switch(pane.attr('id')) {
            case 'collage':
                ele.resizable({
                    aspectRatio: true,
                    autoHide: true,
                    maxHeight: ele.parent().height(),
                    maxWidth: ele.parent().width(),
                    minHeight: 30,
                    minWidth: 30,
                    //grid: [10, 10],
                    stop: function(event, ui) {
                        look.saveComponent({
                            id: ui.element.find('.product').attr('id').split('-').pop(),
                            position: ui.position,
                            size: ui.size
                        }, pane);
                    }
                });
                wrapper = ele.parent('.ui-wrapper');
                wrapper.rotatable({ 
                    handles: 'ne',
                    autoHide: true,
                    stop: function(event, ui) {
                        look.saveComponent({
                            id: ui.element.find('.product').attr('id').split('-').pop(),
                            rotation: ui.rotation
                        }, pane);
                    }
                });
                break;
            case 'photo-background':
                // FIXME: This is the same as the look product page
                ele.tooltip({
                    //def: 'mouseenter,mouseleave',
                    effect: 'slide',
                    relative: true,
                    delay: 500,
                    offset: [15, 60]
                })
                break;
        }
        
        wrapper
            .append(jQuery('<div/>').addClass('delete'))
            .draggable({
                    stack: '.ui-wrapper',
                    containment: 'parent',
                    //snap: true,
                    //grid: [10, 10],
                    stop: function(event, ui) {
                        //var id = ui.helper.
                        var p = (ui.helper.hasClass('product')) ? ui.helper : ui.helper.find('.product');
                        //console.log('drag', ui);
                        look.saveComponent({
                            id: p.attr('id').split('-').pop(),
                            position: ui.position
                        }, pane);
                        //look.saveComponent(ui, pane);
                    },
                    start: function(event, ui) {
                        var tp = ui.helper.data('tooltip');
                        if(tp) tp.hide();
                    }
            })            
            .hover(
                function() {
                    look.disable(jQuery('.ui-draggable'));
                    look.enable(jQuery(this));
                    return true;
                },
                function() {
                    look.disable(jQuery(this));
                    return true;
                }
            );

        
        jQuery.fn.reverse = jQuery.fn.reverse || [].reverse;
        wrapper.reverse().each(function() {
            var el = jQuery(this);
            position = el.position();
            el.css({
                position: 'absolute',
                marginLeft: 0,
                marginRight: 0,
                top: position.top,
                left: position.left,
                overflow:'visible'
            });
        });
        
        if(pane.attr('id') == 'collage') {
            ele.siblings('.delete').bind('click', function(e) {
                look.deleteComponent(
                    jQuery(e.currentTarget).closest('.ui-wrapper').find('.product'),
                    pane
                );
            });
        } else {
            ele.children('.delete').bind('click', function(e) {
                var p = jQuery(e.currentTarget).parent('.product')
                    p.tooltip().hide();
                look.deleteComponent(p, pane);
                return false;
            });
        }
    },
    saveComponent: function(args, pane) {
        var context = getContextFromPane(pane);
                
        data = {
            look: {{ object.id }},
            product: args.id,    // product.attr('id').split('-').pop(),
            component_of: context.component_of,
            z_index: 50 // FIXME: We need to create a stack
        }
        
        if('position' in args) {
            data['top']  = parseInt(args.position.top);
            data['left'] = parseInt(args.position.left);
        }
        
        if('rotation' in args) {
            data['rotation'] = parseInt(args.rotation);
        }
        
        if('size' in args) {
            data['width'] = parseInt(args.size.width);
            data['height'] = parseInt(args.size.height);
        }
        
        jQuery.post('{% url apparel.views.save_look_component %}', data,
            function(response, status, request) {
                var component = response.data.look_component;
                
                if(!response.success) {
                    console.error('Bad AJAX request', response, status, request);
                    return;
                }
                
                if(response.data.added) {
                    var new_product = jQuery(context.template).render({component: component}).appendTo(pane);
                    look.initialize(new_product.first());
                }
            }
        );
    },
    deleteComponent: function(product, pane) {
        var context = getContextFromPane(pane);
        var id = product.attr('id').split('-').pop();
        jQuery.post(
            '{% url apparel.views.delete_look_component %}', {
                look: {{ object.id }},
                product: id,
                component_of: context.component_of
            },
            function(response, status, request) {
                if(response.success) {
                    product.remove();
                    
                    if(!response.data.in_look)
                        jQuery('#selection-' + id).remove();
                }
            }
        );
    },
    disable: function(ele) {
        ele.children('.delete').hide();
        ele.draggable('disable');
    },
    enable: function(ele) {
        ele.children('.delete').show();
        ele.draggable('enable');
    }
};

function getContextFromPane(pane) {
    var context = {
        'photo-background': { 'template': '#look_photo_product_template', 'component_of': 'P' },
        'collage': { 'template': '#look_collage_product_template', 'component_of': 'C' }
    }[pane.attr('id')];
    
    if(!context) {
        console.error('Unknown pane', pane);
        return;
    }
    
    return context;
}

jQuery(document).ready(function() {
    look.initialize(jQuery('#collage > .product'));
    look.initialize(jQuery('#photo-background > .product'));
    look.disable(jQuery('.ui-draggable'));

    jQuery('#id_description, #id_tags').autogrow();
    jQuery('ul.tabs').tabs('div.panes > div', {'history': true});
    jQuery('#wardrobe-contents li').draggable({
        'zIndex': 100,
        'disabled': false,
        'addClasses': false,
        'helper': 'clone',
        'cursor': 'move',
        'revert': 'invalid',
        'appendTo': '#edit-look .panes'
    });
    jQuery('#selection,#photo-background,#collage').droppable({
        'accept': '#wardrobe-contents li',
        'drop': function(event, ui) {
            var product_id = ui.draggable.attr('id').split('-').pop();

            jQuery.post('{% url apparel.views.add_to_look %}', {
                'look': '{{ object.id }}',
                'product': product_id
            }, function(response, status, request) {
                if(response.success == false) {
                    alert('something went wrong');
                    return;
                }
                
                if(response.data.added) {
                    var product = ui.draggable.clone();
                        product.removeAttr('id');
                    
                    jQuery('#selection .row ul').append(product);
                }
                
                var data = { id: product_id }
                switch(event.target.id) {
                    case 'selection':
                        return;     // No component to save
                    
                    case 'collage':
                        data['position'] = ui.position;
                        data['size'] = {
                            height: ui.draggable.height(),
                            width: ui.draggable.width()                        
                        }
                        break;
                    case 'photo-background':
                        oy = event.layerY || 0;
                        ox = event.layerX || 0;
                        data['position'] = {
                            top: ui.position.top + oy - 40,
                            left: ui.position.left + ox - event.target.offsetLeft - 40
                        }
                        break;
                }
                
                look.saveComponent(data, $(event.target));
            } );
        }
    });
    jQuery('#photo-background').live('click', function(e) {
        var offset = jQuery(e.target).offset();
        var left   = e.pageX - offset.left;
        var top    = e.pageY - offset.top;
        
        if(chooser.dialog.is(':visible')) {
            chooser.dialog.hide();
        } else {            
            chooser.show({
                anchor: jQuery(this),
                callback: function(li) {
                    createHotspot(li.data('product'), top, left);
                },
                left: left,
                top: top
            });
        }
    });
    
    jQuery('#photo-background a').live('click', function(e) {
        e.preventDefault();
    });
    
    jQuery('#id_title')
        .focus(function(e) {
            if(this.value == this.defaultValue)
                this.value = '';
   
            return true;
        })
        .blur(function(e) {
            if(this.value == '')
                this.value = this.defaultValue;
   
            return true;
        });
});

function createHotspot(product, top, left) {
    look.saveComponent({
        id: product.id,
        position: {
            left: left - 40,
            top: top - 40
        }
    }, jQuery('#photo-background'));
    
    return;
}

var chooser = {
    dialog: jQuery('#product-chooser'),
    show: function(args) {
        // Renders and displays the dialog 
        // args:
        //  callback: routine to run when product has been chosen
        //  anchor:   (jQuery) element to attach the dialog to
        //  left
        //  top
        
        this.render(args.anchor);
        
        var dialog = this.dialog;
        args.anchor.append(dialog);
        dialog.find('li').unbind('click').bind('click', function(e) {
            args.callback(jQuery(this));
            dialog.hide();
            return false;
        } );
        this.dialog.css({
            left: args.left,
            top: args.top
        });
        dialog.show();            
    },
    render: function(anchor) {
        var dialog = this.dialog;
        dialog.find('li').hide();
        
        // Find products already plotted in anchor
        var existing = jQuery.map(anchor.find('.product'), function(element) {
            return jQuery(element).attr('id').split('-').pop()
        });
        
        // Find all products in wordrobe and look
        var ids = jQuery.map(
                jQuery('#wardrobe-contents li, #selection li'),
                function(li) {
                    return li.id.split('-').pop();
                }
        );
        // Weed out duplicates and existing ids
        ids = jQuery.grep(ids, 
            function(id, idx) {
                return (existing.indexOf(id) > -1 || ids.indexOf(id) < idx) ? false : true;
            }
        );   
                    
        // Find out what ids needs to be fetched
        var to_fetch = [];
        jQuery.each(ids, function(idx, id) {
            var item = dialog.find('#option-' + id);
            if(item.length > 0) {
                // Display item
                item.show();
            } else {
                // Insert after previous item to maintain order
                var li = jQuery('<li/>')
                    .attr('id', 'option-' + id)
                ;
                
                if(idx > 0) {
                    jQuery('#option-' + ids[idx - 1]).after(li);
                } else {
                    dialog.find('ul').append(li);
                }
                to_fetch.push(id);
            }
        });
        
        if(to_fetch.length > 0) {
            jQuery.getJSON('{% url apparel.views.search "products"  %}', {
                '1:p.id:in': to_fetch.join(','),
                'page': '-1'
            }, function(result, status) {
                jQuery.each(result.object_list, function(idx, product) {
                    jQuery('#option-' + product.id)
                        .append(
                            jQuery('#product_thumb_template').render({ product: product })
                        )
                        .data('product', product);
                });
            });
        }
    }
};

</script>
{% endblock 'extra-scripts' %}

{% block body-classes %}edit-look two-columns{% endblock %}

{% block body %}
<form enctype="multipart/form-data" action="" method="POST">
<div id="look-title">
    {{ form.title }}<button type="submit">{% trans "Save" %}</button>
</div>
<div>{{ form.title.errors }}</div>
<div>{{ form.slug.errors }}</div>
<div>{{ form.description.errors }}</div>
<div>{{ form.user.errors }}</div>
<div>{{ form.image.errors }}</div>
<div>{{ form.created.errors }}</div>
<div>{{ form.modified.errors }}</div>
<div>{{ form.tags.errors }}</div>
<div class="sidebar">
    <label for="id_description">{% trans "Description (optional):" %}</label>
    {{ form.description }}
    <label for="id_tags">{% trans "Tags:" %}</label>
    {{ form.tags }}
</div>
<div id="content">
    <div id="edit-look">
        <ul class="tabs">
            <li class="first"><a class="collage" href="collage-tab">{% trans "Collage" %}</a></li>
            <li><a class="photo" href="photo-tab">{% trans "Photo" %}</a></li>
            <li class="last"><a class="selection" href="selection-tab">{% trans "Selection" %}</a></li>
        </ul>
        <div class="panes">
            <div id="collage">
            {% include 'apparel/fragments/look_collage.html' %}
            </div>
            {% include 'apparel/fragments/look_photo.html' %}
            <div id="selection">
            {% with "selection" as id_prefix %}
            {% with object.products.all as products %}
            {% include 'apparel/fragments/product_row.html' %}
            {% endwith %}
            {% endwith %}
            </div>
        </div>
    </div>
</div>
</form>
<div id="wardrobe">
    <div id="wardrobe-title">
        <span>{% trans "Your wardrobe" %}</span>
    </div>
    <div id="wardrobe-contents">
        {% with "wardrobe" as id_prefix %}
        {% with wardrobe as products %}
        {% include 'apparel/fragments/product_row.html' %}
        {% endwith %}
        {% endwith %}
    </div>
</div>
<div id="product-chooser"><ul></ul></div>
{% endblock body %}
