{% extends 'dialog_base.html' %}
{% load i18n %}

{% block modal_id %}modal_look_publish_{{ look.id }}{% endblock %}
{% block modal_title %}{% trans "Publish look" %}{% endblock %}
{% block extra_modal_classes %}modal-sm{% endblock %}
{% block modal_content %}
<p>{% trans "Do you want to publish this look?" %}</p>
{% endblock %}
{% block modal_footer %}
<p>
    <a class="btn btn-success btn-publish-look center" href="#">{% trans "Yes" %}</a>
    <a class="btn btn-danger center" data-dismiss="modal" href="#">{% trans "No" %}</a>
</p>
<script type="text/javascript">
    $(function() {
        $('#modal_look_publish_{{ look.id }} .btn-publish-look').on('click', function() {
            $.post('{% url "look-publish" look.slug %}', function() {
                $('#modal_look_publish_{{ look.id }}').modal('hide');
                $('.look-main-content .btn-publish, .look-main-content .btn-unpublish, .body-header .draft-text').addClass('published');
                if(share_settings['create_look'] === false) {
                    ApparelActivity.notification('create', 'look', {{ look.id }});
                }
            });
            return false;
        });
    });
</script>
{% endblock %}
