{% extends 'base.html' %}
{% load cache i18n humanize thumbnail apparel_extras buy_extras %}

{% block extra-title %}{% cache CACHE_TIMEOUT product_detail_title object.id LANGUAGE_CODE %}{{ object.product_name }} {% trans "by" %} {{ object.manufacturer }} | {% if object.color_list_locale %}{% for color in object.color_list_locale %}{{ color }}{% if not forloop.last %}{% if forloop.revcounter == 2 %} & {% else %}, {% endif %}{% endif %}{% endfor %} |{% endif %} {{ object.categories|join:' | ' }} | {% trans object.get_gender_display %} | {% endcache %}{% endblock %}

{% block meta_description %}{{ object.description }}{% endblock %}

{% block head-data %} prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {{ FACEBOOK_OG_TYPE }}: http://ogp.me/ns/fb/{{ FACEBOOK_OG_TYPE }}#"{% endblock head-data %}

{% block extra-styles %}
    {% cache CACHE_TIMEOUT product_detail_metaextra object.id LANGUAGE_CODE %}
    <link rel="canonical" href="{{ product_full_url }}">
    <meta property="og:title" content="{{ object.manufacturer }} - {{ object.product_name }}"/>
    <meta property="og:type" content="{{ FACEBOOK_OG_TYPE }}:product"/>
    {% thumbnail object.product_image "720" upscale=False crop="noop" format="PNG" as im %}
    <meta property="og:image" content="{{ im.url }}"/>
    {% endthumbnail %}
    <meta property="og:url" content="{{ product_full_url }}"/>
    <meta property="og:description" content="{{ object.default_vendor_price|floatformat:0|apprl_intcomma }} {{ object.default_vendor.locale_currency }}"/>
    <meta property="og:site_name" content="{{ CURRENT_NAME }}"/>
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}"/>
    <meta property="{{ FACEBOOK_OG_TYPE }}:likes" content="{{ object.score }}"/>
    <meta property="{{ FACEBOOK_OG_TYPE }}:brand" content="{{ product_brand_full_url }}"/>
    <meta property="{{ FACEBOOK_OG_TYPE }}:price" content="{{ object.default_vendor_price|floatformat:0|apprl_intcomma }} {{ object.default_vendor.locale_currency }}"/>
    {% endcache %}
{% endblock extra-styles %}

{% block body-classes %}product-detail-page{% endblock %}
{% block full-body %}

    <div class="container" itemscope itemtype="http://data-vocabulary.org/Product">
        {% if warning_text %}
        <div class="alert alert-warning alert-dismissible top-alert" role="alert">
            <button type="button" class="close" data-dismiss="modal"><span></span></button>
            {{ warning_text }} <a class="alert-warning" style="text-decoration: underline;" href="{% url 'settings-email' %}#location-notifications">{% trans "Go to location settings" %}</a>
        </div>
        {% endif %}

        <div class="body-header center">
            <hgroup>
                {% if object.manufacturer.user %}
                <h1><a itemprop="brand" href="{{ object.manufacturer.user.get_absolute_url }}">{{ object.manufacturer }}</a></h1>
                {% else %}
                <h1 itemprop="brand">{{ object.manufacturer }}</h1>
                {% endif %}
                {% if object.product_name %}<h3 itemprop="name">{{ object.product_name }}</h3>{% endif %}
            </hgroup>

            {% if request.user.is_authenticated %}
            <a class="btn btn-lg btn-product-like{% if is_liked %} liked{% endif %}" href="#" data-liked-text="{% trans "Saved" %}" data-unlike-text="{% trans "Unsave" %}" data-like-text="{% trans "Save" %}" data-like-url="{% url 'product-action' object.id 'like' %}" data-unlike-url="{% url 'product-action' object.id 'unlike' %}" data-slug="{{ object.slug }}" data-id="{{ object.id }}" data-vendor="{{ object.default_vendor.vendor }}" data-price="{{ object.default_vendor.lowest_price_in_sek|floatformat:0 }}"><i class="fa fa-heart secondary"></i>&nbsp;<span>{% if is_liked %}{% trans "Saved" %}{% else %}{% trans "Save" %}{% endif %}</span></a>
            {% else %}
            <a class="btn btn-lg" data-toggle="modal" href="#" data-target="#modal_like_product"><i class="fa fa-heart"></i>&nbsp;<span>{% trans "Save" %}</span></a>
            {% endif %}

            {% if request.user.is_authenticated and request.user.is_partner and object.default_vendor %}
            <a data-slug="{{ object.slug }}" data-toggle="modal" data-target="#modal_like_product" class="btn auto">{% trans "Get product link" %}</a>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-6">
                <section class="center-sm">
                    <ol class="breadcrumbs">
                        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a itemprop="url" href="{% gender_url object.gender 'shop' %}">
                                <span itemprop="title">{% trans object.get_gender_display %}</span>
                            </a>
                        </li>
                        {% for category in object.categories %}
                        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a itemprop="url" href="{% gender_url object.gender 'shop' %}?category={{ category.id }}">
                                <span itemprop="title">{{ category }}</span>
                            </a>
                        </li>
                        {% endfor %}
                        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            {% if object.manufacturer.user %}
                            <a itemprop="url" href="{{ object.manufacturer.user.get_absolute_url }}">
                            {% else %}
                            <a itemprop="url" href="{% gender_url object.gender 'shop' %}?manufacturer={{ object.manufacturer.id }}">
                            {% endif %}
                                <span itemprop="name">{{ object.manufacturer }}</span>
                            </a>
                        </li>
                    </ol>
                    <hr>

                    <div class="product-image">
                        {% thumbnail object.product_image "720" upscale=False crop="noop" format="PNG" as im %}
                        <img itemprop="image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" title="{{ object }}">
                        {% endthumbnail %}
                    </div>
                </section>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-6">
                        <section class="center-sm">
                            {% cache CACHE_TIMEOUT product_detail_fragment object.id LANGUAGE_CODE %}
                            <h4>{% trans "Product info" %}</h4>
                            <hr>

                            <div class="product-info" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">

                                <p class="description" itemprop="description">{{ object.description }}</p>

                                <p class="seller" itemprop="seller" itemscope itemtype="http://data-vocabulary.org/Organization">
                                    {% if object.default_vendor %}
                                        {% if object.default_vendor.availability == 0 %}
                                        <a target="_blank" href="{{ object.default_vendor.vendor.homepage }}">{% trans "Was available at " %}<span itemprop="name">{{ object.default_vendor.vendor }}</span></a>
                                        {% else %}
                                        <a rel="nofollow" target="_blank" class="btn-buy" href="{% buy_url object.id object.default_vendor referral_sid 'Product' %}" data-sid="{% get_sid object.id referral_sid 'Product' %}" data-slug="{{ object.slug }}" data-vendor="{{ object.default_vendor.vendor }}" data-price="{{ object.default_vendor.lowest_price_in_sek|floatformat:0 }}">{% trans "Available at " %}<span itemprop="name">{{ object.default_vendor.vendor }}</span> &raquo;</a>
                                        {% endif %}
                                    {% endif %}
                                </p>
                                {% if object.default_vendor %}
                                <meta itemprop="condition" content="new" />
                                <meta itemprop="currency" content="{{ object.default_vendor.locale_currency }}" />
                                <meta itemprop="price" content="{{ object.default_vendor_price|floatformat:0|apprl_intcomma }}" />

                                <div class="product-vendor">
                                    <div class="computed-price">
                                        {% if object.default_vendor.locale_discount_price %}
                                        <span class="discount-price price">{{ object.default_vendor.locale_discount_price|floatformat:0|apprl_intcomma }}</span>
                                        {% endif %}
                                        <span class="price"{% if object.default_vendor.locale_discount_price %} style="text-decoration:line-through;"{% endif %}>{{ object.default_vendor.locale_price|floatformat:0|apprl_intcomma }}</span>
                                        <span class="currency">{{ object.default_vendor.locale_currency }}</span>
                                    </div>
                                </div>

                                {% if object.default_vendor.original_currency != object.default_vendor.locale_currency %}
                                <small>{% blocktrans with object.default_vendor.original_currency as original_currency %}The item is sold in {{ original_currency }} and the conversion to {{ CURRENCY }} is approximate.{% endblocktrans %}</small>
                                {% endif %}

                                {% if object.default_vendor.availability == 0 %}
                                <span itemprop="availability" content="out_of_stock" class="btn btn-lg disabled">{% trans "Sold out" %}</span>
                                {% else %}
                                <a rel="nofollow" itemprop="availability" content="in_stock" href="{% buy_url object.id object.default_vendor referral_sid 'Product' %}" target="_blank" class="btn btn-primary btn-lg auto" data-sid="{% get_sid object.id referral_sid 'Product' %}" data-slug="{{ object.slug }}" data-vendor="{{ object.default_vendor.vendor }}" data-price="{{ object.default_vendor.lowest_price_in_sek|floatformat:0 }}">{% trans "Buy" %}</a>
                                {% endif %}
                                {% else %}
                                    <span itemprop="availability" content="out_of_stock" class="btn btn-lg disabled">{% trans "Sold out" %}</span>
                                {% endif %}
                            </div>
                            {% endcache %}

                            {% if object.default_vendor and earning_cut and request.user.is_partner %}
                                 {% if object.default_vendor.vendor.is_cpo %}
                                    <p class="earning-box">You will earn approx. <span class="currency">{{ object.default_vendor.locale_currency }}</span>
                                        {% if object.default_vendor.locale_discount_price %}
                                            {% multiply object.default_vendor.locale_discount_price earning_cut %}
                                        {% else %}
                                            {% multiply object.default_vendor.locale_price earning_cut %}
                                        {% endif %}

                                        per generated sale of this item
                                    </p>
                                {% elif object.default_vendor.vendor.is_cpc %}
                                     <p class="earning-box">
                                         {% if cost_per_click.locale_price %}
                                            You will earn approx.
                                                <span class="currency">{{ cost_per_click.locale_currency }}</span>
                                                {% multiply cost_per_click.locale_price earning_cut %}
                                                per click to this item
                                         {% else %}
                                            Settings for CPC is missing.
                                         {% endif %}
                                    </p>
                                {% endif %}
                                <br>
                            {% endif %}

                            {% include 'apparel/fragments/share.html' %}
                        </section>
                    </div>

                    <div class="col-lg-6">
                        <section>
                            {% cache CACHE_TIMEOUT product_detail_selected_by object.id LANGUAGE_CODE %}
                            {% if partner_likes or object.manufacturer.user %}
                                <a class="helper" href="#">{% trans "See all" %}</a>
                                    <h4>{% trans "Selected by" %} <span>({{ partner_likes|get_selected_by }})</span></h4>
                            <hr>

                            <ul class="list-selected-by center-sm">
                                {% for like in partner_likes %}
                                <li class="clearfix">
                                    <a class="pull-left" href="{{ like.user.get_absolute_url }}"><img class="img-circle" src="{{ like.user.avatar }}" alt="{{ like.user.display_name }}"/></a>
                                    <div class="pull-left selected-by-text">
                                        <a href="{{ like.user.get_absolute_url }}">{{ like.user.display_name }}</a><br>
                                        <a target="_blank" href="{{ like.user.blog_url_external }}">{% trans "Go to blog »" %}</a>
                                    </div>
                                    <div class="pull-right">{% include 'apparel/fragments/follow.html' with request=request profile=like.user only %}</div>
                                </li>
                                {% endfor %}
                                {% with object.manufacturer.user as user %}
                                <li class="clearfix">
                                    <a class="pull-left" href="{{ user.get_absolute_url }}"><img class="img-circle" src="{{ user.avatar }}" alt="{{ user.display_name }}"/></a>
                                    <div class="pull-left selected-by-text">
                                        <a href="{{ user.get_absolute_url }}">{{ user.display_name }}</a>
                                    </div>
                                    <div class="pull-right">{% include 'apparel/fragments/follow.html' with request=request profile=user only %}</div>
                                </li>
                                {% endwith %}
                            </ul>
                            {% endif %}
                            {% endcache %}
                        </section>

                        <section>
                            {% if looks_with_product_count > 2 %}
                                <a class="helper" href="{% url 'product-look-list' contains=object.slug %}">{% trans "See all" %}</a>
                            {% endif %}
                                <h4>{% trans "Looks with this item" %} <span>({{ looks_with_product_count }})</span></h4>
                            <hr>
                            <ul class="list-looks center-sm">
                                {% for look in looks_with_product %}
                                <li class="col-list-look">
                                    {% cache CACHE_TIMEOUT look_small_like_product look.id LANGUAGE_CODE %}
                                    <a title="{{ look.title }}" href="{% url 'look-detail' slug=look.slug %}">
                                        <div class="look">
                                            {% thumbnail look.static_image "300x226" is_collage=look.is_collage keep_size=True crop=False format="PNG" as im %}
                                            <img id="look-{{ look.id }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                            {% endthumbnail %}
                                        </div>
                                    </a>
                                    {% endcache %}
                                </li>
                                {% endfor %}
                            </ul>
                            {% if looks_with_product_count > 2 %}
                            <a href="{% url 'product-look-list' contains=object.slug %}" class="btn auto">{% trans "See all looks" %}</a>
                            {% endif %}
                            <a href="{% url 'look-create-like' slug=object.slug %}" class="btn auto">{% trans "Add your look" %}</a>
                        </section>

                        <section>
                            {% cache CACHE_TIMEOUT product_detail_likes object.id LANGUAGE_CODE %}
                            <h4>{% trans "Likes" %} <span>({{ likes|length }})</span></h4>
                            <hr>
                                <ul id="likes-box" class="list-inline list-likes">
                                    <li class="{% if likes %}hide{% endif %}" style="width:inherit;">{% trans "Be the first one to like this product!" %}</li>
                                    {% for like in likes %}
                                        <li data-user-id="{{ like.user.pk }}"><a href="{{ like.user.get_absolute_url }}" title="{{ like.user.display_name }}">
                                            <img class="img-circle" alt="{{ like.user.display_name }}" title="{{ like.user.display_name }}" src="{{ like.user.avatar }}"></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endcache %}
                        </section>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                {% if alternative %}
                <div class="headline group">
                    <a class="helper" href="{{ alternative_url }}">{% trans "See all" %}</a>
                    <h4>{% trans "Similar products" %}</h4>
                    <hr>
                </div>
                <section id="more-alternatives">
                    <ul class="list-products">
                        {% for product in alternative %}
                        <li>
                            <a href="{% url 'product-detail' slug=product.slug %}"><img src="{{ product.image_small }}"></a>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                {% endif %}
                {% if more_like_this %}
                <h4>{% trans "You might also like" %}</h4>
                <hr>
                <section id="more-like-this">
                    <ul class="list-products">
                        {% for product in more_like_this %}
                        <li>
                            <a href="{% url 'product-detail' slug=product.slug %}"><img src="{{ product.image_small }}"></a>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                {% endif %}
            </div>
        </div>
    </div>

    {% comment %}
    <ul class="actions visible-xs">
        {% if request.user.is_authenticated %}
        <a class="btn btn-sm btn-default btn-product-like{% if is_liked %} liked{% endif %}" href="#" data-liked-text="{% trans "" %}" data-unlike-text="{% trans "" %}" data-like-text="{% trans "" %}" data-like-url="{% url 'product-action' object.id 'like' %}" data-unlike-url="{% url 'product-action' object.id 'unlike' %}" data-slug="{{ object.slug }}" data-id="{{ object.id }}" data-vendor="{{ object.default_vendor.vendor }}" data-price="{{ object.default_vendor.lowest_price_in_sek|floatformat:0 }}"><i class="fa fa-heart secondary"></i></a>
        {% else %}
        <a class="btn btn-sm btn-primary" data-toggle="modal" href="#" data-target="#modal_like_product"><i class="fa fa-heart"></i></a>
        {% endif %}

        {% if object.default_vendor.availability != 0 %}
        <a rel="nofollow" itemprop="availability" content="in_stock" href="{% buy_url object.id object.default_vendor referral_sid 'Product' %}" target="_blank" class="btn btn-sm btn-primary" data-sid="{% get_sid object.id referral_sid 'Product' %}" data-slug="{{ object.slug }}" data-vendor="{{ object.default_vendor.vendor }}" data-price="{{ object.default_vendor.lowest_price_in_sek|floatformat:0 }}">{% trans "Buy" %}</a>
        {% endif %}
    </ul>
    {% endcomment %}

    {% block body-scripts %}
        <script>
            $("#modal_like_product").load("{% url 'product-generate-short-link' object.slug %}");
        </script>
    {% endblock body-scripts %}

{% endblock %}
