{% load i18n apparel_extras %}

<div class="row product-list-container">
    {% if show_filters %}
    <div class="col-product-filter">
        <h3>{% trans "Filter products" %}</h3>
        <a id="reset" class="reset" href=""{% if not request.GET %} style="display: none;"{% endif %}>{% trans "Reset all" %} <span class="glyphicon glyphicon-remove-circle"></span></a>
        {% include 'apparel/fragments/product_filter.html' with is_embed_shop=is_embed_shop show_filters_collapsed=show_filters_collapsed%}
    </div>
    {% endif %}

    <div id="product-list" class="col-product-list">
        {% if show_filters %}<h3>{{ browse_text }}</h3>{% endif %}
        {% if extra_html %}
            {{ extra_html }}
        {% else %}
            {% include 'apparel/fragments/product_list.html' with current_page=current_page pagination=pagination show_product_brand=show_product_brand only %}
        {% endif %}
    </div>
</div>
