{% extends 'base.html' %}
{% load cache i18n humanize thumbnail comments apparel_extras %}

{% block extra-title %}{% cache CACHE_TIMEOUT product_detail_title object.id LANGUAGE_CODE %}{{ object.product_name }} {% trans "by" %} {{ object.manufacturer }} | {% if object.color_list_locale %}{% for color in object.color_list_locale %}{{ color }}{% if not forloop.last %}{% if forloop.revcounter == 2 %} & {% else %}, {% endif %}{% endif %}{% endfor %} |{% endif %} {{ object.categories|join:' | ' }} | {% trans object.get_gender_display %} | {% endcache %}{% endblock %}

{% block meta_description %}{{ object.description }}{% endblock %}

{% block head-data %} prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {{ FACEBOOK_OG_TYPE }}: http://ogp.me/ns/fb/{{ FACEBOOK_OG_TYPE }}#"{% endblock head-data %}

{% block extra-styles %}
    {% if request.GET %}<link rel="canonical" href="{{ product_full_url }}">{% endif %}
    {% cache CACHE_TIMEOUT product_detail_metaextra object.id LANGUAGE_CODE %}
    <meta property="og:title" content="{{ object.manufacturer }} - {{ object.product_name }}"/>
    <meta property="og:type" content="{{ FACEBOOK_OG_TYPE }}:product"/>
    <meta property="og:image" content="{{ product_full_image }}"/>
    <meta property="og:url" content="{{ product_full_url }}"/>
    <meta property="og:description" content="{{ object.default_vendor_price|floatformat:0|apprl_intcomma }} {{ object.default_vendor.locale_currency }}"/>
    <meta property="og:site_name" content="{{ CURRENT_NAME }}"/>
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}"/>
    <meta property="{{ FACEBOOK_OG_TYPE }}:likes" content="{{ object.score }}"/>
    <meta property="{{ FACEBOOK_OG_TYPE }}:brand" content="{{ product_brand_full_url }}"/>
    <meta property="{{ FACEBOOK_OG_TYPE }}:price" content="{{ object.default_vendor_price|floatformat:0|apprl_intcomma }} {{ object.default_vendor.locale_currency }}"/>
    {% endcache %}
{% endblock extra-styles %}

{% block body-scripts %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock %}

{% block 'extra-scripts' %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('.product-image img').mouseenter(function() {
                jQuery(this).find('.magnifier').fadeIn('slow');
                return false;
            }).mouseleave(function() {
                jQuery(this).find('.magnifier').fadeOut('slow');
                return false;
            });


            // Gallery overlay
            var gallery_overlay = false;
            jQuery('.product-image img').click(function(event) {
                gallery_overlay = true;
                jQuery('#gallery-container').show();
                return false;
            });
            jQuery(document).click(function(event) {
                if(gallery_overlay) {
                    gallery_overlay = false;
                    jQuery('#gallery-container').hide();
                }
            }).keydown(function(event) {
                if (event.keyCode == 27 && gallery_overlay) {
                    gallery_overlay = false;
                    jQuery('#gallery-container').hide();
                }
            });

            // More like this scrollable
            jQuery('#more-like-this .row').simple_scrollable(532);

            // Recently viewed scrollable
            jQuery('#recentlyviewed .row').simple_scrollable();

            jQuery('.btn-short-link').click(function(event) {
                jQuery(this).parent().load(jQuery(this).attr('href'), function() {
                   jQuery('.short-link-container input').focus().select();
                });
                return false;
            });
            jQuery(document).on('blur', '.short-link-container input', function(e) {
                var $this = jQuery(this);
                $this.val($this.data('url'));
            }).on('click', '.short-link-container input', function(e) {
                jQuery(this).select();
            });
        });
    </script>
{% endblock 'extra-scripts' %}


{% block body-header %}
{% if request.META.HTTP_REFERER and CURRENT_DOMAIN in request.META.HTTP_REFERER %}
<a class="btn btn-learr btn-upper btn-product-back" href="{{ request.META.HTTP_REFERER }}" onClick="history.back(1);return false;">{% trans "Back" %}</a>
{% endif %}
<div id="body-header">
    <div class="column_one">
        {% if object.manufacturer.user %}
        <h1><a href="{{ object.manufacturer.user.get_absolute_url }}">{{ object.manufacturer }}</a></h1>
        {% else %}
        <h1>{{ object.manufacturer }}</h1>
        {% endif %}
        {% if object.product_name %}<h2 class="lowercase">{{ object.product_name }}</h2>{% endif %}
    </div>
</div>
{% endblock body-header %}
{% block body-classes %}product two-columns right{% endblock %}
{% block body %}
{% if object %}
        <div class="product-left">
            <div class="product-image">
                {% thumbnail object.product_image "328" upscale=False crop="noop" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" title="{{ object }}" />
                {% endthumbnail %}
                <a class="product-like heart{% if user|likes_product:object %} liked{% endif %}" href="#" data-dialog-url="{% url 'dialog-like-product' %}" data-like-url="{% url 'product-action' object.id 'like' %}" data-unlike-url="{% url 'product-action' object.id 'unlike' %}" data-slug="{{ object.slug }}" data-id="{{ object.id }}" data-vendor="{{ object.default_vendor.vendor }}" data-price="{{ object.default_vendor.lowest_price_in_sek|floatformat:0 }}"></a>
            </div>
            <div id="gallery-container">
                <div id="gallery">
                    <div class="close"></div>
                    {% thumbnail object.product_image "960" upscale=False crop="noop" as im %}
                    <img src="{{ im.url }}" alt="{{ object.alt_text }}">
                    {% endthumbnail %}
                </div>
            </div>
            {% if comments or user.is_authenticated %}
            <div class="comment-box" id="comments">
                <ul class="comments-list">
                {% for comment in comments %}
                    {% include 'comments/comment.html' %}
                {% endfor %}
                </ul>
                {% if user and user.is_authenticated %}
                    {% render_comment_form for object %}
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="product-right">
            {% get_comment_count for object as comment_count %}
            {% include 'apparel/fragments/product_detail.html' %}
            <div class="sidebar last">
                {% if partner_likes %}
                <h2>{% trans "Selected by" %}</h2>
                <ul id="partner-likes" class="suggested-friends group">
                  {% for like in partner_likes %}
                    <li>
                    {% with like.user as profile %}
                    <a class="profile-link" href="{{ profile.get_absolute_url }}"><img class="avatar" src="{{ profile.avatar }}" alt="{{ profile.display_name }}"/>{{ profile.display_name }}</a><br><a class="partner-link" target="_blank" href="{{ profile.blog_url_external }}">{% trans "Go to blog »" %}</a><br>{% include 'apparel/fragments/follow.html' with request=request profile=profile only %}
                    {% endwith %}
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}
                <h2>{% trans "Likes" %}</h2>
                {% if not likes %}
                <p class="likes-text">{% trans "Be the first one to like this product!" %}</p>
                {% else %}
                <ul id="likes" class="group">
                {% for like in likes %}
                    {% if like.user and like.user %}
                    <li>
                        <a href="{{ like.user.get_absolute_url }}" title="{{ like.user.display_name }}">
                            <img alt="{{ like.user.display_name }}" title="{{ like.user.display_name }}" src="{{ like.user.avatar }}">
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
                {% endif %}
                {% if viewed_products %}
                <h2>{% trans "Recently viewed" %}</h2>
                <div id="recentlyviewed">
                    {% with viewed_products as products %}
                    {% include 'apparel/fragments/product_row.html' %}
                    {% endwith %}
                </div>
                {% endif %}
                {% if looks_with_product %}
                <div class="product-looks">
                    <h2 id="looks">
                        {% blocktrans count looks_with_product_count as counter %}<span class="count">{{ counter }}</span> look with this product{% plural %}<span class="count">{{ counter }}</span> looks with this product{% endblocktrans %}
                    </h2>
                    {% include 'apparel/fragments/looks.html' with looks=looks_with_product %}
                    {% if looks_with_product_count > 2 %}
                    <a href="looks" class="btn btn-block btn-upper">{% trans "See all looks" %}</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="product-similar">
                {% if more_like_this %}
                    <h2>{% trans "You may also like" %}</h2>
                    <div id="more-like-this">
                        <a class="prev">{% trans "Previous" %}</a>
                        <div class="row">
                            <ul>
                            {% for product in more_like_this %}
                                {{ product.template_mlt|safe }}
                            {% endfor %}
                            </ul>
                        </div>
                        <a class="next">{% trans "Next" %}</a>
                    </div>
                {% endif %}
            </div>
        </div>
{% else %}
    <!-- FIXME: This needs some sort of layout -->
    <p>{% trans "No product found!" %}</p>
{% endif %}
{% endblock body %}

