{% load i18n apparel_extras %}

<div class="row product-list-container {% if is_embed_shop and not show_filters %}no-filters{% endif %}">
    {% if not is_embed_shop or show_filters %}
    <div class="col-product-filter">
        <div class="filter-header">
            <h4>{% trans "Filter products" %}</h4>
            <a id="reset" class="reset" href=""{% if not request.GET %} style="display: none;"{% endif %}>{% trans "Reset all" %} <i class="fa fa-times"></i></a>
            <hr>
        </div>
        {% include 'apparel/fragments/product_filter.html' with is_embed_shop=is_embed_shop show_filters_collapsed=show_filters_collapsed%}
    </div>
    {% endif %}

    <div id="product-list" class="col-product-list">
        {% if not is_embed_shop or show_filters %}<h4>{{ browse_text }}</h4><hr>{% endif %}
        {% if extra_html %}
            {{ extra_html }}
        {% else %}
            {% include 'apparel/fragments/product_list.html' with current_page=current_page pagination=pagination show_product_brand=show_product_brand is_embed_shop=is_embed_shop only %}
        {% endif %}
    </div>
</div>
