{% load static from staticfiles %}
{% load l10n i18n thumbnail thumbnail_extras buy_extras cache compressed buy_extras localeurl_tags %}
{% spaceless %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <title>{{ object.title }} by {{ object.user.display_name }} | APPRL - The Social Commerce Platform</title>
    <link rel="preconnect" href="https://s.apprl.com/">
    <link rel="stylesheet" href="{% static 'styles/external-product.css' %}">
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ GOOGLE_ANALYTICS_UNIVERSAL_ACCOUNT }}', {'cookieDomain': '{{ GOOGLE_ANALYTICS_UNIVERSAL_DOMAIN }}'});
        ga('send', 'pageview');

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
        _gaq.push(['_setDomainName', '{{ GOOGLE_ANALYTICS_DOMAIN }}']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body class="apprl-product">
    <div class="navigation">
        <a href="#" class="navigation-el previous">
            <span class="visually-hidden">{% trans "previous" %}</span>
        </a>
        <a href="#" class="navigation-el next">
            <span class="visually-hidden">{% trans "next" %}</span>
        </a>
    </div>

    <div class="slidecontainer">
        <ul class="productcontainer">
            {% for component in components %}
            <li class="product">
                {% thumbnail component.product_image "280x320" keep_size=True crop=False format='PNG' transparent=True as im %}
                <a rel="nofollow" target="_blank" href="{% if component.default_vendor and component.default_vendor.availability != 0 %}{% buy_url component.id component.default_vendor object.user.pk widget_type_link %}{% else %}{{ component.get_absolute_url }}{% endif %}" id="product-{{ component.id }}" class="product collage-image btn-buy-external" data-sid="{% get_sid component.id object.user.pk widget_type_link %}" data-slug="{{ component.slug }}" data-vendor="{{ component.default_vendor.vendor }}" data-price="{{ component.default_vendor.lowest_price_in_sek|floatformat:0 }}" style="{{ component.style_embed }};">
                    <img data-src="{{ im.url }}" title="{{ component }}" width="{{ im.width }}" height="{{ im.height }}"/>
                </a>
                {% endthumbnail %}
                {% if object.show_product_brand %}
                <div class="caption">
                    <h4><a target="_blank" href="{% if component.default_vendor and component.default_vendor.availability != 0 %}{% buy_url component.id component.default_vendor object.user.pk widget_type_link %}{% else %}{{ component.get_absolute_url }}{% endif %}">{{ component.manufacturer }}</a></h4>
                    <ul class="list-inline">
                        {% if component.availability and component.default_vendor and object.default_vendor.availability != 0 %}
                            {% if component.default_vendor.locale_discount_price %}
                                <li class="price discount-price" data-price="{{ component.default_vendor.original_discount_price|unlocalize }}" data-currency="{{ component.default_vendor.original_currency }}">{{ component.default_vendor.locale_discount_price|floatformat:0|custom_intcomma }} {{ component.default_vendor.locale_currency }}</li>
                                <li class="price discounted" data-price="{{ component.default_vendor.original_price|unlocalize }}" data-currency="{{ component.default_vendor.original_currency }}">{{ component.default_vendor.locale_price|floatformat:0|custom_intcomma }} {{ component.default_vendor.locale_currency }}</li>
                            {% else %}
                                <li class="price" data-price="{{ component.default_vendor.original_price|unlocalize }}" data-currency="{{ component.default_vendor.original_currency }}">{{ component.default_vendor.locale_price|floatformat:0|custom_intcomma }} {{ component.default_vendor.locale_currency }}</li>
                            {% endif %}
                        {% else %}
                            <li class="sold-out">{% trans "Sold out" %}</li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <script type="text/javascript" src="{% static 'js/jquery/jquery-1.9.1.min.js' %}"></script>
    <script type="text/javascript">
    var nrchildren = 1;
    var embedHeight = false;
    var embedId = '{{ embed_id }}';
    var embed_type = '{{ object.product_widget.widget_type }}';
    </script>
    {% compressed_js 'product_widget' %}
</body>
</html>
{% endspaceless %}
