{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}
{% load comments %}
{% load trackback_tags %}

{# FIXME: we should reverse the list of categories. I think we need to create a filter for this #}
{% block extra-title %}{{ object.product_name }} {% trans "by" %} {{ object.manufacturer }} | {{ object.category.all|join:'|' }} | {% endblock %}

{% block 'extra-styles' %}
    <link rel="stylesheet" href="http://flowplayer.org/tools/css/overlay-basic.css" media="screen" />
    <link rel="stylesheet" href="http://flowplayer.org/tools/css/overlay-gallery.css" media="screen" />
    <link rel="pingback" href="{% get_pingback_url %}" />
    {% get_trackback_rdf_for object %}
{% endblock 'extra-styles' %}

{% block 'extra-scripts' %}
    <script src="http://cdn.jquerytools.org/1.1.1/full/jquery.tools.min.js"></script>
    <script type="text/javascript">
    
    
        jQuery(document).ready(function() {
            jQuery('.product-image').mouseenter(function() {
                jQuery(this).find('.magnifier').fadeIn('slow');
                return false;
            }).mouseleave(function() {
                jQuery(this).find('.magnifier').fadeOut('slow');
                return false;
            });
            jQuery('.product-image a').overlay({ target: "#gallery" }).gallery({ speed: 800 });

            jQuery('#add-to-look').hover(
                function() { jQuery(this).find('ul').show().width(jQuery(this).width()); }, 
                function() { 
                    jQuery(this).find('ul').hide();
                    jQuery(this).find('#add-to-look-new button').show(); 
                    jQuery(this).find('#add-to-look-new input[name=new_name]').hide(); 
                }
            );
            
            jQuery('#add-to-look>form').submit(function(e) {
                link = jQuery(this).siblings('a[href=/apparel/look/]');
                text = link.text();
                link.text('{% trans "Adding..." %}');
                return form_to_ajax(this, e, function(json, statusText, req) {
                    
                    if(json.data['created'])
                        jQuery('#add-to-look-new').before(tmpl('look_button_template', { look: json.data.look } ));
                    
                    link.text(text);
                    input = jQuery('#add-to-look-new input[name=new_name]');
                    input.hide();
                    input.value = input.defaultValue;
                    
                    jQuery('#add-to-look-new button').show();
                    // FIXME: Show the new look in list. Should we reload or just display?
                }, function(error, req) {
                    // FIXME: Do something generically with the error? probably better handled further up
                    link.text(text);
                });
            });

            jQuery('#add-to-look-new button').click(function() {
                jQuery(this).hide();
                jQuery(this).siblings('input[name=new_name]').show().focus();
                return false;
            });
            jQuery('#add-to-look-new input[name=new_name]')
                .hide()
                .focus(function() { if(this.value == this.defaultValue) this.select() })
                .blur(function()  { if(this.value == '') this.value = this.defaultValue })
                .bind('keypress', function(e) { if(e.keyCode == 13) { jQuery('#add-to-look>form').submit(); return false } return true})
            
            if(jQuery('#comments-and-links textarea').val() == '') { jQuery('#comments-and-links button').hide() }
            jQuery('#comments-and-links textarea').focus(function() { jQuery('#comments-and-links button').show() });
            jQuery('#comments-and-links textarea').blur(function() { if(jQuery(this).val() == '' ) { jQuery('#comments-and-links button').hide() } });
//            jQuery('#comments textarea').autogrow();
            jQuery('#comments-and-links form').submit(function() {
                jQuery.ajax({
                    type: this.method,
                    url: this.action,
                    data: jQuery(this).serialize(),
                    dataType: 'json',
                    success: function(data, statusText, req) {
                        jQuery('#comments-and-links textarea').val('');
                        jQuery('#comments-and-links button').hide();
                        jQuery('ul#comments').append(data.html).hide().slideDown('fast');
                    },
                });
                return false;
            });
            
            jQuery('#add-to-wardrobe>form').submit(function() {
                btn = jQuery(this).find('button[type=submit]');
                btn.text('{% trans "Adding..." %}');
                return form_to_ajax(this, function(data, statusText, req) {
                    btn.text('{% trans "In wardrobe" %}');
                    btn.click( function() { return false } );
                    // FIXME: Set a class name to make it dimmed or whatever?
                });
            });
        });
    </script>
{% endblock 'extra-scripts' %}

{% block body-classes %}product two-columns right{% endblock %}

{% block body %}
{% if object %}
        <div id="content">
            {% get_trackbacks_for object as trackbacks %}
            {% include 'apparel/fragments/product_detail.html' %}
            <!-- overlay element -->
            <div class="simple_overlay" id="gallery">
                <!-- "previous image" action -->
                <a class="prev">prev</a>
                <!-- "next image" action -->
                <a class="next">next</a>
                <!-- image information -->
                <div class="info"></div>
            
                <!-- load indicator (animated gif) -->
                <img class="progress" src="http://static.flowplayer.org/tools/img/overlay/loading.gif" />
            </div>
        </div>
        <div class="sidebar last">
            {% get_comment_count for object as comment_count %}
            <div class="activity">
                {% include 'apparel/fragments/comment_count.html' %}
                <p><a class="looks" href="#looks">{% blocktrans count looks_with_product|length as counter %}Added to {{ counter }} look{% plural %}Added to {{ counter }} looks{% endblocktrans %}</a></p>
                <p class="last">{% include 'apparel/fragments/likes.html' %}</p>
            </div>
            <h2>{% trans "Recently viewed" %}</h2>
            <div id="recentlyviewed">
                {% with viewed_products as products %}
                {% include 'apparel/fragments/product_row.html' %}
                {% endwith %}
            </div>

            {% if looks_with_product %}
            <h2 id="looks">
                {% blocktrans count looks_with_product|length as counter %}
                    {{ counter }} look with this product
                {% plural %}
                    {{ counter }} looks with this product
                {% endblocktrans %}
            </h2>
            {% with looks_with_product as looks %}
            {% include 'apparel/fragments/looks.html' %}
            {% endwith %}
            {% endif %}
        </div>

        <script type="text/html" id="look_button_template">
        <![CDATA[
            {{ look_button_template|safe }}
        ]]>
        </script>
{% else %}
    <p>No product found!</p>
{% endif %}
{% endblock body %}
