{% extends "base.html" %}
{% load i18n l10n apparel_extras compressed login_bar cache localeurl_tags %}
{% load static from staticfiles %}

{% block body-classes %}front retailer-page{% endblock body-classes %}
    {% block header-navigation %}
    {# Header #}
    <header role="banner">
        <a class="login visible-xs" href="{% url 'auth_login' %}"><span>{% trans "Log In" %}</span></a>
        <a class="menu-toggler" href="#"><span></span></a>
        <nav role="navigation">
            <a class="logo visible-xs" href="/"><img src="{% static 'images/logo.svg' %}" alt="APPRL" /></a>
            <ul>
                <li><a href="{% url 'index' %}"><span>{% trans "For Influencers" %}</span></a></li>
                <li><a href="{% url 'index-community' %}"><span>APPRL Community</span></a></li>
                <li><a href="{% url 'jobs' %}">{% trans "We're hiring!" %}</a></li>
                <li class="hidden-xs"><a href="{% url 'auth_login' %}"><span>{% trans "Log In" %}</span></a></li>
            </ul>
        </nav>
    </header>
    {% endblock header-navigation %}
    {% block full-body %}
        {# Welcome #}
        <section class="retailer-welcome">
            <div class="background-image" style="background-image: url({% static 'images/backgrounds/retailer.jpg' %});"></div>
            <div class="splash">
                <a class="logo" href="/"><img src="{% static 'images/logo.svg' %}" width="240" height="34" alt="APPRL" /></a>
                <h1 class="display">{% trans 'The distributed commerce solution for lifestyle retailers.' %}</h1>
                <p class="preamble">{% trans "Get your products featured in the content of style influencers & premium media." %}</p>
                <a class="btn btn-scroll btn-outline" href="#" data-scroll="retailer-apply">{% trans "Apply to join" %}</a>
            </div>
            <a class="btn-arrow btn-scroll" href="#" data-scroll="retailer-users"><i class="fa fa-angle-down"></i></a>
            <span class="brand-line"></span>
        </section>

        {# Features #}
        <section class="retailer-users">
            <div class="container">
                <h1>{% trans "Increase your reach & sales through our network." %}</h1>
                <p>{% trans "Apprl helps online retailers to increase their reach through our network of style influencers and premium media partners - Getting your products into premium inspirational content." %}</p>
                <ul class="list-brands">
                    <li><img src="{% static 'images/influencer_logos/men-with.gif' %}" alt="Men With"></li>
                    <li><img src="{% static 'images/influencer_logos/elle.gif' %}" alt="ELLE"></li>
                    <li><img src="{% static 'images/influencer_logos/carolines-mode.gif' %}" alt="Carolines Mode"></li>
                    <li><img src="{% static 'images/influencer_logos/metro-mode.gif' %}" alt="Metro Mode"></li>
                    <li><img src="{% static 'images/influencer_logos/project-runway.gif' %}" alt="Project Runway"></li>
                    <li><img src="{% static 'images/influencer_logos/solo.gif' %}" alt="Solo"></li>
                    <li><img src="{% static 'images/influencer_logos/chic.gif' %}" alt="Chic"></li>
                    <li><img src="{% static 'images/influencer_logos/caroline-berg-eriksen.gif' %}" alt="Caroline Berg Eriksen"></li>
                    <li><img src="{% static 'images/influencer_logos/michaela-forni.gif' %}" alt="Michaela Forni"></li>
                    <li><img src="{% static 'images/influencer_logos/sania-claus-demina.gif' %}" alt="Sania Claus Demina"></li>
                    <li><img src="{% static 'images/influencer_logos/stylista.gif' %}" alt="Stylista"></li>
                    <li><img src="{% static 'images/influencer_logos/petra-tungarden.gif' %}" alt="Petra Tungården"></li>
                </ul>
            </div>
        </section>

        <hr>

        {# Brands #}
        <section class="retailer-features">
            <div class="container">
                <h1>{% trans "The Apprl toolbox for retailers" %}</h1>

                <div class="tools-preview">
                    <div class="feature first">
                        <div class="tools-display"><img src="{% static 'images/tools-inspiration.jpg' %}" alt=""></div>
                        <div class="tools-description">
                            <h2>{% trans "Your products at the point of inspiration" %}</h2>
                            <p>{% trans "Have your products featured in the content of high end media & top influencers in a range of shoppable content formats, generating high quality traffic to your store. Reach new audiences and get more out of your existing media partnerships." %}</p>
                        </div>
                    </div>

                    <div class="feature second">
                        <div class="tools-description">
                            <h2>{% trans "Create engaging contests & campaigns" %}</h2>
                            <p>{% trans "You can use APPRL’s tools to create high ROI contests & campaigns. For example, a contest to create looks with products from your brand, distribute shoppable lookbooks, pop-up shops and more." %}</p>
                        </div>
                        <div class="tools-display"><img src="{% static 'images/tools-campaigns.jpg' %}" alt=""></div>
                    </div>

                    <div class="feature third">
                        <div class="tools-display"><img src="{% static 'images/tools-content.jpg' %}" alt=""></div>
                        <div class="tools-description">
                            <h2>{% trans "Make your inspirational content shoppable" %}</h2>
                            <p>{% trans "Use the APPRL tools to make content shoppable - on your site, in social media and on other domains." %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        {# Members #}
        <section class="retailer-brands">
            <div class="container">
                <h1>{% trans "Join the leading retailers & brands." %}</h1>
                <p>{% trans "We’re working with the leading global and local retailers, big and small, multi- and monobrand. The most important thing for us is to only accept retailers that are in demand from our users & publishers so we know we can make a difference." %}</p>
                <ul class="list-brands">
                    <li><img src="{% static 'images/retailers/Net-A-Porter-logo-Apprl-home.gif' %}" alt="Net-A-Porter"></li>
                    <li><img src="{% static 'images/retailers/Asos-logo-Apprl-home.gif' %}" alt="ASOS"></li>
                    <li><img src="{% static 'images/retailers/Luisa-Viaroma-logo-Apprl-home.gif' %}" alt="Luisa Viaroma"></li>
                    <li><img src="{% static 'images/retailers/Acne-Studios-logo-Apprl-home.gif' %}" alt="Acne Studios"></li>
                    <li><img src="{% static 'images/retailers/Mr-Porter-logo-Apprl-home.gif' %}" alt="Mr Porter"></li>
                    <li><img src="{% static 'images/retailers/filippa-k.gif' %}" alt="Filippa K"></li>
                    <li><img src="{% static 'images/retailers/The-Outnet-logo-Apprl-home.gif' %}" alt="The Outnet"></li>
                    <li><img src="{% static 'images/retailers/Alexander-Wang-logo-Apprl-home.gif' %}" alt="Alexander Wang"></li>
                    <li><img src="{% static 'images/retailers/Nelly-logo-Apprl-home.gif' %}" alt="Nelly"></li>
                    <li><img src="{% static 'images/retailers/Saint-Laurent-logo-Apprl-home.gif' %}" alt="Saint Laurent"></li>
                    <li><img src="{% static 'images/retailers/Isabel-Marant-logo-Apprl-home.gif' %}" alt="Isabel Marant"></li>
                    <li><img src="{% static 'images/retailers/GinaTricot-logo-Apprl-home.gif' %}" alt="Gina Tricot"></li>
                </ul>
            </div>
        </section>

        <hr>

        {# About #}
        <section class="retailer-apply">
            <div class="container">
                <h1>{% trans "Apply to become a partner retailer" %}</h1>
                <p>{% trans 'Apprl helps you to increase your reach & sales through our network of style influencers and premium media partners - Getting your products into premium inspirational content. Get in touch at <a href="mailto:hello@apprl.com">hello@apprl.com</a> if you have questions or other.' %}</p>
                <div class="form-container narrow">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                            <label for="id_{{ form.name.html_name }}">{% trans "Name" %}</label>
                            <input name="{{ form.name.html_name }}" type="text" id="id_{{ form.name.html_name }}" value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
                            {% if form.name.errors %}<span class="help-block">{{ form.name.errors.as_text }}</span>{% endif %}
                        </div>
                        <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                            <label for="id_{{ form.email.html_name }}">{% trans "Email" %}</label>
                            <input name="{{ form.email.html_name }}" type="text" id="id_{{ form.email.html_name }}" value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                            {% if form.email.errors %}<span class="help-block">{{ form.email.errors.as_text }}</span>{% endif %}
                        </div>
                        <div class="form-group{% if form.blog.errors %} has-error{% endif %}">
                            <label for="id_{{ form.blog.html_name }}">Store URL</label>
                            <input name="{{ form.blog.html_name }}" type="text" id="id_{{ form.blog.html_name }}" value="{% if form.blog.value %}{{ form.blog.value }}{% endif %}">
                            {% if form.blog.errors %}<span class="help-block">{{ form.blog.errors.as_text }}</span>{% endif %}
                        </div>
                        <button type="submit" class="btn btn-white">{% trans "Submit Application" %}</button>
                    </form>
                </div>
            </div>
        </section>

        <hr>

        {# Featured #}
        <section class="retailer-featured">
            <div class="container">
                <h1>{% trans "Featured In" %}</h1>
                <ul class="list-brands">
                    <li><img src="{% static 'images/featured_logos/fokus_inverted.gif' %}" alt="Fokus"></li>
                    <li><img src="{% static 'images/featured_logos/computer-sweden_inverted.gif' %}" alt="Computer Sweden"></li>
                    <li><img src="{% static 'images/featured_logos/breakit_inverted.gif' %}" alt="Breakit"></li>
                    <li><img src="{% static 'images/featured_logos/internetworld_inverted.gif' %}" alt="Internet World"></li>
                    <li><img src="{% static 'images/featured_logos/dagens-media_inverted.gif' %}" alt="Dagens Media"></li>
                    <li><img src="{% static 'images/featured_logos/resume_inverted.gif' %}" alt="Resumé"></li>
                    <li><img src="{% static 'images/featured_logos/sss_inverted.gif' %}" alt="Startup Space Sweden"></li>
                    <li><img src="{% static 'images/featured_logos/digitalpodden_inverted.gif' %}" alt="Digitalpodden"></li>
                    <li><img src="{% static 'images/featured_logos/les-assorties_inverted.gif' %}" alt="Les Assorties’"></li>
                    <li><img src="{% static 'images/featured_logos/plaza-kvinna_inverted.gif' %}" alt="Plaza Kvinna"></li>
                    <li><img src="{% static 'images/featured_logos/webrazzi_inverted.gif' %}" alt="Webrazzi’"></li>
                    <li><img src="{% static 'images/featured_logos/cofounder_inverted.gif' %}" alt="CoFounder"></li>
                </ul>
            </div>
        </section>

        {# Promo #}
        <a class="promo" href="{% url 'jobs' %}">{% trans "We're hiring!" %}</a>
    {% endblock full-body %}

{% block body-scripts %}
    <script>
        $(document).ready(function() {
            var anchor = $('section:first').offset().top + $('section:first').outerHeight(),
                scroll = false;

            $(window).on('scroll', function() {
                if ($(window).scrollTop() >= anchor) {
                    $('header').addClass('expand');
                    scroll = true;
                }
                if ($(window).scrollTop() < anchor && scroll == true) {
                    $('header').removeClass('expand');
                }
            });

            $('.btn-scroll').click(function(e) {
                $('html, body').animate({scrollTop: $('.' + $(this).data('scroll')).offset().top - 30}, 1000);
                e.preventDefault();
            });

            $('.menu-toggler').click(function(e) {
                $(this).toggleClass('active');
                $('nav').toggleClass('active');
                e.preventDefault();
            });
        });

        // Image slideshow
        (function(window) {
            SlideCrossFade = {
                container: 'tools-demo',
                displayTime: 5000,
                fadeTime: 1500,

                start: function() {
                    var self = this;
                    $('#' + this.container + ' img').show();
                    setInterval(function() { self.next(); }, this.displayTime);
                },

                next: function() {
                    var $active = $('#' + this.container + ' .active');
                    var $next = ($active.next().length > 0) ? $active.next() : $('#' + this.container + ' img:first');
                    $next.css('z-index', 2);

                    $active.fadeOut(this.fadeTime, function() {
                        $active.css('z-index', 1).show().removeClass('active');
                        $next.css('z-index', 3).addClass('active');
                    });
                }
            };
            window.SlideCrossFade = SlideCrossFade;
        })(this);

        $(window).load(function() {
            SlideCrossFade.start();
        });
    </script>
{% endblock body-scripts %}

{% block footer %}
    {% include "landing_footer.html" %}
{% endblock footer %}