{% load static from staticfiles %}
{% load thumbnail cache compressed buy_extras i18n l10n %}
{% spaceless %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
    <head>
        <title>Shop | Apprl - Social Shopping</title>
        <link rel="stylesheet" href="{% static 'styles/embed_shop.css' %}">
        <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
        <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script type="text/javascript">
            var pricerange = {
                min: {{ pricerange.min }},
                max: {{ pricerange.max }}
            };
            var embed_shop_user_id = {{ user_id }};
            $(function () {
                $("#back-top").hide();
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 1500) {
                        $('#back-top').fadeIn();
                    } else {
                        $('#back-top').fadeOut();
                    }
                });
                $('#back-top a').click(function () {
                    $('body,html').animate({
                        scrollTop: 0
                    }, 400);
                    return false;
                });
                $(document).on('click', '.product-image, .product-footer a.looks', function() {
                    var slug = $(this).data('slug');
                    var vendor = $(this).data('vendor');
                    var label = vendor + ' - ' + slug;
                    slug = undefined;
                    if(typeof slug === 'undefined') {
                        var href_split = $(this).attr('href').split('/');
                        if(href_split.length > 2) {
                            label = href_split[2];
                        } else {
                            label = '';
                        }
                    }
                    _gaq.push(['_trackEvent', 'Ext-Shop', 'SeeLooks', label]);
                });
            });
        </script>
        {% compressed_js 'shop' %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
            _gaq.push(['_setDomainName', '{{ GOOGLE_ANALYTICS_DOMAIN }}']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <script type="text/javascript" src="{% static "js/money.min.js" %}"></script>
        <script type="text/javascript">
          fx.base = 'SEK';
          fx.rates = {
            {% for currency, rate in currency_rates.items %}
            '{{ currency }}': {{ rate|unlocalize }},
            {% endfor %}
            'SEK': 1
          };
          var current_currency = '{{ CURRENCY }}';
          function formatNumber(num) {
            var array = parseInt(num, 10).toFixed().split('');
            var index = -3;
            while (array.length + index > 0) {
              array.splice(index, 0, ' ');
              index -= 4;
            }
            return array.join('');
          };
          function currencyConversion(elements) {
            elements.each(function(index, element) {
              var $element = jQuery(element);
              var data = $element.data();
              var converted_price = Math.round(fx.convert(data.price, {from: data.currency, to: current_currency}));
              $element.text(formatNumber(converted_price) + ' ' + current_currency);
          });
        }
        </script>
    </head>
    <body class="shop-embed">
        <div class="container">
            <div id="inner-container">
                <div class="sidebar">
                    {% include 'apparel/fragments/product_filter.html' %}
                </div>
                <div id="content">
                    <h2 id="product-count">
                        <span>{% blocktrans count current_page.paginator.count as counter %}{{ counter }} product{% plural %}{{ counter }} products{% endblocktrans %}</span>
                    </h2>
                    <div id="product-list" class="product-list">
                        <ul class="list group">
                        {% for html in current_page.html %}
                            {{ html|safe }}
                        {% endfor %}
                        </ul>
                        <div id="pagination-bottom" class="pagination">
                            {% include 'apparel/fragments/pagination.html' with request=request pagination=paginaton current_page=current_page only %}
                        </div>
                    </div>
                    <p id="back-top"><a href="#top"><span>{% trans "Back to Top" %}</span></a></p>
                </div>
            </div>
            {% include 'apparel/fragments/shop_empty.html' %}
        </div>
      </body>
</html>
{% endspaceless %}
