{% extends "base.html" %}
{% load i18n staticfiles apparel_extras %}

{% block extra-styles %}
    <style type="text/css">

        .row h1, .row h3  {
            text-align: center;
            text-transform: uppercase;

        }
        .col-md-6 {
            padding-top: 15px;
        }
    </style>

{% endblock %}



{% block extra-title %}{% trans "Top Model Sweden on Apprl" %} | {% endblock %}

{% block body-classes %}discover-list-page{% endblock %}
{% block full-body %}


    {% comment %}
    {% if request.GET.first and request.user.is_authenticated %}
    <div class="container">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {% url 'index' as feed_url %}
            {% url 'shop' as shop_url %}
            {% blocktrans with feed_url=feed_url shop_friend=shop_url|add:"?view=friends" shop_brand=shop_url|add:"?view=brands" %}Follow members and brands to see their items and looks in your <a href="{{feed_url}}">APPRL feed</a> and under <a href="{{shop_friend}}">Shop > My Friends</a> & <a href="{{shop_brand}}">Shop > My Brands</a>.{% endblocktrans %}
        </div>
    </div>
    {% endif %}

    <div class="body-header">
        <!--div class="{% if is_brand %}body-header-col-full{% else %}body-header-col-left{% endif %}">
            <h1>{% trans "Top Models" %}</h1>
            <!--<ul class="list-inline">
                <li><h2><a{% if 'users' in request.path %} class="selected"{% endif %} href="{% multi_gender_url request 'user' 'user-list' %}">{% trans "Members" %}</a></h2></li>
                <li><h2><a{% if 'brands' in request.path %} class="selected"{% endif %} href="{% multi_gender_url request 'user' 'brand-list' %}">{% trans "Brands" %}</a></h2></li>
            </ul>-->
        </div>
        {% if not is_brand %}
        <div class="body-header-col-right">
            <!-- ul class="list-inline">
                <li class="dropdown">
                    <button type="button" class="btn btn-gender dropdown-toggle" data-toggle="dropdown">{% if gender == 'M' %}{% trans "Only men" %}{% elif gender == 'W' %}{% trans "Only women" %}{% else %}{% trans "Show all" %}{% endif %} <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'user-list' %}">{% trans "Show all" %}</a></li>
                        <li><a href="{% url 'user-list-men' %}">{% trans "Only men" %}</a></li>
                        <li><a href="{% url 'user-list-women' %}">{% trans "Only women" %}</a></li>
                    </ul>
                </li>
            </ul-->
        </div>
        {% endif %}
    </div>
    {% endcomment %}
    <div class="featured-container contest-page topmodel">
          <div class="container">

            <div class="row body-header">
                        <h1 class="col-sm-12">{% trans "Top Model Sweden on Apprl" %}</h1>
            </div>
        </div>
    </div>


    <!--div class="container">
        <div class="row topmodel">

            <h1 class="col-lg-12">{% trans 'Compete with the models and Panos Emporio. Win 1500 SEK'  %}</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if request.LANGUAGE_CODE == 'sv' %}
                {% else %}
                {% endif %}
         </div>
            <div class="col-md-6">
                <div class="col-contest-text">
                    <p><strong>{% trans 'Contest open April 2nd - 14th 2014' %}</strong></p>
                    <p><strong>{% trans 'To join:' %}</strong></p>
                    <ol>
                        <li>
                            <p>
                            {% blocktrans %}
                                Follow at least one of the Top Model Sweden participants on Apprl below.
                            {% endblocktrans %}
                            </p>
                        </li>
                        <li>
                            <p>
                            {% blocktrans %}
                                "Like" at least 10 products on Apprl.com that you would like to have in your spring/summer closet. (Find products on the models' profile pages below or in our shop)
                            {% endblocktrans %}
                            </p>
                        </li>
                    </ol>
                    <p>
                        {% blocktrans %}
                            <a href="/profile/elzana-top-model/">Elzana</a> & <a href="/profile/konstantinos-top-model/">Kostas</a> from Top Model Sweden will select the 3 winners with the best-looking spring/summer product selections on their profile page. The winners receive a 1500 SEK (ca. €170) voucher on www.panos.se.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}
                            The winner will be announced on our <a href="http://facebook.com/apprl">Facebook page</a> , <a href="http://facebook.com/apprl">like us on Facebook not to miss it.</a>
                        {% endblocktrans %}
                    </p>
                <p>
                    <a data-toggle="modal" href="#" data-target="#modal_contest_rules">{% trans 'Contest rules & info' %}</a>
                </p>
                </div>
            </div>
        </div>
    </div -->

   <div class="container">
    <div class="row discover-list-page">
        <h3 class="topmodel col-lg-12 alphabet">
                {% trans "Follow the models and shop their wardrobes" %}
        </h3>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% include 'apparel/fragments/user_list.html' %}
        </div>
    </div>
   </div>

    <script>
        $("body").removeClass('contest');
    </script>

{% endblock %}
