{% extends "base.html" %}
{% load i18n %}

{% block body-classes %}three-columns profile{% endblock body-classes %}

{% block body %}
    <div class="sidebar">
        &nbsp;
    </div>
    <div id="content">
        <h2>{% trans "Your friend's latest updates" %}</h2>
        <ul class="activity-list">
        {% for object in object_list %}
            {% include 'apparel/fragments/activity/activity.html' %}
        {% empty %}
            <li>{% trans "No updates" %}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="sidebar last">
        {% if facebook_friends %}
        <h2>{% trans "Your friends are here!" %}</h2>
        <ul class="suggested-friends">
            {% for profile in facebook_friends %}
            <li>
                {% include 'apparel/fragments/avatar_link.html' %}
                <div class="profile-name">{% include 'apparel/fragments/profile_link.html' %}</div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock body %}
