{% extends "base.html" %}
{% load i18n apparel_extras %}

{% block extra-title %}{% trans "Follow" %} | {% endblock %}

{% block body-classes %}discover-list-page{% endblock %}
{% block body %}

    {% if request.GET.first and request.user.is_authenticated %}
    <div class="container">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {% url 'index' as feed_url %}
            {% url 'shop' as shop_url %}
            {% blocktrans with feed_url=feed_url shop_friend=shop_url|add:"?view=friends" shop_brand=shop_url|add:"?view=brands" %}Follow members and brands to see their items and looks in your <a href="{{feed_url}}">APPRL feed</a> and under <a href="{{shop_friend}}">Shop > My Friends</a> & <a href="{{shop_brand}}">Shop > My Brands</a>.{% endblocktrans %}
        </div>
    </div>
    {% endif %}

    <div class="body-header">
        {% if 'users' in request.path %}
        <h1>{% trans "Members" %}</h1>
        <!--<ul class="sub-menu">
            <li><a href="#">{% trans "Popular" %}</a></li>
            <li><a href="#">{% trans "New" %}</a></li>
        </ul>-->
        {% elif 'brands' in request.path %}
        <h1>{% trans "Brands" %}</h1>
        <!--<ul class="sub-menu">
            <li><a href="#">{% trans "Popular" %}</a></li>
            <li><a href="#">{% trans "New" %}</a></li>
        </ul>-->
        {% endif %}
        {% if not is_brand %}
        <ul class="sidebar">
            <li class="dropdown">
                <button type="button" class="btn btn-gender dropdown-toggle" data-toggle="dropdown">{% if gender == 'M' %}{% trans "Only men" %}{% elif gender == 'W' %}{% trans "Only women" %}{% else %}{% trans "Show all" %}{% endif %} <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'user-list' %}">{% trans "Show all" %}</a></li>
                    <li><a href="{% url 'user-list-men' %}">{% trans "Only men" %}</a></li>
                    <li><a href="{% url 'user-list-women' %}">{% trans "Only women" %}</a></li>
                </ul>
            </li>
        </ul>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ul class="list-alphabet">
                <li><a{% if not selected_alphabet %} class="selected"{% endif %} href="{{ request.path }}">{% trans "Show all" %}</a></li>
                <li><a{% if selected_alphabet == '0-9' %} class="selected"{% endif %} href="?alphabet=0-9">0-9</a></li>
                {% for character in alphabet %}
                <li><a{% if selected_alphabet == character %} class="selected"{% endif %} href="?alphabet={{ character }}">{{ character }}</a></li>
                {% endfor %}
            </ul>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% include 'apparel/fragments/user_list.html' %}
        </div>
    </div>
{% endblock %}
