{% extends "base.html" %}
{% load i18n %}
{% load follower_tags %}

{% block body-classes %}three-columns profile{% endblock body-classes %}

{% block body %}
    <div class="sidebar">
        <a href="{% url apparel.browse.browse_products %}#f=1"><h2>{% trans "Popular products in your network" %}</h2></a>
        {% with popular_products_in_network as products %}
            {% include 'apparel/fragments/products_sidebar.html' %}
        {% endwith %}

        <h2>{% trans "Popular looks in your network" %}</h2>
        {% with popular_looks_in_network as looks %}
            {% include 'apparel/fragments/looks_sidebar.html' %}
        {% endwith %}
    </div>
    <div id="content">
        <h2>{% trans "Your friend's latest updates" %}</h2>
        <ul class="activity-list">
        {% for object in current_page.object_list %}
            {% include 'apparel/fragments/activity/activity.html' %}
        {% empty %}
            <li>{% trans "No updates" %}</li>
        {% endfor %}
        </ul>
        <div class="pagination">
            {% include 'apparel/fragments/pagination.html' %}
        </div>
    </div>
    <div class="sidebar last">
        <h2>{% trans "Your friends are here!" %}</h2>
        {% include 'apparel/fragments/facebook_friends.html' %}
        <a class="all-users" href="{% url apparel.views.user_list %}">{% trans "See all members" %}</a>
    </div>
{% endblock body %}
