{% load apparel_extras %}
<article class="activity {{ object.verb }}">
    <header class="activity-header">
        <div class="activity-image">
            <a href="{{ object.user.get_absolute_url }}"><img src="{{ object.user.avatar }}" width="50" height="50"></a>
        </div>
        <div class="activity-short">
            <h3>{% block activity_header %}{% endblock %}</h3>
            <p class="activity-date">{{ object.created|since }}</p>
        </div>
    </header>
    <div class="activity-content">{% block activity_content %}{% endblock %}</div>
    {% if comments %}
    <div class="activity-comment">
        <ul class="comments-list">
        {% for comment in comments %}
            {% include 'comments/comment.html' %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</article>
