{% load i18n apparel_extras %}
<div id="body-header">
    <div class="column_one">
        <h1>{% trans "Newsfeed" %}</h1>
    </div>
    <div class="column_two">
        <ul>
            {% url user_feed as user_feed %}
            {% url public_feed-men as public_feed_men %}
            {% url public_feed-women as public_feed_women %}
            <li><a class="first{% if request.path == public_feed_men or request.path == public_feed_women %} current{% endif %}" href="{% gender_url APPAREL_GENDER 'public_feed' %}">{% trans "Everyone" %}</a></li>
            {% if not request.user.is_authenticated %}
            <li><a class="last open-dialog{% if request.path == user_feed %} current{% endif %}" href="{% url dialog-user-feed %}">{% trans "My Follows" %}</a></li>
            {% else %}
            <li><a class="last{% if request.path == user_feed %} current{% endif %}" href="{% url user_feed %}">{% trans "My Follows" %}</a></li>
            {% endif %}
        </ul>
    </div>
</div>
