{% extends "base.html" %}
{% load i18n apparel_extras %}

{% block extra-title %}{% trans "Feed" %} | {% endblock %}

{% block body-header %}
<div id="body-header">
    <div class="column_one">
        <h1>{% trans "Feed" %}</h1>
    </div>
    <div class="column_two">
        <ul>
            {% url user_feed as user_feed_url %}
            {% url public_feed as public_feed_url %}
            <li><a class="first{% if request.path == public_feed_url %} current{% endif %}" href="{{ public_feed_url }}">{% trans "Everything" %}</a></li>
            <li><a class="last{% if request.path == user_feed_url %} current{% endif %}" href="{{ user_feed_url }}">{% trans "My Follows" %}</a></li>
        </ul>
    </div>
</div>
{% endblock body-header %}
{% block body-classes %}three-columns updates{% endblock body-classes %}
{% block body %}
    <div class="sidebar">
        <h2>{% trans "Popular products" %}</h2>
        {% include 'apparel/fragments/products_sidebar.html' with products=popular_products CACHE_TIMEOUT=CACHE_TIMEOUT LANGUAGE_CODE=LANGUAGE_CODE only %}
        <a class="btn btn-block btn-upper btn-rarrow" href="{% gender_url APPAREL_GENDER 'shop' %}">{% trans "Show all products" %}</a>

        <h2>{% trans "Popular looks" %}</h2>
        <ul class="looks group">
        {% for object in popular_looks %}
            <li>{% include 'apparel/fragments/look_sidebar.html' %}</li>
        {% endfor %}
        </ul>
        <a class="btn btn-block btn-upper btn-rarrow" href="{% url look-list %}">{% trans "Show all looks" %}</a>

        <h2>{% trans "Most popular brands" %}</h2>
        <ul class="suggested-friends group">
        {% for profile in popular_brands %}
            <li>
            {% include 'apparel/fragments/avatar_link_no_cache.html' %}
            </li>
        {% endfor %}
        </ul>
        <a class="btn btn-block btn-upper btn-rarrow" href="{% gender_url APPAREL_GENDER 'brand-list' %}">{% trans "Show all brands" %}</a>
    </div>
    <div id="content">
        <h2>{% trans "Latest updates" %}</h2>
        {% include 'activity_feed/feed.html' %}
    </div>
    <div class="sidebar last">
        <h2>{% trans "Popular members" %}</h2>
        <ul class="suggested-friends group">
        {% for profile in popular_members %}
            <li>
            {% include 'apparel/fragments/avatar_link_no_cache.html' %}
            </li>
        {% endfor %}
        </ul>
        <a class="btn btn-block btn-upper btn-rarrow" href="{% url user-list-popular %}">{% trans "Show all members" %}</a>
    </div>
{% endblock body %}

{% block facebook_code %}
FB.api('/me/friends', function(response) {
    var fids = jQuery.map(response.data, function(value) {
        return value['id'];
    });
    jQuery('.facebook-friends').load('/home/friends/', {'fids': fids.join(',')});
});
{% endblock %}
