{% extends "base.html" %}
{% load i18n apparel_extras %}

{% block full-title %}Apprl - Social Shopping | {% trans "Apparel, shoes, bags & accessories from the best online stores" %}{% endblock %}

{% block body-header %}
    {% include 'activity_feed/body_header.html' %}
{% endblock body-header %}
{% block body-classes %}three-columns feed{% endblock body-classes %}
{% block body %}
    <div class="sidebar">
        <h2>{% trans "Trending products" %}</h2>
        {% include 'apparel/fragments/products_sidebar.html' with products=popular_products CACHE_TIMEOUT=CACHE_TIMEOUT LANGUAGE_CODE=LANGUAGE_CODE only %}
        <a class="btn btn-block btn-upper btn-rarrow" href="{% gender_url APPAREL_GENDER 'shop' %}#f=1">{% trans "Show all products" %}</a>

        <h2>{% trans "Trending looks" %}</h2>
        <ul class="looks group">
        {% for object in popular_looks %}
            <li>{% include 'apparel/fragments/look_sidebar.html' %}</li>
        {% endfor %}
        </ul>
        <a class="btn btn-block btn-upper btn-rarrow" href="{% url popular-look-list %}">{% trans "Show all looks" %}</a>
    </div>
    <div id="content">
        <h2>{% trans "Latest updates" %}</h2>
        {% include 'activity_feed/feed.html' %}
    </div>
    <div class="sidebar last">
        <h2>{% trans "Follow your friends!" %}</h2>
        <div class="facebook-friends"></div>
        <a class="btn btn-block btn-upper btn-rarrow btn-positive facebook-invite" href="#invite">{% trans "+ Invite your friends" %}</a>

        <h2>{% trans "Popular brands" %}</h2>
        <ul class="suggested-friends group">
        {% for profile in popular_brands %}
            <li>
            {% include 'apparel/fragments/avatar_link_no_cache.html' %}
            </li>
        {% endfor %}
        </ul>
        <a class="btn btn-block btn-upper btn-rarrow" href="{% gender_url APPAREL_GENDER 'brand-list' %}">{% trans "Show all brands" %}</a>
    </div>
{% endblock body %}

{% block facebook_code %}
FB.api('/me/friends', function(response) {
    var fids = jQuery.map(response.data, function(value) {
        return value['id'];
    });
    jQuery('.facebook-friends').load('/home/friends/', {'fids': fids.join(',')});
});
{% endblock %}

{% block body-scripts %}
{% include 'mouseflow.html' %}
{% endblock body-scripts %}
