{% extends "base.html" %}
{% load i18n apparel_extras %}

{% block extra-title %}{% trans "Feed" %} | {% endblock %}

{% block body-header %}
<div id="body-header">
    <div class="column_one">
        <h1>{% trans "Feed" %}</h1>
    </div>
    <div class="column_two">
        <ul>
            {% url user_feed as user_feed_url %}
            {% url public_feed as public_feed_url %}
            <li><a class="first{% if request.path == public_feed_url %} current{% endif %}" href="{{ public_feed_url }}">{% trans "Everything" %}</a></li>
            <li><a class="last{% if request.path == user_feed_url %} current{% endif %}" href="{{ user_feed_url }}">{% trans "My Follows" %}</a></li>
        </ul>
    </div>
</div>
{% endblock body-header %}
{% block body-classes %}one-column feed{% endblock body-classes %}
{% block body %}
    <div id="content" class="empty-content">
        <p>{% trans "Connect your Facebook account to see what your friends are doing on Apprl." %}</p>
        {% with MEDIA_URL|add:'images/facebook-'|add:LANGUAGE_CODE|add:'.png' as facebook_login_image %}
            {% facebook_button facebook_login_image %}
        {% endwith %}
    </div>
{% endblock body %}
