{% load apparel_extras django_static l10n %}
<script type="text/javascript" src="{{ MEDIA_URL }}{% staticfile "js/jquery/jquery.history.js" %}"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}{% staticfile "js/money.min.js" %}"></script>
<script type="text/javascript">
  fx.base = 'SEK';
  fx.rates = {
    {% for rate in currency_rates %}
    '{{ rate.currency }}': {{ rate.rate|unlocalize }},
    {% endfor %}
    'SEK': 1
  };
  var pricerange = {
    min: {{ pricerange.min }},
    max: {{ pricerange.max }}
  };
  var current_currency = '{{ CURRENCY }}';
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}{% staticfile "js/filtersetup.js" %}"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}{% staticfile "js/browse.js" %}"></script>
<script>
$(document).ready(function(){
	$("#back-top").hide();	
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 1500) {
				$('#back-top').fadeIn();
			} else {
				$('#back-top').fadeOut();
			}
		});
		$('#back-top a').click(function () {
			$('body,html').animate({
				scrollTop: 0
			}, 400);
			return false;
		});
	});
});
</script>
