{% load apparel_extras %}
{% load django_static %}
<script type="text/javascript" src="{{ MEDIA_URL }}{% staticfile "js/jquery/jquery.history.js" %}"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}{% staticfile "js/jquery/jquery.fixedscroll.js" %}"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}{% staticfile "js/filtersetup.js" %}"></script>
<script type="text/javascript">
    /* This variable contains the pagination data. It needs to be populated 
       with before rendering/recalculation may happen. This is the structure:
        - next_page_number      Integer or null if on last page
        - previous_page_number  Integer or null if on first page
        - pagination
            left                Array with page numbers on the left of ... null if there is nothing to display
            mid                 Array with page numbers on in the middle of the ...
            right               Array with page numbers on the right of ... null if there is nothing to display
        - paginator
            count               ?
            num_pages           Total number of pages

        - number                Current page number
    */
    var pagination_data = {
        pagination: {{ pagination|export_as_json}},
        paginator: {
            {# The Pagination object is not currently exportable... #}
            count: {{ pages.0.paginator.count }},
            num_pages: {{ pages.0.paginator.num_pages }}
        },
        number: {{ pages.0.number }}
    };

    var pricerange = {
        min: {{ pricerange.min }},
        max: {{ pricerange.max }}
    };

</script>
<script type="text/javascript" src="{{ MEDIA_URL }}{% staticfile "js/browse.js" %}"></script>

