{% load apparel_extras l10n %}
{% load static from staticfiles %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static "js/jquery/jquery.ui.touch-punch.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery/jquery.history.js" %}"></script>
<script type="text/javascript">
  var pricerange = {
    min: {{ pricerange.min }},
    max: {{ pricerange.max }}
  };
</script>
<script type="text/javascript" src="{% static "js/filtersetup.js" %}"></script>
<script type="text/javascript" src="{% static "js/browse.js" %}"></script>
