{% extends 'dialog_base.html' %}
{% load i18n %}

{% block title %}{% trans "About cookies" %}{% endblock %}
{% block content %}
<p>{% trans "Apparelrow uses cookies to make it easier for users to use the site. A cookie is an unharmful, small text file that is stored on your computer, which makes it possible to recognize your web browser when you visit the site. The information that we store in cookies is anonymous and cannot be used to identify personal information about users. If you want, you may disable the use of cookies in your browser settings, but Apparelrow (and a lot of other sites) will not work as well." %}</p>
{% endblock %}
