{% extends 'dialog_base.html' %}
{% load i18n %}

{% block title %}{% trans "Why Facebook?" %}{% endblock %}
{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    $('#dialog-newsletter-add').submit(function(e) {
        var $form = $(e.currentTarget);
        console.log($form);
        $.ajax({
            type: "POST",
            url: $form.attr("action"),
            data: $form.serialize(),
            success: function(response) {
                $form.fadeOut("fast");
                $(".error-message").hide();
                $(".success-message").show();
            },
            error: function(response) {
                $('.error-message').show();
                $('success-message').hide();
            }
        });
        e.preventDefault();
    });
});
</script>
<p>{% trans "Right now you can only create an Apprl account by connecting your Facebook account. In the future we'll offer more ways to create an account." %}</p>
<p>{% trans "We will never share anything to your Facebook timeline without you actively deciding to do so." %}</p>
<p>{% trans "If you want to keep yourself posted about alternative login ways and other news from Apparelrow, submit your e-mail address:" %}</p>
<form method="post" action="{% url newsletter-add %}" id="dialog-newsletter-add">
    <p><input type="text" name="email"> <input type="submit" name="submit" value="Submit"></p>
</form>
<p class="success-message" style="display: none;">{% trans "Thank you!" %}</p>
<p class="error-message" style="display: none;">{% trans "Not a valid email address" %}</p>
{% endblock %}
