{% extends 'dialog_base.html' %}
{% load i18n %}

{% block modal_id %}modal_follow_user{% endblock %}
{% block modal_title %}{% trans "Follow" %}{% endblock %}
{% block modal_content %}
<p>{% trans "The first time you follow someone on Apprl.com you need to connect with Facebook or create an account with your e-mail address. Once that is done, you can easily log in and get access to people and brands you follow and quickly get an overview of the fashion trends you want to follow." %}</p>
{% include 'registration/fragments/registration.html' with next_url=request.path disable_flow=True %}
{% endblock %}
