{% load i18n %}

<div class="featured-container">
    <div class="container">
        {% if index_page %}
        <div class="row">
            <div class="col-lg-12">
                <div class="content-header">
                    <h1><span class="icon-slash-a"></span>{% trans "Today's featured" %}</h1>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            {% for activity in featured %}
            {% if forloop.counter == 1 %}
            <div class="col-md-8">
                <div class="row">
            {% endif %}
            {% if forloop.counter == 3 %}
                </div>
            </div>
            {% endif %}
            <div class="{% if forloop.counter == 3 %}col-md-4{% else %}col-sm-6{% endif %}">
                <div class="feed-item panel">
                    <div class="panel-heading">
                        <a href="{{ activity.user.get_absolute_url }}"><img class="img-circle" src="{{ activity.user.avatar }}"></a>
                        {% if activity.verb == 'like_product' %}
                        {% if activity.user.is_partner %}
                        <p>{% trans "Selected by" %} <a href="{{ activity.user.get_absolute_url }}">{{ activity.user.display_name }}</a></p>
                        {% else %}
                        <p>{% trans "Liked by" %} <a href="{{ activity.user.get_absolute_url }}">{{ activity.user.display_name }}</a></p>
                        {% endif %}
                        {% else %}
                        <p>{% trans "Created by" %} <a href="{{ activity.user.get_absolute_url }}">{{ activity.user.display_name }}</a></p>
                        {% endif %}
                        {% include 'apparel/fragments/follow.html' with request=request profile=activity.user only %}
                    </div>
                    <div class="panel-body">
                        {% if activity.verb == 'like_product' %}
                        {% include 'apparel/fragments/product_medium.html' with object=activity.activity_object %}
                        {% else %}
                        {% include 'apparel/fragments/look_medium.html' with object=activity.activity_object %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
