{% load i18n %}
{% load follower_tags %}

{% if user.is_authenticated and user != profile.user and profile.user %}
<span class="{% if_is_following request.user profile.user %}following{% else %}not_following{% endif %}">
    <a href="{% url_to_unfollow profile.user %}" class="unfollow" data-original-text="{% trans 'Following' %}" data-hover-text="{% trans 'Stop following' %}"><span>{% trans "Following" %}</span></a>
    <a href="{% url_to_follow profile.user %}" class="follow"><span>{% trans "Follow" %}</span></a>
</span>
{% else %}
    {% if user != profile.user %}
    <span class="not_following">
        <a href="{% url dialog-follow-user %}?next={{ request.get_full_path }}" class="follow open-dialog"><span>{% trans "Follow" %}</span></a>
    </span>
    {% endif %}
{% endif %}
