{% load i18n %}
{% load follower_tags %}

{% if user.is_authenticated and user != profile.user %}
<span class="{% if_user_is_following profile.user %}following{% else %}not_following{% endif %}">
    <a href="{% url_to_unfollow profile.user %}" class="unfollow" data-hover-text="{% blocktrans with profile.display_name as name %}stop following {{ name }}{% endblocktrans %}"><span>{% blocktrans with profile.display_name as name %}you are following {{ name }}{% endblocktrans %}</span></a>
    <a href="{% url_to_follow profile.user %}" class="follow"><span>{% trans "follow" %}</span></a>
</span>
{% endif %}
