{# This template displays looks in the middle column of a three column view#}
{# Following parameters are required:                                      #}
{#  - current_page  Page object                                            #}
{#  - pagination    Dict with three-tuple of pagination pages              #}
{#                                                                         #}
<ul class="looks wide">
{% for object in current_page.object_list %}
    <li>
        {% include 'apparel/fragments/look_wide.html' %}
    </li>
{% endfor %}
</ul>
<div class="pagination">
    {% include 'apparel/fragments/pagination.html' %}
</div>
