{% load i18n cache thumbnail apparel_extras %}
<ul class="looks large-looks">
{% for object in current_page.object_list %}
    <li>

        {% cache CACHE_TIMEOUT look_list_profile object.id LANGUAGE_CODE %}
        <div class="look-large {% if object.display_with_component == 'P' %}photo{% else %}collage{% endif %}">
            {% if object.display_with_component == 'P' %}
                <div id="photo-background" class="look-photo"
                    {% if object.image %}
                    {% thumbnail object.image "694x524" as im %}
                    style="background-image: url('{{ im.url }}'); width: {{ im.width }}px; height: {{ im.height }}px"
                    {% endthumbnail %}
                    {% endif %}
                >
                {% for component in object.photo_components.all %}
                    <a href="{{ component.product.get_absolute_url }}" class="hotspot product" id="hotspot-{{ component.product.id }}" style="{{ component.style }}display:none;"></a>
                    {% include "apparel/fragments/look_product_tooltip.html" with product=component.product only %}
                {% endfor %}
                <a class="look-like heart{% if user|likes_look:object %} liked{% endif %}" href="#" data-dialog-url="{% url dialog-like-look %}" data-like-url="{% url apparel.views.look_like object.slug 'like' %}" data-unlike-url="{% url apparel.views.look_like object.slug 'unlike' %}" data-slug="{{ object.slug }}" data-id="{{ object.id }}"></a>
                </div>
            {% else %}
                {% for component in object.collage_components.all %}
                    {% thumbnail component.product.product_image "694x524" crop="noop" format="PNG" transparent=True as im %}
                    <a href="{{ component.product.get_absolute_url }}" id="product-{{ component.product.id }}" class="product collage-image" style="{{ component.style }}">
                        <img src="{{ im.url }}" title="{{ component.product }}" />
                    </a>
                    {% endthumbnail %}
                    {% include "apparel/fragments/look_product_tooltip.html" with product=component.product only %}
                {% endfor %}
                <a class="look-like heart{% if user|likes_look:object %} liked{% endif %}" href="#" data-dialog-url="{% url dialog-like-look %}" data-like-url="{% url apparel.views.look_like object.slug 'like' %}" data-unlike-url="{% url apparel.views.look_like object.slug 'unlike' %}" data-slug="{{ object.slug }}" data-id="{{ object.id }}"></a>
            {% endif %}
        </div>
        <div class="look-footer">
            <h3>
              <a href="{{ object.get_absolute_url }}" title="{{ object.title }}">{{ object.title }}</a>
              <a href="{% url apparel.views.look_edit object.slug %}" style="display:none;" title="{% trans "Edit" %}" class="edit inline-edit-look">{% trans "Edit" %}</a>
              <a href="{% url apparel.views.look_delete object.slug %}" style="display:none;" title="{% trans "Delete" %}" class="delete inline-delete-look">{% trans "Delete" %}</a>
            </h3>
            <p>{% trans "By" %} <a href="{{ object.user.get_absolute_url }}">{{ object.user.get_profile.display_name }}</a></p>
            <div class="stats">
                <div class="likes">{{ object.score }}</div>
                {% if object.comment_count > 0 %}
                <div class="comments">{{ object.comment_count }}</div>
                {% endif %}
            </div>
        </div>
        {% endcache %}

    </li>
{% endfor %}
</ul>
<div class="pagination">
    {% include 'apparel/fragments/pagination.html' %}
</div>
