{% load i18n jsminify %}
{% spaceless %}
<div class="apprl_look" data-href="http://{{ request.get_host }}{% url apparel.views.look_embed object.slug %}" data-width="695" data-height="546" data-user-href="http://{{ request.get_host }}{{ object.user.get_absolute_url }}"></div>
<script type="text/javascript">
{% minifyjs %}
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "http://{{ request.get_host }}/media/js/compiled/widget.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'apprl-widget'));
{% endminifyjs %}
</script>
{% endspaceless %}
