{% load i18n %}
<ul class="look-list list-unstyled row">
    {% for object in current_page.object_list %}
    <li class="col-sm-6">{% if is_profile %}{% include 'apparel/fragments/look_medium.html' with is_profile=is_profile %}{% else %}{% include 'apparel/fragments/look_medium_cache.html' %}{% endif %}</li>
    {% empty %}
    {% if current_page.number == 1 %}
    	{% if request.GET.view == 'friends' %}
            <div class="message warning">
                <p>{% trans "You currently don't follow anyone who has created looks" %}{% if gender == 'M' %}{% trans " for men." %}{% elif gender == 'W' %}{% trans "for women." %}{% else %}{% trans "." %}{% endif %}</p>
                <a class="btn btn-success" href="{% url 'user-list-popular' %}">{% trans "Find members to follow!" %}</a>
            </div>
        {% else %}
    		<li class="col-lg-12">{% trans "No results" %}</li>
    	{% endif %}
    {% endif %}
    {% endfor %}
</ul>
<div class="pagination">
    {% include 'apparel/fragments/pagination.html' with request=request current_page=current_page only %}
</div>
