{% load i18n cache thumbnail apparel_extras %}
<ul class="looks large-looks">
{% for object in current_page.object_list %}
    <li>

        {% cache CACHE_TIMEOUT look_list_profile object.id LANGUAGE_CODE %}
        <div class="look-container" data-id="{{ object.id }}">
            <div class="look-large {% if object.display_with_component == 'P' %}photo{% else %}collage{% endif %}">
                {% if object.display_with_component == 'P' %}
                    <div id="photo-background" class="look-photo"
                        {% if object.image %}
                        {% thumbnail object.image "694x524" as im %}
                        style="background-image: url('{{ im.url }}'); width: {{ im.width }}px; height: {{ im.height }}px"
                        {% endthumbnail %}
                        {% endif %}
                    >
                    {% for component in object.photo_components.all %}
                        <a href="{% internal_referral_url component.product.get_absolute_url object.user.pk %}" class="hotspot product" id="hotspot-{{ component.product.id }}" style="{{ component.style }}display:none;"></a>
                        {% include "apparel/fragments/look_product_tooltip.html" with owner=object.user product=component.product only %}
                    {% endfor %}
                    <a class="look-like heart{% if user|likes_look:object %} liked{% endif %}" href="#" data-dialog-url="{% url 'dialog-like-look' %}" data-like-url="{% url 'apparel.views.look_like' object.slug 'like' %}" data-unlike-url="{% url 'apparel.views.look_like' object.slug 'unlike' %}" data-slug="{{ object.slug }}" data-id="{{ object.id }}"></a>
                    </div>
                {% else %}
                    {% for component in object.collage_components.all %}
                        {% thumbnail component.product.product_image "694x524" crop="noop" format="PNG" transparent=True as im %}
                        <a href="{% internal_referral_url component.product.get_absolute_url object.user.pk %}" id="product-{{ component.product.id }}" class="product collage-image" style="{{ component.style }}">
                            <img src="{{ im.url }}" title="{{ component.product }}" />
                        </a>
                        {% endthumbnail %}
                        {% include "apparel/fragments/look_product_tooltip.html" with owner=object.user product=component.product only %}
                    {% endfor %}
                    <a class="look-like heart{% if user|likes_look:object %} liked{% endif %}" href="#" data-dialog-url="{% url 'dialog-like-look' %}" data-like-url="{% url 'apparel.views.look_like' object.slug 'like' %}" data-unlike-url="{% url 'apparel.views.look_like' object.slug 'unlike' %}" data-slug="{{ object.slug }}" data-id="{{ object.id }}"></a>
                {% endif %}
            </div>
            <div class="look-footer look-footer-large">
                <h3>
                  <a href="{{ object.get_absolute_url }}" title="{{ object.title }}">{{ object.title }}{% if not object.published %} ({% trans "Draft" %}){% endif %}</a>
                </h3>
                <p>{% trans "By" %} <a href="{{ object.user.get_absolute_url }}">{{ object.user.get_profile.display_name }}</a></p>
                <div class="stats">
                    <div class="likes">{{ object.score }}</div>
                    {% if object.comment_count > 0 %}
                    <div class="comments">{{ object.comment_count }}</div>
                    {% endif %}
                </div>
            </div>
            {% endcache %}
            {% if request.user and request.user.is_authenticated and request.user == object.user %}
            <div class="look-control">
                <a href="{% url 'look-editor' object.slug %}" title="{% trans "Edit" %}" class="btn btn-small btn-positive btn-edit">{% trans "Edit" %}</a>
                <a href="{% url 'apparel.views.look_delete' object.slug %}" title="{% trans "Delete" %}" class="btn btn-small btn-negative btn-delete">{% trans "Delete" %}</a>
            </div>
            {% endif %}
        </div>

    </li>
{% endfor %}
</ul>
<div class="pagination">
    {% include 'apparel/fragments/pagination.html' %}
</div>
<p id="back-top"><a href="#top"><span>{% trans "Back to Top" %}</span></a></p>
