{% load i18n %}
<a href="{{ component.product.get_absolute_url }}" class="tooltip">
    <!--
        <a href="{{ component.product.default_vendor.buy_url }}" target="_blank" class="tooltip">
    -->
    <div class="product-image">
        <img src="/scale/90x115{{ component.product.product_image.url }}" />
    </div>
    <div>
        <h2>{{ component.product.product_name }}</h2>
        <h3>{{ component.product.manufacturer.name }}</h3>
        <div>
            <span class="likes">{{ component.product.score.score }} {% trans "Likes" %}</span>
        </div>
        <div>
            <span class="price">{{ component.product.default_vendor.price }}</span> <span class="currency">{{ component.product.default_vendor.currency }}</span>
        </div>
    </div>
    <span class="arrow"></span>
</a>
