{% load i18n %}
<div class="tooltip">
    <a href="{{ component.product.get_absolute_url }}" class="product-image">
        <img src="/scale/90x115{{ component.product.product_image.url }}" />
    </a>
    <div class="product-meta">
        <a href="{{ component.product.get_absolute_url }}">
            <h2>{{ component.product.manufacturer.name }}</h2>
            {% if component.product.product_name %}<h3>{{ component.product.product_name }}</h3>{% endif %}
            <div>
                {% with component.product as object %}{% include 'apparel/fragments/likes.html' %}{% endwith %}
            </div>
            <div>
                <span class="price">{{ component.product.default_vendor.price }}</span> <span class="currency">{{ component.product.default_vendor.currency }}</span>
            </div>
        </a>
        <div class="vendors"><a class="vendor" target="_new" href="{% url apparelrow.statistics.views.product_click_count %}?i={{ component.product.id }}&u={{ component.product.default_vendor.buy_url|urlencode }}">{{ component.product.default_vendor.vendor }}</a><a href="{% url apparelrow.statistics.views.product_click_count %}?i={{ component.product.id }}&u={{ component.product.default_vendor.buy_url|urlencode }}" target="_new" class="buy-now">{% trans "Buy" %}</a></div>
    </div>
    <span class="arrow"></span>
</div>
