{% load i18n apparel_extras buy_extras %}
<div id="tooltip-link{{ link.id }}" class="tooltip tooltip-link">
    <div class="tooltip-container">
        <a class="close" href="#"></a>
        <div class="row">
            <a rel="nofollow" class="link_title" target="_blank" href="{{ link.url }}" title="{{ link.title }}">
                {{ link.title }}
            </a>
        </div>
        <div class="row">
            <a rel="nofollow" class="btn btn-upper btn-look-tooltip btn-buy-external" target="_blank" href="{{ link.url }}" title="{{ link.title }}">
                {{ link.url }}
            </a>
        </div>
    </div>
    <div class="tooltip-arrow"></div>
</div>
