{% load i18n thumbnail thumbnail_extras apparel_extras %}

<div class="thumbnail look-medium {% if object.display_with_component == 'P' %}look-photo{% else %}look-collage{% endif %}" id="look-{{ object.id }}" data-id="{{ object.id }}">
    <div class="look-image-container">
        <a href="{{ object.get_absolute_url }}">
            {% if featured %}
            {% thumbnail object.static_image "280x320" is_collage=object.is_collage keep_size=True crop=False format='PNG' as im %}
            <img class="img-responsive look-image" src="{{ im.url }}" alt="{{ object.alt_text }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
            {% else %}
            {% thumbnail object.static_image "560x420" is_collage=object.is_collage keep_size=True crop=False format='PNG' as im %}
            <img class="img-responsive look-image" src="{{ im.url }}" alt="{{ object.alt_text }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
            {% endif %}
        </a>
        <div class="hover">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-primary btn-block btn-look-like" href="#" data-liked-text="{% trans "Liked" %}" data-unlike-text="{% trans "Unlike" %}" data-like-text="{% trans "Like" %}" data-like-url="{% url 'look-like' object.slug 'like' %}" data-unlike-url="{% url 'look-like' object.slug 'unlike' %}" data-slug="{{ object.slug }}" data-id="{{ object.id }}"><span>{% trans "Like" %}</span>&nbsp;<span class="glyphicon glyphicon-heart"></span></a>
            </div>
        </div>
    </div>
    <div class="caption">
        <h4><a href="{{ object.get_absolute_url }}">{{ object.title }}{% if is_profile and not object.published %} ({% trans "Not published" %}){% endif %}</a></h4>
        <p>{% trans "by" %} <a href="{{ object.user.get_absolute_url }}">{{ object.user.display_name }}</a></p>
    </div>
</div>
