{% load i18n %}
<a href="{{ object.get_absolute_url }}"><div class="look">
    {% if object.image %}
        <img id="look-{{ object.id }}" class="product" src="/scale/93x72{{ object.image.url }}?trans=true&crop=true" />
    {% else %}
        {% for component in object.components.all %}
            <img id="product-{{ component.product.id }}" class="product collage-image" style="{{ component.style_small }}" src="/scale/93x72{{ component.product.product_image.url }}?trans=true" />
        {% endfor %}
    {% endif %}
</div><span class="button">{% include 'apparel/fragments/likes.html' %}</span></a>
