{% load i18n %}
{% load cache %}
{% load apparel_extras %}

{% cache CACHE_TIMEOUT look_wide object.id LANGUAGE_CODE %}
<a title="{{ object.title }}" href="{{ object.get_absolute_url }}">
    {% include 'apparel/fragments/look_small.html' %}
    <a href="{% url apparel.views.look_delete object.slug %}" class="inline-delete-look">&nbsp</a>
    <span class="inline-date">{{ object.modified|since }}</span>
    <h3><a title="{{ object.title }}" href="{{ object.get_absolute_url }}">{{ object.title }}</a> {% trans "by" %} {% with object.user.get_profile as profile %}{% include 'apparel/fragments/profile_link.html' %}{% endwith %}</h3>
    <p>{{ object.description }}</p>
    {% include 'apparel/fragments/total_price.html' %}
    <p>{% include 'apparel/fragments/likes.html' %}</p>
</a>
{% endcache %}
