{% load thumbnail %}
<div id="photo">
    {% if object.image %}
    {% thumbnail object.image 696x524 as image %}
    <div style="background-image: url('{{ image }}'); width: {{ image.width }}px; height: {{ image.height }}px"></div>
    {% else %}
    {{ form.image }}
    {% endif %}
</div>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#photo > div').click(function(e) {
                var x = e.pageX - this.offsetLeft - 40;
                var y = e.pageY - this.offsetTop - 40;
                jQuery('<a href="#"></a>').css({
                    'top': y + 'px',
                    'left': x + 'px',
                }).appendTo(this);
            });
        });
    </script>
