{% load i18n %}
<form action="{{ request.path }}" method="post" class="standard-form">
    {% csrf_token %}
    <div>
        <p>{% trans "Begin by selecting a name for your look (you can change the name later): " %}</p>
        {{ form.title }}
        {% if form.title.errors %}
            {{ form.title.errors }}
        {% endif %}
    </div>
    <div>
        <p>{% trans "You can then choose to create a tagged photo or a collage: "%}</p>
        <ul class="choices">
            <li>
                <h3>{% trans "Tagged photo" %}</h3>
                <input name="look_photo_image" type="image" src="{{ MEDIA_URL }}/images/example-photo.png" alt="">
                <input name="look_photo" type="submit" value="{% trans "Create a tagged photo" %}">
            </li>
            <li class="last">
                <h3>{% trans "Collage" %}</h3>
                <input name="look_collage_image" type="image" src="{{ MEDIA_URL }}/images/example-collage.png" alt="">
                <input name="look_collage" type="submit" value="{% trans "Create a collage" %}">
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</form>
