{# NOTE: All views using this template should migrate to pagination.html #}
{% if not page_obj.has_previous %}
<span class="prev disabled">&lt;</span>
{% else %}
<a class="prev" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">&lt;</a>
{% endif %}
<div>
<ol>
{% for page in page_range %}
    {% ifequal page_obj.number page %}
        <li class="current">{{ page }}</li>
    {% else %}
        <li><a href="{{ request.path }}?page={{ page }}">{{ page }}</a></li>
    {% endifequal %}
{% endfor %}
</ol>
</div>
{% if not page_obj.has_next %}
<span class="next disabled">&gt;</span>
{% else %}
<a class="next" href="{{ request.path }}?page={{ page_obj.next_page_number }}">&gt;</a>
{% endif %}
