{{#}}NOTE: If you change this, also change pagination_js.html{{/#}}
<a class="prev{{if !products.has_previous}} disabled{{/if}}" href="/browse/?page=${ products.previous_page_number }">&lt;</a>
<div>
<ol>
{{if(products.pagination.left)}}
    {{each(i, page) products.pagination.left}}
        <li><a href="/browse/?page=${ page }">${ page }</a></li>
    {{/each}}
    <li class="pagination-dots">&hellip;</li>
{{/if}}

{{each(i, page) products.pagination.mid}}
    {{if page == products.number}}
        <li class="current">${ page }</li>
    {{else}}
        <li><a href="/browse/?page=${ page }">${ page }</a></li>
    {{/if}}
{{/each}}

{{if products.pagination.right}}
    <li class="pagination-dots">&hellip;</li>
    {{each(i, page) products.pagination.right}}
        <li><a href="/browse/?page=${ page }">${ page }</a></li>
    {{/each}}
{{/if}}
</ol>
</div>
<a class="next{{if !products.has_next}} disabled{{/if}}" href="/browse/?page=${ products.next_page_number }">&gt;</a>
