{% extends "apparel/fragments/product_options.html" %}
{% load i18n %}
{% load apparel_extras %}

{% block option_header %}{% trans "Select price range" %}{% endblock %}

{% block option_content %}
    <input type="text" name="pricerange_min" value="{{ pricerange.min }}" class="price-range">
    <div id="price-slider"></div>
    <!--
    <div id="price-ruler">
        <span>{{ pricerange.min }}</span>
        <span>{% calc_half pricerange.max pricerange.min %}</span>
        <span>{{ pricerange.max }}</span>
    </div>
    -->
    <input type="text" name="pricerange_max" value="{{ pricerange.max }}" class="price-range">
    <input type="hidden" name="1:vp.price:range" value="{{ pricerange.selected  }}">
{% endblock %}
