{% load i18n thumbnail thumbnail_extras apparel_extras buy_extras %}
<li>
<div class="product-medium product-container" id="product-{{ object.id }}" data-id="{{ object.id }}">
    <a class="product-image" href="{{ object.get_absolute_url }}">
        {% thumbnail object.product_image "224x291" crop=False as im %}
        <img src="{{ im.url }}" alt="{{ object }}" width="{{ im.width }}" height="{{ im.height }}" style="margin:{{ im|positive_margin:'224x291' }}">
        {% endthumbnail %}
    </a>
    <a class="hover hover-top-left product-like heart" href="#" data-dialog-url="{% url dialog-like-product %}" data-like-url="{% url product-action object.id 'like' %}" data-unlike-url="{% url product-action object.id 'unlike' %}" data-slug="{{ object.slug }}" data-id="{{ object.id }}" data-vendor="{{ object.default_vendor.vendor }}" data-price="{{ object.default_vendor.lowest_price_in_sek|floatformat:0 }}"></a>
    <div class="hover hover-top-right">
        <span class="comments">0</span>
        <span class="likes">0</span>
    </div>
    <div class="hover hover-footer group">
        <a class="btn btn-large btn-block btn-upper" href="{{ object.get_absolute_url }}">{% trans "Info" %}</a>
        <a class="btn btn-large btn-positive btn-block btn-upper btn-buy" target="_blank" href="{% buy_url object.id object.default_vendor '0' 'Shop' %}" data-slug="{{ object.slug }}" data-vendor="{{ object.default_vendor.vendor }}" data-price="{{ object.default_vendor.lowest_price_in_sek|floatformat:0 }}">{% trans "Buy" %}</a>
    </div>
    <div class="product-footer">
        <h4><a href="{{ object.get_absolute_url }}">{{ object.manufacturer }}</a></h4>
        {% if not object.default_vendor or object.default_vendor.availability == 0 %}
        <span class="sold-out">SOLD OUT</span>
        {% else %}
        <p>
            {% if object.default_vendor.discount_price %}
            <span class="discount-price" data-price="{{ object.default_vendor.original_discount_price }}" data-currency="{{ object.default_vendor.original_currency }}">{{ object.default_vendor.original_discount_price|floatformat:0|apprl_intcomma }} {{ object.default_vendor.original_currency }}</span>
            <span class="price discounted" data-price="{{ object.default_vendor.original_price }}" data-currency="{{ object.default_vendor.original_currency }}">{{ object.default_vendor.original_price|floatformat:0|apprl_intcomma }} {{ object.default_vendor.original_currency }}</span>
            {% else %}
            <span class="price" data-price="{{ object.default_vendor.original_price }}" data-currency="{{ object.default_vendor.original_currency }}">{{ object.default_vendor.original_price|floatformat:0|apprl_intcomma }} {{ object.default_vendor.original_currency }}</span>
            {% endif %}
        </p>
        {% endif %}
    </div>
</div>
</li>
