{% extends 'dialog_base.html' %}
{% load i18n %}

{% block title %}{% trans "Likes this product" %}{% endblock %}
{% block content %}
    <ul id="user-list">
    {% for profile in profiles %}
        <li class="{% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}">
            <a id="user-{{ profile.id }}" href="{{ profile.get_absolute_url }}">
                <img class="avatar" src="{{ profile.avatar }}" alt="{{ profile.display_name }}"/><span>{{ profile.display_name }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
