{% spaceless %}
<div id="product-list" class="product-list">
    <ul class="list">
        {% for page in pages %}
            <li id="page-{{ page.number }}">
                <ul>
                    {% for product in page.object_list %}
                        {% include 'apparel/fragments/product_small.html' %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        {% comment %}
        FIXME: Fix this so it works with ajax fetched stuff and looks nice
        {% with product as object %}
        <div class="tooltip">
            {% include 'apparel/fragments/product_detail.html' %}
        </div>
        {% endwith %}
        {% endcomment %}
    </ul>
    <div id="pagination" class="pagination">
        {% include 'apparel/fragments/pagination.html' %}
    </div>
</div>
{% endspaceless %}
