{% load cache %}
{% load thumbnail %}
{% cache CACHE_TIMEOUT product_small_sidebar object.id "en" %}
<a title="{{ object.product_name }}" href="{{ object.get_absolute_url }}">
<div class="product-small">
    <div class="product-image">
        {% thumbnail object.product_image "93x124" crop="center" as im %}
        <img src="{{ im.url }}" alt="{{ object.product_name }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        <span class="likes">x</span>
    </div>
    <h4>{{ object.manufacturer }}</h4>
    <span class="price">{{ object.default_vendor.price|floatformat:0 }} {{ object.default_vendor.currency }}</span>
</div>
</a>
{% endcache %}
