{% load i18n %}
{% load apparel_extras %}
{% load mptt_tags %}
{% load cache %}

{% block product_menu_title %}
<h2>{% trans "Browse articles" %}</h2>
{% endblock %}
{% cache CACHE_TIMEOUT filter_menu LANGUAGE_CODE %}
<ul id="product-gender" class="hover-menu">
    <li class="first"><a href="{% url apparel.views.browse %}">{% trans "All" %}</a></li>
    <li><a id="option-M"{% ifequal selected_gender "M" %} class="selected"{% endifequal %} href="{% url apparel.views.browse %}?1:gender=M">{% trans "Men" %}</a></li>
    <li class="last"><a id="option-W"{% ifequal selected_gender "W" %} class="selected"{% endifequal %} href="{% url apparel.views.browse %}?1:gender=W">{% trans "Women" %}</a></li>
</ul>
<ul id="product-options" class="hover-menu">
    <li class="first" id="product-price"><a href="{% url apparel.views.browse %}">{% trans "Price" %}</a>
    {% include "apparel/fragments/product_options_price.html" %}
    </li>
    <li id="product-color"><a href="{% url apparel.views.browse %}">{% trans "Color" %}</a>
    {% include "apparel/fragments/product_options_color.html" %}
    </li>
    <li class="last" id="product-manufacturers"><a href="{% url apparel.views.browse %}">{% trans "Brand" %}</a>
    {% include "apparel/fragments/product_options_brand.html" %}
    </li>
</ul>
{% for category, structure in categories|tree_info %}
{% if structure.new_level %}<ul{% if forloop.first %} id="product-category" class="hover-menu"{% endif %}>{% else %}</li>{% endif %}<li{% if forloop.first %} class="first"{% endif %}{% if forloop.last %} class="last"{% endif %}>
    <a id="category-{{ category.id }}"{% ifinlist category.id selected_categories %} class="selected"{% endifinlist %} href="{% url apparel.views.browse %}?1:c.id:in={{ category.id }}">{{ category.name }}</a>
{% for level in structure.closed_levels %}</li></ul>{% endfor %}
{% endfor %}
{% endcache %}


