{% load l10n i18n thumbnail thumbnail_extras apparel_extras buy_extras %}

<div class="thumbnail product-medium" id="product-{{ object.id }}" data-id="{{ object.id }}">
    {% thumbnail object.product_image "280x320" crop=False format='PNG' transparent=True as im %}
    <img class="product-image" src="{{ im.url }}" alt="{{ object.alt_text }}" width="{{ im.width }}" height="{{ im.height }}" style="margin:{{ im|positive_margin:'280x320' }}">
    {% endthumbnail %}
    <div class="hover">
        <ul class="list-unstyled">
            <li><a class="btn btn-default btn-block btn-product-like btn-danger" href="#" data-unlike-text="{% trans "Unlike" %}" data-like-text="{% trans "Like" %}" data-like-url="{% url 'product-action' object.id 'like' %}" data-unlike-url="{% url 'product-action' object.id 'unlike' %}" data-slug="{{ object.slug }}" data-id="{{ object.id }}" data-vendor="{{ object.default_vendor.vendor }}" data-price="{{ object.default_vendor.lowest_price_in_sek|floatformat:0 }}">{% trans "Like" %}</a></li>
            <li><a class="btn btn-default btn-block btn-product-info" href="{{ object.get_absolute_url }}">{% trans "Info" %}</a></li>
            {% if object.default_vendor and object.default_vendor.availability != 0 and object.availability %}
            <li><a class="btn btn-success btn-block btn-product-buy" target="_blank" href="{% buy_url object.id object.default_vendor '0' 'Shop' %}" data-slug="{{ object.slug }}" data-vendor="{{ object.default_vendor.vendor }}" data-price="{{ object.default_vendor.lowest_price_in_sek|floatformat:0 }}">{% trans "Buy" %}</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="caption">
        <h4><a href="{{ object.get_absolute_url }}">{{ object.manufacturer }}</a></h4>
        <ul class="list-inline">
            {% if object.default_vendor and object.default_vendor.availability != 0 and object.availability %}
            {% if object.default_vendor.discount_price %}
            <li class="discount-price" data-price="{{ object.default_vendor.original_discount_price|unlocalize }}" data-currency="{{ object.default_vendor.original_currency }}">{{ object.default_vendor.original_discount_price|floatformat:0|apprl_intcomma }} {{ object.default_vendor.original_currency }}</li>
            <li class="price discounted" data-price="{{ object.default_vendor.original_price|unlocalize }}" data-currency="{{ object.default_vendor.original_currency }}">{{ object.default_vendor.original_price|floatformat:0|apprl_intcomma }} {{ object.default_vendor.original_currency }}</li>
            {% else %}
            <li class="price" data-price="{{ object.default_vendor.original_price|unlocalize }}" data-currency="{{ object.default_vendor.original_currency }}">{{ object.default_vendor.original_price|floatformat:0|apprl_intcomma }} {{ object.default_vendor.original_currency }}</li>
            {% endif %}
            {% else %}
            <li class="sold-out">SOLD OUT</li>
            {% endif %}
        </ul>
        <p>{% if has_looks %}<a class="looks" data-slug="{{ object.slug }}" data-vendor="{{ object.default_vendor.vendor }}" href="{% url 'product-look-list' contains=object.slug %}">{% trans "See looks »" %}</a>{% endif %}</p>
    </div>
</div>
