{% load thumbnail %}
<li id="product-{{ object.id }}">
<a href="{{ object.get_absolute_url }}">
<div class="product-small">
    <div class="product-image">
        {% thumbnail object.product_image "115x153" crop="center" as im %}
        <img src="{{ im.url }}" alt="{{ object.product_name }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        <span class="likes">x</span>
    </div>
    <h4>{{ object.manufacturer }}</h4>
    <span class="price{% if object.default_vendor.availability == 0 %} sold-out{% endif %}" >{{ object.default_vendor.price|floatformat:0 }} {{ object.default_vendor.currency }}</span>
</div>
</a>
</li>
