{% load l10n i18n thumbnail thumbnail_extras buy_extras localeurl_tags %}

<div class="thumbnail product-medium" id="product-{{ object.id }}" data-id="{{ object.id }}">
    <div class="product-image-container">
        <a href="{{ object.get_absolute_url|chlocale:LANGUAGE_CODE }}">
            {% thumbnail object.product_image "280x320" keep_size=True crop=False format='PNG' as im %}
            <img class="product-image" src="{{ im.url }}" alt="{{ object.alt_text }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
        </a>
        <div class="hover">
            <a class="pull-left btn btn-default btn-product-like" href="#" data-liked-text="{% trans "Saved" %}" data-unlike-text="{% trans "Unsave" %}" data-like-text="{% trans "Save" %}" data-like-url="{% url 'product-action' object.id 'like' %}" data-unlike-url="{% url 'product-action' object.id 'unlike' %}" data-slug="{{ object.slug }}" data-id="{{ object.id }}" data-vendor="{{ object.default_vendor.vendor }}" data-price="{{ object.default_vendor.lowest_price_in_sek|floatformat:0 }}"><i class="fa fa-heart"></i>&nbsp;<span class="hidden-xs">{% trans "Save" %}</span></a>
            {% if object.default_vendor and object.default_vendor.availability != 0 and object.availability %}
            <a rel="nofollow" class="pull-right btn btn-primary" target="_blank" href="{% buy_url object.id object.default_vendor '0' 'Shop' %}" data-slug="{{ object.slug }}" data-vendor="{{ object.default_vendor.vendor }}" data-price="{{ object.default_vendor.lowest_price_in_sek|floatformat:0 }}">{% trans "Buy" %}</a>
            {% endif %}
        </div>
    </div>
    <div class="caption">
        <h5><a href="{{ object.get_absolute_url|chlocale:LANGUAGE_CODE }}">{{ object.manufacturer }}</a></h5>
        <ul class="list-inline">
            {% if object.availability and object.default_vendor and object.default_vendor.availability != 0 %}
            {% if object.default_vendor.original_discount_price %}
            <li class="discount-price" data-price="{{ object.default_vendor.original_discount_price|unlocalize }}" data-currency="{{ object.default_vendor.original_currency }}">{{ object.default_vendor.original_discount_price|floatformat:0|custom_intcomma }} {{ object.default_vendor.original_currency }}</li>
            <li class="price discounted" data-price="{{ object.default_vendor.original_price|unlocalize }}" data-currency="{{ object.default_vendor.original_currency }}">{{ object.default_vendor.original_price|floatformat:0|custom_intcomma }} {{ object.default_vendor.original_currency }}</li>
            {% else %}
            <li class="price" data-price="{{ object.default_vendor.original_price|unlocalize }}" data-currency="{{ object.default_vendor.original_currency }}">{{ object.default_vendor.original_price|floatformat:0|custom_intcomma }} {{ object.default_vendor.original_currency }}</li>
            {% endif %}
            {% else %}
            <li class="sold-out">{% trans "Sold out" %}</li>
            {% endif %}
        </ul>
        <p>{% if has_looks %}<a class="looks" data-slug="{{ object.slug }}" data-vendor="{{ object.default_vendor.vendor }}" href="{% locale_url LANGUAGE_CODE 'product-look-list' contains=object.slug %}">{% trans "See looks »" %}</a>{% endif %}</p>
    </div>
</div>
