{% load i18n %}
            <div class="product-info clearfix">
                <div class="product-image">
                    <a href="{{ object.product_image.url }}" title="{{ object.product_name }}"><img src="/scale/317x500/site_media/media/{{ object.product_image }}" /></a>
                    <span class="magnifier"></span>
                </div>
                <div class="span-9 prepend-1 last">
                <div class="box">
                    <h3>{{ object.product_name }}</h3>
                    <h4>{% trans "by" %} {{ object.manufacturer }}</h4>
                    <h4>{% trans "Available in" %}</h4>
                    {% regroup object.options.all by option_type as option_list %}
                    <ul class="product-options">
                    {% for option in option_list %}
                        <li>{{ option.grouper }}
                        <ul class="option-{{ option.grouper|slugify }} clearfix">
                            {% for item in option.list %}
                            <li class="{{ item.value|slugify }}">{{ item.value }}</li>
                            {% endfor %}
                        </ul>
                        </li>
                    {% endfor %}
                    </ul>
                    <p>{{ object.description }}</p>
                    <div class="product-vendors">
                        {% with object.vendorproduct.all|dictsort:'price' as vendorproducts %}
                        {% for vendorproduct in vendorproducts %}
                            {% if forloop.first %}
                            <a href="{{ vendorproduct.buy_url }}" class="buy-now">{% trans "Buy now!" %}</a>
                            {% endif %}
                            <div class="product-vendor">
                                <span class="price">{{ vendorproduct.price }}</span><span class="currency">{{ vendorproduct.currency }}</span>
                                <a class="vendor" href="{{ vendorproduct.buy_url }}">{{ vendorproduct.vendor }}</a>
                            </div>
                        {% endfor %}
                        {% endwith %}
                    </div>
                    <ul id="add-menu" class="clearfix">
                        <li id="add-to-look"><a href="/apparel/look/">{% trans "Add to look" %}</a>
                            <ul>
                                {% for look in looks %}
                                <li><a id="look-{{ look.id }}" href="{{ look.get_absolute_url }}">{{ look.title }}</a></li>
                                {% endfor %}
                                <li><a href="/apparel/look/new/">{% trans "New look" %}</a></li>
                            </ul>
                        </li>
                        <li id="add-to-wardrobe"><a href="#">{% trans "Add to wardrobe" %}</a></li>
                    </ul>
                </div>
                </div>
            </div>

