{% load i18n %}
{% load thumbnail %}
<li id="product-{{ object.id }}">
<a href="{{ object.get_absolute_url }}">
<div class="product-small">
    <div class="product-image">
        {% thumbnail object.product_image "115x153" crop="center" as im %}
        <img src="{{ im.url }}" alt="{{ object.product_name }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        <span class="likes">x</span>
    </div>
    <h4>{{ object.manufacturer }}</h4>
    {% if not object.default_vendor or object.default_vendor.availability == 0 %}
    <span class="price sold-out">SOLD OUT</span>
    {% else %}
    {% if object.default_vendor.discount_price %}
    <span class="discount price">{{ object.default_vendor.discount_price|floatformat:0 }} {{ object.default_vendor.currency }}</span>
    {% else %}
    <span class="price">{{ object.default_vendor.price|floatformat:0 }} {{ object.default_vendor.currency }}</span>
    {% endif %}
    {% endif %}
</div>
</a>
</li>
