{% extends "apparel/fragments/product_options.html" %}
{% load i18n %}
{% load apparel_extras %}
{% block option_header %}{% trans "Select one or more colors" %}{% endblock %}

{% block option_content %}
<ul>
    {% for color in all_colors %}
    <li><a href="{% url apparel.browse.browse_products %}?color={{ color.pk }}" class="{{ color.value }}{% if selected_colors and color.value in selected_colors %} selected{% endif %}" id="option-{{ color.pk }}">{{ color.value }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
