{% load i18n %}
{% load apparel_extras %}
{% load mptt_tags %}
{% load cache %}

{% block product_menu_title %}
<h2>{% trans "Browse articles" %}</h2>
{% endblock %}
{% block product_options %}{% endblock %}

{% for category, structure in categories_all|tree_info %}
    {% if structure.new_level %}
        <ul{% if forloop.first %} id="product-category"{% endif %} class="level-{{ category.get_level }}{% if forloop.first %} hover-menu{% endif %}">
    {% else %}
        </li>
    {% endif %}
        <li class="{% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}{% if categories and category.id not in categories %} to_filter{% endif %}">
        <a data-order="{{ category.name_order }}" id="category-{{ category.id }}"{% if category.id in selected_categories %} class="selected"{% endif %} href="{% url apparel.browse.browse_products %}?category={{ category.id }}">{{ category.name }} <span class="category-count">({{ categories|getdictattribute:category.id }})</span></a>
    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
{% endfor %}

