{% load i18n %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span></span></button>
            <h2 class="modal-title">{% trans "Your product link" %}</h2>
        </div>
        <div class="modal-body center">
            {% if warning_text %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="modal"><span></span></button>
                    {{ warning_text }} <a class="alert-warning" style="text-decoration: underline;" href="{% url 'settings-account' %}#location-notifications">{% trans "Change your location" %}</a>
                </div>
            {% endif %}
            <p>{% trans "Share this link on your blog, social media, e-mail or anywhere, and you will make money on anyone who clicks on it and buys something from the store." %}</p>
            <input type="text" onfocus="this.select()" value="{{ product_short_link }}" data-url="{{ product_short_link }}">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
        </div>
    </div>
</div>
