{% load i18n thumbnail apparel_extras buy_extras cache thumbnail_extras %}

<div class="product-container row">
    <div class="col-xs-12">
        <h4>{{ object.manufacturer }} - {{ object.product_name }}</h4>
    </div>
    <div class="product-image col-sm-4 col-cs-12">
        {% thumbnail object.product_image "224x291" crop=False as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" title="{{ object }}" style="margin:{{ im|positive_margin:'224x291' }}" class="img-responsive">
        {% endthumbnail %}
    </div>

    {% cache CACHE_TIMEOUT product_popup object.id LANGUAGE_CODE %}
    <div class="col-xs-12 col-sm-8">
        <p class="bodycopy description hidden-xs">{{ object.description }}</p>
        <div class="product-vendors group">
            <div class="product-vendor">
                <div class="computed-price">
                    {% if object.default_vendor.locale_discount_price %}
                    <span class="discount-price price">{{ object.default_vendor.locale_discount_price|floatformat:0|apprl_intcomma }}</span>
                    {% endif %}
                    <span class="price"{% if object.default_vendor.locale_discount_price %} style="text-decoration:line-through;"{% endif %}>{{ object.default_vendor.locale_price|floatformat:0|apprl_intcomma }}</span>
                    <span class="currency">{{ object.default_vendor.locale_currency }}</span>
                </div>
                {% if object.default_vendor.original_currency != object.default_vendor.locale_currency %}
                <small>{% blocktrans with object.default_vendor.original_currency as original_currency %}The item is sold in {{ original_currency }} and the conversion to {{ CURRENCY }} is approximate.{% endblocktrans %}</small>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <a href="#" class="btn btn-success btn-add">{% trans "Add product" %}</a>
    </div>
    {% endcache %}

</div>
