{% load i18n thumbnail thumbnail_extras apparel_extras cache buy_extras %}
{% cache 43200 product_feed_226 object.id LANGUAGE_CODE %}
<div class="product-feed product-container" id="product-{{ object.id }}" data-id="{{ object.id }}" style="width:226px">
    <a class="product-image" href="{{ object.get_absolute_url }}">
        {% thumbnail object.product_image "226x294" crop=False as im %}
        <img src="{{ im.url }}" alt="{{ object.alt_text }}" width="{{ im.width }}" height="{{ im.height }}" style="margin:{{ im|positive_margin:'226x294' }}">
        {% endthumbnail %}
    </a>
    <a class="hover hover-top-left product-like heart" href="#" data-dialog-url="{% url dialog-like-product %}" data-like-url="{% url product-action object.id 'like' %}" data-unlike-url="{% url product-action object.id 'unlike' %}" data-slug="{{ object.slug }}" data-id="{{ object.id }}" data-vendor="{{ object.default_vendor.vendor }}" data-price="{{ object.default_vendor.lowest_price_in_sek|floatformat:0 }}"></a>
    <div class="hover hover-top-right">
        <span class="comments">0</span>
        <span class="likes">0</span>
    </div>
    <div class="hover hover-footer group">
        <a class="btn btn-large btn-block btn-upper" href="{{ object.get_absolute_url }}">{% trans "Info" %}</a>
        {% if not object.default_vendor or object.default_vendor.availability == 0 %}
        <a class="btn btn-large btn-block btn-upper btn-sold-out btn-disabled" href="{{ object.get_absolute_url }}">{% trans "Sold out" %}</a>
        {% else %}
        <a class="btn btn-large btn-positive btn-block btn-upper btn-buy" target="_blank" href="{% if sid %}{% buy_url object.id object.default_vendor sid 'Feed' %}{% else %}{% buy_url object.id object.default_vendor '0' 'Feed' %}{% endif %}" data-slug="{{ object.slug }}" data-vendor="{{ object.default_vendor.vendor }}" data-price="{{ object.default_vendor.lowest_price_in_sek|floatformat:0 }}">{% trans "Buy" %}</a>
        {% endif %}
    </div>
</div>
{% endcache %}
