{% spaceless %}
<ul class="product-list list-unstyled row {% if not show_product_brand and is_embed_shop %}hide-captions{% endif %}">
    {% for html, product in current_page.html %}
        <li class="col-product-item">
            {{ html|safe }}
            {% if not is_embed_shop and user.is_partner%}
                <div class="product-medium-earning" id="product-medium-earning-{{ product }}"></div>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<div class="pagination">
    {% include 'apparel/fragments/pagination.html' with request=request current_page=current_page is_shop=True only %}
</div>
{% endspaceless %}