{% load i18n comments apparel_extras buy_extras cache %}
{% if object and object.product_image %}
{% cache CACHE_TIMEOUT product_detail_fragment object.id LANGUAGE_CODE %}
<div class="product-info">
    <!-- {{ object.popularity }} -->
    <div class="breadcrumb">
    <a href="{% gender_url object.gender 'shop' %}">{% trans object.get_gender_display %}</a> \
    {% for category in object.categories %}
    {% if forloop.first %}
    <a href="{% gender_url object.gender 'shop' %}#category={{ category.id }}">{{ category }}</a>
    {% else %}
    \ <a href="{% gender_url object.gender 'shop' %}#category={{ category.id }}">{{ category }}</a>
    {% endif %}
    {% endfor %}
    {% with object.categories|last as last_category %}
    \ <a href="{% gender_url object.gender 'shop' %}#category={{ last_category.id }}&manufacturer={{ object.manufacturer.id }}">{{ object.manufacturer }}</a>
    {% endwith %}
    </div>
    {% regroup object.options.all by option_type as option_list %}
    <!-- FIXME: Style this properly. See ticket #300
    <ul class="product-options">
    {% for option in option_list %}
        <li>{{ option.grouper }}
        <ul class="option-{{ option.grouper|slugify }} clearfix">
            {% for item in option.list %}
            <li class="{{ item.value|slugify }}">{{ item.value }}</li>
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
    -->
    <p class="bodycopy description">{{ object.description }}</p>
    <p class="bodycopy vendors">
      {% if object.default_vendor %}
        {% if object.default_vendor.availability == 0 %}
        <a target="_blank" href="{{ object.default_vendor.vendor.homepage }}">{% trans "Was available at " %}{{ object.default_vendor.vendor }} &raquo;</a>
        {% else %}
        <a target="_blank" class="btn-buy" href="{% buy_url object.id object.default_vendor referral_sid 'Product' %}" data-sid="{% get_sid referral_sid 'Product' %}" data-slug="{{ object.slug }}" data-vendor="{{ object.default_vendor.vendor }}" data-price="{{ object.default_vendor.lowest_price_in_sek|floatformat:0 }}">{% trans "Available at " %}{{ object.default_vendor.vendor }} &raquo;</a>
        {% endif %}
      {% endif %}
    </p>
    <div class="product-vendors group">
        {% with object.vendorproduct.all|dictsort:'price' as vendorproducts %}
        {% for vendorproduct in vendorproducts %}
            <div class="product-vendor">
                <div class="computed-price">
                    {% if vendorproduct.locale_discount_price %}
                    <span class="discount-price price">{{ vendorproduct.locale_discount_price|floatformat:0|apprl_intcomma }}</span>
                    {% endif %}
                    <span class="price"{% if vendorproduct.locale_discount_price %} style="text-decoration:line-through;"{% endif %}>{{ vendorproduct.locale_price|floatformat:0|apprl_intcomma }}</span>
                    <span class="currency">{{ vendorproduct.locale_currency }}</span>
                </div>
                {% if vendorproduct.locale_currency != vendorproduct.original_currency %}
                <div class="original-price">
                    {% if vendorproduct.locale_discount_price %}
                    <span class="discount-price price">{{ vendorproduct.original_discount_price|floatformat:0|apprl_intcomma }}</span>
                    {% endif %}
                    <span class="price"{% if vendorproduct.locale_discount_price %} style="text-decoration:line-through;"{% endif %}>{{ vendorproduct.original_price|floatformat:0|apprl_intcomma }}</span>
                    <span class="currency">{{ vendorproduct.original_currency }}</span>
                </div>
                {% endif %}
            </div>
            {% if forloop.first %}
                {% if vendorproduct.availability == 0 %}
                <span class="btn btn-upper btn-disabled btn-sold-out">{% trans "Sold out" %}</span>
                {% else %}
                <a href="{% buy_url object.id vendorproduct referral_sid 'Product' %}" target="_blank" class="btn btn-upper btn-positive btn-buy" data-sid="{% get_sid referral_sid 'Product' %}" data-slug="{{ object.slug }}" data-vendor="{{ vendorproduct.vendor }}" data-price="{{ vendorproduct.lowest_price_in_sek|floatformat:0 }}">{% trans "Buy" %}</a>
                {% endif %}
            {% endif %}
        {% empty %}
            <span class="btn btn-upper btn-disabled btn-sold-out">{% trans "Sold out" %}</span>
            <div class="product-vendor">
                <span class="price"></span><span class="currency"></span>
            </div>
        {% endfor %}
        {% endwith %}
    </div>

    {% if object.original_currency_list %}
    <div class="product-original-currency">
        {% blocktrans with object.original_currency_list|join:", " as original_currency %}The item is sold in {{ original_currency }} and the conversion to {{ CURRENCY }} is approximate.{% endblocktrans %}
    </div>
    {% endif %}

{% endcache %}
    {% include 'apparel/fragments/share.html' %}
    {% if request.user.get_profile.is_partner and object.default_vendor and object.default_vendor.availability != 0 %}
    <div class="short-link-container">
        {% if product_short_link %}
        {% include 'apparel/fragments/product_short_link.html' with product_short_link=product_short_link only %}
        {% else %}
        <a href="{% url product-generate-short-link object.slug %}" class="btn btn-upper btn-short-link">{% trans "Get product link" %}</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endif %}

