{% load i18n %}
{% load apparel_extras %}

<div class="options">
    <form action="{% gender_url APPAREL_GENDER 'shop' %}">
        <div>
            <h3>
                {% block option_header %}{% endblock %}
                <a class="reset" href="{% gender_url APPAREL_GENDER 'shop' %}">{% trans "Show all" %}</a>
            </h3>
            <div class="option-content">
                {% block option_content %}{% endblock %}
            </div>
        </div>
        <div class="buttons">
            <button type="submit" class="ok">{% trans "OK" %}</button>
        </div>
    </form>
    <span class="arrow"></span>
</div>
