{% load i18n %}
{% for language in SHORT_LANGUAGES %}
    {% if language.0 == LANGUAGE_CODE %}
    <a class="current language" href="{% url apparel.views.apparel_set_language %}">{% trans language.1 %}</a>
    {% endif %}
{% endfor %}
<form action="{% url apparel.views.apparel_set_language %}" method="post" class="select-language" style="display: none">
    {% csrf_token %}
    <ul>
        <li class="arrow"></li>
    {% for language in LANGUAGES %}
        <li class="{% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}">
            {% if language.0 == LANGUAGE_CODE %}
            <button class="disabled" name="language" value="{{ language.0 }}" type="submit">{% trans language.1 %}</button>
            {% else %}
            <button name="language" value="{{ language.0 }}" type="submit">{% trans language.1 %}</button>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</form>
