<div class="share">
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_pinterest"></a>
    <a class="addthis_button_compact"></a>
  </div>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-500ff11c3e1dc781"></script>
</div>

<!--<ul class="share">-->
  <!--<li class="fb"><div class="fb-like" data-send="true" data-layout="button_count" data-width="50" data-show-faces="false" data-font="arial"></div></li>-->
  <!--<li class="tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a></li>-->
  <!--<li class="pin"><a href="http://pinterest.com/pin/create/button/?url={{ url }}&media={{ image }}" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a></li>-->
<!--</ul>-->
