<div class="share">
  <div class="addthis_toolbox addthis_default_style ">
    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
    <a class="addthis_button_facebook_send"></a>
    <a class="addthis_button_tweet" tw:count="none"></a>
    <a class="addthis_button_pinterest_pinit"></a>
    <a class="addthis_counter addthis_pill_style"></a>
  </div>
  <style type="text/css">.at300b, .at300m, .addthis_pill_style { margin-top:10px !important; }</style>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-500ff11c3e1dc781"></script>
</div>

<!--<ul class="share">-->
  <!--<li class="fb"><div class="fb-like" data-send="true" data-layout="button_count" data-width="50" data-show-faces="false" data-font="arial"></div></li>-->
  <!--<li class="tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a></li>-->
  <!--<li class="pin"><a href="http://pinterest.com/pin/create/button/?url={{ url }}&media={{ image }}" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a></li>-->
<!--</ul>-->
