<div class="share">
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_facebook" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
        <a class="addthis_button_pinterest_share" title="Share on Pinterest"><i class="fa fa-pinterest-p"></i></a>
        <a class="addthis_button_twitter" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
        <a class="addthis_button_google_plusone_share" title="Share on Google+"><i class="fa fa-google-plus"></i></a>
        <a class="addthis_button_tumblr" title="Share on Tumblr"><i class="fa fa-tumblr"></i></a>
        <a class="addthis_button_email" title="Share on Email"><i class="fa fa-envelope"></i></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-500ff11c3e1dc781"></script>
</div>