<div class="col-featured-item">
    <div class="feed-item featured-feed-item panel">
        <div class="panel-heading">
            <a href="/topmodelsverige"><img class="img-circle"
                                            src="http://s.apprl.com/cache/0b/90/0b9028c20cccbaf2dc93e232ec28009c.jpg"></a>
            <p>Utvald av <a href="/topmodelsverige">Följ Top Model deltagarna på APPRL</a></p>
            <a class="btn btn-success btn-sm btn-follow" href="/topmodelsverige">Följ</a>
        </div>
        <div class="panel-body">
            <div class="thumbnail product-medium" id="product-2743781" data-id="2743781">
                <div class="product-image-container">
                    <a href="/topmodelsverige">
                        <img class="product-image img-responsive"
                             src="http://s.apprl.com/cache/49e06523bf84969370d97382ee581c00/9d/9dc9eedcdd02bfd8f0c835fadcd20b20b856d2ca.jpg"
                             alt="Top Model" width="280" height="320" style="opacity: 1;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>