{% load i18n %}

<div class="col-featured-item">
    <div class="feed-item panel" id="user-featured-999999" data-user-id="999999">
        <div class="panel-heading">
            <a href="/topmodelsverige"><img class="img-circle"
                                            src="http://s.apprl.com/static/images/140309_Feature_pic2.jpg"></a>
            <p><a href="/topmodelsverige">{% trans 'Follow Top Model on APPRL' %}</a></p>
            <a class="btn btn-sm btn-follow-placeholder" href="/topmodelsverige">{% trans 'Follow' %}</a>
        </div>
        <div class="panel-body">
            <div class="thumbnail product-medium">
                <div class="product-image-container">
                    <a href="/topmodelsverige">
                        <img class="product-image img-responsive"
                             src="http://s.apprl.com/static/images/140309_Feature_pic1.jpg"
                             alt="Top Model" width="280" height="320" style="opacity: 1;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>