{% load i18n follow_tags humanize apparel_extras thumbnail %}
{% load static from staticfiles %}

<div class="user-medium panel" id="user-medium-{{ profile.pk }}">
    <div class="panel-heading">
        <div class="media">
            <a class="pull-left" href="{{ profile.get_absolute_url }}">
                <img class="img-circle" src="{{ profile.avatar }}" alt="{{ profile.display_name }}"/>
            </a>
            <div class="media-body">
                <h5 class="media-heading"><a href="{{ profile.get_absolute_url }}">{% if profile.display_name|length >= 25 %}{{ profile.display_name|slice:":20" }} ...{% else %}{{ profile.display_name|slice:":20" }}{% endif %}</a></h5>
                {% if cached %}
                {% include 'apparel/fragments/follow_cache.html' %}
                {% else %}
                {% include 'apparel/fragments/follow.html' %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled row">
            {% for x in profile.profile_content %}
            {% thumbnail x.1 "192x192" crop="center" format="PNG" as im %}
            <li class="col-xs-6"><a href="{{ x.0 }}"><img class="img-responsive" src="{{ im.url}}"></a></li>
            {% empty %}
            <li class="col-xs-6"><a href="{{ profile.get_absolute_url }}"><img class="img-responsive" src="{% static 'images/brand-avatar-large.png' %}"></a></li>
            {% endthumbnail %}
            {% endfor %}
        </ul>
    </div>
</div>
