{% load i18n %}

<form action="{{ request.path }}" method="post"{% if form_enctype %} enctype="{{ form_enctype }}"{% endif %} class="default-form">
    {% csrf_token %}
    {% block extra_fields %}{% endblock %}

    {% for field in form %}
    <div class="form-group">
        <label for="id_{{ field.html_name }}" class="control-label">{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}

    <div class="form-group">
        <button type="submit" class="btn btn-primary">{% trans submit_text %}</button>
    </div>

</form>
