{% load i18n %}
{% load apparel_extras %}

<form class="connect-button" name="login" method="post" action="{% url facebook_login %}">
{% csrf_token %}
<input type="hidden" name="access_token" value="" />
<input type="hidden" name="uid" value="" />
{% if next %}
    <input type="hidden" name="next" value="{{ next }}">
{% endif %}
<a href="" onclick="facebookConnect(jQuery('form[name=login]:first'));return false;">{% trans "Log in" %}</a>
<input type="image" onclick="facebookConnect(jQuery(this.form));return false;" src="{{ button }}">
</form>
