{% load i18n %}
{% load apparel_extras %}
{% load facebook %}
{% comment %}
<fb:login-button autologoutlink="true" perms="{% facebook_perms %}"></fb:login-button>
{% endcomment %}

<form class="connect-button" name="login" method="post" action="{% url facebook_login %}">
{% csrf_token %}
{% if next %}
    <input type="hidden" name="next" value="{{ next }}">
{% endif %}
<a href="" onclick="facebookConnect(jQuery('form[name=login]:first'));return false;">{% trans "Log in" %}</a>
<input type="image" onclick="facebookConnect(this.form);return false;" src="{{ button }}" style="position: relative; top: 3px;">
</form>
