{% load i18n %}
<form name="login" method="post" action="{% if connect %}{% url 'facebook_connect' %}{% else %}{% url 'facebook_login' %}{% endif %}">
    {% csrf_token %}
    {% if disable_flow %}<input type="hidden" name="disable_flow" value="yes">{% endif %}
    <input type="hidden" name="access_token" value="" />
    <input type="hidden" name="uid" value="" />
    {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
    <a class="btn btn-lg btn-facebook{% if extra_class %} {{extra_class}}{% endif %}" href="#">{{ text }}</a>
</form>
