{% extends 'apparel/fragments/activity/base.html' %}
{% load apparel_extras %}
{% load i18n %}

{% block activity_link %}{% if object.target|class_name == 'Look' %}{{ object.target.get_absolute_url }}{% else %}{{ object.action_object.get_absolute_url }}{% endif %}{% endblock %}

{% block activity_image %}
    {% with object.action_object as object %}
        {% include 'apparel/fragments/activity/choose_image.html' %}
    {% endwith %}
{% endblock %}

{% block activity_header %}
    {% if object.target|class_name == 'Wardrobe' %}
        {% blocktrans with object.actor.get_profile.display_name as name %}{{ name }} added to wardrobe{% endblocktrans %}
    {% else %}
        {% blocktrans with object.actor.get_profile.display_name as name and object.target.title as title %}{{ name }} added to {{ title }}{% endblocktrans %}
    {% endif %}
{% endblock %}

{% block activity_content %}
    <p>
        {{ object.action_object }}
    </p>
    {% if object.action_object|class_name == "Product" %}
    <p>
        <span class="price">{{ object.action_object.default_vendor.price }}</span> <span class="currency">{{ object.action_object.default_vendor.currency }}</span>
    </p>
    {% endif %}
{% endblock %}

