{% extends 'apparel/fragments/activity/base.html' %}
{% load apparel_extras %}
{% load i18n %}

{% block activity_link %}{% if object.target|class_name == 'Look' %}{{ object.target.get_absolute_url }}{% else %}{{ object.action_object.get_absolute_url }}{% endif %}{% endblock %}

{% block activity_image %}
    {% with object.action_object as object %}
        {% include 'apparel/fragments/activity/choose_image.html' %}
    {% endwith %}
{% endblock %}

{% block activity_header %}
    {% if object.target|class_name == 'Wardrobe' %}
        {% blocktrans with object.actor.get_absolute_url as user_url and object.actor.get_profile.display_name as user and object.action_object as object and object.action_object.get_absolute_url as object_url %}<a href="{{user_url}}">{{user}}</a> added <a href="{{object_url}}">{{object}}</a> to the wardrobe{% endblocktrans %}
    {% else %}
    {% blocktrans with object.actor.get_absolute_url as user_url and object.actor.get_profile.display_name as user and object.action_object as object and object.action_object.get_absolute_url as object_url and object.target.get_absolute_url as target_url and object.target.title as target %}<a href="{{user_url}}">{{user}}</a> added <a href="{{object_url}}">{{object}}</a> to the look <a href="{{target_url}}">{{target}}</a>{% endblocktrans %}
    {% endif %}
{% endblock %}

{% block activity_content %}
    {% if object.action_object|class_name == "Product" %}
    <p>
        <span class="price">{{ object.action_object.default_vendor.price|floatformat:0 }}</span> <span class="currency">{{ object.action_object.default_vendor.currency }}</span>
    </p>
    {% endif %}
{% endblock %}

