{% extends 'apparel/fragments/activity/base.html' %}
{% load apparel_extras %}
{% load i18n %}

{% block activity_link %}{{ object.actor.get_profile.get_absolute_url }}{% endblock %}

{% block activity_image %}
    {% with object.action_object as object %}
        {% include 'apparel/fragments/activity/choose_image.html' %}
    {% endwith %}
{% endblock %}

{% block activity_header %}
{% blocktrans count object.description|add:"0" as count with object.actor.get_profile.get_absolute_url as user_url and object.actor.get_profile.display_name as user %}<a href="{{user_url}}">{{user}}</a> have added <a href="{{user_url}}">{{count}} new product</a>
{% plural %}<a href="{{user_url}}">{{user}}</a> have added <a href="{{user_url}}">{{count}} new products</a>
{% endblocktrans %}
{% endblock %}

{% block activity_content %}{% endblock %}
