{% extends 'apparel/fragments/activity/base.html' %}
{% load apparel_extras %}
{% load i18n %}

{% block activity_image %}
    {% with object.action_object as object %}
        {% include 'apparel/fragments/activity/choose_image.html' %}
    {% endwith %}
{% endblock %}

{% block activity_header %}
    {% if object.target|class_name == 'Wardrobe' %}
        {% if profile.user == object.actor %}
            {% trans "Added to wardrobe" %}
        {% else %}
            {% blocktrans with object.actor.get_profile.display_name as name %}{{ name }} added to wardrobe{% endblocktrans %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block activity_content %}
    <p>
        {{ object.action_object }}
    </p>
    {% if object.action_object|class_name == "Product" %}
    <p>
        <span class="price">{{ object.action_object.default_vendor.price }}</span> <span class="currency">{{ object.action_object.default_vendor.currency }}</span>
    </p>
    {% endif %}
{% endblock %}

