{% extends 'apparel/fragments/activity/base.html' %}
{% load i18n humanize apparel_extras %}

{% block activity_link %}
    {{ object.action_object.content_object.get_absolute_url }}
{% endblock %}
{% block activity_image %}
    {% with object.action_object.content_object as object %}
        {% include 'apparel/fragments/activity/choose_image.html' %}
    {% endwith %}
{% endblock %}

{% block activity_header %}
    {% if object.action_object.content_object|class_name == 'Product' %}
        {% blocktrans with object.actor.get_profile.get_absolute_url as user_url and object.actor.get_profile.display_name as user and object.action_object.content_object as object and object.action_object.content_object.get_absolute_url as object_url %}<a href="{{user_url}}">{{user}}</a> commented on <a href="{{object_url}}">{{object}}</a>{% endblocktrans %}
    {% else %}
        {% blocktrans with object.actor.get_profile.get_absolute_url as user_url and object.actor.get_profile.display_name as user and object.action_object.content_object.title as object and object.action_object.content_object.get_absolute_url as object_url and object.action_object.content_object.user.get_profile.display_name as object_user and object.action_object.content_object.user.get_profile.get_absolute_url as object_user_url %}<a href="{{user_url}}">{{user}}</a> commented on the look <a href="{{object_url}}">{{object}}</a> by <a href="{{object_user_url}}">{{object_user}}</a>{% endblocktrans %}
    {% endif %}
{% endblock %}

{% block activity_content %}
    <p>"{{ object.action_object.comment }}"</p>
    {% if object.action_object.content_object|class_name == "Product" %}
    <p>
        {% if object.action_object.content_object.default_vendor.locale_discount_price %}
        <span class="discount-price">{{ object.action_object.content_object.default_vendor.locale_discount_price|floatformat:0|apprl_intcomma }} {{ object.action_object.content_object.default_vendor.locale_currency }}</span>
        {% endif %}
        <span class="price"{% if object.action_object.content_object.default_vendor.locale_discount_price %} style="text-decoration:line-through;"{% endif %}>{{ object.action_object.content_object.default_vendor.locale_price|floatformat:0|apprl_intcomma }} {{ object.action_object.content_object.default_vendor.locale_currency }}</span>
    </p>
    {% endif %}
    {% if object.action_object.content_object|class_name == "Look" %}
        {% with object.action_object.content_object as object %}
            {% include 'apparel/fragments/total_price.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}
