{% extends 'apparel/fragments/activity/base.html' %}
{% load apparel_extras %}
{% load i18n %}

{% block activity_link %}
    {{ object.action_object.content_object.get_absolute_url }}
{% endblock %}
{% block activity_image %}
    {% with object.action_object.content_object as object %}
        {% include 'apparel/fragments/activity/choose_image.html' %}
    {% endwith %}
{% endblock %}

{% block activity_header %}
    {% blocktrans with object.action_object.content_object as commented_on and object.actor.get_profile.display_name as name %}{{ name }} commented on {{ commented_on }}{% endblocktrans %}
{% endblock %}

{% block activity_content %}
    <p>{{ object.action_object.comment }}</p>
{% endblock %}
