{% extends 'apparel/fragments/activity/base.html' %}
{% load apparel_extras %}
{% load i18n %}
{% block activity_image %}
    {% with object.action_object as object %}
        {% include 'apparel/fragments/activity/choose_image.html' %}
    {% endwith %}
{% endblock %}

{% block activity_header %}
    {{ object.action_object.title }}
{% endblock %}

{% block activity_content %}
    <p>
        {% with object.actor.get_profile as profile %}{% include 'apparel/fragments/profile_link.html' %}{% endwith %} {% trans "created a new look" %}
    </p>
    {% with object.action_object as object %}
        {% include 'apparel/fragments/total_price.html' %}
    {% endwith %}
{% endblock %}

