{% extends 'apparel/fragments/activity/base.html' %}
{% load apparel_extras %}
{% load i18n %}

{% block activity_link %}
    {{ object.actor.get_profile.get_absolute_url }}
{% endblock %}
{% block activity_image %}
    <!--<img src="/scale/93x69{{ object.product_image.url }}?crop=true">-->
    <img src="{{ object.actor.get_profile.avatar_medium }}" alt="{{ object.actor.get_profile.display_name }}">
{% endblock %}

{% block activity_header %}
    {{ object.actor.get_profile.display_name }}
{% endblock %}

{% block activity_content %}
    {% blocktrans with object.target.get_profile.display_name as name %}now follows {{ name }}{% endblocktrans %}
{% endblock %}
