{% extends 'apparel/fragments/activity/base.html' %}
{% load i18n humanize apparel_extras %}

{% block activity_link %}{{ object.action_object.get_absolute_url }}{% endblock %}

{% block activity_image %}
    {% with object.action_object as object %}
        {% include 'apparel/fragments/activity/choose_image.html' %}
    {% endwith %}
{% endblock %}

{% block activity_header %}
{% blocktrans with object.actor.get_profile.get_absolute_url as user_url and object.actor.get_profile.display_name as user and object.action_object.get_absolute_url as object_url and object.action_object as object %}
<a href="{{user_url}}">{{user}}</a> <span class="likes">likes</span> <a href="{{object_url}}">{{object}}</a>
{% endblocktrans %}
{% endblock %}

{% block activity_content %}
    <p>
        {% if object.action_object.default_vendor.discount_price %}
        <span class="discount-price">{{ object.action_object.default_vendor.discount_price|floatformat:0|intcomma }} {{ object.action_object.default_vendor.currency }}</span>
        {% endif %}
        <span class="price"{% if object.action_object.default_vendor.discount_price %} style="text-decoration:line-through;"{% endif %}>{{ object.action_object.default_vendor.price|floatformat:0|intcomma }} {{ object.action_object.default_vendor.currency }}</span>
    </p>
{% endblock %}
