{% extends 'apparel/fragments/activity/base.html' %}
{% load apparel_extras %}
{% load i18n %}
{% block activity_link %}
    {{ object.action_object.object.get_absolute_url }}
{% endblock %}
{% block activity_image %}
    {% with object.action_object.object as object %}
        {% include 'apparel/fragments/activity/choose_image.html' %}
    {% endwith %}
{% endblock %}

{% block activity_icon %}
    <img src="/media/images/activity_heart.png">
{% endblock %}

{% block activity_content %}
    <h2 class="like">
        {% with object.actor.get_profile as profile %}{% include 'apparel/fragments/profile_link.html' %}{% endwith %} {% trans "liked" %}
    </h2>
    <p>
        {{ object.action_object.object }}
    </p>
    {% if object.action_object.object|class_name == "Product" %}
    <p>
        <span class="price">{{ object.action_object.object.default_vendor.price }}</span> <span class="currency">{{ object.action_object.object.default_vendor.currency }}</span>
    </p>
    {% endif %}
    {% if object.action_object.object|class_name == 'Look' %}
        {% with object.action_object.object as object %}
            {% include 'apparel/fragments/total_price.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}
