{% extends 'apparel/fragments/activity/base.html' %}
{% load apparel_extras %}
{% load i18n %}

{% block activity_link %}
    {{ object.target.get_profile.get_absolute_url }}
{% endblock %}
{% block activity_image %}
    <img src="{{ object.target.get_profile.avatar_medium }}" alt="{{ object.target.get_profile.display_name }}">
{% endblock %}

{% block activity_header %}
    {% blocktrans with object.actor.get_profile.get_absolute_url as user_url and object.actor.get_profile.display_name as user and object.target.get_profile.get_absolute_url as other_user_url and object.target.get_profile.display_name as other_user %}<a href="{{user_url}}">{{user}}</a> now follows <a href="{{other_user_url}}">{{other_user}}</a>{% endblocktrans %}
{% endblock %}
