@import partials/base.sass
@import partials/widget.sass
@import partials/box_shadow_inset.sass

$input_bg_color: $highlight_bg_color !default
$input_color: $highlight_color !default
$input_border_color: $highlight_border_color !default

=look_small
  +box
  width: $aside_width / 2 - $gutter_width / 4 - 2
  height: 69px
  position: relative
  overflow: hidden
  border: 1px solid #DEDEDE
  background: #fff
  .collage-image
    position: absolute
    img
      width: 100%
      height: 100%

=look_sidebar
  width: $aside_width
  position: relative
  overflow: hidden
  background: #fff
  img
    border: 1px solid #DEDEDE
    display: block
  h5, p
    text-align: center
  h5
    font-weight: bold
  p
    border: 0

=look_medium
  +box
  width: 450px
  height: 334px
  position: relative
  overflow: hidden
  border: 1px solid #DEDEDE
  background: #fff
  .collage-image
    position: absolute
    img
      width: 100%
      height: 100%

=look_large
  +box
  width: 694px
  height: 512px
  position: relative
  overflow: hidden
  border: 1px solid #DEDEDE
  background: #fff
  .collage-image
    position: absolute
    img
      width: 100%
      height: 100%

// EDIT

#product-popup-container
  position: absolute
  left: 25%
  top: 25%
  width: 50%
  height: 50%
  background-color: white
  overflow: auto
  +single-box-shadow(rgba(0, 0, 0, 0.23), 0, 0, 10px)
  padding: 10px
  .popup-close
    position: absolute
    top: 10px
    right: 10px
    width: 40px
    height: 20px
    text-align: right
  .center
    font-size: 1.3em
  .product-header
    position: relative
    background: image_url("body-header-icon.png") no-repeat scroll left 20px transparent
    height: 40px
    padding: 20px 0 20px 25px
    h1
      position: absolute
      top: 31px
      line-height: 40px
      font-family: 'Lato', sans-serif
      font-size: 2em
      text-transform: uppercase
    h2
      padding-left: 10px
      line-height: 20px
      font-family: 'IM Fell Great Primer', sans-serif
      font-size: 20px
      font-style: italic
      color: $easier_color
      border: 0
  .product-container
    .product-image, .product-info
      float: left
    .product-info
      margin-left: 20px

#photo, #collage
  height: $look_height
  position: relative
  .product
    position: absolute

#collage, #photo-background, #photo
  .ui-wrapper
    position: absolute
    opacity: 0.8
    +box-shadow
  .delete
    display: block
    position: absolute
    height: 22px
    width: 22px
    background: transparent image_url(unquote("delete.png")) no-repeat scroll center center
    left: -11px
    top: -11px
  .ui-state-disabled, .ui-widget-content .ui-state-disabled
    -moz-box-shadow: none
    -webkit-box-shadow: none
    box-shadow: none
    opacity: 1
    .close
      display: none

#photo-background, #photo
  +apparel_hotspot
  margin: 0
  .delete
    z-index: 10001
    left: auto
    right: 5px
    top: 5px

.look-empty
  margin: 0 auto

#photo .look-empty
  .message
    width: 240px
    margin: 0 auto
  .warning
    color: $like_color
  button
    width: 226px
    display: none

.button-container
  position: absolute
  right: 0
  .btn
    height: 40px
    margin: 0 0 0 20px

body.look-editor
  background-color: #fff
  .body-header
    min-width: 1162px - (20 * 2) - 25
    position: relative
    background: image_url("body-header-icon.png") no-repeat scroll left 20px transparent
    height: 40px
    padding: 20px 0 20px 25px
    margin-bottom: 20px
    border-bottom: 3px solid #000
    h1
      position: absolute
      top: 31px
      line-height: 40px
      font-family: 'Lato', sans-serif
      font-size: 2em
      text-transform: uppercase
  #container
    min-width: 1162px
  #footer
    display: none

#image-form
  position: absolute
  top: 50%
  left: 50%
  width: 360px
  height: 120px
  margin-top: -60px
  margin-left: -180px
  p, .loading
    font-size: 1.3em
  .loading
    text-align: center
    img
      vertical-align: middle
  .upload-field
    width: auto
    height: auto
    position: relative

#body-header input
  display: none

#product-chooser, #edit-look
  +box-sizing(border-box)

#edit-look-title
  display: none
  font-size: 23px
  line-height: 23px
  font-family: 'Lato', sans-serif
  text-transform: uppercase
  min-width: 200px
  border: 1px solid black

#edit-look
  width: 50%
  float: left
  position: relative
  .look-description
    margin-top: 20px
    textarea
      width: 100%
      max-width: 100%
      height: 80px
      margin: 0
      padding: 0
      border: 1px solid black
      +box-sizing(border-box)
  #photo
    cursor: pointer

#product-chooser
  overflow: hidden
  max-width: 832px // 6 columns of products
  min-width: 418px // 3 columns of products
  min-height: 400px
  padding-left: 20px
  #product-tabs
    height: 50px
    border-bottom: 1px solid $easiest_color
    li
      display: inline-block
      width: 50%
      a
        display: block
        height: 50px
        line-height: 50px
        text-align: center
        font-size: 1.6em
        font-weight: bold
        text-transform: uppercase
        border-top: 1px solid $easiest_color
        border-right: 1px solid $easiest_color
        border-left: 1px solid $easiest_color
        border-bottom: 1px solid $easiest_color
        background-color: #f6f6f6
        &.selected
          &.tab-likes
            border-right-color: #fff
          &.tab-all
            border-left-color: #fff
          border-bottom: 1px solid #fff
          background-color: #fff

  #product-filter
    margin: 10px 10px 0 10px
    padding-bottom: 10px
    border-bottom: 3px solid #000
    .middle-filters
      margin: 10px 0

  .product-list-container
    padding: 0 10px

  .hidden-filters-container
    text-align: right
    .hidden-filters
      .dropdown
        position: relative
        background-color: $dark_color
        +border_radius(3px)
        display: inline-block
        margin-left: 10px
        &.left
          float: left
          margin-left: 0
          margin-right: 10px
        > a
          display: block
          padding: 3px 8px
          color: $white_color
          text-transform: uppercase
          span
            display: inline-block
            max-width: 120px
            text-overflow: ellipsis
            white-space: nowrap
            overflow: hidden
            text-align: left
          &:after
            display: inline-block
            content: ' '
            width: 15px
            height: 10px
            background-image: image_url(unquote("dropdown-arrow.png"))
            background-repeat: no-repeat
            background-position: 8px center
        &.open ul
          display: block
        &.left
          ul
            left: 0
            right: auto
        ul
          display: none
          position: absolute
          top: 100%
          right: 0
          float: left
          z-index: 10000
          min-width: 120px
          padding: 10px
          margin-top: 13px
          background-color: $white_color
          +single-box-shadow(rgba(0, 0, 0, 0.23), 0, 0, 10px)
          li
            text-align: left
            a
              display: block
              clear: both
              white-space: nowrap

    #product-filter-category ul li
      a
        padding: 3px

    #product-filter-subcategory
      display: none

    #product-filter-color ul
      height: 140px
      li
        background: none
        border: none
        padding: 0
        height: $color_height
        $offset_top: 30px
        a:not(.no-color)
          $y_selected: -$color_height
          $y_filtered: -$color_height + $y_selected
          +replace-text(unquote("sprite-colors.png"))
          padding: 0
          width: $color_width
          height: $color_height
          position: absolute
          &.black
            background-position: 0 0
            top: $offset_top
            left: 10px
            &.selected
              background-position: 0 $y_selected
            &.filtered
              background-position: 0 $y_filtered
          &.grey
            $x: -$color_width
            background-position: $x top
            top: $offset_top
            left: ($color_width + $color_column_offset) * 1 + 10
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered
          &.white
            $x: -$color_width * 2
            background-position: $x top
            top: $offset_top
            left: ($color_width + $color_column_offset) * 2 + 10
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered
          &.beige
            $x: -$color_width * 3
            background-position: $x top
            top: $offset_top
            left: ($color_width + $color_column_offset) * 3 + 10
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered
          &.brown
            $x: -$color_width * 4
            background-position: $x top
            top: $offset_top
            left: ($color_width + $color_column_offset) * 4 + 10
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered

          &.red
            $x: -$color_width * 5
            background-position: $x top
            top: ($color_height + $color_row_offset) * 1 + $offset_top
            left: 10px
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered
          &.orange
            $x: -$color_width * 6
            background-position: $x top
            top: ($color_height + $color_row_offset) * 1 + $offset_top
            left: ($color_width + $color_column_offset) * 1 + 10
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered
          &.yellow
            $x: -$color_width * 7
            background-position: $x top
            top: ($color_height + $color_row_offset) * 1 + $offset_top
            left: ($color_width + $color_column_offset) * 2 + 10
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered
          &.green
            $x: -$color_width * 8
            background-position: $x top
            top: ($color_height + $color_row_offset) * 1 + $offset_top
            left: ($color_width + $color_column_offset) * 3 + 10
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered
          &.blue
            $x: -$color_width * 9
            background-position: $x top
            top: ($color_height + $color_row_offset) * 1 + $offset_top
            left: ($color_width + $color_column_offset) * 4 + 10
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered

          &.magenta
            $x: -$color_width * 10
            background-position: $x top
            top: ($color_height + $color_row_offset) * 2 + $offset_top
            left: 10px
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered
          &.pink
            $x: -$color_width * 12
            background-position: $x top
            top: ($color_height + $color_row_offset) * 2 + $offset_top
            left: ($color_width + $color_column_offset) * 1 + 10
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered
          &.purple
            $x: -$color_width * 11
            background-position: $x top
            top: ($color_height + $color_row_offset) * 2 + $offset_top
            left: ($color_width + $color_column_offset) * 2 + 10
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered
          &.gold
            $x: -$color_width * 13
            background-position: $x top
            top: ($color_height + $color_row_offset) * 2 + $offset_top
            left: ($color_width + $color_column_offset) * 3 + 10
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered
          &.silver
            $x: -$color_width * 14
            background-position: $x top
            top: ($color_height + $color_row_offset) * 2 + $offset_top
            left: ($color_width + $color_column_offset) * 4 + 10
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered

          &.striped
            $x: -$color_width * 15
            background-position: $x top
            top: ($color_height + $color_row_offset) * 3 + $offset_top
            left: ($color_width + $color_column_offset) * 1 + 10
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered
          &.checkers
            $x: -$color_width * 16
            background-position: $x top
            top: ($color_height + $color_row_offset) * 3 + $offset_top
            left: ($color_width + $color_column_offset) * 2 + 10
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered
          &.dotted
            $x: -$color_width * 17
            background-position: $x top
            top: ($color_height + $color_row_offset) * 3 + $offset_top
            left: ($color_width + $color_column_offset) * 3 + 10
            &.selected
              background-position: $x $y_selected
            &.filtered
              background-position: $x $y_filtered

  #product-list
    margin-left: -20px
    padding: 10px
    list-style: none
    zoom: 1
    height: 340px
    overflow-y: scroll
    &:before, &:after
      display: table
      line-height: 0
      content: ""
    &:after
      clear: both
    > li
      float: left
      margin-bottom: 20px
      margin-left: 20px

      .product-small
        position: relative
        width: 112px
        margin: 0
        text-align: center
        .image-small
          display: block
          width: 112px
          height: 145px
          line-height: 145px
          img
            max-height: 145px
            max-width: 112px
            vertical-align: middle
        .hover
          position: absolute
          width: 92px
          height: 82
          top: 32px
          left: 10px
          right: 10px
          display: none
          a
            margin-bottom: 10px
        .caption
          padding-top: 10px
          min-height: 50px
          h4
            white-space: nowrap
            width: 100%
            overflow: hidden
            text-overflow: ellipsis

body.look, .look-medium
  .heart
    z-index: 100

body.look
  .info
    margin-bottom: 20px
    p.created, p.total-price
      line-height: 1
      margin: 10px 0
    p.created, p.total-price, ul.brands
      color: $easier_color
  .spread
    margin: 20px 0
    div.last
      margin-top: 2px
    input
      +text_input
      width: 195px
      +box-shadow-inset(#f6f6f6 - #222222, 0, 0, 0)

.look-container
  background-repeat: no-repeat
  background-size: contain
  user-select: none
  -ms-user-select: none
  -webkit-user-select: none
  -moz-user-select: none
  -khtml-user-select: none

.tooltip
  +apparel_tooltip
.tooltip-arrow
  +apparel_tooltip_arrow

ul.looks
  li
    &:hover
      z-index: 100
      background-color: #d9d9d9


body.look
  .collage
    .collage-image
      position: absolute
      img
        width: 100%
        height: 100%
  .collage, .photo
    position: relative
    height: $look_height
    +border(all)
  #tags
    float: left
    width: $aside_width
    li
      +border(bottom, $easy_border_color)
      span
        float: right
        color: $easier_color
  .sidebar
    margin-top: 15px
    .description
      border-bottom: none
      padding: 0 0 1.5em 0

  #content
    margin-top: -20px
    .collage, .photo
      background-color: white

#look-header
  height: 50px
  margin: 0 0 0 -20px
  padding: 0 20px 0 20px
  position: relative
  +border(bottom)
  .look-header-content
    position: absolute
    top: 0
    left: 90px
    .btn-delete
      margin-left: 17px

// Override backgrounds for jQuery UI icons
.ui-icon
  background-image: none
  background-position: 0 0

// Resizable
.ui-icon-gripsmall-diagonal-se
  bottom: -11px
  right: -11px
  width: 23px
  height: 23px
  background: transparent image_url(unquote("resize.png")) no-repeat scroll center center

// Rotatable
//.ui-rotatable
  //position: relative

.ui-rotatable-handle
  position: absolute
  z-index: 99999
  display: block

.ui-rotatable-disabled .ui-rotatable-handle,
.ui-rotatable-autohide .ui-rotatable-handle
  display: none

.ui-rotatable-ne
  top: -11px
  right: -11px
  width: 23px
  height: 23px
  background: transparent image_url(unquote("rotate-cw.png")) no-repeat scroll center center

.ui-rotatable-sw
  bottom: -11px
  left: -11px
  width: 23px
  height: 23px
  background: transparent image_url(unquote("rotate-ccw.png")) no-repeat scroll center center

body
  ul.looks.wide
    li
      display: block
      padding: 10px
      float: none
      margin-right: 0
      +clearfix
      div.look
        +float-left
        margin-right: 18px

body.look-list
  ul.looks
    margin-top: 10px

.look-medium
  +look_medium
  &.photo
    border: 0

.look-large
  +look_large
  &.photo
    border: 0

.look-footer
  > h3, p
    text-align: center
  > h3
    margin-top: 6px
    font-weight: bold
    font-size: 1.273em
  > p
    margin-top: 3px
    font-size: 1.182em
  p, p > a
    color: $easier_color
  .stats
    margin-top: 3px
    font-size: 1.182em
    font-weight: bold
    text-align: center
    .likes
      +large_likes
      margin-right: 5px
    .comments
      +large_comments


body.look-list, body.profile-looks
  ul.looks
    li
      margin: 0 36px 36px 0
      &.last
        margin-right: 0
      &:hover
        background: transparent
      .look-control
        margin-top: 5px
        width: 100%
        text-align: center
