/*
Attributes v1.0
*/
.center-sm {
  text-align: center;
}
@media (min-width: 768px) {
  .center-sm {
    text-align: left;
  }
}
.center {
  text-align: center;
}
.sortable th {
  cursor: pointer;
}
