/*
	Components v1.0

	- Media
	- Links
	- Buttons
	- Navigation
	- Modals
	- Comments
	- Grids (non-framework)
	- Lists
	- Notifications & Messages
	- Panels & filters
	- Miscellaneous
*/

/* Media ---------- */
.profile-icon {
	border-radius: 50%;
	margin-right: 5px;
}
.thumbnail {
	border: 0;
	border-radius: 0;
}
.img-block {
	display: block;
	width: 32px;
	height: 32px;
	background-color: transparent;
}
.background-image {
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}
.background-video {
	position: relative;
	background-size: cover;
	background-position: 50% 50%;
	height: 100vh;
	z-index: 0;
	width: 100%;
	overflow: hidden;
	background-attachment: fixed;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;
	video {
		-webkit-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
	}
}

/* Links ---------- */
a.cta {
	color: @primaryColor;
	display: inline-block;
	font-family: @secondaryFontBold;
	margin-bottom: 15px;
	&:hover, &:focus {
		color: darken(@primaryColor, 15%) !important;
	}
}
a.cta-lg {
	font-size: 24px;
	font-family: @secondaryFont;
}
a.crosslink {
	color: @primaryColor;
	letter-spacing: 1px;
}
a.info {
	font-size: 13px;
	color: @grey;
	i {
		margin-right: 5px;
	}
	&:hover {
		color: black;
	}
}

/* Buttons ---------- */
.btn {
	display: block;
	width: 100%;
	border: 0;
	padding: 0 15px !important;
	border-radius: 0;
	height: 44px;
	line-height: 48px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
	max-width: none;
	color: white;
	font-family: @secondaryFontBold;
	background-color: black;
	margin-bottom: 15px;
  	.animate();
	&:hover, &:focus {
		color: white;
		outline: 0;
		background-color: @darkGrey;
	}
	@media (min-width: @screen-xs) {
		max-width: 260px;
	}
	@media (min-width: @screen-sm) {
		height: 34px;
		line-height: 36px;
	}
}
.btn.auto {
	margin-left: auto;
	margin-right: auto;
	@media (min-width: @screen-md) {
		margin-left: 0;
	}
}
.dropdown-toggle {
	margin: 0;
}
.btn-add-item {
	max-width: none !important;
}
.btn-sm {
	font-size: 12px;
	//max-width: 120px;
	letter-spacing: 1px;
	@media (min-width: 768px) {
		//
	}
}
.btn-lg {
	height: 44px;
	line-height: 46px;
	@media (min-width: @screen-md) {
		height: 54px;
		line-height: 60px;
		font-size: 15px;
		padding: 0 30px !important;
	}
}
.btn-primary {
	background-color: @primaryColor !important;
	&:hover, &:focus {
		background-color: darken(@primaryColor, 15%) !important;
	}
}
.btn-secondary {
	background-color: @secondaryColor !important;
	&:hover, &:focus {
		background-color: darken(@secondaryColor, 15%) !important;
	}
}
.btn-grey {
	background-color: @lightGrey;
	&:hover, &:focus {
		background-color: darken(@lightGrey, 15%);
	}
}
.btn-group {
	.clearfix;
	display: block;
	margin-left: auto;
	margin-right: auto;
	.btn {
		margin: 0 0 15px 0 !important;
		float: left;
		width: 50%;
	}
}
.btn-white {
	background-color: white;
	color: black;
	&:hover, &:focus {
		color: black;
		background-color: @offwhite;
	}
}
.btn-facebook {
	font-size: 13px;
	background-color: #3b5999 !important;
	&:hover, &:focus {
		background-color: darken(#3b5999, 15%) !important;
	}
}
.btn-line {
	background-color: transparent !important;
	border: 2px solid black;
	&:hover, &:focus {
		background-color: transparent !important;
	}
}
.btn-edit {
	line-height: 44px;
	font-size: 16px;
	letter-spacing: -1px;
	padding: 0 !important;
	background-color: @lightGrey;
	width: 44px;
	height: 44px;
	margin: auto;
	display: inline-block;
	i {
		vertical-align: middle;
	}
	&:hover {
		background-color: darken(@lightGrey, 15%);
	}
}
.btn-filter {
    margin: 0 auto 10px auto;
    i {
        font-size: 14px;
        height: 44px;
        line-height: 44px;
        float: right;
        .animate;
    }
    &.collapsed i {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
	@media (min-width: @screen-xs) {
		max-width: 320px;
	}
}
.btn-primary.btn-unfollow {
	background-color: @lightGrey !important;
}
.btn-unfollow.btn-danger {
	&:hover, &:focus {
		background-color: darken(@secondaryColor, 15%) !important;
	}
}
.btn-outline {
	line-height: 44px;
	background-color: transparent;
	border: 2px solid white;
	&:hover, &:focus, &:active {
		background-color: white !important;
		color: black !important;
	}
	@media (min-width: @screen-sm) {
		line-height: 34px;
	}
}
.btn-outline.inverted {
	border-color: black;
	color: black !important;
	&:hover, &:focus, &:active {
		background-color: black !important;
		color: white !important;
	}
}
.btn-arrow {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    z-index: 20;
    font-size: 24px;
    background-color: rgba(0,0,0,.2);
    i {
    	color: white;
    }
}

/* Navigation ---------- */
.sidebar {
	margin: 15px auto 0 auto;
	text-align: center;
	@media (min-width: @screen-xs) {
		> li {
			display: inline-block;
			margin-right: 15px;
			&:last-child {
				margin: 0;
			}
		}
	}
	&.disabled {
		opacity: .25;
		pointer-events: none;
	}
}
.dropdown-menu {
	border-radius: 0;
	border: 0;
	width: 100%;
	font-size: 15px;
	margin: 0;
	padding: 0;
	top: initial;
	left: initial;
	padding-top: 8px;
	a {
		color: @grey;
		display: block;
		z-index: 999;
	}
	> li > a {
		line-height: 42px;
		padding: 2px 15px 0 15px;
	}
	.animate();
	@media (min-width: @screen-md) {
		visibility: hidden;
		display: block;
		opacity: 0;
		max-width: 260px;
	}
}
.open {
	.dropdown-menu {
		opacity: 1;
		visibility: visible;
	}
}
.breadcrumbs {
	line-height: 1;
	font-size: 0;
	margin-bottom: 5px;
	zoom: 1;
	li {
		display: inline;
		&:after {
			content: "/";
			font-size: 13px;
			margin: 0 5px;
		}
		&:last-child {
			&:after {
				content: "";
			}
		}
	}
	a {
		display: inline-block;
		color: @lightGrey;
		font-family: @secondaryFontBold;
		font-size: 12px;
		letter-spacing: 1px;
		text-transform: uppercase;
		&:hover {
			color: @grey;
		}
	}
}
.page-menu {
	background-color: @offwhite;
	padding: 15px 0;
	margin-bottom: 30px;
	a {
		letter-spacing: 0.02rem;
		color: @grey;
		font-size: 15px;
		display: block;
		padding: 10px 15px;
		&:hover {
			color: @darkGrey;
		}
	}
	.selected {
		background-color: #dedede;
		a {
			color: white;
			font-family: @secondaryFontBold;
		}
	}
}
.sub-menu {
    margin: 15px 0;
	font-size: 18px;
	font-family: @secondaryFontBold;
	a {
		color: @grey;
		letter-spacing: 0;
		border-bottom: 2px solid transparent;
		.animate;
		&:hover, &.selected {
			color: black;
			border-color: black;
		}
	}
	span {
		font-family: @secondaryFontBold;
		font-size: 16px;
		color: @grey;
	}
    > li {
        line-height: 25px;
        display: inline-block;
        margin-right: 15px;
        &:last-child {
            margin: 0;
        }
    }
}
.pagination {
    width: 100%;
    .btn-pagination {
		margin: auto;
		overflow: hidden;
		&:focus, &:active, &:visited {
			background-color: black !important;
			color: white !important;
		}
		&.hover {
			.loader {
				display: block;
			}
		}
    }
    .status {
    	background-color: black !important;
    	color: white !important;
    }
	.loader {
		width: 48px;
		height: 48px;
	  	position: relative;
		display: none;
		float: right;
		margin-top: -6px;
		float: right;
		> span {
			width: 100%;
			height: 100%;
			display: inline-block;
		    border-radius: 50%;
	    	opacity: 0.6;
		    position: absolute;
		    top: 0;
		    left: 0;
		    background-color: white;
		    -webkit-animation: bounce 2s infinite ease-in-out both;
		    animation: bounce 2s infinite ease-in-out both;
		}
		.two {
			-webkit-animation-delay: -1s;
			animation-delay: -1s;
		}
	}
	@-webkit-keyframes bounce {
		0%, 100% {
			-webkit-transform: scale(0);
			transform: scale(0);
		}
		50% {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}

	@keyframes bounce {
		0%, 100% {
			-webkit-transform: scale(0);
			transform: scale(0);
		}
		50% {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
}
.helper {
	float: right;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0;
	font-family: @secondaryFontBold;
}
.scroll-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgba(0,0,0,.25);
}
.info-toggler {
    opacity: .25;
    &:hover {
        opacity: .5;
    }
}
.info-box {
    background-color: #fff9c4;
    display: none;
    padding: 10px 15px 8px 15px;
    color: rgba(0,0,0,.5);
    font-size: 13px;
    margin-bottom: 5px;
    &.active {
        display: block;
    }
}

/* Modals ---------- */
.modal-content {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
}
.modal {
    z-index: 10040;
	.modal-header {
		background-color: black;
		color: white;
		height: 54px;
		padding: 0 0 0 15px;
	}
    .modal-footer {
		text-align: center;
		.btn {
			margin: 0 auto;
			@media (min-width: @screen-xs) {
				&.pull-left, &.pull-right {
					max-width: 200px;
				}
			}
			@media (min-width: @screen-is) {
				&.pull-left, &.pull-right {
					max-width: 260px;
				}
			}
		}
		.btn.pull-right {
			margin-top: 15px;
			@media (min-width: @screen-xs) {
				margin-top: 0;
			}
		}
    }
	.tool-description {
		padding: 30px 15px;
		h4 {
			margin-top: 15px;
		}
		@media (min-width: @screen-sm) {
			padding: 30px;
			line-height: 24px;
		}
	}
	h2 {
		margin: 0;
		line-height: 60px;
	}
	h3 {
		margin: 30px 0 5px 0;
	}
	p, li {
		color: @grey;
	}
}
.close {
	position: absolute;
	top: 5px !important;
    right: 6px !important;
	width: 44px !important;
	height: 44px !important;
	display: block;
	color: @lightGrey;
	text-align: center;
	opacity: 1 !important;
	margin: 0 !important;
	font-size: 24px;
	text-shadow: none !important;
	line-height: 44px;
	margin: 0;
	&:hover {
		span:before, span:after {
			background-color: white;
		}
	}
	span {
		position: relative;
		display: block;
		padding-left: 10px;
	}
	span:before, span:after {
		height: 3px;
		width: 24px;
		background-color: @lightGrey;
		position: absolute;
		display: block;
		content: "";
		.animate;
	}
	span:before {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 0;
	}
	span:after {
		-webkit-transform: translateY(-10px) rotate(-45deg);
		transform: translateY(-10px) rotate(-45deg);
		top: 10px;
	}
}
.modal-backdrop {
	z-index: 0;
}
.modal-backdrop.in {
    opacity: .5;
}

.iosSlider {
    width: 100%;
    height: 1500px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    .slider {
        width: 100%;
        height: 100%;
        .item {
            float: left;
            width: 100%;
            background: #fff;
            img {
              width: 100%;
              height: auto;
            }
        }
    }
}
.tools_prevButton, .tools_nextButton {
	position: absolute;
	width: 66px;
	height: 66px;
	line-height: 66px;
	background-color: rgba(0,0,0,.25);
	color: white;
	top: 50%;
	margin-top: -33px;
	.animate;
	&:hover {
		background-color: rgba(0,0,0,.5);
	}
}
.tools_prevButton {
	padding-left: 21px;
}
.tools_nextButton {
	padding-left: 26px;
}
.header.group {
	span:before {
		top: 21px !important;
	}
	span:after {
		top: 31px !important;
	}
}

/* Comments ---------- */
.comment-box {
    margin-bottom: 30px;
    background-color: #eee;
    padding: 30px 0 15px 0;
    h3 {
        display: inline-block;
        border: 0 !important;
        margin: 0 !important;
        a {
            font-weight: 600;
        }
    }
    img {
        border-radius: 50%;
        vertical-align: initial;
        margin-bottom: 10px;
    }
    ul {
        padding: 0;
    }
    li {
        padding: 0 15px;
        position: relative;
    }
    textarea {
        width: 100%;
        background-color: white !important;
        height: 40px;
        margin-top: 5px;
        background-image: none !important;
        padding: 10px !important;
        max-width: none !important;
        resize: none;
    }
    form {
        position: relative;
        padding: 0 15px;
    }
    .inline-date {
        margin-left: 5px;
        font-size: 12px;
        color: #999;
    }
    .mention {
        font-weight: bold;
    }
    .btn {
        margin: 0 !important;
        width: 100%;
        &:focus, &:active {
            outline: 0;
        }
    }
    .btn-show_more {
        display: block;
        text-align: center;
        height: 44px;
        line-height: 44px;
        margin-bottom: 10px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 200px;
            background: -moz-linear-gradient(top,  rgba(238,238,238,0) 0%, rgba(238,238,238,1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,0)), color-stop(100%,rgba(238,238,238,1)));
            background: -webkit-linear-gradient(top,  rgba(238,238,238,0) 0%,rgba(238,238,238,1) 100%);
            background: -o-linear-gradient(top,  rgba(238,238,238,0) 0%,rgba(238,238,238,1) 100%);
            background: -ms-linear-gradient(top,  rgba(238,238,238,0) 0%,rgba(238,238,238,1) 100%);
            background: linear-gradient(to bottom,  rgba(238,238,238,0) 0%,rgba(238,238,238,1) 100%);
            pointer-events: none;
        }
        span {
            width: 100%;
            z-index: 10;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            font-size: 14px;
            color: #666;
        }
    }
}
.comment-logged_out {
    padding: 0 15px;
}
.comments-mention {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 10;
    a {
        display: block;
        font-size: 12px;
        font-weight: 400;
        padding: 5px 0;
    }
    li {
        background-color: #e6e6e6;
        &:hover {
            background-color: #f8f8f8;
        }
    }
}
.comments-toggler, .comments-header {
    height: 44px;
    color: white !important;
    line-height: 44px;
    background-color: #999;
    text-align: center;
    display: block;
    &:focus, &:active {
        cursor: outline;
    }
    &:hover {
        color: white;
    }
}
.comments-list {
    list-style: none;
    margin: 0;
    li:hover {
        .comment-delete {
            opacity: 1;
        }
    }
    .comment-delete {
        position: absolute;
        width: 44px;
        height: 44px;
        font-size: 24px;
        text-align: center;
        color: #ccc;
        top: 0;
        right: 0;
        display: inline-block;
        line-height: 1;
        &:hover {
            color: #999;
        }
    }
}
.comment.group {
    .clearfix();
}
.comment-avatar {
    float: left;
    margin-right: 15px;
}
.comment-content {
    overflow: hidden;
    font-size: 13px;
}

/* Grids (non-framework) ---------- */
.grid-container {
	max-width: @screen-lg;
	margin: auto;
}
.grid {
	.grid-item {
		img {
			.animate;
		}
		width: 100%;
		&:hover {
			img {
				opacity: .8;
			}
			.item-options {
				opacity: 1;
			}
		}
    	@media (min-width: @screen-xs) {
			width: 50%;
    	}
    	@media (min-width: @screen-sm) {
			width: 33.33%;
    	}
    	@media (min-width: @screen-md) {
			width: 25%;
    	}
	}
	.item-container {
		position: relative;
		margin-bottom: 15px;
	}
	.item-options {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 10;
		opacity: 0;
		.animate;
	}
	.btn {
		margin: 0;
	}
	.btn-primary {
		max-width: none;
	}
}

/* Lists ---------- */
.list-points {
	list-style: disc;
	list-style-position: inside;
}
.list-alphabet {
	li {
		display: inline-block;
		margin-right: 5px;
		&:first-child a {
			color: black;
			&:hover {
				color: @darkGrey;
			}
		}
		&:last-child {
			margin: 0;
		}
	}
	a {
		text-transform: uppercase;
		color: @lightGrey;
		font-size: 13px;
		font-family: @secondaryFontBold;
		&:hover {
			color: @grey;
		}
	}
}
.list-horizontal > li {
	margin: 0 auto 15px auto;
    @media (min-width: @screen-sm) {
		display: inline-block;
		margin-right: 15px;
		&:last-child {
			margin: 0;
		}
	}
}
/*.list-vertical li {
	font-size: 14px;
	line-height: 18px;
}*/
.list-filter {
	li {
		line-height: 24px;
	}
	a:before {
		content: '';
		display: inline-block;
		width: 14px;
		height: 14px;
		border: 2px solid #ccc;
		cursor: pointer;
		line-height: 18px;
		margin: -4px 5px 0 0;
		vertical-align: middle;
		-webkit-transition: all .2s;
		transition: all .2s;
		box-shadow: inset 0 0 0 18px white;
		background-color: white;
		border-radius: 100%;
	}
	a.selected {
		color: black;
		&:before {
			box-shadow: inset 0 0 0 2px white;
			background-color: black;
			border-color: black;
		}
	}
}
.list-likes {
	text-align: center;
	margin-bottom: 15px;
	.clearfix();
	li {
		width: 16.66%;
		float: left;
	}
	img {
		max-height: 40px;
	}
}
.list-notifications {
	li {
		border-bottom: 1px solid @grey;
		&:last-child {
			border: 0;
		}
	}
	.no-results {
		text-align: center;
	}
}
.list-brands {
	margin: 15px auto 0 auto;
	font-size: 0;
	letter-spacing: 0;
	max-width: 720px;
	img {
		opacity: .6;
		.animate;
		&:hover {
			opacity: 1;
		}
	}
	li {
		display: inline-block;
		width: 50%;
		vertical-align: top;
		@media (min-width: @screen-xs) {
			width: 33.33%;
		}
		@media (min-width: @screen-md) {
			width: 25%;
		}
	}
}
.list-tools {
	.clearfix;
	margin-bottom: 15px;
	text-align: center;
	li {
		display: inline-block;
		vertical-align: top;
	}
	.btn {
		min-width: 44px;
		margin-bottom: 0;
	}
	i {
		font-size: 16px;
	}
	@media (min-width: 375px) {
		a {
			margin: 0 5px;
		}
	}
	@media (min-width: @screen-md) {
		a {
			margin: 0;
		}
		li {
			margin-right: 15px;
			float: left;
		}
	}
}
.list-products {
	li {
		margin-bottom: 15px;
		display: inline-block;
	}
	a:hover {
		opacity: 0.75;
	}
}
.list-selected-by {
	li {
		margin-bottom: 15px;
		.clearfix();
	}
	img {
		margin-right: 10px;
		max-height: 40px;
	}
	.selected-by-text {
		float: left;
		font-size: 12px;
		font-family: @secondaryFontBold;
		line-height: 13px;
		a:hover {
			color: black;
		}
		.external {
			display: inline-block;
			margin-top: 3px;
			color: @lightGrey;
			&:hover {
				color: @grey;
			}
		}
	}
	@media (min-width: 992px) {
		.profile-details {
			max-width: 100px;
		}
	}
}
.list-looks {
	li {
		float: left;
		width: 50%;
		margin-bottom: 15px;
	}
	@media (min-width: @screen-md) {
		li {
			float: none;
			width: 100%;
		}
	}
}
.table {
	margin: 0;
	@media (min-width: @screen-is) {
		display: table;
		.cell {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

/* Notifications & Messages ---------- */
main div.message {
	max-width: @screen-sm;
	margin: auto;
	text-align: center;
	.btn {
		margin: auto;
	}
}
.notification {
	font-size: 13px;
	padding: 15px;
	color: rgba(0,0,0,.5);
	line-height: 1.5;
	margin: 15px 0;
}
.notification.success {
	background-color: lighten(@primaryColor, 25%);
}

/* Panels & Filters ---------- */
#reset {
	font-size: 15px;
	top: -4px;
}
.col-product-filter {
	.panel {
		font-size: 15px;
		margin: 0 auto 10px auto;
        .panel-heading i {
            font-size: 14px;
            float: right;
            margin-top: 12px;
            .animate;
        }
        input {
            background-image: none;
            max-width: none;
            &:focus {
                background-image: none;
            }
        }
        .collapsed i {
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            margin-top: 14px;
        }
        .panel-heading {
            height: 40px;
            line-height: 44px;
            a {
                padding: 0 15px !important;
            }
        }
        .panel-body {
            border: 1px solid @lightGrey !important;
            border-top: 0 !important;
        }
        #price-min, #price-max, #discount-price {
            font-size: 13px;
        }
		@media (min-width: @screen-xs) {
			max-width: 320px;
		}
		@media (min-width: @screen-md) {
			max-width: none;
		}
	}
	.panel-heading {
		background-color: black;
		a {
			color: white;
		}
	}
}
.panel {
	box-shadow: none;
	border-radius: 0;
}
.panel-heading .btn {
	margin: 0;
}

/* Miscellaneous ---------- */
.caption {
	text-align: center;
}
.body-header {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    p {
        margin: 15px auto 0 auto;
        max-width: 720px;
    }
    .btn {
        margin-left: auto;
        margin-right: auto;
    }
}
.product-medium {
	position: relative;
	.hover {
		display: none;
        position: absolute;
	    right: 0;
	    bottom: 60px;
	    left: 0;
	}
}
.embed {
	margin: 15px auto;
	iframe {
		width: 100%;
	}
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.25);
}
.share {
	margin-top: 15px;
	text-align: center;
	li {
		display: inline-block;
	}
	a {
		background-color: #ccc;
		color: white;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		line-height: 32px;
		display: inline-block;
		text-align: center;
		&:hover {
			color: black;
			background-color: @offwhite;
		}
	}
	@media (min-width: @screen-lg) {
		text-align: center;
	}
	@media (max-width: @screen-md-max) and (min-width: @screen-md) {
		text-align: left;
	}
}
.caret {
	margin-top: -3px;
}
.plus:before {
	content: '+';
	display: inline-block;
	font-size: 14px;
}
.number {
	display: block;
    font-size: 24px;
}
// Responsive line breaks
.wbr {
	@media (min-width: @screen-md) {
		display: block;
	}
}
.privacy {
	margin-top: 15px;
}
.help-block {
	font-size: 14px;
	text-align: left;
}
.table-responsive {
	border: 0 !important;
}
.separator {
	line-height: 0.5;
	text-align: center;
	margin: 30px 0;
	span {
	  display: inline-block;
	  position: relative;
		&:before, &:after {
			content: "";
			position: absolute;
			height: 5px;
			border-top: 1px solid rgba(0,0,0,.25);
			top: 3px;
			width: 150px;
		}
		&:before {
			right: 100%;
			margin-right: 15px;
		}
		&:after {
			left: 100%;
			margin-left: 15px;
		}
	}
}
.promo {
	display: inline-block;
	color: white;
	text-align: center;
	width: 160px;
	height: 160px;
	text-align: center;
	margin: 0 auto 30px auto;
	line-height: 160px;
	border-radius: 50%;
	font-family: @secondaryFontBold;
	border: 2px solid #3cdaa4;
	background-color: black;
	-webkit-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
	color: white;
	&:hover {
		background-color: #3cdaa4;
	}
}