/*
	Pages v1.0

	- Home (Index)
	- Publisher / Retailer (Signup)
	- Search
	- Log In & Registration
	- Settings
    - Notifications
	- Discover (Members, Brands, Users)
	- Dashboard
	- Feed
	- Static Pages (About Us, Contact, Jobs, Terms & Conditions, Cookies)
*/

/* NEW HOME (v2) ---------- */
.home {
    background-color: black;
    header {
        position: fixed;
        z-index: 99;
        width: 100%;
        height: 60px;
        li {
            float: left;
            margin-right: 30px;
            &:last-child {
                margin: 0;
                float: right;
            }
        }
        a {
            color: white;
            opacity: .8;
            &:hover {
                opacity: 1;
                color: white;
            }
        }
        .dropdown-menu {
            background-color: rgba(255,255,255,.2);
            box-shadow: none;
            li {
                float: none;
                margin: 0;
                &:last-child {
                    float: none;
                }
            }
            a {
                color: white;
            }
        }
        &.expanded {
            background-color: black;
        }
    }
    nav {
        max-width: 1140px;
        margin: 0 auto;
        position: static;
        line-height: 60px;
        padding: 0 30px;
        box-shadow: none;
        background-color: transparent;
    }
    footer {
        background-color: #222;
        a:hover {
            color: white;
        }
    }
    .usp-community {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: @primaryColor;
        color: white;
    }
    .home-intro {

    }
}

/* Home (Index) ---------- */
.frontpage main {
    padding-top: 60px;
    text-align: center;
    .btn {
        margin: 15px auto 0 auto;
        max-width: 260px;
    }
    h1 {
        margin-bottom: 15px;
        /*@media (min-width: @screen-sm) {
            font-size: 48px;
        }*/
    }
    section {
        margin-bottom: 45px;
    }
    .usp-intro {
        background: url('../images/backgrounds/home-bg.jpg') no-repeat center center scroll;
        background-size: cover;
        .scrolltarget {
            margin: 30px 0;
        }
    }
}
.usp-intro {
	h1 {
		margin: 45px auto;
	}
	.container {
		max-width: @screen-sm;
	}
}
.btn-join {
	border-radius: 50%;
    text-align: center;
	text-transform: none;
    letter-spacing: 0;
	border-radius: 50%;
    width: 192px;
    height: 192px;
    line-height: 192px;
	font-size: 24px;
	margin: 0 auto !important;
    -webkit-background-clip: padding-box;
    -moz-background-clip:    padding;
    background-clip:         padding-box;
	@media (min-width: @screen-sm) {
	    font-size: 30px;
	    width: 256px;
	    height: 256px;
        line-height: 256px;
    }
}
.click-detail {
  cursor: pointer;
}
.usp-join {
	@media (min-width: @screen-sm) {
        > div {
            height: 480px;
        }
    }
}
.usp-story {
    padding: 45px 0;
    background-color: #eee;
    img {
        margin: 15px auto;
    }
    @media (min-width: 1200px) {
        padding-bottom: 0;
        img {
            margin: 0 auto;
        }
    }
    .summary {
        @media (min-width: 1200px) {
            text-align: left;
            .btn {
                margin-left: 0;
            }
        }
    }
}
.usp-brands {
    padding: 45px 0;
    .list-brands {
        img {
            opacity: .75;
            .animate;
            &:hover {
                opacity: 1;
            }
        }
    }
}
.usp-intro, .usp-brands {
    background-color: black;
    h1, h2, p {
        color: white;
    }
}
.usp-featured, .usp-supported {
    img {
        opacity: .5;
        .animate;
        &:hover {
            opacity: 1;
        }
    }
}
.usp-supported {
    margin: 15px auto 0 auto !important;
}
.scrolltarget {
    font-size: 20px;
    color: white !important;
    display: inline-block;
    line-height: 1;
    font-family: @secondaryFontBold;
    i {
        font-size: 14px;
        line-height: 22px;
        vertical-align: bottom;
    }
}
.usp-partner {
    .clearfix;
    .publisher, .retailer {
        .animate;
        a {
            padding: 15px;
            display: block;
        }
        h2 {
            font-family: @secondaryFontBold;
            font-size: 22px;
            letter-spacing: -1px;
            margin-bottom: 5px;
        }
        p {
            color: white;
            margin: 0;
        }
        @media (min-width: @screen-is) {
            display: table-cell;
            width: 50%;
        }
        @media (min-width: @screen-sm) {
            a {
                padding: 30px;
            }
            h2 {
                font-size: 24px;
            }
        }
    }
    .publisher {
        background-color: @primaryColor;
        &:hover {
            background-color: darken(@primaryColor, 15%) !important;
        }
    }
    .retailer {
        h2 {
            color: @primaryColor;
        }
        background-color: @darkGrey;
        &:hover {
            background-color: #444;
        }
    }
    @media (min-width: @screen-is) {
        display: table;
        width: 100%;
    }
}
#slider-publishers, #slider-looks {
    margin: 30px 0;
}
#slider-publishers {
    .overlay {
        position: absolute;
        top: 0;
        z-index: 1;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.2);
    }
    .publisher {
        position: absolute;
        bottom: 10px;
        left: 0;
        text-align: center;
        width: 100%;
        z-index: 2;
        color: white;
        h5 {
            position: absolute;
            left: 15px;
            bottom: 20px;
        }
        img {
            position: absolute;
            right: 15px;
            bottom: 0;
            width: auto !important;
        }
    }
}

/* Publisher / Retailer (Signup) ---------- */
.publisher-index-page, .store-index-page {
    main {
        padding-top: 60px;
        text-align: center;
        h1 {
            margin: 30px auto 15px auto;
            @media (min-width: @screen-sm) {
                font-size: 48px;
            }
        }
        button {
            margin: 30px auto;
        }
        .apply-form {
            margin: 60px auto 30px auto;
            form {
                margin-top: 30px;
            }
        }
        .btn {
            margin: 0 auto;
        }
        .usp-brands {
            margin: 0;
        }
        .scrolltarget {
            margin: 30px auto 60px auto;

        }
        figure {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                background: rgba(0, 0, 0, 0.3);
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: -webkit-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
                background: -o-linear-gradient(rgba(255,0,0,0) 25%,rgba(255,0,0,1));
                background: -moz-linear-gradient(rgba(255,0,0,0),rgba(255,0,0,1));
                background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
            }
            img {
                vertical-align: baseline;
            }
        }
    }
}
.publisher-index-page {
    .usp-intro {
        background: url('../images/backgrounds/publisher-bg.jpg') no-repeat center center scroll;
        background-size: cover;
    }
}
.store-index-page {
    .usp-intro {
        background: url('../images/backgrounds/retailer-bg.jpg') no-repeat center center scroll;
        background-size: cover;
    }
}
.index-page-complete {
    main {
        padding-bottom: 30px !important;
        form {
            margin: 30px auto 15px auto;
        }
        .btn {
            margin: 0 auto 30px auto;
        }
    }
}

/* Search ---------- */
#search-result {
    .btn {
        margin: 0 auto 20px auto;
        bakground-color: black !important;
    }
}
/*.search-result {
    .btn {
        margin-bottom: 20px;
    }
}*/
.search-page {
	h3 {
		font-size: 18px;
		padding-bottom: 5px;
		border-bottom: 3px solid #000000;
		margin-bottom: 15px;
		a {
			text-decoration: none;
		}
	}
}

/* Log In & Registration ---------- */
.login {
    .form-container {
        max-width: 480px;
        form {
            margin-bottom: 30px;
        }
    }
}
.registration {
    .btn {
        margin: 15px auto;
    }
}
.registration-email main li {
    float: left;
    margin-right: 30px;
    &:last-child {
        margin: 0;
    }
}
.password-reset {
    h1 {
        margin-bottom: 15px;
    }
    .form-container {
        max-width: 320px;
        margin: 0 auto 15px auto;
    }
}

/* Settings ---------- */
.settings-page {
    text-align: center;
    h2 {
        margin-bottom: 10px;
    }
    h3, h5 {
        margin: 15px 0 5px 0;
    }
    .form-group {
        max-width: 320px;
        margin: 0 auto 15px auto;
        text-align: left;
    }
    .btn {
        margin: 0 auto;
    }
    .col-sm-10 {
        padding: 0;
    }
    @media (min-width: @screen-sm) {
    text-align: left;
        .form-group {
            max-width: none;
            margin: 0 auto 15px auto;
        }
        .btn {
            margin: 0;
        }
        .col-sm-10 {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

/* Notifications ---------- */
.notifications-page {

}

/* Discover (Members, Brands, Users) ---------- */
.discover-list-page {
    .modal {
        .modal-header {
            height: 74px;
		    background-color: white;
        }
        h2 {
            line-height: 78px;
            padding: 0 !important;
			color: black;
        }
    }
    .panel .panel-body {
        border: none !important;
    }
    .close {
        top: 12px !important;
        right: 12px !important;
        &:hover {
            span:before, span:after {
                background-color: @grey;
            }
        }
    }
    .user-medium .pull-left {
        margin-top: 3px;
    }
}
.discover-list .col-discover-item {
    @media (min-width: @screen-xs) {
        float: left;
        width: 50%;
    }
}

/* Dashboard ---------- */
.publisher-page, .store-page {
    .select {
        margin-left: auto;
        margin-right: auto;
    }
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.full_modal {
  width: 60%;
}

.body-grey {
  background: #EEEEEE !important;
}

@media (min-width: 1120px) {
	#modal_tool_shop, #modal_tool_collage, #modal_tool_tagged_photo, #modal_tool_text_link, #modal_tool_chrome_ext {
        .modal-dialog {
            width: 1117px;
        }
    }
}

@media (max-width: 1190px) {
  #modal_tool_shop, #modal_tool_collage, #modal_tool_tagged_photo, #modal_tool_text_link, #modal_tool_chrome_ext {
      .modal-dialog {
          width: 95%;
          padding-left: 2.5%;
          padding-right: 2.5%;
      }
  }
  .modal-tools-description {
      padding: 30px;
      p, h4 {
          font-size: 18px;
      }
  }
  .apprl-modal-tools-content {
      .slider-container {
          .iosSlider {
              .tools_prevButton {
                  left: 30px;
              }
              .tools_nextButton {
                  right: 30px;
              }
          }
      }
  }
}

@media (max-width: 767px) {
    .header-screens {
        text-align: center;
        .image-header {
            width: 300px;
            margin-top: 80px;
        }
    }
    .publisher-top {
        h1.apprl-maintitle{
          font-size: 32px;
        }
    }
}
.apprl-modal-tools-content {
    padding-left: 0;
    padding-right: 0;
    background: #FFFFFF !important;
    .slider-container {
        visibility: hidden;
        position: relative;
        width: 100%;
        height: 0;
        padding: 0 0 39% 0;
        .iosSlider {
            .tools_prevButton {
                left:30px;
            }
            .tools_nextButton {
                right:30px;
            }
        }
    }
}

.modal-tools-description {
    padding: 30px 30px 0px 30px;
    line-height: 30px;
    h4 {
      line-height: 40px;
    }
    p, h4 {
      font-size: 20px
    }
}

.modal-header-outside {
  background-color: transparent !important;
  border-bottom: 0px;
  padding-right: 0px;
}

#modal_tool_shop, #modal_tool_collage, #modal_tool_tagged_photo, #modal_tool_text_link, #modal_tool_chrome_ext {
    .btn-default {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
    .modal-content {
        .modal-body {
            padding: 0px;
        }
    }
}

.header-screens {
    position: absolute;
    top: 200px;
    text-align: right;
    z-index: 999;
}

/* Feed ---------- */
.feed-list .feed-item {
    font-size: 15px;
    &.recommended {
        border-color: @primaryColor;
    }
}

/* Static Pages (About Us, Contact, Jobs, Terms & Conditions, Cookies) ---------- */
.dynamic-content ol {
    list-style: decimal;
}
.about-page main img {
    margin-bottom: 30px;
}