/*
    Product v1.0

    - Lists
    - Details
*/

/* Product lists ---------- */
#shop-product-list .hover .btn {
    width: 100%;
}

.product-image {
	text-align: center;
	picture {
		margin: auto;
	}
}

.product-container {
    .pull-left.btn, .pull-right.btn {
        width: 50%;
    }
    .product-title {
        font-size: 16px;
        font-family: @secondaryFontBold;
    }
    .product-image {
        max-width: 160px;
        margin: 0 auto 15px auto;
    }
    .vendor-name {
        opacity: .5;
        font-size: 14px;
    }
    .computed-price {
        margin-bottom: 5px;
    }
    @media (min-width: @screen-xs) {
        .product-title {
            font-size: 24px;
            font-family: @secondaryFont;
        }
        .product-image {
            max-width: none;
        }
    }
}

.col-product-item {
    h5 {
        margin-bottom: 5px;
    }
    .caption {
        font-size: 14px;
        height: 60px;
        ul {
          line-height: 1.2;
        }
    }
}

.product-medium {
    .hover {
        bottom: 55px;
        height: 44px !important;
        .btn {
            width: 50%;
            font-size: 12px;
            letter-spacing: 1px;
        }
    }
}

.product-detail-page {
    .actions {
        position: fixed;
        bottom: 4px;
        right: 4px;
        text-align: right;
        li {
            display: inline;
        }
        .btn {
            width: 44px;
            padding: 0 !important;
            display: inline-block;
        }
    }
}

.product-info {
    .description {
        font-size: 13px;
    }
	.seller {
		font-family: @secondaryFontBold;
		font-size: 13px;
		color: @grey;
		a {
			color: black;
		}
	}
	.btn {
		margin-top: 15px;
	}
	.computed-price {
		display: block;
		font-family: @primaryFont;
		font-size: 30px;
		margin-bottom: 15px;
	}
}

.btn-look-like, .btn-product-like {
    i {
        color: #ffffff;
    }
    &.liked > i {
        color: #e27b67;
    }
}

.thumbnail .caption {
  padding: 10px 0 0 0;
}