/*
	Publisher v1.0

    - Dashboard
    - Referral
*/

/* Dashboard ---------- */
.dashboard {
    h1 {
        text-align: center;
    }
    .btn-expand {
        width: 44px;
        height: 44px;
        float: right;
        display: inline-block;
        border-radius: 50%;
        background-color: @offwhite;
        text-align: center;
        line-height: 44px;
        i {
            color: @grey;
        }
    }
    .panel {
        border: 1px solid #cccccc;
        padding: 15px;
    }
    .panel-header {
        height: 44px;
        .clearfix;
        h4 {
            float: left;
            line-height: 44px;
        }
    }
    .overview {
        border-bottom: 2px solid #eee;
        padding-bottom: 30px;
    }
    .figures {
        background-color: #e2f9f1;
        margin: 30px 0;
        > div {
            text-align: center;
            //border-left: 1px solid white;
            //border-right: 1px solid white;
            padding: 30px 15px 15px 15px;
        }
        .pending-earnings {
            background-color: #fffde7;
        }
        .confirmed-earnings {
            background-color: #f1f8e9;
        }
        .pending-payment {
            background-color: #e0f7fA;
        }
    }
}

/* ? ---------- */
.discover-list-page {
    .modal h2 {
        padding: 30px 15px 15px;
        float: left;
    }
    .modal-dialog {
        width: 100% !important;
        padding: 0 15px !important;
        max-width: 960px;
    }
    .close {
        top: 14px !important;
        right: 22px !important;
    }
    .modal-header {
        overflow: hidden;
        .btn {
            margin: 22px auto 0 auto;
        }
    }
    .empty {
        @media (min-width: @screen-sm) {
            display: block;
            height: 49px;
        }
    }
    i {
        vertical-align: middle;
    }
}
.publisher-commissions th {
    text-align: center;
}
.publisher-panel {
    border: 1px solid @lightGrey;
    article {
        padding: 15px 15px 0 15px;
        text-align: center;
    }
    img:hover {
        cursor: pointer;
    }
    .btn {
        max-width: none;
    }
}
.dashboard-info {
    h2 {
        margin-bottom: 10px;
    }
    hr {
        border-color: #eee;
        margin: 45px 0;
    }
    .display {
        margin: 15px 0;
        padding: 15px;
        box-shadow: 0 0 25px rgba(0,0,0,.25);
    }
}
.publisher-page, .store-page {
    .overview {
        text-align: center;
        border-bottom: 2px solid #eee;
        padding-bottom: 30px;
    }
    .figures {
        //padding: 30px 15px 15px 15px;
        background-color: #e2f9f1;
        margin-bottom: 30px;
        > div {
            border-left: 1px solid white;
            border-right: 1px solid white;
            padding: 30px 15px 15px 15px;
            /*&:last-of-type {
                border: 0;
            }*/
        }
        .pending-earnings {
            background-color: #fffde7;
        }
        .confirmed-earnings {
            background-color: #f1f8e9;
        }
        .pending-payment {
            background-color: #e0f7fA;
        }
    }
    /*.subnav-page {
        margin-bottom: 40px;
    }*/
    /*.subnav-page > div {
        font-size: 16px;
        text-align: center;
    }*/
    .monthly-list {
        text-align: center;
    }
    .publisher-admin ul, .publisher-admin p {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    th {
        font-size: 13px;
        border-color: #eee;
    }
}

body.publisher-index-page {
    #content-container {
        padding-bottom: 0;
    }

    .body-header {
        color: #ffffff;
        border: 0;
        margin-top: 0;
        margin-bottom: 0;
        h1 {
            margin-bottom: 20px;
        }
    }

    .inner-content {
        background-color: #ffffff;
        margin-bottom: 60px;
        padding: 20px;
    }
}

/* Referral ---------- */
.publisher-referral-page {
    padding-bottom: 15px;
    main {
        text-align: left;
        textarea {
            max-width: none;
        }
        h1 {
            margin: 0 auto 30px auto;
        }
    }
    h4 {
        margin-bottom: 15px;
    }
    .referral-row {
        margin-top: 20px;
        > div {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .referral-link-container {
        text-align: center;
        &.box {
            color: white;
            background-color: black;
        }
        padding: 20px 30px 10px 30px;
        p {
            color: #999;
            margin-top: 10px;
        }
        textarea  {
            background-size: 0;
            margin-bottom: 10px;
            width: 100%;
            @media (min-width: @screen-sm) {
                margin-bottom: 15px;
                background-image: linear-gradient(black, #666);
                background-size: 0 2px, 100% 1px;
                background-repeat: no-repeat;
                background-position: center bottom, center calc(100% - 1px);
                background-color: #222;
                color: white;
                &:focus {
                    background-image: linear-gradient(white, black);
                    -webkit-animation: highlight 0.25s forwards;
                    animation: highlight 0.25s forwards;
                    background-size: 0 2px, 100% 1px;
                    background-color: #333;
                }
            }
        }
    }
}