/*
	Publisher v1.0
*/
.publisher-panel {
  background: white !important;
  /* redefined because it was overwritten */
  /*.btn-success {
        margin: 15px;
        width: 100%;
    }*/
  /*.btn-default {
        background-color: #000 !important;
        background-image: #000 !important;
        background: #000 !important;
        border-color: #000 !important;

        color: #FFFFFF;
        margin: 15px;

        &:hover {
            background-color: #222222 !important;
            background-image: #222222 !important;
            background: #222222 !important;
            border-color: #222222 !important;
        }
    }*/
  /*h3 {
        display:inline;
    }*/
}
.publisher-panel .image img {
  width: 100%;
}
.publisher-panel .image:hover {
  cursor: pointer;
}
.publisher-panel .text {
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
}
.publisher-panel .text .desc {
  min-height: 60px;
  padding: 10px;
}
.publisher-panel .title span {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.publisher-page .subnav-page,
.store-page .subnav-page {
  margin-bottom: 40px;
}
.publisher-page .subnav-page > div,
.store-page .subnav-page > div {
  font-size: 16px;
  text-align: center;
}
.publisher-page .monthly-list,
.store-page .monthly-list {
  text-align: center;
}
.publisher-page .publisher-admin ul,
.store-page .publisher-admin ul,
.publisher-page .publisher-admin p,
.store-page .publisher-admin p {
  text-align: center;
}
body.publisher-index-page #content-container {
  padding-bottom: 0;
}
body.publisher-index-page .body-header {
  color: #ffffff;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body.publisher-index-page .body-header h1 {
  margin-bottom: 20px;
}
body.publisher-index-page .inner-content {
  background-color: #ffffff;
  margin-bottom: 60px;
  padding: 20px;
}
body.publisher-index-page .background {
  background: #000000 url('../images/bg_bw4.jpg') no-repeat center 40px;
}
body.publisher-referral-page .referral-row {
  margin-top: 20px;
  margin-bottom: 20px;
}
body.publisher-referral-page .referral-row > div {
  margin-top: 10px;
  margin-bottom: 10px;
}
body.publisher-referral-page .referral-link-container {
  text-align: center;
  padding: 20px 30px;
}
body.publisher-referral-page .referral-link-container.box {
  background-color: #eee;
}
body.publisher-referral-page .referral-link-container p {
  margin-top: 10px;
}
body.publisher-referral-page .referral-link-container textarea {
  width: 100%;
  margin-bottom: 10px;
}
