//
// Publisher and store index page
// ----------------------------------------------------------------------------



.publisher-page, .store-page {
    .subnav-page {
        margin-bottom: 40px;
    }
    .subnav-page > div {
        font-size: 16px;
        text-align: center;
    }
    .monthly-list {
        text-align: center;
    }
    .publisher-admin ul, .publisher-admin p {
        text-align: center;
    }
}

body.publisher-index-page {
    #content-container {
        padding-bottom: 0;
    }

    .body-header {
        color: #ffffff;
        border: 0;
        margin-top: 0;
        margin-bottom: 0;
        h1 {
            margin-bottom: 20px;
        }
    }

    .inner-content {
        background-color: #ffffff;
        margin-bottom: 60px;
        padding: 20px;
    }
}

body.publisher-index-page .background {
    background: #000000 url('../images/bg_bw4.jpg') no-repeat center 40px;
}


body.publisher-referral-page {
    .referral-row {
        margin-top: 20px;
        margin-bottom: 20px;
        > div {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .referral-link-container {
        text-align: center;
        &.box {
            background-color: @gray-lighter;
        }
        padding: 20px 30px;
        p {
            margin-top: 10px;
        }
        textarea {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}
