/*
	Theme v1.5
	- Colors
	- Fonts
	- Grid
	- Breakpoints
*/
/* Colors ---------- */
a {
  color: black;
}
a:hover {
  color: #666666;
}
nav {
  background-color: black;
}
footer {
  background-color: #eeeeee;
}
hr {
  border-color: black;
}
.helper {
  color: #808080;
}
.helper:hover {
  color: #404040;
}
.primary {
  color: #67e2b8;
}
.secondary {
  color: #f64747;
}
/* Fonts ---------- */
@font-face {
  font-family: 'Austin Light';
  src: url('../fonts/Austin-Light.eot');
  src: url('../fonts/Austin-Light.woff') format('woff'), url('../fonts/Austin-Light.ttf') format('truetype'), url('../fonts/Austin-Light.svg#svgAustinLight') format('svg');
}
@font-face {
  font-family: 'Austin Bold';
  src: url('../fonts/Austin-Bold.eot');
  src: url('../fonts/Austin-Bold.woff') format('woff'), url('../fonts/Austin-Bold.ttf') format('truetype'), url('../fonts/Austin-Bold.svg#svgAustinBold') format('svg');
}
@font-face {
  font-family: 'Neuzeit Regular';
  src: url('../fonts/Neuzeit-Regular.eot');
  src: url('../fonts/Neuzeit-Regular.woff') format('woff'), url('../fonts/Neuzeit-Regular.woff2') format('woff2'), url('../fonts/Neuzeit-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Neuzeit Bold';
  src: url('../fonts/Neuzeit-Bold.eot');
  src: url('../fonts/Neuzeit-Bold.woff') format('woff'), url('../fonts/Neuzeit-Bold.woff2') format('woff2'), url('../fonts/Neuzeit-Bold.ttf') format('truetype');
}
body {
  font-family: 'Neuzeit Regular', 'Helvetica Neue', sans-serif;
}
/* Grid ---------- */
/* Breakpoints ---------- */
