/*
    Base v1.0
    - Imports
    - Document
    - Header
    - Footer
    - Plugins
*/

/* Imports ---------- */
@import "./_bootstrap.less";
@import "./_theme.less";
@import "./_extensions.less";
@import "./_functions.less";
@import "./_components.less";
@import "./_attributes.less";
@import "./_forms.less";
@import "./_pages.less";
@import "./_look.less";
@import "./_store.less";
@import "./_product.less";
@import "./_widget.less";
@import "./_profile.less";
@import "./_publisher.less";

/* Document ---------- */
html {
    font-size: 100%;
}
body {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    padding-top: 60px;
    //padding-top: 90px;
    font-size: 16px;
    letter-spacing: .01rem;
}
a {
    .animate();
    &:hover, &:focus, &:active {
        text-decoration: none;
    }
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
hr {
    border: 0;
    height: 0;
    border-bottom: 2px solid;
    margin: 0 0 15px 0;
}
section {
    margin-bottom: 30px;
}

/* Typography ---------- */
h1, h2, h3, h4, h5 {
    margin: 0;
    line-height: 1;
}
.display {
    font-family: @primaryFontBold;
    font-size: 48px;
    letter-spacing: -1px;
}
h1 {
    font-family: @primaryFont;
    font-size: 36px;
    letter-spacing: -1px;
}
h2 {
    font-family: @secondaryFont;
    font-size: 30px;
}
h3 {
    font-family: @primaryFont;
    font-size: 24px;
}
h4 {
    font-family: @secondaryFontBold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
    span {
        opacity: .5;
    }
}
h5 {
    font-family: @secondaryFontBold;
    font-size: 14px;
}
small {
    font-size: 12px;
    display: block;
    opacity: .5;
}
p {
    color: @grey;
    a {
        font-family: @secondaryFontBold;
        color: @darkGrey;
    }
}
article p {
    max-width: 720px;
    margin: 0 auto 10px auto;
}
@media (min-width: @screen-sm) {
    .display {
        font-size: 56px;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 36px;
    }
    /*h3 {
        font-size: 30px;
    }*/
}

/* Header ---------- */
header {
    nav {
        top: 0;
        left: 0;
        position: fixed;
        z-index: 999;
        background-color: black;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
        height: 60px;
        width: 100%;
        li {
            a {
                color: @grey;
                letter-spacing: 0.5px;
                font-family: @secondaryFontBold;
                font-size: 14px;
                &:hover, &:focus, &:active {
                    color: @darkGrey;
                }
                // FIX ge en hover state på alla topplänkar
                &.active {
                    border-bottom: 2px solid white;
                    padding-bottom: 2px;
                }
            }
            .btn {
                margin-left: 15px;
            }
        }
        img {
            max-height: 40px;
        }
        @media (min-width: 768px) {
            li a {
                color: white;
                &:hover, &:focus, &:active {
                    color: white;
                }
            }
        }
    }
    .dropdown-menu {
        margin: 0;
        position: static;
        box-shadow: none;
        float: none;
        li {
            display: block;
        }
        a {
            color: @grey;
            white-space: initial;
            font-size: 13px;
            font-family: @secondaryFont;
            &:hover {
                color: black;
            }
        }
        @media (min-width: 768px) {
            position: absolute;
            box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
            float: left;
        }
    }
    .primary-nav, .secondary-nav {
        li {
            line-height: 44px;
        }
        @media (min-width: 768px) {
            li {
                float: left;
                line-height: 60px;
                li {
                    float: none;
                    a {
                        margin: 0;
                    }
                }
            }

            a {
                margin-right: 15px;
            }
        }
    }
    .primary-nav {
        @media (min-width: 768px) {
            float: left;
        }
    }
    .secondary-nav {
        padding-bottom: 44px;
        @media (min-width: 768px) {
            float: right;
            margin-right: -15px;
        }
    }
    .dropdown-avatar {
        figure {
            float: left;
            margin-right: 5px;
        }
    }
    .logo {
        max-width: 140px;
        float: left;
        line-height: 60px;
        margin-right: 30px;
    }
    .btn-primary {
        margin-top: -4px;
    }
    .navbar-toggle {
        border: none;
        background: transparent !important;
        border-radius: 0;
        margin: 8px 0 0 0;
        padding: 0;
        width: 44px;
        height: 44px;
        &:hover {
            background: transparent !important;
        }
        .icon-bar {
            border-radius: 0;
            height: 3px;
            margin: auto;
            background-color: white;
            width: 24px !important;
            transition: all .2s;
        }
        .top-bar {
            transform: translateY(7px) rotate(45deg);
        }
        .middle-bar {
            opacity: 0;
        }
        .bottom-bar {
            transform: translateY(-7px) rotate(-45deg);
        }
    }
    .navbar-toggle.collapsed {
        .icon-bar {
            padding-left: 6px;
        }
        .top-bar {
            transform: rotate(0);
        }
        .middle-bar {
            opacity: 1;
        }
        .bottom-bar {
            transform: rotate(0);
        }
    }
}

// Search
header .navbar-form {
    padding: 0 0 15px 0;
    margin: 8px 0 0 0;
    border-bottom: 0;
    border-top: 0;
    position: relative;
    input {
        font-size: 13px;
        border: 0;
        max-width: none;
        float: right;
        height: 44px;
        line-height: 3em; // Using em units due to Chrome render bug
        color: white;
        padding: 0 44px 0 10px;
        background-color: @offwhite;
        border: 2px solid transparent;
        &:focus, &:active {
            background-color: white;
            border-color: @offwhite;
        }
    }
    .btn-search {
        position: absolute;
        width: 44px;
        height: 44px;
        background-color: transparent;
        top: 0;
        right: 0;
        overflow: hidden;
        line-height: 40px;
        color: @grey;
    }
    @media (min-width: 768px) {
        margin: 8px 15px 0 0;
        padding: 0;
        input {
            max-width: 160px;
            background-color: @darkGrey;
            border: 0;
            &:focus, &:active {
                color: black;
                background-color: white;
            }
        }
    }
}

// Menu
#menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0 15px;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
    @media (min-width: 768px) {
        width: auto;
        background-color: transparent;
        box-shadow: none;
        position: static;
        padding: 0;
    }
}

.dropdown {
    .dropdown-menu a {
        color: @grey;
    }
    @media (min-width: 768px) {
        .dropdown-menu {
            display: block;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 200ms ease-in;
            transition: all 200ms ease-in;
        }

        &.open .dropdown-menu {
            opacity: 1;
            visibility: visible;
        }
    }
}

// Notifications
.dropdown-notifications {
    padding: 0 !important;
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: @darkGrey;
    display: inline-block;
    text-align: center;
    padding-left: 1px;
    margin-top: 10px;
    .animate();
    img {
        vertical-align: middle;
    }
    svg {
        height: 100%;
        margin: 1px 0 0 2px;
    }
    path {
        .animate();
    }
    .badge {
        top: -3px;
    }
    &:focus {
        background-color: @darkGrey;
    }
    &:hover, &:active {
        background-color: white;
    }
    &.active path, &:hover path {
        fill: black;
    }
}

.notifications-menu {
    top: 60px;
    width: 320px;
    a {
        .clearfix();
        &:hover {
            background-color: transparent;
        }
    }
    p {
        font-size: 12px !important;
    }
    figure {
        float: left;
        margin-right: 10px;
        vertical-align: top;
    }
    li {
        margin: 5px 0;
        position: relative;
        height: 100%;
        &:last-child {
            cursor: pointer;
            text-align: center;
        }
    }
    span {
        line-height: 1;
        font-size: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
        color: @lightGrey;
    }
    .message {
        float: left;
        max-width: 200px;
        height: 34px;
        margin: 0;
        line-height: 15px;
    }
    .no-results {
        line-height: 32px;
        margin: 0;
    }
}

/* Main ---------- */
main {
    //text-align: center;
    /*h4 {
        text-align: left;
    }*/
    /*@media (min-width: @screen-md) {
        text-align: left;
    }*/
}
#content-container {
    background-color: white;
    padding-bottom: 20px;
    /*.container > .alert {
        margin-top: 20px;
        margin-bottom: 0;
    }*/
}

/* Footer ---------- */
footer {
    text-align: center;
    padding: 15px 0;
    font-size: 13px;
    li {
        line-height: 24px;
    }
    address {
        color: @lightGrey;
    }
    a {
        color: @lightGrey;
        &:hover {
            color: @grey;
        }
    }
    input[type="email"] {
        margin-bottom: 10px;
    }
    h5 {
        color: @grey;
        margin: 15px 0 10px 0;
    }
    @media (min-width: 992px) {
        text-align: left;
    }
}

/* Plugins ---------- */
.addthis_toolbox {
    a {
        width: 32px !important;
        margin: 0 1px;
        float: none !important;
    }
    i {
        vertical-align: middle;
    }
}

/*.list-likes > li {
    padding-bottom: 10px;
}

.top-buffer {
  margin-top:20px;
}

.list-left-margin {
  margin-left: 1.5em;
}*/

//
// Body and body header
// ----------------------------------------------------------------------------

.body-header {
    //.make-row;
    .clearfix;
    margin: 20px 0;
    @media (min-width: @grid-float-breakpoint) {
        margin-bottom: 30px;
    }

    .body-header-col-left {
        .make-sm-column(12);
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        @media (min-width: @grid-float-breakpoint) {
            .make-sm-column(7);
            padding-left: 0;
            padding-right: 0;
            text-align: left;
        }
    }
    .body-header-col-right {
        .make-sm-column(12);
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        > ul {
            > li {
                width: 100%;
                padding-right: 0;
                padding-left: 10px;
                > .btn {
                    width: 100%;
                    margin-top: 10px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
            @media (min-width: @grid-float-breakpoint) {
                > li {
                    width: auto;
                    > .btn {
                        width: auto;
                    }
                }
            }
            .dropdown-menu {
                left: auto;
                right: 0;
            }
        }
        @media (min-width: @grid-float-breakpoint) {
            .make-sm-column(5);
            padding-left: 0;
            padding-right: 0;
            text-align: right;
            > ul {
                margin-top: 16px;
                > li > .btn {
                    margin-top: 0;
                }
            }
        }
    }
    .body-header-col-full {
        .make-sm-column(12);
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        h2 {
            margin-right: 20px;
        }
        .btn {
            margin-top: 0;
            margin-bottom: 30px;
            vertical-align: text-bottom;
        }
        @media (min-width: @grid-float-breakpoint) {
            text-align: left;
            .btn {
                margin-bottom: 0;
            }
        }
    }
    //h1 { .body-header-h1; }
    //h1 + ul, h1 + h2 { .body-header-ul; }
    /*h2 {
        .body-header-ul;
    }*/

    /*.btn-gender {
        .btn-primary;
        .caret {
            border-top-color: #ffffff;
            border-bottom-color: #ffffff;
        }
    }*/
}

.body-header-ul {
    margin-bottom: 0;
    display: inline-block;
    li, li > h2, & {
        color: @gray-light;
        font-family: "IM Fell Great Primer", sans-serif;
        font-style: italic;
        font-size: 16px;
        font-weight: 500;
        @media screen and (min-width: @grid-float-breakpoint) {
            font-size: 22px;
        }
        a {
            color: @gray-light;
            text-decoration: none;
            &:hover, &.selected {
                color: @gray-dark;
                border-bottom: 3px solid @gray-dark;
                padding-bottom: 8px;
            }
        }
    }
    li {
        padding-left: 3px;
        padding-right: 3px;
        @media screen and (min-width: @grid-float-breakpoint) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    // Custom styles for mobile
    @media (max-width: @screen-xs-max) {
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }
}

//
// Index page
// ----------------------------------------------------------------------------

body.account {
    footer, .navbar-nav-main, .navbar-form {
        display: none;
    }
}

body.index {
    #content-container {
        padding-bottom: 0;
    }
    .index-choice {
        background-color: #333333;
        .row > div {
            max-height: 60px;
            line-height: 60px;
        }
        a {
            width: 100%;
            display: inline-block;
            font-size: 22px;
            @media (min-width: @screen-tablet) {
                font-size: 24px;
            }
            font-weight: bold;
            color: #ffffff;
            &:hover {
                color: darken(#ffffff, 35%);
            }
            span {
                padding-left: 20px;
                font-size: 24px;
                position: absolute;
                top: 14px;
                right: 15px;
            }
            @media (min-width: @screen-tablet) {
                width: auto;
                span {
                    right: auto;
                }
            }
        }
    }
    .index-pre-choice {
        padding-top: 30px;
        padding-bottom: 20px;
        h2 {
            margin-top: 0;
            margin-bottom: 12px;
            @media (min-width: @screen-tablet) {
                font-size: 18px;
                margin-bottom: 0;
            }
            @media (min-width: @screen-desktop) {
                font-size: 20px;
                margin-bottom: 0;
            }
            @media (min-width: @screen-lg-desktop) {
                font-size: 24px;
                margin-bottom: 0;
            }
        }
        h2, .facepile-container {
            text-align: center;
            @media screen and (min-width: @grid-float-breakpoint) {
                text-align: left;
            }
        }
        .fb-facepile {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .col-sm-6 {
            text-align: center;
            line-height: 36px;
        }
    }
    .btn-get-access {
        .btn-success;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 28px;
        max-height: 100px;
        margin-top: 20px;
        @media (min-width: @grid-float-breakpoint) {
            margin-top: 0;
        }
    }
    .featured-container {
        .btn-follow-placeholder {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .feed-item .panel-heading {
            padding-bottom: 20px;
        }
    }
}

/* Disable hover on featured content when not authenticated */
body:not(.authenticated) .featured-container .feed-item .panel-body img {
    opacity: 1 !important;
}

body:not(.authenticated) .featured-container .feed-item .panel-body .hover {
    display: none !important;
}

@media (max-width: @screen-xs-max) {
    body.authenticated .featured-container .col-featured-item:not(:first-child) {
        display: none;
    }
}

.featured-container {
    background: #000000 url('../images/featured-background-2.jpg') no-repeat center top;
    overflow: hidden;

    .feed-item {
        display: inline-block;
        height: 494px;
        margin-bottom: 50px;
        border-bottom: 0;
        .panel-heading {
            min-height: 150px;
            max-height: 160px;
            p {
                min-height: 0;
            }
        }
        .panel-body .hover {
            bottom: 0;
        }
        .panel-body .caption {
            display: none;
        }
        p {
            font-weight: 500;
            color: @blue-gray-color;
        }
        .btn-follow-placeholder {
            .btn-primary;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .body-header {
        color: #ffffff;
        border: 0;
        margin-top: 0;
        margin-bottom: 0;
        h1 {
            margin-bottom: 20px;
            margin-top: 20px;
        }
        .close {
            //.at2x('../images/apprl_kryss.png', 28px, 28px);
            width: 28px;
            height: 28px;
            position: absolute;
            top: 34px;
            @media (max-width: @screen-xs-max) {
                top: 28px;
            }
            right: 0;
            opacity: 0.8;
            &:hover {
                opacity: 1.0;
            }
        }
    }

    /* Columns for featured item in screen size: 1 - 2 - 3 - 3 */
    .col-featured-item {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        .make-sm-column(12);
        @media (min-width: @screen-tablet) {
            .make-sm-column(6);
            &:first-child {
                text-align: left;
            }

            &:nth-child(2) {
                text-align: right;
            }

            &:last-child {
                display: none;
            }
        }
        @media (min-width: @screen-desktop) {
            .make-sm-column(4);
            &:first-child {
                text-align: left;
            }

            &:nth-child(2) {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }

            &:last-child {
                text-align: right;
                display: block;
            }

        }
    }
}

.feed-list-page {
    .feed-list .col-feed-item {
        .make-sm-column(12);
        @media (min-width: @screen-tablet) {
            .make-sm-column(6);
        }
        @media (min-width: @screen-desktop) {
            .make-sm-column(4);
        }
        @media (min-width: @screen-lg-desktop) {
            .make-sm-column(4);
        }
    }
}

.feed-item {
    border: 0;
    border-radius: 0;
    border-bottom: 3px solid #000000;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 30px;
    &.feed-verb-agg_product .panel-body .hover .btn {
        white-space: normal;
    }
    &.feed-verb-agg_product .panel-heading > p {
        white-space: normal;
    }
    .panel-heading {
        background-color: #ffffff;
        border: 0;
        text-align: center;
        > p {
            margin-bottom: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 260px;
            min-height: 40px;
            margin-left: auto;
            margin-right: auto;
        }
        img {
            margin-bottom: 10px;
        }
    }
    .panel-body {
        min-height: 414px;
        padding-top: 0;
        padding-bottom: 0;
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

//
// Shop / Product list
// ----------------------------------------------------------------------------

.shop-embed {
    padding-top: 0;
    .container {
        max-width: none;
    }
    h3 {
        display: none;
    }
    &.filter-collapse-shown {
        h3 {
            display: block;
        }
    }
    @media (min-width: @screen-tablet) {
        h3 {
            display: block;
        }
    }
}

.price, .sold-out {
    &.discounted {
        text-decoration: line-through;
    }
}

.discount-price {
    color: @like-color;
}

.product-medium {
    margin: 0 auto;
    max-width: 280px;
    position: relative;
    border: 0;
    padding: 0;
    .product-image-container {
        img {
            margin: auto;
        }
    }
    .caption {
        height: 60px;
        //height: @caption_height;
        padding-bottom: 0;
        margin-bottom: 30px;
    }
    h4 {
        text-align: center;
        font-size: 14px;
        margin: 0;
        a {
            display: inline-block;
            padding: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
        }
    }
    ul {
        font-weight: 500;
        text-align: center;
        margin: 0;
        line-height: 1.1;
    }
    p {
        font-weight: 500;
        min-height: 20px;
        margin: 0;
        text-align: center;
    }
    .hover {
        display: none;
        position: absolute;
        right: 0;
        //bottom: @caption_height;
        height: 60px;
        left: 0;
    }
}

/* Setup columns for product list pages */
.product-list-container {
    .col-product-filter {
        .make-sm-column(12);
    }
    .col-product-list {
        .make-sm-column(12);
        .col-product-item {
            .make-xs-column(6);
        }
    }
    @media (min-width: 512px) {
        .col-product-list {
            .col-product-item {
                .make-xs-column(4);
            }
        }
    }
    @media (min-width: @screen-tablet) {
        .col-product-filter {
            .make-sm-column(4);
        }

        .col-product-list {
            .make-sm-column(8);
            .col-product-item {
                .make-sm-column(6);
            }
        }

        &.no-filters {
            .col-product-list {
                .make-sm-column(12);
                .col-product-item {
                    .make-sm-column(4);
                }
            }
        }
    }
    @media (min-width: @screen-desktop) {
        .col-product-filter {
            .make-sm-column(4);
        }

        .col-product-list {
            .make-sm-column(8);
            .col-product-item {
                .make-sm-column(4);
            }
        }

        &.no-filters {
            .col-product-list {
                .make-sm-column(12);
                .col-product-item {
                    .make-sm-column(3);
                }
            }
        }
    }
    @media (min-width: @screen-lg-desktop) {
        .col-product-filter {
            .make-sm-column(4);
        }

        .col-product-list {
            .make-sm-column(8);
            .col-product-item {
                .make-sm-column(4);
            }
        }

        &.no-filters {
            .col-product-list {
                .make-sm-column(12);
                .col-product-item {
                    .make-sm-column(3);
                }
            }
        }
    }

    #reset {
        position: absolute;
        top: -2px;
        right: @grid-gutter-width / 2;
    }
}

body.shop, body.profile-likes {
    li.filtered {
        display: none;
    }

    .btn-filter {
        border: 0;
        border-radius: 0;
        background-color: @dark_gray_color;
        color: #ffffff;
        margin-bottom: 10px;
        font-weight: normal;
        padding: 10px 15px;
    }

    @media screen and (min-width: @grid-float-breakpoint) {
        .btn-filter {
            display: none;
        }
    }

    .accordion-toggle, .btn-filter {
        position: relative;
        .glyphicon-chevron-up {
            position: absolute;
            top: 12px;
            right: 10px;
        }
        &.collapsed .glyphicon-chevron-up {
            right: 11px;
            top: 13px;
            &:before {
                content: "\e114";
            }
        }
    }

    .panel-group {
        margin-bottom: 30px;
        .panel {
            border-radius: 0;
            border-color: #aaaaaa;
            border: 0;
            margin-bottom: 10px;
            .panel-heading {
                padding: 0;
                border-radius: 0;
                background-color: #000000;
                a {
                    display: block;
                    padding: 10px 15px;
                    color: #ffffff;
                    text-align: center;
                    text-decoration: none;
                }
            }
            .panel-body {
                padding: 10px;
                border: 1px solid #aaaaaa;
                border-top: 0;
                > ul {
                    margin-bottom: 0;
                }
                .reset {
                    margin: 5px 0;
                    display: none;
                    text-decoration: none;
                }
            }
            &.active .panel-body .reset {
                display: block;
            }
        }
    }

    #product-category, #product-gender, #product-sort {
        li > a {
            //.custom-radiobutton();
        }
        li ul {
            overflow-y: auto;
            li {
                border: none;
            }
            &.level-1 {
                margin-left: 1px;
                li {
                    &:first-child {
                        margin-top: 4px;
                    }
                    &:last-child {
                        margin-bottom: 4px;
                    }
                    padding-left: 10px;
                }
            }
            &.level-2 {
                margin-left: -8px;
                li {
                    &:first-child {
                        margin-top: 4px;
                    }
                    &:last-child {
                        margin-bottom: 4px;
                    }
                    padding-left: 20px;
                }
            }
            &.level-3 {
                margin-left: -20px;
                li {
                    padding-left: 30px;
                }
            }
        }
    }

    #product-price {
        #discount-price {
            //.custom-checkbox();
            color: @like-color;
        }
        #price-min, #price-max {
            padding-bottom: 5px;
            span {
                font-weight: bold;
            }
        }
        #price-min {
            float: left;
        }
        #price-max {
            float: right;
        }
        #price-ruler {
            width: 100%;
            height: 4px;
            margin-top: 6px;
            margin-left: 2px;
            margin-right: 3px;
            background: transparent url("../images/slider-ruler-bg.png") repeat-x scroll 2px top;
            .point {
                width: 33.3%;
                margin-top: 3px;
                font-size: 11px;
                color: @light_gray_color;
                &.min {
                    float: left;
                }
                &.max {
                    float: left;
                    text-align: right;
                }
                &.mid {
                    float: left;
                    text-align: center;
                }
            }
        }
        #price-slider {
            clear: both;
            border-radius: 6px;
            border-color: @light_gray_color;
            margin: 0 3px 0 3px;
            .ui-slider-handle {
                background: transparent url("../images/slider-handle.png") no-repeat scroll center center;
                width: 9px;
                height: 22px;
                border: none;
                margin-left: -4px;
                border-radius: 0;
            }
            .ui-widget-header {
                border: none;
                background-image: url("../images/slider-range-bg.png");
            }
        }
    }

    #product-color {
        @color_width: 21px;
        @color_height: 19px;
        @color_row_offset: 10px;
        @color_column_offset: 1px;
        li {
            background: none;
            border: none;
            padding: 0;
            height: @color_height;
            a {
                @y_selected: -@color_height;
                @y_filtered: -@color_height + @y_selected;
                display: inline-block;
                background: transparent url("../images/sprite-colors.png") no-repeat 50% 50%;
                text-indent: -9999em * 12px / 1em;
                overflow: hidden;
                text-align: left;
                width: @color_width;
                height: @color_height;
                &.black {
                    background-position: 0 0;
                    &.selected {
                        background-position: 0 @y_selected;
                    }
                    &.filtered {
                        background-position: 0 @y_filtered;
                    }
                }
                &.grey {
                    @x: -@color_width;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.white {
                    @x: -@color_width * 2;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.beige {
                    @x: -@color_width * 3;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.brown {
                    @x: -@color_width * 4;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.red {
                    @x: -@color_width * 5;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.orange {
                    @x: -@color_width * 6;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.yellow {
                    @x: -@color_width * 7;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.green {
                    @x: -@color_width * 8;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.blue {
                    @x: -@color_width * 9;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.magenta {
                    @x: -@color_width * 10;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.purple {
                    @x: -@color_width * 11;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.pink {
                    @x: -@color_width * 12;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.gold {
                    @x: -@color_width * 13;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.silver {
                    @x: -@color_width * 14;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.striped {
                    @x: -@color_width * 15;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.checkers {
                    @x: -@color_width * 16;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
                &.dotted {
                    @x: -@color_width * 17;
                    background-position: @x top;
                    &.selected {
                        background-position: @x @y_selected;
                    }
                    &.filtered {
                        background-position: @x @y_filtered;
                    }
                }
            }
        }
    }

    #product-manufacturers {
        &.active #selected-manufacturers {
            padding: 10px 0 0 0;
        }
        #selected-manufacturers li a {
            //.custom-checkbox();
            &:before {
                background-position: -14px 0px;
            }
        }
        #available-manufacturers {
            height: 200px;
            overflow-y: auto;
            margin-top: 10px;
            padding-left: 5px;
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            li > a {
                //.custom-checkbox();
            }
        }
    }
}