body.contest-stylesearch-charts {
    .look-medium {
        margin-bottom: 20px;
        .caption { display: none; }
    }

    .col-text {
        height: 100px;
        > div {
            > p {
                font-size: 24px;
            }
        }

        @media (min-width: @grid-float-breakpoint) {
            position: relative;
            > div {
                display: table;
                width: 100%;
                height: auto;
                margin: auto;
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
                text-align: center;
            }
        }

        @media (min-width: @screen-tablet) {
            height: 279px;
            > div {
                width: 375px;
            }
        }

        @media (min-width: @screen-desktop) {
            height: 361px;
            > div {
                width: 485px;
            }
        }

        @media (min-width: @screen-lg-desktop) {
            height: 416px;
            > div {
                width: 585px;
            }
        }
    }
}

body.contest-stylesearch {
    h1 {
        .body-header-h1;
        text-align: center;
    }
    h2 {
        .body-header-ul;
        text-align: center;
        margin-bottom: 40px !important;
    }

    .media-container {
        text-align: center;
    }

    .media {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    .contest-image {
        @media (min-width: @grid-float-breakpoint) {
            .pull-left;
            margin-right: 10px;
        }
        text-align: center;
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .contest-text {
        @media (min-width: @grid-float-breakpoint) {
            max-width: 300px;
        }
        > p:first-child {
            margin-top: 20px;
        }
        > p:first-child, > p:nth-child(3) {
            margin-bottom: 0;
        }

        ol p {
            margin-bottom: 5px;
        }

        .btn {
            margin-bottom: 5px;
        }
        .heart {
            color: @like-color;
        }
    }

    .small-text {
        margin-top: 60px;
        margin-bottom: 10px;
        small {
            display: block;
            text-align: center;
            color: @gray-light;
            &:last-child {
                margin-top: 20px;
            }
        }
    }
}
