.look-detail-page {
    .body-header {
        .draft-text.published {
            display: none;
        }
        h2 {
          display: block;
          margin-top: 10px;
          a:hover {
            border: 0;
          }
        }
        h2.body-header-ul {
            display: block;
            margin-top: 10px;
            a:hover {
                border: 0;
            }
        }
        .body-header-col-full .btn {
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }
    // Float like button after look title
    @media (min-width: @screen-tablet) {
        .body-header-col-full > .float-container {
            > * { float: left; }
            .btn { margin-top: 18px; }
            .clearfix;
        }
    }

    // Looks component
    .list-looks {
        .make-row(10px);
        .col-list-look {
            .make-sm-column(6, 10px);
            margin-bottom: 10px;
            img {
                margin: 0 auto;
            }
        }
    }

    .share {
        margin-top: 20px;
    }

    .tooltip {
        display: none;
    }

    .look-main-content {
        margin-top: 20px;
        margin-bottom: 10px;
        padding-top: 10px;
        border-top: 3px solid #000000;
        > .btn {
            margin-bottom: 10px;
        }
        > p {
            margin-top: 10px;
        }
        .btn-publish.published {
            display: none;
        }
        .btn-unpublish {
            display: none;
            &.published {
                display: inline-block;
            }
        }
    }
}


.look-create-page {
   .look-choice {
       margin-bottom: 20px;
       > div {
           text-align: center;
       }
       img {
           margin-bottom: 10px;
           margin-left: auto;
           margin-right: auto;
       }
       .btn {
           margin-bottom: 30px;
       }
   }
}

//
// Look product popovers
// -----------------------------------------------------------------------------

.popover {
    border-radius: 0;
    .popover-content {
        padding: 9px;
    }
    .popover-product {
        min-width: 200px;
        max-width: 280px;
        .media-body {
            text-align: center;
        }
        h4 {
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 0;
        }
        ul {
            margin-bottom: 0;
            li:first-child {
                padding-left: 0;
                padding-right: 10px;
            }
            li:last-child {
                padding: 0;
            }
        }
    }
}

//
// Collage and photo
// -----------------------------------------------------------------------------

.look-hotspot {
    position: relative;
    margin: 0 auto;
    .hotspot, .ar-hotspot {
        position: absolute;
        width: 40px;
        height: 40px;
        background: rgba(255,255,255,0.1);
        border-radius: 50%;
        border: 2px solid rgba(255,255,255,0.5);
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
        background-size: contain;
        cursor: pointer;
        @media (max-width: @screen-xs) {
          width: 40px;
          height: 40px;
        }
    }
}

.look-container {
    background-repeat: no-repeat;
    background-size: contain;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.look-collage .collage-image {
  &.flipped img {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1); // IE9+
    transform: scale(-1, 1);
  }
  img {
    width: 100% !important;
    height: auto !important;
  }
}

#photo, #collage {
    position: relative;
    .product {
        position: absolute;
    }
}

#collage {
    .delete {
        display: none;
    }
}

#collage, #photo-background, #photo {
    .ui-wrapper {
        position: absolute;
        opacity: 0.8;
    }
    .delete {
        position: absolute;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #FFF;
        text-shadow: 0 0 1px rgba(0,0,0,0.5);
        right: -14px;
        top: -23px;
        &:hover {
          opacity: 0.5;
        }
    }
    .ui-state-disabled, .ui-widget-content .ui-state-disabled {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 1;
        .close {
            display: none;
        }
    }
}

#photo-background, #photo {
    .look-hotspot;
    .delete {
        z-index: 10001;
    }
}

#collage-background {
    position: relative;
    border: 1px solid @gray-lighter;
    .component-wrapper {
      position:absolute;
      top:50%;
      left:50%;
      .translate(-50%, -50%);
    }
    .product {
        position: absolute;
    }
}

.look-medium {
    margin: 0 auto;
    max-width: 560px;
    position: relative;
    border: 0;
    padding: 0;
    .caption {
        margin-bottom: 30px;
        height: @caption_height;
    }
    h4 {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        a {
            display: inline-block;
            padding: 0;
        }
    }
    p {
        text-align: center;
    }
    .hover {
        display: none;
        position: absolute;
        right: 0;
        bottom: @caption_height;
        left: 0;
    }
}

.look-editor-page {
  .product {
    border: 1px solid transparent;
    .ui-resizable-handle, .ui-rotatable-handle, .delete {
      display: none;
    }
    &.active {
      border: 1px solid #67e2b8;
      .ui-resizable-handle, .ui-rotatable-handle, .delete {
        display: block;
      }
    }
    &.hover {
      border: 1px solid #67e2b8;
    }
  }
}

.look-editor-photo-page #startsplash {
  display: none;
}

.lookedit_toolbar {
  display: none;
}

.look-editor-collage-page {
  .lookedit_toolbar {
    z-index:1000;
    img {
      width: 16px;
      height: 16px;
      margin-bottom: 3px;
    }
    &.active {
      display: block;
    }
    position: absolute;
    width: 100%;

    @media (max-width: @screen-xs-max) {
      span {
        display: none;
      }
    }
    background: @lighter_gray_color;
    overflow: hidden;
    .section {
      float: left;
      box-sizing: border-box;
      width: 20%;
      text-align: center;

      a {
        display: block;
        padding: 8px 0px;
        font-size: 15px;

        &:hover {
          color: #000;
          opacity: 0.5;
        }
        &:focus {
          color: #000;
        }
      }
    }
  }
  .product.flipped img {
    -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1); // IE9+
          transform: scale(-1, 1);
  }
}

.widget-page {
    background-color: #ffffff;
    #content-container {
      .content-row {
          margin-left: 0px;
          margin-right: 0px;
          @media (min-width: @screen-md) {
             margin-left: -15px;
             margin-right: -15px;
          }
          > .col-md-6 {
            padding-left: 0px;
            padding-right: 0px;
            @media (min-width: @screen-md) {
               background: #FFF;
              padding-left: 15px;
              padding-right: 15px;
            }
          }
          > .col-md-6:last-child {
            @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
               padding:15px;
               background:rgba(0,0,0,0.3);
            }
          }
        }
        padding-bottom: 0px;
        @media (min-width: @screen-md) {
          padding-left: 15px;
          padding-right: 15px;
        }
    }

    #startsplash {
      position: absolute;
      width: 100%;
      top: 50%;
      text-align: center;
      @media (min-width: @screen-md) {
        top: 55%;
        width: 50%;
      }
    }

    #edit-look {
        width: 100%;
        float: left;
        position: relative;
        #collage {
          @media (min-width: @screen-md) {
            border: 2px solid @lighter_gray_color;
          }
          border-top: 0px;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
        #image-form {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 360px;
            max-width: 80%;
            height: 120px;
            margin-top: -60px;
            .translate(-50%, 0);
            .loading {
                text-align: center;
                img {
                    vertical-align: middle;
                }
            }
            .upload-field {
                width: auto;
                height: auto;
                position: relative;
            }
        }

        // Override backgrounds for jQuery UI icons
        .ui-icon {
            background-image: none;
            background-position: 0 0;
        }

        // Resizable
        .ui-resizable-handle {
            width: 9px;
            height: 9px;
            background:#FFF;
            border: 1px solid #67e2b8;
            position: absolute;
        }

        .ui-resizable-se {
            bottom: -5px;
            right: -5px;
        }

        .ui-resizable-sw {
            bottom: -5px;
            left: -5px;
        }

        .ui-resizable-ne {
            top: -5px;
            right: -5px;
        }

        .ui-resizable-nw {
            top: -5px;
            left: -5px;
        }

        .ui-rotatable-handle {
            position: absolute;
            z-index: 99999;
        }
        .ui-rotatable-n {
          background: transparent url("../images/rotate.png") no-repeat scroll center center;
          width: 16px;
          height: 16px;
          background-size: contain;
          .translate(-50%, 0);
          top: -22px;
          left: 50%;
        }
        .ui-rotatable-nw {
            top: -11px;
            left: -11px;
            width: 23px;
            height: 23px;
            background: transparent url("../images/rotate-nw.png") no-repeat scroll center center;
        }

        .ui-rotatable-ne {
            top: -11px;
            right: -11px;
            width: 23px;
            height: 23px;
            background: transparent url("../images/rotate-cw.png") no-repeat scroll center center;
        }

        .ui-rotatable-sw {
            bottom: -11px;
            left: -11px;
            width: 23px;
            height: 23px;
            background: transparent url("../images/rotate-ccw.png") no-repeat scroll center center;
        }

    }

    #product-chooser {
        position: relative;
        overflow: hidden;
        #product-tabs > li {
            > a {
                border-radius: 0;
            }
        }
    }

    #popup-slim {
        &.adjust-right {
          left: 75%;
        }
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        .translate(-50%, -50%);
        @media (min-width: @screen-sm) {
          .box-shadow(0 0 10px rgba(0, 0, 0, .25));
        }
        z-index: 10090;
        min-width: 320px;
        max-width: 594px;
        .header {
            height: 40px;
            line-height: 40px;
            background-color: #000000;
            h5 {
                font-size: 1.3em;
                color: #fff;
                padding: 0 10px;
                float: left;
            }
            .close {
                float: right;
                .at2x('../images/apprl_kryss.png', 28px, 28px);
                width: 28px;
                height: 28px;
                margin-right: 6px;
                margin-top: 6px;
                margin-bottom: 6px;
                opacity: 0.8;
                &:hover {
                  opacity: 1;
                }
            }
        }
        .content-container {
            background-color: #ffffff;
            padding: 20px;
            .content {
                &.center {
                    text-align: center;
                }
                .privacy {
                    font-size: 11px;
                }
            }
            .loading {
                margin: 20px
            }
        }
        .product-container {
          .btn-success {
            width: 100%;
            margin-top: 10px;
          }
        }
        .add-container {
          text-align:center;
        }
    }


    footer {
        display: none;
    }
}

