.look-create-page {
   .look-choice {
       margin-bottom: 20px;
       > div {
           text-align: center;
       }
       img {
           margin-bottom: 10px;
       }
       .btn {
           margin-bottom: 30px;
       }
   }
}

.look-medium {
    margin: 0 auto;
    max-width: 560px;
    position: relative;
    border: 0;
    padding: 0;
    &.look-collage img {
        border: 1px solid #eeeeee;
    }
    h4 {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        a {
            display: inline-block;
            padding: 6px 0;
            color: #000000;
            /*text-decoration: none;*/
        }
    }
    p {
        a {
            color: #000000;
            font-weight: bold;
        }
        text-align: center;
    }
    .hover {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 140px;
        height: 84px;
        margin: auto;
        ul {
            width: 140px;
            margin-bottom: 0;
            li {
                margin-bottom: 15px;
            }
        }
    }
}
