body.look-create {
   .look-choice {
       margin-bottom: 20px;
       > div {
           text-align: center;
       }
       img {
           margin-bottom: 10px;
       }
       .btn {
           margin-bottom: 30px;
       }
   }
}
