.create-product-widget-page #product-widget-preview {
  width: 100%;
  float: left;
  position: relative;
}
.create-product-widget-page #product-widget-preview .product-list-container {
  overflow: auto;
  border: 2px solid #d9d9d9;
  border-top: 0px;
}
.create-product-widget-page #product-widget-preview .preview-header {
  background: #e6e6e6;
  width: 100%;
  text-align: center;
  padding: 9px 0px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
}
.create-product-widget-page #product-widget-preview .previous {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 40px;
  height: auto;
  z-Index: 10;
  cursor: pointer;
}
.create-product-widget-page #product-widget-preview .next {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 40px;
  height: auto;
  z-Index: 10;
  cursor: pointer;
}
#product-widget-product-list {
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
#product-widget-product-list .previous {
  display: block;
  /*position: absolute;*/
  top: 50%;
  /*transform: translate(0, -50%);*/
  left: -10px;
}
#product-widget-product-list .next {
  display: block;
  /*position: absolute;*/
  top: 50%;
  /*transform: translate(0, -50%);*/
  right: -10px;
}
#product-widget-product-list .product-list {
  position: relative;
}
#product-widget-product-list .col-product-item {
  float: left;
}
#product-widget-product-list.liked-products .hover {
  display: none !important;
}
#product-widget-product-list .product-medium {
  margin: 0px;
  max-width: none;
}
#product-widget-product-list .product-medium .caption {
  display: none;
}
#product-widget-product-list .product-image-container {
  position: relative;
}
#product-widget-product-list .product-image-container .product-image {
  opacity: 1;
}
#product-widget-product-list .product-image-container .product-image.product-image-actual {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#product-widget-product-list .product-image-container .product-image.fake-product-image {
  width: 100%;
  height: 100%;
}
#product-widget-product-list .product-image-container .hover {
  bottom: auto;
  top: 50%;
  z-index: 2;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
#product-widget-product-list .product-image-container .hover .btn {
  margin-bottom: 10px;
}
.show-liked .product-image-container .product-image {
  opacity: 1 !important;
}
.show-liked .product-image-container .hover {
  display: none !important;
}
.shop-list .shop:nth-child(3n+1) {
  clear: left;
}
.shop-list .shop .shop-title {
  margin-top: 15px;
  margin-bottom: 2px;
}
.shop-list .shop .shop-title a {
  font-weight: 800;
}
.shop-list .shop:nth-child(-n+3) .shop-title {
  margin-top: 0;
}
.shop-list .shop .status {
  font-size: 90%;
}
.shop-list .shop .status.published {
  color: green;
}
.shop-list .shop .status.unpublished {
  color: red;
}
