.create-store-page {
  #shop-preview {
    width: 100%;
    float: left;
    .product-list-container {
      overflow: hidden;
      border-bottom: 1px solid @light_gray_color;
    }
  }

  #content-container {
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.shop-list {
  .shop {
    &:nth-child(3n+1) {
      clear: left;
    }
    .shop-title {
      margin-top: @grid-gutter-width / 2;
      margin-bottom: 2px;
      a {
        font-weight: 800;
      }
    }
    &:nth-child(-n+3)  {
      .shop-title {
        margin-top: 0;
      }
    }

    .status {
      font-size: 90%;
      &.published {
        color: green;
      }

      &.unpublished {
        color: red;
      }
    }
  }
}