//
// Variables
// --------------------------------------------------

@footer_bg_color: #e6e6e6;
@light_green_color: #67e2b8;//60d1ab;
@gray_color: #999999;
@dark_gray_color: #666666;
@darkest_gray_color: #333333;
@light_gray_color: #d9d9d9;
@like-color: #e27b67; //#c95050;


@btn-custom-default-color: #bfbfbf;


@brand-primary: @gray-dark;
