//
// Variables
// --------------------------------------------------

@footer_bg_color: #e6e6e6;
@gray_color: #999999;
@dark_gray_color: #666666;
@darkest_gray_color: #333333;
@light_gray_color: #d9d9d9;
@lighter_gray_color: #E6E6E6;
@like-color: #e27b67; //#c95050;

@blue-gray-color: #7d8991;

@btn-custom-default-color: #bfbfbf;


@brand-facebook: #3b5999;

@brand-success: #67e2b8; //60d1ab;
@brand-danger: #d65180;
@brand-primary: @gray-dark;



@caption_height: 60px;


// Look
// -----------------
@look_height: 594px;
