#photo-markers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#photo-markers .hotspot {
  background-image: url('../images/look-hotspot.png');
  position: absolute;
}
.container {
  position: static;
}
html.look-type-C {
  height: 100%;
}
html.look-type-C body,
html.look-type-C .container,
html.look-type-C .collage {
  height: 100%;
}
html.look-type-C .container,
html.look-type-C .collage {
  box-sizing: border-box;
}
#product-chooser {
  position: relative;
  overflow: hidden;
  width: 100%;
}
#product-chooser #product-tabs > li {
  background-color: #e6e6e6;
  font-size: 16px;
}
#product-chooser #product-tabs > li > a {
  border-radius: 0;
  padding: 6px 13px;
  font-weight: bold;
}
#product-chooser #product-filter {
  border-bottom: 3px solid #000000;
}
#product-chooser #product-filter .middle-filters {
  padding: 10px 0;
}
#product-chooser #product-filter .middle-filters .form-control-wrapper {
  overflow: hidden;
}
#product-chooser #product-filter .middle-filters #product-filter-gender {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  float: left;
  width: 150px;
}
#product-chooser #product-filter .middle-filters #product-filter-gender li {
  padding: 0;
}
#product-chooser #product-filter .middle-filters #product-filter-gender li > a {
  display: inline-block;
  padding: 1px 5px;
}
#product-chooser #product-filter .middle-filters #product-filter-gender li > a:before {
  margin-right: 5px;
  margin-bottom: 2px;
  display: inline-block;
  content: '';
  width: 14px;
  height: 14px;
  vertical-align: middle;
  background-position: 0 0;
  background-image: url("../images/radiobutton.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #product-chooser #product-filter .middle-filters #product-filter-gender li > a:before {
    background-image: url("../images/radiobutton@2x.png");
    background-size: 28px 14px;
  }
}
#product-chooser #product-filter .middle-filters #product-filter-gender li > a.selected:before {
  background-position: -14px 0px;
}
#product-chooser .product-list-container {
  padding: 0 10px;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
#product-chooser .product-list-container #product-list-empty,
#product-chooser .product-list-container #product-list-unauthenticated {
  padding: 10px;
  display: none;
  text-align: center;
}
#product-chooser .product-list-container #product-list-empty p,
#product-chooser .product-list-container #product-list-unauthenticated p {
  padding: 15px 0;
}
#product-chooser .product-list-container #product-list {
  margin-bottom: 0;
  padding: 10px;
  height: 340px;
  overflow-y: scroll;
}
#product-chooser .product-list-container #product-list > li .product-small {
  position: relative;
  width: 112px;
  margin: 0;
  text-align: center;
}
#product-chooser .product-list-container #product-list > li .product-small .image-small {
  display: block;
  width: 112px;
  height: 145px;
  line-height: 145px;
}
#product-chooser .product-list-container #product-list > li .product-small .image-small img {
  max-height: 145px;
  max-width: 112px;
  vertical-align: middle;
}
#product-chooser .product-list-container #product-list > li .product-small .hover {
  position: absolute;
  width: 92px;
  height: 82;
  top: 32px;
  left: 10px;
  right: 10px;
  display: none;
}
#product-chooser .product-list-container #product-list > li .product-small .hover a {
  margin-bottom: 10px;
}
#product-chooser .product-list-container #product-list > li .product-small .caption {
  padding-top: 10px;
  height: 50px;
}
#product-chooser .product-list-container #product-list > li .product-small .caption p {
  font-size: 11px;
  margin-bottom: 0;
}
#product-chooser .product-list-container #product-list > li .product-small .caption h4 {
  font-size: 12px;
  margin: 0;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
#product-chooser .product-filter-container {
  padding: 0 10px;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
#product-chooser .product-filter-container .hidden-filters li:first-child {
  padding-left: 0;
}
#product-chooser .product-filter-container .hidden-filters li:last-child {
  padding-right: 0;
}
#product-chooser .product-filter-container .hidden-filters .dropdown-menu {
  max-height: 240px;
  overflow-y: scroll;
}
#product-list .product-list.hide-captions .caption {
  display: none;
}
.widget-footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
  background-color: #FFFFFF;
}
.widget-footer .btn {
  width: 100%;
}
.widget-footer .btn-touch-menu {
  background-color: #68e2b9;
  color: #FFFFFF;
}
.widget-footer .btn-add-item {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
}
.widget-footer .touch-menu-col {
  width: 73px;
  padding-left: 3px;
  float: right;
}
.widget-footer .add-item-col {
  overflow: hidden;
}
#shop-product-list .product-small {
  position: relative;
  margin: 0;
  text-align: center;
}
#shop-product-list .product-small .image-small {
  display: block;
  width: 100%;
  height: auto;
}
#shop-product-list .product-small .image-small img {
  vertical-align: middle;
}
#shop-product-list .product-small .delete {
  display: none;
  position: absolute;
  height: 22px;
  width: 22px;
  background: transparent url("../images/delete.png") no-repeat scroll center center;
  right: -11px;
  top: -11px;
}
#shop-product-list .product-small .hover {
  position: absolute;
  width: 92px;
  height: 82;
  top: 32px;
  left: 10px;
  right: 10px;
  display: none;
}
#shop-product-list .product-small .hover a {
  margin-bottom: 10px;
}
#shop-product-list .product-small .caption {
  padding-top: 10px;
  height: 50px;
}
#shop-product-list .product-small .caption p {
  font-size: 11px;
  margin-bottom: 0;
}
#shop-product-list .product-small .caption h4 {
  font-size: 12px;
  margin: 0;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
