#photo-markers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#photo-markers .hotspot {
  background-image: url('../images/look-hotspot.png');
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-size: contain;
  width: 80px;
  height: 80px;
}
@media (max-width: 480px) {
  #photo-markers .hotspot {
    width: 40px;
    height: 40px;
  }
}
.container {
  position: static;
}
html.look-type-C {
  height: 100%;
}
html.look-type-C body,
html.look-type-C .container,
html.look-type-C .collage {
  height: 100%;
}
html.look-type-C .container,
html.look-type-C .collage {
  box-sizing: border-box;
}
@media (max-width: 320px) {
  html.look-type-C .container .tooltip {
    width: 240px;
  }
  html.look-type-C .container .tooltip .tooltip-container {
    width: 220px;
  }
  html.look-type-C .container .tooltip .tooltip-container .product-meta {
    width: 120px;
  }
  html.look-type-C .container .tooltip .tooltip-container .product-meta .vendor_button {
    width: 120px;
  }
  html.look-type-C .container .tooltip .tooltip-container .product-meta .vendor_button .alternative {
    font-size: 9px;
  }
}
