@import "./../bootstrap/less/variables.less";
@import "./variables.less";
@import "./retina.less";
@import "./utils.less";



#photo-markers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .hotspot {
    background-image: url('../images/look-hotspot.png');
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-size: contain;
    width: 80px;
    height: 80px;
    @media (max-width: 480px) {
      width: 40px;
      height: 40px;
    }
  }
}
.container {
  position: static;
}

html.look-type-C {
  height: 100%;

  body, .container, .collage {
    height: 100%;
  }

  .container, .collage {
    box-sizing: border-box;
  }
}

#product-chooser {
    position: relative;
    overflow: hidden;
    width: 100%;

    #product-tabs > li {
        background-color: @lighter_gray_color;
        > a {
            border-radius: 0;
            padding: 6px 13px;
            font-weight: bold;
        }
        font-size: 16px;
        display: table-cell;
        width: 1%;
        &:last-child {
          padding-right: 38px;

          @media (min-width: @screen-md) {
            padding-right: 0px;
          }
        }
        @media (max-width: @screen-xs-max) {
          span {
            display: none;
          }
          &.active span {
            display: inline;
          }
        }
    }

    a.close-product-chooser {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 7px;
      @media (min-width: @screen-md) {
        display: none;
      }
    }

    #product-filter {
        border-bottom: 3px solid #000000;
        .middle-filters {
            padding: 10px 0;
            .form-control-wrapper {
              overflow: hidden;
            }
            #product-filter-gender {
                padding-top: 5px;
                padding-bottom: 5px;
                margin-bottom: 0;
                float:left;
                width: 150px;
                li {
                    padding: 0;
                }
                li > a {
                    .custom-radiobutton(1px 5px);
                }
            }
        }
    }

    .product-list-container {
        padding: 0 10px;
        border-left: 1px solid @light_gray_color;
        border-right: 1px solid @light_gray_color;
        border-bottom: 1px solid @light_gray_color;
        #product-list-empty, #product-list-unauthenticated {
            padding: 10px;
            display: none;
            text-align: center;
            p {
                padding: 15px 0;
            }
        }


        #product-list {
            margin-bottom: 0;
            padding: 10px;
            height: 340px;
            overflow-y: scroll;
            > li {
                .product-small {
                    position: relative;
                    width: 112px;
                    margin: 0;
                    text-align: center;
                    .image-small {
                        display: block;
                        width: 112px;
                        height: 145px;
                        line-height: 145px;
                        img {
                            max-height: 145px;
                            max-width: 112px;
                            vertical-align: middle;
                        }
                    }
                    .hover {
                        position: absolute;
                        width: 92px;
                        height: 82;
                        top: 32px;
                        left: 10px;
                        right: 10px;
                        display: none;
                        a {
                            margin-bottom: 10px;
                        }
                    }
                    .caption {
                        padding-top: 10px;
                        height: 50px;
                        p {
                            font-size: 11px;
                            margin-bottom: 0;
                        }
                        h4 {
                            font-size: 12px;
                            margin: 0;
                            white-space: nowrap;
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }

    }
    .product-filter-container {
        padding: 0 10px;
        border-left: 1px solid @light_gray_color;
        border-right: 1px solid @light_gray_color;
        .hidden-filters {
            li:first-child {
                padding-left: 0;
            }
            li:last-child {
                padding-right: 0;
            }
            .dropdown-menu {
                max-height: 240px;
                overflow-y: scroll;
            }
        }
    }
}

.widget-footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
  background-color: #FFFFFF;
  .btn {
    width: 100%;
  }
  .btn-touch-menu {
    background-color: #68e2b9;
    color: #FFFFFF;
  }
  .btn-add-item {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
  }
  .touch-menu-col {
    width: 73px;
    padding-left: 3px;
    float: right;
  }
  .add-item-col {
    overflow: hidden;
  }
}

html.look-type-C, html.look-type-P {
  // Fix for really small screens...
  @media (max-width: 320px) {
    .container .tooltip {
      width: 240px;
      .tooltip-arrow {
        display: none;
      }
      .tooltip-container {
        width: 220px;
        .product-meta {
          width: 120px;
          .vendor_button {
            width: 120px;
            .alternative {
              font-size: 9px;
            }
          }
          h2 {
            margin-top: 5px;
          }
        }
      }
      .close {
        background-image: url('../images/cross.png');
        background-size: contain;
        width: 18px;
        height: 18px;
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }
}