@import "./../bootstrap/less/variables.less";
@import "./variables.less";
@import "./retina.less";
@import "./utils.less";



#photo-markers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .hotspot {
    background-image: url('../images/look-hotspot.png');
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-size: contain;
    width: 80px;
    height: 80px;
    @media (max-width: 480px) {
      width: 40px;
      height: 40px;
    }
  }
}

@media (min-width: @screen-tablet) {
  .widget-page {
    #popup-slim {
      .body-header-col-right {
        width: 100%;
        > ul > li {
          width: 100%;
          .btn {
            width: 100%;
            margin-top: 10px;
          }
        }
      }
      .product-image img{
        margin: 0 0;
      }
    }
    .popup-slim-widget-popup {
      display: none;
    }
  }
}

#popup-slim .product-image img {
  margin: 0 auto !important;
}

.container {
  position: static;
}

html.look-type-C {
  height: 100%;

  body, .container, .collage {
    height: 100%;
  }

  .container, .collage {
    box-sizing: border-box;
  }
}

#product-chooser {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #FFF;

    .disabled {
      background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 10;
    }

    #product-tabs > li {
        background-color: @lighter_gray_color;
        > a {
            border-radius: 0;
            border: 2px solid @lighter_gray_color;
            border-bottom: 0px;
            padding: 8px 13px;
            margin-bottom: 0px;
        }
        &.active a {
          background-color: #FFF;
        }
        font-size: 15px;
        display: table-cell;
        width: 1%;
        &:last-child {
          padding-right: 38px;

          @media (min-width: @screen-md) {
            padding-right: 0px;
          }
        }
        @media (max-width: @screen-xs-max) {
          span {
            display: none;
          }
          &.active span {
            display: inline;
          }
        }
    }

    a.close-product-chooser {
      width: 40px;
      height: 40px;
      padding: 9px;
      position: absolute;
      right: 0px;
      top: 0px;
      @media (min-width: @screen-md) {
        display: none;
      }
    }

    #product-filter {
        .middle-filters {
            padding: 10px 0;
            .form-control-wrapper {
              overflow: hidden;
            }
            #product-filter-gender {
                padding-top: 5px;
                padding-bottom: 5px;
                margin-bottom: 0;
                float:left;
                width: 150px;
                li {
                    padding: 0;
                }
                li > a {
                    .custom-radiobutton(1px 5px);
                }
            }
        }
        ul.hidden-filters {
          margin-left: 0px;
        }
    }

    .product-list-container {
        padding: 0 10px;
        @media (min-width: @screen-md) {
          border-left: 2px solid @light_gray_color;
          border-right: 2px solid @light_gray_color;
          border-bottom: 2px solid @light_gray_color;
        }
        #product-list-empty, #product-list-unauthenticated {
            padding: 10px;
            display: none;
            text-align: center;
            p {
                padding: 15px 0;
            }
        }


        #product-list {
            margin-bottom: 0;
            padding: 10px;
            height: 340px;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            > li {
                @media (max-width: 320px) {
                  padding-left: 15px;
                  padding-right: 15px;
                }
                .product-small {
                    position: relative;
                    width: 112px;
                    margin: 0;
                    text-align: center;
                    .image-small {
                        display: block;
                        width: 112px;
                        height: 145px;
                        line-height: 145px;
                        img {
                            max-height: 145px;
                            max-width: 112px;
                            vertical-align: middle;
                        }
                    }
                    .hover {
                        position: absolute;
                        width: 112px;
                        height: 82;
                        top: 32px;
                        left: 0px;
                        right: 0px;
                        display: none;
                        a {
                            margin-bottom: 10px;
                        }
                    }
                    .caption {
                        padding-top: 10px;
                        height: 50px;
                        p {
                            font-size: 11px;
                            margin-bottom: 0;
                        }
                        h4 {
                            font-size: 12px;
                            margin: 0;
                            white-space: nowrap;
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }

    }
    .product-filter-container {
        padding: 0 10px 10px;
        @media (min-width: @screen-md) {
          border-left: 2px solid @light_gray_color;
          border-right: 2px solid @light_gray_color;
        }
        .btn {
          padding-top: 7px;
          padding-bottom: 7px;
          min-width: 100px;
        }
        .hidden-filters {
          margin-bottom: 0px;
            li:first-child {
                padding-left: 0;
            }
            li:last-child {
                padding-right: 0;
            }
            .dropdown-menu {
                max-height: 240px;
                overflow-y: scroll;
            }
        }
    }
}

#product-list .product-list.hide-captions .caption {
  display: none;
}

.widget-footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
  background-color: #FFFFFF;
  .btn {
    width: 100%;
  }
  .btn-touch-menu {
    background-color: #68e2b9;
    color: #FFFFFF;
  }
  .btn-add-item {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
  }
  .touch-menu-col {
    width: 73px;
    padding-left: 3px;
    float: right;
  }
  .add-item-col {
    overflow: hidden;
  }
}

#shop-product-list {
  .product-small {
    position: relative;
    margin: 0;
    text-align: center;
    .image-small {
      display: block;
      width: 100%;
      height: auto;
      img {
        vertical-align: middle;
      }
    }
    .delete {
      display: none;
      position: absolute;
      height: 22px;
      width: 22px;
      background: transparent url("../images/delete.png") no-repeat scroll center center;
      right: -11px;
      top: -11px;
    }
    .hover {
      position: absolute;
      width: 92px;
      height: 82;
      top: 32px;
      left: 10px;
      right: 10px;
      display: none;
      a {
        margin-bottom: 10px;
      }
    }
    .caption {
      padding-top: 10px;
      height: 50px;
      p {
        font-size: 11px;
        margin-bottom: 0;
      }
      h4 {
        font-size: 12px;
        margin: 0;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
html.look-type-C, html.look-type-P {
  // Fix for really small screens...
  @media (max-width: 320px) {
    .container .tooltip {
      width: 240px;
      .tooltip-arrow {
        display: none;
      }
      .tooltip-container {
        width: 220px;
        .product-meta {
          width: 120px;
          .vendor_button {
            width: 120px;
            .alternative {
              font-size: 9px;
            }
          }
          h2 {
            margin-top: 5px;
          }
        }
      }
      .close {
        background-image: url('../images/cross.png');
        background-size: contain;
        width: 18px;
        height: 18px;
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }
}