{% load i18n l10n apparel_extras compressed login_bar cache %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head{% block head-data %}{% endblock head-data %}>
    <title>{% block full-title %}{% block extra-title %}{% endblock %}Apprl - Social Shopping{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="description" content="{% spaceless %}{% block meta_description %}{% endblock %}{% endspaceless %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <link href='http://fonts.googleapis.com/css?family=Lato:400|IM+Fell+Great+Primer:400italic' rel='stylesheet' type='text/css'>
    {% compressed_css 'bootstrap' %}
    {% block extra-styles %}
    {% endblock extra-styles %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        var hasLiked = {% if user.is_authenticated and user.has_liked %}true{% else %}false{% endif %};
        var product_popup_url = '{% url "product-popup" %}';
        var look_popup_url = '{% url "look-popup" %}';
        var browse_url = '{% gender_url APPAREL_GENDER 'shop' %}';
        var isAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
        var share_settings = {
            'like_product': {% if user.is_authenticated and user.fb_share_like_product %}true{% else %}false{% endif %},
            'like_look': {% if user.is_authenticated and user.fb_share_like_look %}true{% else %}false{% endif %},
            'follow_profile': {% if user.is_authenticated and user.fb_share_follow_profile %}true{% else %}false{% endif %},
            'create_look': {% if user.is_authenticated and user.fb_share_create_look %}true{% else %}false{% endif %}
        };
        var selected_gender = '{{ APPAREL_GENDER }}';
        var facebook_scope = '{{ FACEBOOK_SCOPE }}';

        window.fbAsyncInit = function() {
            FB.init({appId: {{ FACEBOOK_APP_ID }}, status: true, cookie: true, xfbml: true, channelUrl: '//{{ CURRENT_DOMAIN }}/channel.html'});
            FB.getLoginStatus(function(response) {
                if(!response.authResponse) {
                    jQuery('#ar-facepile').html('').addClass('ar-facepile');
                } else {
                    {% block facebook_code %}{% endblock %}
                }
            });
        }
    </script>
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% compressed_js 'bootstrap' %}
    {% compressed_js 'main' %}
    <script type="text/javascript">
        window.login_function = function(callback) {
            FB.login(function(response) {
                if(response.authResponse) {
                    data = {uid: response.authResponse.userID, access_token: response.authResponse.accessToken};
                    $.post('/facebook/login', data, function(response) {
                        if(response) {
                            callback(response.next);
                        }
                    });
                }
            }, {scope: facebook_scope});
        };

        function facebookConnect(form){
            function handleResponse(response){
                if (response.authResponse) {
                    jQuery('input[name="access_token"]', form).val(response.authResponse.accessToken);
                    jQuery('input[name="uid"]', form).val(response.authResponse.userID);
                    form.submit();
                }
            }
            FB.login(handleResponse, {scope: '{{ FACEBOOK_SCOPE }}'});
        };
    </script>
    {% block 'extra-scripts' %}
    {% endblock 'extra-scripts' %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
        _gaq.push(['_setDomainName', '{{ GOOGLE_ANALYTICS_DOMAIN }}']);
        _gaq.push(['_setSiteSpeedSampleRate', 10]);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body class="{% if request.user.is_authenticated %}authenticated {% endif %}{% block body-classes %}{% endblock %}">

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="navbar-header">
            <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
            <button type="button" class="navbar-toggle navbar-left" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static "images/logo.png" %}" alt="Apprl">
            </a>
        </div>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <form action="{% url 'search' %}" class="navbar-form navbar-right" autocomplete="off" id="search">
                <input type="text" name="q" class="form-control" placeholder="{% trans "I'm looking for..." %}"></span>
                <!--<a href="{{ request.url }}" id="cancel-search">{% trans "Cancel" %}</a>-->
            </form>

            <ul class="nav navbar-nav navbar-nav-main">
                <li class="{% selected_url request "/shop" "/products" %}"><a href="{% gender_url APPAREL_GENDER 'shop' %}"><span>{% trans "Shop" %}</span></a></li>
                <li class="{% selected_url request "/looks" %}"><a href="{% gender_url APPAREL_GENDER 'look-list' %}"><span>{% trans "Looks" %}</span></a></li>
                <li class="{% selected_url request "/brands" "/users" %}"><a href="{% gender_url APPAREL_GENDER 'user-list' %}"><span>{% trans "Discover" %}</span></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-nav-login navbar-right">
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'auth_login' %}"><span>{% trans "Log in" %}</span></a></li>
                {% else %}
                <li class="dropdown {% selected_url request "/profile/settings" "/profile/"|add:request.user.slug %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ request.user.url_likes }}"><span>{{ request.user.display_name }} <b class="caret"></b></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ request.user.url_likes }}">{% trans "Your profile" %}</a></li>
                        {% if request.user.is_partner %}
                        <li><a href="{% url 'dashboard' %}">{% trans "Your statistics" %}</a></li>
                        {% endif %}
                        {% if request.user.advertiser_store %}
                        <li><a href="{% url 'advertiser-store-admin' %}">{% trans "Your store" %}</a></li>
                        {% endif %}
                        <li><a class="facebook-invite" href="#invite">{% trans "+ Invite friends" %}</a></li>
                        <li><a href="{% url 'look-create' %}">{% trans "+ Create look" %}</a>
                        <li><a href="{% url 'settings-notification' %}">{% trans "Settings" %}</a></li>
                        <li><a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% comment %} Disabled for now
    {% if not user.is_authenticated %}
    {% login_bar request.path %}
    {% endif %}
    {% endcomment %}

    <!--<div id="search-result" class="container">-->
        <!--<div id="inner-search-result" class="row">-->
            <!--<div class="wide result-container col-lg-4">-->
                <!--<h2 class="search-result-products">{% trans "Matching products" %}</h2>-->
                <!--<div class="product-list"><ul id="search-result-products" class="list"></ul></div>-->
                <!--<div class="search-link"><a class="search-result-products btn btn-block btn-upper" href="#" style="display:none;">{% trans "Show all products" %}</a></div>-->
            <!--</div>-->
            <!--<div class="result-container col-lg-4">-->
                <!--<h2 class="search-result-looks">{% trans "Matching looks" %}</h2>-->
                <!--<ul id="search-result-looks" class="looks"></ul>-->
                <!--<div class="search-link"><a class="search-result-looks btn btn-block btn-upper" href="#" style="display:none;">{% trans "Show all looks" %}</a></div>-->
            <!--</div>-->
            <!--<div class="last result-container col-lg-4">-->
                <!--<h2 class="search-result-manufacturers">{% trans "Matching brands" %}</h2>-->
                <!--<ul id="search-result-manufacturers"></ul>-->
                <!--<div class="search-link"><a class="search-result-manufacturers btn btn-block btn-upper" href="#" style="display:none;">{% trans "Show all manufacturers" %}</a></div>-->

                <!--<h2 class="search-result-stores">{% trans "Matching stores" %}</h2>-->
                <!--<ul id="search-result-stores"></ul>-->

                <!--<h2 class="search-result-profiles">{% trans "Matching members" %}</h2>-->
                <!--<ul id="search-result-profiles"></ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div id="content-container">
        {% block full-body %}
        <div class="container">
            {% block body-header %}{% endblock %}
            {% block body %}{% endblock %}
        </div>
        {% endblock %}
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <ul class="list-unstyled col-xs-6">
                            <li><h4>{% trans "Shop" %}</h4></li>
                            <li><a class="women" href="{% gender_url 'W' 'shop' %}">{% trans "Women" %}</a></li>
                            <li><a class="men" href="{% gender_url 'M' 'shop' %}">{% trans "Men" %}</a></li>
                            <li><a href="{% gender_url APPAREL_GENDER 'look-list' %}">{% trans "Looks" %}</a></li>
                            <li><a href="{% gender_url APPAREL_GENDER 'brand-list' %}">{% trans "Brands" %}</a></li>
                        </ul>
                        <ul class="list-unstyled col-xs-6">
                            <li><h4>{% trans "Language" %}</h4></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'django.views.i18n.set_language' %}"><span>{% get_language_text LANGUAGE_CODE %} <b class="caret"></b></span></a>
                                <ul id="language-dropdown" class="dropdown-menu">
                                    {% for language in LANGUAGES_DISPLAY %}
                                    <li><a data-language="{{ language.0 }}" href="#">{% trans language.1 %}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <ul class="list-unstyled col-xs-6">
                            <li><h4>{% trans "Follow us" %}</h4></li>
                            <li><a target="_blank" href="http://www.facebook.com/apprl">{% trans "Facebook" %}</a></li>
                            <li><a target="_blank" href="http://pinterest.com/apprl/">{% trans "Pinterest" %}</a></li>
                            <li><a target="_blank" href="{% url 'newsletter-redirect' %}">{% trans "E-mail newsletter" %}</a></li>
                        </ul>
                        <ul class="list-unstyled col-xs-6">
                            <li><h4>{% trans "Apprl" %}</h4></li>
                            <li><a href="{% url 'index-publisher' %}">{% trans "Bloggers" %}</a></li>
                            <li><a href="{% url 'index-store' %}">{% trans "Stores" %}</a></li>
                            <li><a href="mailto:info@apprl.com">{% trans "Contact" %}</a></li>
                            <li><a href="{% url 'django.contrib.flatpages.views.flatpage' url='about/terms-of-use/' %}">{% trans "Privacy & Terms" %}</a></li>
                            <li><a href="{% url 'django.contrib.flatpages.views.flatpage' url='about/cookies/' %}">{% trans "Cookies" %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <ul class="list-unstyled col-xs-6">
                            <li><h4>Apprl Fashion AB</h4></li>
                            <li>Sigtunagatan 6</li>
                            <li>113 22 Stockholm</li>
                            <li>{% trans "Sweden" %}</li>
                        </ul>
                        <div class="footer-social col-xs-6">
                            <div class="fb-like" data-href="https://facebook.com/apprl/" data-layout="button_count" data-send="false" data-width="100" data-show-faces="false"></div>
                            <div class="last">
                                <a data-pin-do="buttonFollow" href="http://pinterest.com/apprl/">APPRL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <form action="{% url 'apparelrow.apparel.views.apparel_set_language' %}" method="post" id="languageform">
        {% csrf_token %}
        <select name="language">
            {% for language in LANGUAGES_DISPLAY %}
            <option value="{{ language.0 }}">{% trans language.1 %}</option>
            {% endfor %}
        </select>
    </form>

    {% include 'apparel/fragments/dialog_like_product.html' with request=request only %}
    {% include 'apparel/fragments/dialog_like_look.html' with request=request only %}
    {% include 'apparel/fragments/dialog_create_look.html' with request=request only %}
    {% include 'apparel/fragments/dialog_follow_user.html' with request=request only %}
    {% include 'apparel/fragments/dialog_become_member.html' with request=request only %}
    {% include 'activity_feed/dialog_user_feed.html' with request=request only %}

<script type="text/javascript" src="{% static "js/money.min.js" %}"></script>
<script type="text/javascript">
  fx.base = 'SEK';
  fx.rates = {
    {% for currency, rate in currency_rates.items %}
    '{{ currency }}': {{ rate|unlocalize }},
    {% endfor %}
    'SEK': 1
  };
  var current_currency = '{{ CURRENCY }}';
  function formatNumber(num) {
    var array = parseInt(num, 10).toFixed().split('');
    var index = -3;
    while (array.length + index > 0) {
      array.splice(index, 0, ' ');
      index -= 4;
    }
    return array.join('');
  };
  function currencyConversion(elements) {
    elements.each(function(index, element) {
      var $element = jQuery(element);
      var data = $element.data();
      var converted_price = Math.round(fx.convert(data.price, {from: data.currency, to: current_currency}));
      $element.text(formatNumber(converted_price) + ' ' + current_currency);
  });
}
</script>

<div id="fb-root"></div>
<script type="text/javascript">
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/sv_SE/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>

{% include 'mouseflow.html' only %}

{% block body-scripts %}{% endblock body-scripts %}

{% block pinterest-scripts %}
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock %}

</body>
</html>
