{% load i18n %}
{% load facebook %}
{% load apparel_extras %}
<!doctype html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <title>{% block extra-title %}{% endblock %}Apparelrow</title>
    <meta charset="utf-8" />
    <link type="text/css" href="{{ MEDIA_URL }}styles/smoothness/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/print.css" type="text/css" media="print">
    {% block 'extra-styles' %}
    {% endblock 'extra-styles' %}
    
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("jquery", "1.4.2");
        google.load("jqueryui", "1.8.0");
        
        var isAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
        var isFirstTimeVisit = {% if user.is_authenticated and user.get_profile.first_visit %}true{% else %}false{% endif %};
    </script>
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/compiled/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/apparel.js"></script>
    <script type="text/javascript">
        
        jQuery(document).ready(function() {

            jQuery('.about-beta-popup').click(function(event) {
                jQuery('#error_dialog_template')
                    .render({
                        modal: false,
                        header: "{% trans "About ApparelRow beta" %}",
                        messages: [
                            "{% trans "Hi beta tester!" %}",
                            "{% trans "Right now, this site is only available to a few select individuals, who we believe can help make it better together with us. We appreciate all questions, suggestions, praise and problems we can get from you, the more the better! Just click on the 'Feedback' link to the right and share your thoughts." %}",
                            "{% trans "What's more, we're not sure we've found the right name for the site yet and we'd love your suggestion! If you have ideas for what to call the site, just click the button next to our logo and type in your suggestion. A top secret prize will be awarded to whoever suggests the name we eventually choose." %}",
                            "{% trans "Feel free to e-mail us at info@apparelrow.com." %}",
                            "{% trans "Have fun! /The team" %}"
                        ]
                    })
                    .appendTo('body')
                    .overlay({
                        mask: {
                            color: '#000',
                            loadSpeed: 200,
                            opacity: 0.5
                        },
                        load: true,
                        closeOnClick: false,
                        close: '.ok',
                        top: 100,
                        onClose: function(e) { this.getTrigger().remove() }
                    })
                ;
                event.preventDefault();
            });

            if(isAuthenticated && isFirstTimeVisit) {
                create_html_dialog('{% url profile.views.welcome_dialog %}', true, function() {
                    window.location.reload();
                });
            }

            jQuery('.facebook-close').click(function(event) {
                jQuery('#facebook-header').hide();
                jQuery('#search-result').removeClass('extra-facebook-header');
                var date = new Date();
                date.setTime(date.getTime()+(10000*24*60*60*1000));
                document.cookie = "arfbh=ok; expires="+date.toGMTString()+"; path=/";
            });
        });
    </script>
    {% block 'extra-scripts' %}
    {% endblock 'extra-scripts' %}
</head>
<body class="{% block body-classes %}{% endblock %}">

 <div id="outer">
    {% if not user.is_authenticated and not request.COOKIES.arfbh %}
    <div id="facebook-header">
        <div id="inner-facebook-header">
            <p>{% trans "Log in with your Facebook account to find your friends" %}</p>
            <a href="#" class="facebook-close"><img src="{{ MEDIA_URL|add:'images/close-blue.png' }}"></a>
            {% with MEDIA_URL|add:'images/facebook-'|add:LANGUAGE_CODE|add:'.png' as facebook_login_image %}
            {% facebook_button facebook_login_image %}
            {% endwith %}
        </div>
    </div>
    {% endif %}
    <div id="header">
        <div id="inner-header">
            <a href="/"><h1>ApparelRow</h1></a>

            <form action="/apparel/search" method="get" onsubmit="return false" id="search">
                <input type="text" name="s" placeholder="{% trans 'Search for products' %}" />
                <a href="{{ request.url }}" id="cancel-search">{% trans "Cancel" %}</a>
            </form>

            <div id="nav-gender">
                <a class="left{% if apparel_gender == 'W' %} selected{% endif %}" href="{% url gender-women %}?next={{ next }}">{% trans "Women" %}</a>
                <a class="right{% if apparel_gender == 'M' %} selected{% endif %}" href="{% url gender-men %}?next={{ next }}">{% trans "Men" %}</a>
            </div>

            <ul id="nav-main">
                <li><a class="{% selected_url request "/shop" %}" href="{% url apparel.browse.browse_products %}">{% trans "Shop" %}</a></li>
                <!--<li><a class="{% selected_url request "/brands/" %}" href="{% url apparel.browse.browse_products %}">{% trans "Brand" %}</a></li>-->
                <li><a class="{% selected_url request "/looks" %}" href="{% url look-list %}">{% trans "Looks" %}</a></li>
                <li><a class="{% selected_url request "/users" %}" href="{% url apparel.views.user_list %}">{% trans "Members" %}</a></li>
            </ul>

            <ul id="nav-user">
                {% if not user.is_authenticated %}
                <li class="facebook">{% apparel_facebook_button %}</li>
                {% endif %}
                <li class="language">{% include 'apparel/fragments/set_language.html' %}</li>
            </ul>
        </div>
    </div>

    <div id="search-result"{% if not request.COOKIES.arfbh and not user.is_authenticated %} class="extra-facebook-header"{% endif %}>
        <div id="inner-search-result">
            <div class="wide result-container">
                <h2 class="search-result-products">{% trans "Matching products" %}</h2>
                <div class="product-list"><ul id="search-result-products"></ul></div>
            </div>
            <div class="result-container">
                <h2 class="search-result-looks">{% trans "Matching looks" %}</h2>
                <ul id="search-result-looks" class="looks"></ul>
            </div>
            <div class="last result-container">
                <h2 class="search-result-manufacturers">{% trans "Matching brands" %}</h2>
                <ul id="search-result-manufacturers"></ul>
            </div>
            <div id="search-links">
                <div class="wide result-container"><a class="search-result-products" href="#">{% trans "Show all products" %}</a></div>
                <div class="result-container"><a class="search-result-looks" href="#">{% trans "Show all looks" %}</a></div>
                <div class="last result-container"><a class="search-result-manufacturers" href="#">{% trans "Show all manufacturers" %}</a></div>
            </div>
        </div>
        <div id="search-footer"></div>
    </div>

    <div id="container">
    {% if user.is_authenticated and user.get_profile %}
        {% url apparel.views.home as home_url %}
        {% url profile.views.profile as profile_url %}
        {% url apparel.views.look_create as look_create_url %}
        {% url profile.views.settings_notification as notification_settings_url %}
        {% url profile.views.settings_email as email_settings_url %}

        <div id="login-pane">
            <div class="left">
                {% trans "Logged in as" %} <a href="{{ profile_url }}">{{ user.get_profile.display_name }}</a>
            </div>
            <ul>
                <li>
                    <a class="first{% if request.path == profile_url %} selected{% endif %}" href="{{ profile_url }}">
                        {% trans "My profile" %}
                        <div class="arrow"></div>
                    </a>
                </li>
                <li>
                    <a class="{% if request.path == home_url %} selected{% endif %}" href="{{ home_url }}">
                        {% trans "Friends' updates" %}
                        <div class="arrow"></div>
                    </a>
                </li>
                <li>
                    <a class="last{% if request.path == notification_settings_url or request.path == email_settings_url %} selected{% endif %}" href="{{ notification_settings_url }}">
                        {% trans "Settings" %}
                        <div class="arrow"></div>
                    </a>
                </li>
                {% if user.get_profile.beta and user.get_profile.beta.invites > 0 %}
                <li>
                    <a class="last open-dialog" href="{% url beta.views.invite %}?next={{ request.path }}">
                        {% blocktrans with user.get_profile.beta.invites as invites %}Invite friends ({{ invites }}){% endblocktrans %}
                        <div class="arrow"></div>
                    </a>
                </li>
                {% endif %}
            </ul>
            <div class="create-look">
                <a class="create-look{% if request.path == look_create_url %} selected{% endif %}" href="{{ look_create_url }}">
                        {% trans "Create a look" %}
                    </a>
            </div>
            <div class="right">
                <a href="/accounts/logout/" id="logout">{% trans "Logout" %}</a>
            </div>
        </div>
    {% endif %}

        <div id="inner-container">
            {% block body %}{% endblock %}
        </div>
    </div>

    <div id="footer">
        <div id="inner-footer">
            <div class="copyright">&#169; APPARELROW</div>
            <ul>
                <li><h3>{% trans "Clothes" %}</h3></li>
                <li><a class="women" href="{% url apparel.browse.browse_products %}?gender=W">{% trans "Women" %}</a></li>
                <li><a class="men" href="{% url apparel.browse.browse_products %}?gender=M">{% trans "Men" %}</a></li>
                <li><a href="{% url apparel.browse.browse_products %}">{% trans "All" %}</a></li>
            </ul>
            <ul>
                <li><h3>{% trans "Looks" %}</h3></li>
                <li><a href="{% url look-list %}">{% trans "All looks" %}</a></li>
                <li><a href="{% url apparel.views.look_create %}">{% trans "Create a look" %}</a></li>
            </ul>
            <ul>
                <li><h3>{% trans "Social" %}</h3></li>
                <li><a href="{% url apparel.views.user_list %}">{% trans "See all members" %}</a></li>
                {% if not user.is_authenticated %}
                <li class="facebook">{% apparel_facebook_button "facebook-footer.png" %}</li>
                {% endif %}
            </ul>
            <ul>
                <li><h3>{% trans "About Apparelrow" %}</h3></li>
                <li><a class="about-beta-popup" href="{% url beta.views.about %}">{% trans "About the beta" %}</a></li>
                <li><a href="http://blog.apparelrow.com/">{% trans "Blog" %}</a></li>
                <li><a href="mailto:info@apparelrow.com">{% trans "Contact" %}</a><li>
            </ul>
        </div>
    </div>
</div>

{% for template_name,template_string in templates.items %}
    <script type="text/html" id="{{ template_name }}_template">
        {{ template_string|safe }}
    </script>
{% endfor %}

    <script type="text/html" id="error_dialog_template">
        <div class="dialog error">
            <h2>${ header }</h2>
            {% templatetag openvariable %}each(i, message) messages{% templatetag closevariable %}
                <p>${ message }</p>
            {% templatetag openvariable %}/each{% templatetag closevariable %}
            <div class="buttons">
                {% templatetag openvariable %}if modal{% templatetag closevariable %}
                <button class="no">{% trans "No" %}</button>
                <button class="yes">{% trans "Yes" %}</button>
                {% templatetag openvariable %}else{% templatetag closevariable %}
                <button class="ok">{% trans "OK" %}</button>
                {% templatetag openvariable %}/if{% templatetag closevariable %}
            </div>
        </div>
    </script>

{% facebook_js %}

<script type="text/javascript">
    var _kundo = _kundo || {};
    _kundo["org"] = "apparelrow";
    _kundo["lang"] = "{{ request.LANGUAGE_CODE }}";

    (function() {
        function async_load(){
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = ('https:' == document.location.protocol ? 'https://static-ssl' : 'http://static') +
            '.kundo.se/embed.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }
        if (window.attachEvent)
            window.attachEvent('onload', async_load);
        else
            window.addEventListener('load', async_load, false);
    })();
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
  _gaq.push(['_setDomainName', '{{ GOOGLE_ANALYTICS_DOMAIN }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
