{% load i18n %}
{% load facebook %}
{% load apparel_extras %}
<!doctype html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <title>{% block extra-title %}{% endblock %}Apparelrow</title>
    <meta charset="utf-8" />
    <link type="text/css" href="{{ MEDIA_URL }}styles/smoothness/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/print.css" type="text/css" media="print">
    {% block 'extra-styles' %}
    {% endblock 'extra-styles' %}
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("jquery", "1.4.2");
        google.load("jqueryui", "1.8.0");

        var browse_url = '{% gender_url APPAREL_GENDER 'shop' %}';
        var isAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
        var isFirstTimeVisit = {% if user.is_authenticated and user.get_profile.first_visit %}true{% else %}false{% endif %};
    </script>
    {% facebook_init %}
        {% block facebook_code %}{% endblock %}
    {% endfacebook %}
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/compiled/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/apparel.js"></script>
    <script type="text/javascript">
         function facebookConnect(form){
            function handleResponse(response){
                if (response.authResponse) {
                    jQuery('input[name="access_token"]', form).val(response.authResponse.accessToken);
                    jQuery('input[name="uid"]', form).val(response.authResponse.userID);
                    form.submit();
                }
            }
            FB.login(handleResponse, {scope: '{% facebook_perms %}' });
        };

        jQuery(document).ready(function() {
            jQuery('.about-beta-popup').click(function(event) {
                create_html_dialog('{% url dialog-about-apparelrow %}');
                event.preventDefault();
            });

            jQuery('.about-cookies-popup').click(function(event) {
                create_html_dialog('{% url dialog-about-cookies %}');
                event.preventDefault();
            });

            if(isAuthenticated && isFirstTimeVisit) {
                create_html_dialog('{% url profile.views.welcome_dialog %}', true, function() {
                    window.location.reload();
                });
            }

            jQuery('.facebook-close').click(function(event) {
                jQuery('#facebook-header').hide();
                jQuery('#search-result').removeClass('extra-facebook-header');
                var date = new Date();
                date.setTime(date.getTime()+(10000*24*60*60*1000));
                document.cookie = "arfbh=ok; expires="+date.toGMTString()+"; path=/";
            });
        });
    </script>
    {% block 'extra-scripts' %}
    {% endblock 'extra-scripts' %}
</head>
<body class="{% block body-classes %}{% endblock %}">

 <div id="outer">
    {% if not user.is_authenticated and not request.COOKIES.arfbh %}
    <div id="facebook-header">
        <div id="inner-facebook-header">
            <p>{% trans "Log in with your Facebook account to find your friends" %}</p>
            <a href="#" class="facebook-close"><img src="{{ MEDIA_URL|add:'images/close-blue.png' }}"></a>
            {% with MEDIA_URL|add:'images/facebook-'|add:LANGUAGE_CODE|add:'.png' as facebook_login_image %}
            {% facebook_button facebook_login_image %}
            {% endwith %}
        </div>
    </div>
    {% endif %}
    <div id="header">
        <div id="inner-header">
            <a href="{% gender_url APPAREL_GENDER 'index' %}"><h1>Apparelrow</h1></a>

            <form action="/apparel/search" method="get" onsubmit="return false" id="search" autocomplete="off">
                <input type="text" name="s" placeholder="{% trans 'Search for products' %}" />
                <a href="{{ request.url }}" id="cancel-search">{% trans "Cancel" %}</a>
            </form>

            <div id="nav-gender">
                <a class="left{% if APPAREL_GENDER == 'W' %} selected{% endif %}" href="{% change_gender_url request APPAREL_GENDER 'women' %}">{% trans "Women" %}</a>
                <a class="right{% if APPAREL_GENDER == 'M' %} selected{% endif %}" href="{% change_gender_url request APPAREL_GENDER 'men' %}">{% trans "Men" %}</a>
            </div>

            <ul id="nav-main">
                <li><a class="{% selected_url request "/shop" %}" href="{% gender_url APPAREL_GENDER 'shop' %}">{% trans "Shop" %}</a></li>
                <li><a class="{% selected_url request "/brands/" %}" href="{% gender_url APPAREL_GENDER 'brand-list' %}">{% trans "Brands" %}</a></li>
                <li><a class="{% selected_url request "/looks" %}" href="{% gender_url APPAREL_GENDER 'look-list' %}">{% trans "Looks" %}</a></li>
                <li><a class="{% selected_url request "/users" %}" href="{% url user-list-popular %}">{% trans "Members" %}</a></li>
            </ul>

            <ul id="nav-user">
                {% if not user.is_authenticated %}
                <li class="facebook">{% apparel_facebook_button %}</li>
                {% endif %}
                <li class="language">{% include 'apparel/fragments/set_language.html' %}</li>
            </ul>
        </div>
    </div>

    <div id="search-result"{% if not request.COOKIES.arfbh and not user.is_authenticated %} class="extra-facebook-header"{% endif %}>
        <div id="inner-search-result">
            <div class="wide result-container">
                <h2 class="search-result-products">{% trans "Matching products" %}</h2>
                <div class="product-list"><ul id="search-result-products"></ul></div>
            </div>
            <div class="result-container">
                <h2 class="search-result-looks">{% trans "Matching looks" %}</h2>
                <ul id="search-result-looks" class="looks"></ul>
            </div>
            <div class="last result-container">
                <h2 class="search-result-manufacturers">{% trans "Matching brands" %}</h2>
                <ul id="search-result-manufacturers"></ul>
            </div>
            <div id="search-links">
                <div class="wide result-container"><a class="search-result-products" href="#">{% trans "Show all products" %}</a></div>
                <div class="result-container"><a class="search-result-looks" href="#">{% trans "Show all looks" %}</a></div>
                <div class="last result-container"><a class="search-result-manufacturers" href="#">{% trans "Show all manufacturers" %}</a></div>
            </div>
        </div>
        <div id="search-footer"></div>
    </div>

    <div id="container">
    {% if user.is_authenticated and user.get_profile %}
        {% url apparel.views.home as home_url %}
        {% url profile.views.profile as profile_url %}
        {% url apparel.views.look_create as look_create_url %}
        {% url profile.views.settings_notification as notification_settings_url %}
        {% url profile.views.settings_email as email_settings_url %}

        <div id="login-pane">
            <div class="left">
                {% trans "Logged in as" %} <a href="{{ profile_url }}">{{ user.get_profile.display_name }}</a>
            </div>
            <ul>
                <li>
                    <a class="first{% if request.path == profile_url %} selected{% endif %}" href="{{ profile_url }}">
                        {% trans "My profile" %}
                        <div class="arrow"></div>
                    </a>
                </li>
                <li>
                    <a class="{% if request.path == home_url %} selected{% endif %}" href="{{ home_url }}">
                        {% trans "Friends' updates" %}
                        <div class="arrow"></div>
                    </a>
                </li>
                <li>
                    <a class="last{% if request.path == notification_settings_url or request.path == email_settings_url %} selected{% endif %}" href="{{ notification_settings_url }}">
                        {% trans "Settings" %}
                        <div class="arrow"></div>
                    </a>
                </li>
                {% if user.get_profile.beta and user.get_profile.beta.invites > 0 %}
                <li>
                    <a class="last open-dialog" href="{% url beta.views.invite %}?next={{ request.path }}">
                        {% blocktrans with user.get_profile.beta.invites as invites %}Invite friends ({{ invites }}){% endblocktrans %}
                        <div class="arrow"></div>
                    </a>
                </li>
                {% endif %}
            </ul>
            <div class="create-look">
                <a class="create-look{% if request.path == look_create_url %} selected{% endif %}" href="{{ look_create_url }}">{% trans "Create a look" %}</a>
            </div>
            <div class="right">
                <a href="/accounts/logout/" id="logout">{% trans "Logout" %}</a>
            </div>
        </div>
    {% endif %}

        <div id="inner-container">
            {% block body %}{% endblock %}
        </div>
    </div>

    <div id="footer">
        <div id="inner-footer">
            <div class="copyright">&#169; APPARELROW AB</div>
            <ul>
                <li><h3>{% trans "Shop" %}</h3></li>
                <li><a class="women" href="{% gender_url 'W' 'shop' %}">{% trans "Women" %}</a></li>
                <li><a class="men" href="{% gender_url 'M' 'shop' %}">{% trans "Men" %}</a></li>
            </ul>
            <ul>
                <li><h3>{% trans "Looks" %}</h3></li>
                <li><a href="{% gender_url APPAREL_GENDER 'look-list' %}">{% trans "All looks" %}</a></li>
                <li><a href="{% url apparel.views.look_create %}">{% trans "Create a look" %}</a></li>
            </ul>
            <ul>
                <li><h3>{% trans "Social" %}</h3></li>
                <li><a href="{% url user-list %}">{% trans "See all members" %}</a></li>
                {% if not user.is_authenticated %}
                <li class="facebook">{% apparel_facebook_button "facebook-footer.png" %}</li>
                {% endif %}
            </ul>
            <ul>
                <li><h3>{% trans "About Apparelrow" %}</h3></li>
                <li><a class="about-beta-popup" href="{% url beta.views.about %}">{% trans "About the beta" %}</a></li>
                <li><a target="_blank" href="http://blog.apparelrow.com/">{% trans "Blog" %}</a></li>
                <li><a href="mailto:info@apparelrow.com">{% trans "Contact" %}</a></li>
                <li><a class="about-cookies-popup" href="/">{% trans "About cookies" %}</a></li>
            </ul>
        </div>
    </div>
</div>

{% for template_name,template_string in templates.items %}
    <script type="text/html" id="{{ template_name }}_template">
        {{ template_string|safe }}
    </script>
{% endfor %}

<script type="text/html" id="error_dialog_template">
    <div class="dialog-container {% block dialog_class %}{% endblock %}">
        <h1>${ header }</h1>
        <div class="bodycopy content">
            {% templatetag openvariable %}each(i, message) messages{% templatetag closevariable %}
            <p>${ message }</p>
            {% templatetag openvariable %}/each{% templatetag closevariable %}
        </div>
        <div class="dialog-footer">
            <button class="no">{% trans "No" %}</button>
            <button class="yes">{% trans "Yes" %}</button>
        </div>
    </div>
</script>

{% facebook_load %}

<script type="text/javascript">
    var _kundo = _kundo || {};
    _kundo["org"] = "apparelrow";
    _kundo["lang"] = "{{ request.LANGUAGE_CODE }}";

    (function() {
        function async_load(){
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = ('https:' == document.location.protocol ? 'https://static-ssl' : 'http://static') +
            '.kundo.se/embed.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }
        if (window.attachEvent)
            window.attachEvent('onload', async_load);
        else
            window.addEventListener('load', async_load, false);
    })();
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
  _gaq.push(['_setDomainName', '{{ GOOGLE_ANALYTICS_DOMAIN }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
