{% load i18n %}
<div class="modal fade" tabindex="-1" id="{% block modal_id %}{% endblock %}">
    <div class="modal-dialog {% block extra_modal_classes %}{% endblock %}">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h2 class="modal-title">{% block modal_title %}{% endblock %}</h2>
            </div>
            <div class="modal-body">
                {% block modal_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
