{% load i18n %}
{% load static from staticfiles %}
<!doctype html>
<html lang="{{ lang }}">
    <head>
        <title>{% block extra-title %}{% endblock %}Apprl</title>
        <link rel="stylesheet" href="{% static "styles/beta.css" %}" type="text/css" media="screen, projection">
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("jquery", "1.4.2");
        </script>
        {% block scripts %}{% endblock %}
        {% block background_image %}{% if image %}<style>body{background-image: url('{% static image %}');}</style>{% endif %}{% endblock %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
            _gaq.push(['_setDomainName', '{{ GOOGLE_ANALYTICS_DOMAIN }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div id="header-container">
            <h1>Apprl</h1>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
