{% load i18n %}
{% load django_static %}
<!doctype html>
<html lang="{{ lang }}">
    <head>
        <title>{% block extra-title %}{% endblock %}Apprl</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}{% staticfile "styles/beta.css" %}" type="text/css" media="screen, projection">
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("jquery", "1.4.2");
        </script>
        {% block scripts %}{% endblock %}
        {% block background_image %}<style>body{background-image: url('{{ MEDIA_URL }}{% staticfile image %}');}</style>{% endblock %}
    </head>
    <body>
        <div id="header-container">
            <h1>Apprl</h1>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
