{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    <div class="container">
        <div class="span-6">
            <h2>Bläddra bland plagg</h2>
            <ul id="product-menu">
                <li>
                    <ul id="product-gender">
                        <li>Alla</li>
                        <li>Kvinna</li>
                        <li class="selected">Man</li>
                    </ul>
                </li>
                <li>
                    <ul id="product-options">
                        <li>Pris</li>
                        <li>Färg</li>
                        <li>Märke</li>
                    </ul>
                </li>
                <li>
                    <ul id="product-category">
                        <li class="selected">Överdelar</li>
                        <li>Byxor</li>
                        <li>Kjolar &amp; klänningar</li>
                        <li>Ytterkläder</li>
                        <li>Övrigt</li>
                    </ul>
                </li>
            </ul>
            <div id="price-slider"></div>
            <input type="text" id="min-price" />
            <input type="text" id="max-price" />
        </div>
        <div class="span-12">
            <h2>Aktuellt</h2>
        </div>
        <div class="span-6 last">
            <h2>Populära looks</h2>
            <div class="look-small span-3">
                <img />
                <span class="likes">53 likes</span>
            </div>
            <div class="look-small span-3 last">
                <img />
                <span class="likes">53 likes</span>
            </div>
            <div class="look-small span-3">
                <img />
                <span class="likes">53 likes</span>
            </div>
            <div class="look-small span-3 last">
                <img />
                <span class="likes">53 likes</span>
            </div>
            <div class="look-small span-3">
                <img />
                <span class="likes">53 likes</span>
            </div>
            <div class="look-small span-3 last">
                <img />
                <span class="likes">53 likes</span>
            </div>
            <div class="look-small span-3">
                <img />
                <span class="likes">53 likes</span>
            </div>
            <div class="look-small span-3 last">
                <img />
                <span class="likes">53 likes</span>
            </div>
        </div>
    </div>
    <!-- PRODUCT -->
    <div class="container">
        <div id="product" class="span-18">
            <h2>Man\Byxor\Casual\Marc Jacobs</h2>
            <div class="product-info clearfix">
                <div class="product-image span-8 last">
                    <img />
                </div>
                <div class="span-9 prepend-1 last">
                <div class="box">
                    <h3>Marc Jacobs</h3>
                    <h4 class="available-options">Finns i</h4>
                    <table class="available-sizes">
                        <tr>
                            <th>3xs</th>
                            <th>2xs</th>
                            <th>xs</th>
                            <th>s</th>
                            <th>m</th>
                            <th>l</th>
                            <th>xl</th>
                            <th>2xl</th>
                            <th>3xl</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
        </div>
        <div id="related" class="span-6 last">
            <div class="last-shown">
                <h2>Senast visade plagg</h2>
            </div>
            <div class="similar-products">
                <h2>Liknande plagg</h2>
                <div class="similar-product clearfix">
                    <img class="product-photo" />
                    <div class="product-summary">
                        <h5>Marc Jacobs</h5>
                        <span class="likes">9 likes</span>
                        <span class="price">959 SEK</span>
                        <a href="">Till plagget</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- LOOK -->
    <div class="container">
        <div id="profile" class="span-6">
            <h2>Look av</h2>
        </div>
        <div id="look" class="span-12">
            <h2>Cardigan scarf & cykel</h2>
        </div>
        <div id="look_meta" class="span-6 last">
            <h2>Likes</h2>
            <h2>Kommentarer</h2>
            <a class="block_link">Visa alla 12</a>
            <a class="block_link">Kommentera</a>
        </div>
    </div>
{% endblock %}
