{% extends 'base.html' %}
{% load i18n %}
{% load apparel_extras %}
{% load cache %}

{% block 'extra-scripts' %}
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/filtersetup.js"></script>
    <script type="text/javascript">
        var pricerange = {
            min: {{ pricerange.min }},
            max: {{ pricerange.max }}
        };
        
        var MAX_ANIMATE = 7;
        var ANIMATION_SPEED = 1000;
        
        jQuery(document).ready(function() {
            jQuery('.tabs').tabs('#featured-looks>ul > li', {
                initialIndex: null,
                effect: 'fade',
                fadeInSpeed: ANIMATION_SPEED,
                fadeOutSpeed: ANIMATION_SPEED,
                rotate: true,
                history: true
            })
            .data('timerImageIndex', 0)
            .bind('onBeforeClick', function(e, idx) {
                var tabs = jQuery('.tabs').data('tabs');
                var tab  = tabs.getCurrentTab();
                
                window.clearTimeout(tab.data('tabAnimationTimer'));
                tab.data('tabAnimationIndex', 1);
                for(var i = 1; i <= MAX_ANIMATE; i++)
                    tab.removeClass('tab-animation-' + i);
            })
            .bind('onClick', function(e, idx) {
                animateTab();
            })
            .slideshow()
            ;
        });
        function animateTab() {
            var tabs = jQuery('.tabs').data('tabs');
            var tab  = tabs.getCurrentTab();
            var i = tab.data('tabAnimationIndex') || 1;
            
            if(i <= MAX_ANIMATE) {
                if(i > 1) tab.removeClass('tab-animation-' + (i - 1));
                tab.addClass('tab-animation-' + i);
                tab.data('tabAnimationIndex', ++i);
                tab.data('tabAnimationTimer', window.setTimeout(animateTab, ANIMATION_SPEED));
                
                return;
            }
            tabs.next();
        }
    </script>
{% endblock 'extra-scripts' %}

{% block body-classes %}three-columns{% endblock body-classes %}

{% block body %}
    <div class="sidebar">
        {% include 'apparel/fragments/product_menu.html' %}
    </div>
    {% cache CACHE_TIMEOUT index LANGUAGE_CODE %}
    <div id="content">
        <h2>{% trans "News" %}</h2>
        <div id="featured-looks">
            <ul id="contents">
            {% for look in featured_looks %}
                <li>
                    <a href="{{ look.get_absolute_url }}">
                        <div class="look">
                        {% with look as object %}
                        {% ifequal object.display_with_component 'P' %}
                            {% include 'apparel/fragments/look_photo_featured.html' %}
                        {% else %}
                            {% include 'apparel/fragments/look_collage_featured.html' %}
                        {% endifequal %}
                        {% endwith %}
                        </div>
                    </a>
                    <div class="info-box">
                        <a href="{{ look.get_absolute_url }}" class="info">
                            <h3>{{ look.title }} {% trans "by" %} {{ look.user }}</h3>
                            <p>{{ look.description }}</p>
                        </a>
                    </div>
                </li>
            {% endfor %}
            </ul>
            <div id="switchlook">
                <a class="backward" href="#prev">{% trans "Previous" %}</a>
                <ul class="tabs">
                {% for look in featured_looks %}
                    <li><a id="l{{ forloop.counter }}" href="#featured{{ forloop.counter }}">{{ look.title }}</a></li>
                {% endfor %}
                </ul>
                <a class="forward" href="#next">{% trans "Next" %}</a>
            </div>
        </div>
    </div>
    {% endcache %}
    <div class="sidebar last">
        <h2>{% trans "Popular looks" %}</h2>
        {% include 'apparel/fragments/looks_popular.html' %}
    </div>
{% endblock body %}

