{% load i18n %}
{% load cms_tags %}

<!doctype html>
<html lang="{{ lang }}">
<head>
    <title>{%# page_attribute page_title %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/media/styles/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/media/styles/blueprint/print.css" type="text/css" media="print">    

</head>
<body>

<div class="header">

</div>
<div class="container">

</div>
<div class="footer">

</div>

</body>
</html>
