{% load i18n l10n apparel_extras compressed %}
{% load static from staticfiles %}
<!doctype html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <title>Apprl - Social Shopping</title>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex"/>
    <!--<meta content="5;url={{ redirect_url }}" http-equiv="refresh"/>-->
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
        _gaq.push(['_setDomainName', '{{ GOOGLE_ANALYTICS_DOMAIN }}']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <style>
        a { color: #000000; }
    </style>
</head>
<body>
    <div style="position:fixed;top:50%;left:50%;width:400px;margin-left:-200px;height:140px;margin-top:-70px;text-align:center;font-family:'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;">
        <h1 style="width:100%;background-color:#000000;margin:0;height:40px;"><img src="{% static "images/small_logo.png" %}" alt="Apprl"></h1>
        <div style="width:100%;border:1px solid #eee;height:100px;line-height:100px;box-sizing:border-box;font-weight:bold;">
            Redirecting you to <a style="color:#00000;" href="{{ redirect_url }}">{{ store }}</a> <img style="padding-left:10px;" src="{% static "images/loading_white.gif" %}">
        </div>
    </div>
    <script type="text/javascript">
        function track() {
            {% if page == 'Ext-Link' %}
            _gaq.push(['_trackEvent', '{{ page }}', 'BuyReferral', '{{ store }} - {{ slug }}', {{ price }}]);
            {% endif %}
            var data = {csrfmiddlewaretoken: '{{ csrf_token }}',
                        referer: '{{ request.META.HTTP_REFERER }}',
                        sid: '{{ sid }}',
                        page: '{{ page }}'};
            jQuery.post('{% url product-track id page sid %}', data);
            setTimeout(redirect, 1000);
        }
        function redirect() {
            console.log('redirect', '{{ redirect_url }}');
            //window.location.replace('{{ redirect_url }}');
        }
        window.onload = track;
    </script>
</body>
</html>
