{% load i18n %}
{% load static from staticfiles %}
<!doctype html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <title>APPRL - The Social Commerce Platform</title>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex"/>
    {% if store %}
    <meta content="1;url={{ redirect_url|safe }}" http-equiv="refresh"/>
    {% endif %}
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ GOOGLE_ANALYTICS_UNIVERSAL_ACCOUNT }}', {'cookieDomain': '{{ GOOGLE_ANALYTICS_UNIVERSAL_DOMAIN }}'});
        ga('send', 'pageview');

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
        _gaq.push(['_setDomainName', '{{ GOOGLE_ANALYTICS_DOMAIN }}']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        {% if store %}
        ga('send', 'event', '{{ page }}', 'BuyReferral', '{{ store }} - {{ slug }}', {{ price }});
        _gaq.push(['_trackEvent', '{{ page }}', 'BuyReferral', '{{ store }} - {{ slug }}', {{ price }}]);
        var data = {csrfmiddlewaretoken: '{{ csrf_token }}',
                    referer: '{{ request.META.HTTP_REFERER }}',
                    sid: '{{ sid }}',
                    page: '{{ page }}'};
        jQuery.post('{% url "product-track" id page sid %}', data);
        setTimeout(function() {
            window.location.replace('{{ redirect_url|safe }}');
        }, 800);
        {% endif %}
    </script>
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ GOOGLE_TAG_MANAGER_CONTAINER_ID }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ GOOGLE_TAG_MANAGER_CONTAINER_ID }}');</script>
    <!-- End Google Tag Manager -->
</body>
</html>
