{% extends 'base.html' %}
{% load i18n l10n cache dashboard_extras %}
{% load static from staticfiles %}

{% block extra-title %}{% trans "Publisher Admin" %} | {% endblock %}
{% block 'extra-scripts' %}
    <script type="text/javascript" src="{% static "js/vendor/tablesort.min.js" %}"></script>
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['LineChart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Total commission ({{ currency }})');
        data.addColumn('number', 'Publisher commission ({{ currency }})');
        data.addRows([
          {% for sale_date, commission in sales.items %}
          [new Date({{ sale_date.year }}, {{ sale_date.month }} - 1, {{ sale_date.day }}), {{ commission.0|unlocalize }}, {{ commission.1|unlocalize }}],
          {% endfor %}
        ]);
        data.sort(0);
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        var options = {};
        chart.draw(data, options);

        // Click chart
        var clicksData = new google.visualization.DataTable();
        clicksData.addColumn('date', 'Date');
        clicksData.addColumn('number', 'Total clicks');
        clicksData.addColumn('number', 'Publisher clicks');
        clicksData.addRows([
          {% for sale_date, data in sales.items %}
          [new Date({{ sale_date.year }}, {{ sale_date.month }} - 1, {{ sale_date.day }}), {{ data.2 }}, {{ data.3 }}],
          {% endfor %}
        ]);
        clicksData.sort(0);
        var clicksChart = new google.visualization.LineChart(document.getElementById('clicks_chart'));
        clicksChart.draw(clicksData, {});
      }
      $(document).ready(function() {
        $('.month-select').change(function() {
            var month = $('.month-select').find(':selected').data('month');
            var year = $('.year-select').find(':selected').data('year');
            window.location.href = '/publisher/admin/' + year + '/' + month + '/';

        });
        $('.year-select').change(function() {
            var month = $('.month-select').find(':selected').data('month');
            var year = $('.year-select').find(':selected').data('year');
            window.location.href = '/publisher/admin/' + year + '/' + month + '/';
        });
        new Tablesort($('table#all-earnings').get(0));
        new Tablesort($('table#top-products').get(0));
        new Tablesort($('table#top-products-more').get(0));
        new Tablesort($('table#top-publishers').get(0));
        new Tablesort($('table#top-publishers-more').get(0))
      });
    </script>
{% endblock %}

{% block body-classes %}publisher-page{% endblock body-classes %}
{% block body %}

    {% include 'apparel/admin/header.html' %}

    <div class="row publisher-admin">
        <div class="col-lg-12">
            <p>
                <label>{% trans "Show: " %}
                    <select class="month-select">
                        {% for item_month in months_choices %}
                        <option data-month="{{ item_month.0 }}"{% if item_month.0 == month %} selected{%endif %}>{{ item_month.1 }}</option>
                        {% endfor %}
                    </select>
                    <select class="year-select">
                        {% for item_year in years_choices %}
                        <option data-year="{{ item_year }}" {% if item_year == year %} selected{%endif %}>{{ item_year }}</option>
                        {% endfor %}
                    </select>
                </label>
            </p>
            <ul class="list-inline">
                <li>{% blocktrans %}Total commission {{ month_commission }} {{ currency }}{% endblocktrans %}</li>
                <li>{% blocktrans %}Publisher commission {{ partner }} {{ currency }}{% endblocktrans %}</li>
                <li>{% blocktrans %}Apprl commission {{ apprl }} {{ currency }}{% endblocktrans %}</li>
            </ul>
            <ul class="list-inline">
                <li>{% blocktrans %}Sales {{ sales_count }}{% endblocktrans %}</li>
                <li>{% blocktrans with conversion_rate=conversion_rate|floatformat:2 %}Conversion rate {{ conversion_rate }}%{% endblocktrans %}</li>
            </ul>
            <ul class="list-inline">
                <li>{% blocktrans %}Total click {{ click_total }}{% endblocktrans %}</li>
                <li>{% blocktrans %}Publisher click {{ click_partner }}{% endblocktrans %}</li>
                <li>{% blocktrans %}Apprl click {{ click_apprl }}{% endblocktrans %}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="chart_div" style="width: 100%; height: 300px"></div>
            <div id="clicks_chart" style="width: 100%; height: 300px;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>{% trans "Most clicked products" %}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th class="product-image">{% trans "Product" %}</th>
                        <th></th>
                        <th class="center">{% trans "Clicks" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in most_clicked_products %}
                    <tr>
                        <td class="product-image"><a href="{{ product.product_link }}"><img src="{{ product.product_image }}"></a></td>
                        <td><a href="{{ product.product_link }}">{{ product.product }}</a></td>
                        <td class="center">{{ product.clicks }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">{% trans "No sales yet." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="col-md-6">
            <h2>{% trans "Generated most sales" %}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th class="product-image">{% trans "Product" %}</th>
                        <th></th>
                        <th class="center">{% trans "Sales" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in most_sold_products %}
                    <tr>
                        <td class="product-image"><a href="{{ product.product_link }}"><img src="{{ product.product_image }}"></a></td>
                        <td><a href="{{ product.product_link }}">{{ product.product }}</a></td>
                        <td class="center">{{ product.sales }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">{% trans "No sales yet." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

        <div class="row">
        <div class="col-lg-12 table-responsive">
            <div class="col-lg-10 col-md-6 col-sm-6 nopadding"><h2>{% trans "Top products" %}</h2></div>
            <div class="col-lg-2 col-md-6 col-sm-6 text-right hidden-xs nopadding"><h2><small><a class="btn btn-primary" data-toggle="modal" data-target="#modal_top_products">{% trans "See all" %}</a></small></h2></div>
            <table id="top-products" class="sortable table">
                <thead>
                    <tr>
                        <th class="col1 product-image center">{% trans "Product" %}</th>
                        <th class="col2 hidden-xs center"></th>
                        <th class="col3 center hidden-xs center">{% trans "Clicks" %}</th>
                        <th class="center">{% trans "Sales" %}</th>
                        <th class="center">{% trans "Conversion rate" %}</th>
                        <th class="hidden-xs center">{% trans "Sales generated" %}</th>
                        <th class="hidden-xs center">{% trans "Earnings" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in most_sold_products|top_five %}
                    <tr>
                        <td data-sort="{{ product.product }}" class="col1 product-image center"><a href="{{ product.product_link }}"><img src="{{ product.product_image }}"></a></td>
                        <td class="col2 hidden-xs"><a href="{{ product.product_link }}">{{ product.product }}</a></td>
                        <td class="col3 center hidden-xs">{{ product.clicks }}</td>
                        <td class="center">{{ product.sales }}</td>
                        <td class="center">{{ product.sales|commission_rate:product.clicks }}</td>
                        <td class="hidden-xs center">{{ product.converted_amount }} {{ currency }}</td>
                        <td class="hidden-xs center">{{ product.total_commission }} {{ currency }}</td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">{% trans "No sales yet." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 table-responsive">
            <div class="col-lg-10 col-md-6 col-sm-6 nopadding"><h2>{% trans "Top Publishers" %}</h2></div>
            <div class="col-lg-2 col-md-6 col-sm-6 text-right hidden-xs nopadding"><h2><small><a class="btn btn-primary" data-toggle="modal" data-target="#modal_top_publishers">{% trans "See all" %}</a></small></h2></div>
            <table id="top-publishers" class="sortable table">
                <thead>
                    <tr>
                        <th class="col1 product-image center">{% trans "User" %}</th>
                        <th class="col2 hidden-xs center"></th>
                        <th class="col3 center hidden-xs">{% trans "Clicks" %}</th>
                        <th class="center">{% trans "Sales" %}</th>
                        <th class="center">{% trans "Conversion rate" %}</th>
                        <th class="hidden-xs center">{% trans "Sales generated" %}</th>
                        <th class="hidden-xs center">{% trans "Earnings" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for publisher in top_publishers|top_five %}
                    <tr>
                        <td data-sort="{{ publisher.user }}" class="col1 product-image center"><img src="{{ publisher.publisher_image }}"></td>
                        <td class="col2 hidden-xs"><a href="{{ publisher.publisher_link }}">{{ publisher.user }}</a></td>
                        <td class="col3 center hidden-xs">{{ publisher.clicks }}</td>
                        <td class="center">{{ publisher.sales }}</td>
                        <td class="center">{{ publisher.sales|commission_rate:publisher.clicks }}</td>
                        <td class="hidden-xs center">{{ publisher.converted_amount }} {{ currency }}</td>
                        <td class="hidden-xs center">{{ publisher.publisher_earnings }} {{ currency }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">{% trans "No sales yet." %}</td>
                    </tr>
                    {% endfor %}
            </tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>{% trans "All earnings" %}</h2>
            <table class="sortable table" id="all-earnings">
                <thead>
                    <tr>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Sale id" %}</th>
                        <th>{% trans "Product" %}</th>
                        <th></th>
                        <th>{% trans "User" %}</th>
                        <th></th>
                        <th>{% trans "From" %}</th>
                        <th>{% trans "Earnings" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for earning in earnings %}
                    <tr>
                        <td data-sort="{{ earning.date|date:"U" }}">{{ earning.date.date }}</td>
                        <td data-sort="{{ earning.sale }}">{{ earning.sale.id }}</td>
                        <td data-sort="{{ earning.product_name }}">{% if earning.product_image %}<a href="{{ earning.product_link }}"><img src="{{ earning.product_image }}"></a>{% endif %}</td>
                        <td><a href="{{ earning.product_link }}">{{ earning.product_name }}</a></td>
                        <td data-sort="{{ earning.from_user_name }}">{% if earning.from_user_avatar %}<a href="{{ earning.from_user_link }}"><img src="{{ earning.from_user_avatar }}"></a>{% endif %}</td>
                        <td><a href="{{ earning.from_user_link }}">{{ earning.from_user_name }}</a></td>
                        <td data-sort="{{ earning.get_user_earning_type_display }}">{{ earning.get_user_earning_type_display }}</td>
                        <td data-sort="{{ earning.amount }}">{{ earning.amount }} {{ currency }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">{% trans "No sales yet." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% include 'dashboard/fragments/dialog_top_products.html' with request=request csrf_token=csrf_token next=next most_sold_products=most_sold_products month=month_display year=year is_admin=True currency=currency only %}
{% include 'dashboard/fragments/dialog_top_publishers.html' with request=request csrf_token=csrf_token next=next top_publishers=top_publishers month=month_display year=year is_admin=True currency=currency only %}
{% endblock body %}
