{% extends 'base.html' %}
{% load i18n l10n cache %}
{% load static from staticfiles %}

{% block extra-title %}{% trans "Publisher Admin" %} | {% endblock %}
{% block 'extra-scripts' %}
    <script type="text/javascript" src="{% static "js/vendor/tablesort.min.js" %}"></script>
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['LineChart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Total commission (SEK)');
        data.addColumn('number', 'Publisher commission (SEK)');
        data.addRows([
          {% for sale_date, commission in sales.items %}
          [new Date({{ sale_date.year }}, {{ sale_date.month }} - 1, {{ sale_date.day }}), {{ commission.0|unlocalize }}, {{ commission.1|unlocalize }}],
          {% endfor %}
        ]);
        data.sort(0);
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        var options = {};
        chart.draw(data, options);

        // Click chart
        var clicksData = new google.visualization.DataTable();
        clicksData.addColumn('date', 'Date');
        clicksData.addColumn('number', 'Total clicks');
        clicksData.addColumn('number', 'Publisher clicks');
        clicksData.addRows([
          {% for sale_date, data in sales.items %}
          [new Date({{ sale_date.year }}, {{ sale_date.month }} - 1, {{ sale_date.day }}), {{ data.2 }}, {{ data.3 }}],
          {% endfor %}
        ]);
        clicksData.sort(0);
        var clicksChart = new google.visualization.LineChart(document.getElementById('clicks_chart'));
        clicksChart.draw(clicksData, {});
      }
        $(document).ready(function() {
            $('.chart-menu select').change(function() {
                var $selected = $(this).find(':selected');
                var year = $selected.data('year');
                var month = $selected.data('month');

                window.location.href = '/publisher/admin/' + year + '/' + month + '/';
            });
            new Tablesort($('table.sortable').get(0));
        });
    </script>
{% endblock %}

{% block body-header %}
<div id="body-header">
    <div class="column_one">
        <h1 class="max-width">{% trans "Publisher admin" %}</h1>
    </div>
</div>
{% endblock body-header %}
{% block body-classes %}one-column dashboard{% endblock body-classes %}
{% block body %}
<div id="content">
    <div class="content-chart group">
        <div class="chart-menu">
            <label>{% trans "Show: " %}
                <select>
                    {% for date in dates %}
                    <option data-year="{{ date.year }}" data-month="{{ date.month }}"{% if date.year == year and date.month == month %} selected{%endif %}>{{ date|date:"F Y" }}</option>
                    {% endfor %}
                </select>
            </label>
            <p>{% blocktrans %}Total commission {{ month_commission }} SEK{% endblocktrans %}</p>
            <p>{% blocktrans %}Publisher commission {{ partner }} SEK{% endblocktrans %}</p>
            <p>{% blocktrans %}Apprl commission {{ apprl }} SEK{% endblocktrans %}</p>
            <br><br>
            <p>{% blocktrans %}Sales {{ sales_count }}{% endblocktrans %}</p>
            <p>{% blocktrans with conversion_rate=conversion_rate|floatformat:2 %}Conversion rate {{ conversion_rate }}%{% endblocktrans %}</p>
            <br><br>
            <p>{% blocktrans %}Total click {{ click_total }}{% endblocktrans %}</p>
            <p>{% blocktrans %}Publisher click {{ click_partner }}{% endblocktrans %}</p>
            <p>{% blocktrans %}Apprl click {{ click_apprl }}{% endblocktrans %}</p>
        </div>
        <div id="charts">
            <div id="chart_div" style="width: 960px; height: 300px"></div>
            <div id="clicks_chart" style="width: 960px; height: 300px;"></div>
            <table class="top">
                <tr>
                    <td class="first">
                        <h2>{% trans "Most clicked products" %}</h2>
                        <table class="content half">
                            <thead>
                                <tr>
                                    <th class="col1 product-image">{% trans "Product" %}</th>
                                    <th class="col2"></th>
                                    <th class="col3 center">{% trans "Clicks" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in most_clicked_products %}
                                <tr>
                                    <td class="col1 product-image"><a href="{{ product.product_link }}"><img src="{{ product.product_image }}"></a></td>
                                    <td class="col2"><a href="{{ product.product_link }}">{{ product.product }}</a></td>
                                    <td class="col3 center">{{ product.clicks }}</td>
                                </tr>
                               {% empty %}
                                <tr>
                                    <td colspan="3">{% trans "No sales yet." %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td class="last">
                        <h2>{% trans "Generated most sales" %}</h2>
                        <table class="content half">
                            <thead>
                                <tr>
                                    <th class="col1 product-image">{% trans "Product" %}</th>
                                    <th class="col2"></th>
                                    <th class="col3 center">{% trans "Sales" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in most_sold_products %}
                                <tr>
                                    <td class="col1 product-image"><a href="{{ product.product_link }}"><img src="{{ product.product_image }}"></a></td>
                                    <td class="col2"><a href="{{ product.product_link }}">{{ product.product }}</a></td>
                                    <td class="col3 center">{{ product.sales }}</td>
                                </tr>
                               {% empty %}
                                <tr>
                                    <td colspan="3">{% trans "No sales yet." %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
            <h2 class="sales-header">{% trans "Your sales" %}</h2>
            <table class="sortable sales content">
                <thead>
                    <tr>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Product" %}</th>
                        <th></th>
                        <th>{% trans "User" %}</th>
                        <th>{% trans "From" %}</th>
                        <th class="center">{% trans "Clicks" %}</th>
                        <th>{% trans "Our Comm" %}</th>
                        <th>{% trans "Publisher Comm" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales_table %}
                    <tr>
                        <td data-sort="{{ sale.created|date:"U" }}">{{ sale.created.date }}</td>
                        <td class="product-image"><a href="{{ sale.product_link }}"><img src="{{ sale.product_image }}"></a></td>
                        <td><a href="{{ sale.product_link }}">{{ sale.product }}</a></td>
                        <td>{{ sale.user }}</td>
                        <td>{{ sale.link }}</td>
                        <td class="center">{{ sale.clicks }}</td>
                        <td data-sort="{{ sale.apprl_commission }}">{{ sale.apprl_commission }} {{ sale.currency }}</td>
                        <td data-sort="{{ sale.commission }}">{{ sale.commission }} {{ sale.currency }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">{% trans "No sales yet." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}
