{% extends 'base.html' %}
{% load i18n l10n cache %}

{% block extra-title %}{% trans "Partner" %} | {% endblock %}
{% block 'extra-scripts' %}
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['LineChart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Total commission (SEK)');
        data.addColumn('number', 'Partner commission (SEK)');
        data.addRows([
          {% for sale_date, commission in sales.items %}
          [new Date({{ sale_date.year }}, {{ sale_date.month }} - 1, {{ sale_date.day }}), {{ commission.0|unlocalize }}, {{ commission.1|unlocalize }}],
          {% endfor %}
        ]);
        data.sort(0);
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        var options = {
            legend: {
                position: 'none'
            }
        };
        chart.draw(data, options);
      }
        $(document).ready(function() {
            $('.chart-menu select').change(function() {
                var $selected = $(this).find(':selected');
                var year = $selected.data('year');
                var month = $selected.data('month');

                window.location.href = '/partner/admin/' + year + '/' + month + '/';
            });
            $('#more-info').click(function(event) {
                create_html_dialog(jQuery(this).attr('href'));
                event.preventDefault();
            });
        });
    </script>
{% endblock %}

{% block body-header %}
<div id="body-header">
    <div class="column_one">
        <h1 class="max-width">{% trans "Partner admin" %}</h1>
    </div>
</div>
{% endblock body-header %}
{% block body-classes %}one-column dashboard{% endblock body-classes %}
{% block body %}
<div id="content">
    <div class="content-chart group">
        <div class="chart-menu">
            <label>{% trans "Show: " %}
                <select>
                    {% for date in dates %}
                    <option data-year="{{ date.year }}" data-month="{{ date.month }}"{% if date.year == year and date.month == month %} selected{%endif %}>{{ date|date:"F Y" }}</option>
                    {% endfor %}
                </select>
            </label>
            <p>{% blocktrans %}Total commission {{ month_commission }}kr{% endblocktrans %}</p>
            <p>{% blocktrans %}Partner commission {{ partner }}kr{% endblocktrans %}</p>
            <p>{% blocktrans %}Apprl commission {{ apprl }}kr{% endblocktrans %}</p>
        </div>
        <div id="chart_div" style="width: 740px; height: 300px"></div>
    </div>
</div>
{% endblock body %}
