{% load i18n %}
<div id="body-header">
    <div class="column_one">
        <h1 class="max-width">{% trans "Partner" %}</h1>
    </div>
    <div class="column_two">
        <ul>
            <li><a class="first{% if 'info' not in request.path %} current{% endif %}" href="{% url 'dashboard' %}">{% if request.user.is_authenticated and request.user.get_profile.is_partner %}{% trans "Your dashboard" %}{% else %}{% trans "Become a partner" %}{% endif %}</a></li>
            <li><a class="{% if 'info' in request.path %} current{% endif %}" href="{% url 'dashboard-info' %}">{% trans "How it works" %}</a></li>
            {% if request.user.is_authenticated %}
            <li><a class="last" href="{% url 'profile.views.settings_partner' %}">{% trans "Settings" %}</a></li>
            {% endif %}
        </ul>
    </div>
</div>
