{% extends 'base.html' %}
{% load i18n cache %}

{% block extra-title %}{% trans "Partner" %} | {% endblock %}

{% block body-header %}
    {% include 'dashboard/body_header.html' %}
{% endblock body-header %}
{% block body-classes %}one-column dashboard dashboard-info{% endblock body-classes %}
{% block body %}
<div class="sidebar">
    <h2>Snabblänkar</h2>
    <ul class="list">
        <li><a href="#blog">Få fler bloggläsare</a></li>
        <li><a href="#product">Produktlänkar</a></li>
        <li><a href="#profile">Din profil</a></li>
        <li><a href="#looks">Looks</a></li>
        <li><a href="#brands">Butiker</a></li>
    </ul>
</div>
<div id="content" class="content">
    <h2>{% trans "How does it work" %}</h2>
    <div class="dashboard-content">
        <p>Som modebloggare kan du ansöka till vårt partnerprogram. Det innebär att du kan tjäna
        pengar när du länkar till produkter via Apprl. Om någon köper en produkt som du har länkat
        till så tjänar du upp till 10% av ordervärdet. Som partnerbloggare kommer du även kunna få
        fler bloggläsare och skapa snygga looks att dela på din blogg!</p>

        <p class="center">[ANSÖK TILL ATT BLI PARTNERBLOGGARE HÄR]</p>
        <p class="center">Frågor? Maila <a href="mailto:partner@apprl.com">partner@apprl.com</a></p>

        <p>Du kan få fler bloggläsare och tjäna pengar som Apprl partnerbloggare på en mängd olika sätt:</p>

        <h4 id="blog">Öka trafiken till din blogg</h4>
        <p>Varje gång du “gillar” en produkt på Apprl.com så visar vi att produkten är utvald av dig med
        en länk till din blogg.</p>

        BILD1

        <p>Genom att skaffa dig följare på Apprl.com kommer fler att upptäcka din blogg. Det kan du
        göra genom att länka till din profilsida med någon av de här follow-knapparna:</p>

        BILD2 och BILD3
        (Klickar man på en knapp borde man väl komma till den bildens URL?)

        <h4 id="product">Tjäna pengar med produktlänkar</h4>
        <p>Det enklaste sättet att börja tjäna pengar är att länka till våra produkter. Så här gör du:</p>
        <ol>
            <li>Logga in på Apprl.com</li>
            <li>Gå till en produkt du gillar på Apprl.com.</li>
            <li>Klicka på knappen “Hämta produktlänk” och kopiera länken.</li>
            <li>Sprid länken på din blogg, din Facebooksida eller var som helst.</li>
            <li>Alla klick på länken som leder till köp tjänar du pengar på.</li>
        </ol>

        BILD4

        <h4 id="profile">Tjäna pengar från din profil</h4>
        <p>Alla produkter du “gillar“ på Apprl.com läggs till din profilsida. Varje gång någon klickar och
        köper en produkt från din profilsida tjänar du pengar!</p>

        BILD5

        <h4 id="looks">Tjäna pengar med looks</h4>
        <p>Så här gör du:</p>
        1. Logga in på Apprl.com.
        2. Klicka på “+ Skapa look” under din profilbild högst upp på siten.
        3. Välj om du vill skapa ett kollage eller tagga ett foto som du laddar upp.
        4. Publicera din look.
        5. Klipp ut “embed-koden” från din look, från textrutan till vänster.6. Skapa ett nytt blogginlägg, växla till HTML-läge och klistra in embed-koden.
        7. När du publicerat blogginlägget så kommer looken synas på din blogg och alla klick
        på produktlänkarna som leder till köp tjänar du pengar på.

        <h4 id="brands">Våra butiker</h4>
        <p>Hos Apprl hittar du produkter från webbens bästa onlinebutiker och varumärken som du kan
        länka till och göra looks av. <a href="mailto:info@apprl.com?subject=Jag skulle vilja föreslå en butik/varumärke...">Föreslå gärna en butik eller ett varumärke som du saknar!</a></p>

        <h4>Utbetalningar</h4>
        <p>På din statistik kan du följa hur mycket du tjänar dag för dag.</p>

        <p class="center">[ANSÖK TILL ATT BLI PARTNERBLOGGARE HÄR]</p>
        <p class="center">Frågor? Maila <a href="mailto:partner@apprl.com">partner@apprl.com</a></p>

    </div>
</div>
{% endblock %}
