{% extends 'dialog_base.html' %}
{% load i18n %}

{% block modal_id %}modal_publisher_info{% endblock %}
{% block modal_title %}{% trans "How payments work" %}{% endblock %}
{% block extra_modal_classes %}text-left{% endblock %}
{% block modal_content %}
<p><b>{% trans "Pending earnings" %} - </b>{% trans "The money you earn from the traffic you generate is updated once every 24 hours." %}</p>
<p><b>{% trans "Confirmed earnings" %} - </b>{% trans "After 40 days, these earnings are added to confirmed earnings. This period of time exists so that the retailers we work will have time to pay for the traffic delivered to them, and for us to make sure that all clicks generated are legitimate." %}</p>
<p><b>{% trans "Pending payment" %} - </b>{% trans "At the beginning of each month all your confirmed earnings transfers to “Pending payment” - provided that they are more than €100. The sum under pending payment represents your next payout." %}</p>
<p>{% trans "For a payment to be made, you have to enter your account details under " %}<a href="https://apprl.com/profile/settings/publisher/">{% trans "your settings" %}</a>.</p>
<p>{% trans "If you have any questions, don't hesitate to contact us at " %} <a href="mailto:publisher@apprl.com">publisher@apprl.com</a>.</p>
{% endblock %}
