{% extends 'base.html' %}
{% load i18n l10n cache dashboard_extras %}
{% load static from staticfiles %}

{% block extra-title %}{% trans "Dashboard" %} | {% endblock %}
{% block extra-scripts %}
    <script type="text/javascript" src="{% static "js/vendor/tablesort.min.js" %}"></script>
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
        google.load('visualization', '1', {packages: ['corechart']});
        google.setOnLoadCallback(drawChart);
        function drawChart () {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'X');
            data.addColumn('number', '{% trans "Commission Earnings" %} ({{ currency }})');
            data.addColumn('number', '{% trans "Referral earnings" %} ({{ currency }})')
            data.addColumn('number', '{% trans "Click earnings" %} ({{ currency }})');
            data.addColumn('number', '{% trans "Clicks" %}');
            data.addColumn('number', '{% trans "Network earnings" %} ({{ currency }})');
            data.addRows([
            {% for sale_date, data in data_per_day.items %}
                {% if forloop.last %}
                [new Date({{ sale_date.year }}, {{ sale_date.month }} - 1, {{ sale_date.day }}), {{ data.0|unlocalize }}, {{ data.1|unlocalize }}, {{ data.2|unlocalize }}, {{ data.3 }}, {{ data.4|unlocalize }}]
                {% else %}
                [new Date({{ sale_date.year }}, {{ sale_date.month }} - 1, {{ sale_date.day }}), {{ data.0|unlocalize }}, {{ data.1|unlocalize }}, {{ data.2|unlocalize }}, {{ data.3 }}, {{ data.4|unlocalize }}],
                {% endif %}
            {% endfor %}
            ]);
            data.sort(0);
            var left = data.getColumnRange(1);
            var right = data.getColumnRange(2);
            var view = new google.visualization.DataView(data);

            /* TODO Maybe this could be written better */
            {% if request.user.referral_partner %}
                {% if is_owner %}
                var series = {
                    0: {targetAxisIndex: 0},
                    1: {targetAxisIndex: 0, color: '#ff9900'},
                    2: {targetAxisIndex: 0, color: '#ababab'},
                    3: {targetAxisIndex: 1, color: '#dc3912'},
                    4: {targetAxisIndex: 0, color: '#2c2c2c'}
                };
                {% else %}
                var series = {
                    0: {targetAxisIndex: 0},
                    1: {targetAxisIndex: 0, color: '#ff9900'},
                    2: {targetAxisIndex: 0, color: '#ababab'},
                    3: {targetAxisIndex: 1, color: '#dc3912'}
                };
                view.setColumns([0, 1, 2, 3, 4]);
                {% endif %}
            {% else %}
                {% if is_owner %}
                var series = {
                    0: {targetAxisIndex: 0},
                    1: {targetAxisIndex: 0, color: '#ababab'},
                    2: {targetAxisIndex: 1, color: '#dc3912'},
                    3: {targetAxisIndex: 0, color: '#2c2c2c'}
                };
                view.setColumns([0, 1, 3, 4, 5]);
                {% else %}
                var series = {
                    0: {targetAxisIndex: 0},
                    1: {targetAxisIndex: 0, color: '#ababab'},
                    2: {targetAxisIndex: 1, color: '#dc3912'}
                };
                view.setColumns([0, 1, 3, 4]);
                {% endif %}
            {% endif %}
            var chart = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'graph',
                dataTable: view,
                options: {
                    vAxes: {
                        0: {
                            minValue: 0,
                            maxValue: (left.min == 0 && left.max == 0) ? 1 : null,
                            title: '{% trans "Earnings" %} ({{ currency }})',
                            textStyle: {color: '#3366cc'},
                            titleTextStyle: {color: '#3366cc'}
                        },
                        1: {
                            minValue: 0,
                            maxValue: (right.min == 0 && right.max == 0) ? 1 : null,
                            title: '{% trans "Clicks" %}',
                            textStyle: {color: '#dc3912'},
                            titleTextStyle: {color: '#dc3912'}
                        }
                    },
                    series: series
                }
            });
            chart.draw();
        }
        $(document).ready(function() {
            $('.month-select').change(function() {
                var month = $('.month-select').find(':selected').data('month');
                var year = $('.year-select').find(':selected').data('year');
                window.location.href = '{% url "dashboard" %}' + year + '/' + month + '/';

            });
            $('.year-select').change(function() {
                var month = $('.month-select').find(':selected').data('month');
                var year = $('.year-select').find(':selected').data('year');
                window.location.href = '{% url "dashboard" %}' + year + '/' + month + '/';
            });

            /*new Tablesort($('table#earnings').get(0));
            new Tablesort($('table#top-products').get(0));
            new Tablesort($('table#top-products-more').get(0));
            new Tablesort($('table#top-publishers').get(0));
            new Tablesort($('table#top-publishers-more').get(0));*/
        });
        /*
            Load detail click earning details for clicks in a modal
        */
        function load_detailed_data_clicks(json_detail, date, vendor, currency){
            var html = "";
            for (i = 0; i < json_detail.length; i++){
                html += "<tr>" +
                        "<td data-sort=\"" + json_detail[i].product_name + "\"><a href=\""+json_detail[i].product_url+"\">" + json_detail[i].product_name + "</a></td>" +
                        "<td data-sort=\""+ json_detail[i].clicks +"\" class='center'>"  + json_detail[i].clicks + "</td>" +
                        "<td data-sort=\"" + json_detail[i].product_earning+ "\" class='center'>" + currency + " " + json_detail[i].product_earning.toFixed(2) + "</td>" +
                        "<tr>";
            }
            $("#content-clicks").html(html);
            $("#modal-date").html(date);
            $("#modal-vendor").html(vendor);
            $("#modal_detail_clicks").modal("show");
};
    </script>
{% endblock %}

{% block body-classes %}dashboard{% endblock body-classes %}
{% block body %}

    <h1>{% trans "Dashboard" %}</h1>

    <section class="container overview">
        <div class="row figures">
            <div class="col-sm-4 pending-earnings">{% trans "Pending earnings" %}<span class="number">{{ currency }} {% if pending_earnings %}{{ pending_earnings|floatdot }}{% else %}0.00{% endif %}</span></div>
            <div class="col-sm-4 confirmed-earnings">{% trans "Confirmed earnings" %}<span class="number">{{ currency }} {% if confirmed_earnings %}{{ confirmed_earnings|floatdot }}{% else %}0.00{% endif %}</span></div>
            <div class="col-sm-4 pending-payment">{% trans "Pending payment" %}<span class="number">{{ currency }} {% if pending_payment %}{{ pending_payment|floatdot }}{% else %}0.00{% endif %}</span></div>
        </div>
        <p>{% trans "In total, " %}<strong>{{ currency }} {{ total_earned|floatdot }}</strong> {% trans "has been paid out to you." %}</p>
        <a class="info" data-toggle="modal" href="#modal_publisher_info"><i class="fa fa-sticky-note-o"></i>{% trans "How payments work" %}</a>
    </section>

    <section class="container">
        <ul class="list-horizontal center">
            <li>{% trans "Show statistics for: " %}</li>
            <li>
                <div class="select">
                    <span><i class="fa fa-caret-down"></i></span>
                    <select class="month-select">
                        {% for item_month in month_choices %}
                        <option data-month="{{ item_month.0 }}"{% if item_month.0 == month %} selected{%endif %}>{{ item_month.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
            <li>
                <div class="select">
                    <span><i class="fa fa-caret-down"></i></span>
                    <select class="year-select">
                        {% for item_year in year_choices %}
                        <option data-year="{{ item_year }}" {% if item_year == year %} selected{%endif %}>{{ item_year }}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
        </ul>
    </section>

    <section class="container center">
        <p>{% blocktrans %}Earnings: <strong>{{ currency }} {{ total_commission }}{% endblocktrans %}</strong></p>
        </ul>
        <ul class="list-horizontal">
            <li>{% blocktrans %}Commission earnings:{% endblocktrans %} <strong>{{ currency }} {% if month_commission %}{{ month_commission }}{% else %}0.00{% endif %}</strong></li>
            <li>{% blocktrans %}Sales:<strong>{% endblocktrans %} {% if month_sales %}{{ month_sales }}{% else %}0{% endif %}</strong></li>
            <li>{% blocktrans %}Clicks: <strong>{{ month_clicks }}{% endblocktrans %}</strong></li>
        </ul>
        {% if request.user.referral_partner %}
        <ul class="list-horizontal">
            <li>{% blocktrans %}Referral earnings: <strong>{{ currency }} {{ referral_commission }}{% endblocktrans %}</strong></li>
            <li>{% blocktrans %}Referrals:<strong>{% endblocktrans %} {% if referral_sales %}{{referral_sales}}{% else %}0{% endif %}</strong></li>
        </ul>
        {% endif %}
        <ul class="list-horizontal">
            <li>{% blocktrans %}Click earnings: <strong>{{ currency }} {{ ppc_earnings }}{% endblocktrans %}</strong></li>
            <li>{% blocktrans %}Clicks: <strong>{{ ppc_clicks }}{% endblocktrans %}</strong></li>
        </ul>
        {% if is_owner %}
        <ul class="list-horizontal">
            <li>{% blocktrans %}Network earnings: <strong>{{ currency }} {{ network_commission }}{% endblocktrans %}</strong></li>
        </ul>
        {% endif %}
    </section>

    <section>
        <div id="graph" style="width: 100%; height: 300px;"></div>

        {% if request.user.referral_partner %}
        <a class="btn btn-primary center" href="{% url 'dashboard-referral' %}">{% trans "Earn money by invites" %}</a>
        {% endif %}
    </section>

    {% if is_after_june %}

    {% if is_owner %}
        <div class="row">
            <div class="col-lg-12 table-responsive">
                <div class="col-lg-10 col-md-6 col-sm-6 nopadding"><h2>{% trans "Top publishers" %} {{ month_display }} {{ year }}</h2></div>
                <div class="col-lg-2 col-md-6 col-sm-6 text-right hidden-xs nopadding"><h2><small><a class="btn btn-primary" data-toggle="modal" data-target="#modal_top_publishers">{% trans "See all" %}</a></small></h2></div>
                <table id="top-publishers" class="sortable table top-publishers">
                    <thead>
                        <tr>
                            <th class="col-md-1 product-image center">{% trans "Publisher" %}</th>
                            <th class="col-md-5 hidden-xs center"></th>
                            <th class="col-md-2 center">{% trans "Clicks" %}</th>
                            <th class="col-md-2 center">{% trans "Publisher earnings" %}</th>
                            <th class="col-md-2 center">{% trans "Network earnings" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for publisher in top_publishers|top_five %}
                        <tr>
                            <td data-sort="{{ publisher.aggregated_from_name }}" class="col-md-1 product-image center">
                                <a href="{{ publisher.aggregated_from_link }}">
                                    <img src="{{ publisher.aggregated_from_image }}">
                                </a>
                            </td>
                            <td class="col-md-5 hidden-xs">
                                <a href="{{ publisher.aggregated_from_link }}">{{ publisher.aggregated_from_name }}</a>
                            </td>
                            <td class="col-md-2 center" data-sort="{{ publisher.total_clicks }}">
                                {{ publisher.total_clicks }}
                            </td>
                            <td class="col-md-2 center" data-sort="{{ publisher.total_earnings }}">
                                {{ currency }} {{ publisher.total_earnings }}
                            </td>
                            <td class="col-md-2 center" data-sort="{{ publisher.total_network_earnings }}">
                                {{ currency }} {{ publisher.total_network_earnings }}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">{% trans "No sales yet." %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12 table-responsive">
            <h2>{% trans "Top Links" %} {{ month_display }} {{ year }}</h2>
            <a class="btn btn-default center" data-toggle="modal" data-target="#modal_top_products">{% trans "See all" %}</a>
            <table id="top-products" class="sortable table top-products">
                <thead>
                    <tr>
                        <th class="col-md-1 product-image center">{% trans "Product" %}</th>
                        <th class="col-md-5 hidden-xs center"></th>
                        <th class="col-md-2 center">{% trans "Clicks" %}</th>
                        <th class="col-md-2 center">{% trans "Publisher earnings" %}</th>
                        {% if is_owner %}<th class="col-md-2 center">{% trans "Network earnings" %}</th>{% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for product in top_products|top_five %}
                    <tr>
                        <td data-sort="{{ product.aggregated_from_name }}" class="col-md-1 product-image center">
                            <a href="{{ product.aggregated_from_link }}" target="_blank">
                                <img src="{{ product.aggregated_from_image }}">
                            </a>
                        </td>
                        <td class="col-md-5 hidden-xs">
                            <a href="{{ product.aggregated_from_link }}" target="_blank">
                                {{ product.aggregated_from_name }}
                            </a>
                        </td>
                        <td class="col-md-2 center" data-sort="{{ product.total_clicks }}" >
                            {{ product.total_clicks }}
                        </td>
                        <td class="col-md-2 center" data-sort="{{ product.total_earnings }}" >
                            {{ currency }} {{ product.total_earnings }}
                        </td>
                        {% if is_owner %}<td class="col-md-2 center" data-sort="{{ product.total_network_earnings }}" >
                            {{ currency }} {{ product.total_network_earnings }}
                        </td>{% endif %}
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">{% trans "No sales yet." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 table-responsive">
            <h2 class="sales-header">{% trans "Your earnings" %} {{ month_display }} {{ year }}</h2>
                <table id="all-earnings" class="sortable table sortable">
                    <thead>
                        <tr>
                            <th class="hidden-xs">{% trans "Date" %}</th>
                            <th>{% trans "Description" %}</th>
                            <th class="hidden-xs"></th>
                            <th class="hidden-xs">{% trans "Details" %}</th>
                            <th>{% trans "Sale value" %}</th>
                            <th>{% trans "Your earnings" %}</th>
                        </tr>
                    </thead>
                    <tbody id="body-earnings">
                    <tr>
                        <td colspan="6" style="text-align: center;">
                            Loading earnings <img align=center id="loading-img" src="{% static "images/loading_white.gif" %}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
    {% endif %}

<script>
    var EARNINGS_URL = "{% url 'detail-earnings' %}";

    function fetchEarnings(month, year, user_id, currency, callback) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', EARNINGS_URL + '?month=' + encodeURIComponent(month) + '&year=' + encodeURIComponent(year)
                + '&user_id=' + encodeURIComponent(user_id), true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
              var parsed = {};
              try {
                parsed = JSON.parse(xhr.responseText);
              } catch(error) {}
                callback(parsed, currency);
            }
        }
        xhr.send();
    }

    fetchEarnings({{ month }}, {{ year }}, {{ request.user.id }}, "{{ currency }}", function(response, currency) {
        var table = $('#body-earnings');
        table.html("");
        if (response.length > 0) {
            $.each(response, function() {
                var row = $('<tr/>');
                // Date
                row.append('<td>' + this.date_string + '</td>');

                // Description
                if (this.description_image != '') {
                    if (this.description_link == '') {
                        row.append('<td><img src="' + this.description_image + '"></td>');
                    } else {
                        row.append('<td><a src="' + this.description_link +'"><img src="' + this.description_image + '"></a></td>');
                    }
                    row.append('<td>' + this.description_text + '</td>');
                } else {
                    if (this.description_link == '') {
                        row.append('<td colspan="2">' + this.description_text + '</td>');
                    } else {
                        row.append('<td colspan="2"><a src="' + this.description_link +'">' + this.description_text + '<a></td>');
                    }
                }
                // Details
                row.append('<td>' + this.details + '</td>');

                // Sale value if CPO, Show clicks details button if CPC
                if (this.user_earning_type == "publisher_sale_click_commission"
                        || this.user_earning_type == "publisher_sale_click_tribute") {
                    row.append('<td>' +
                            '<a class="btn btn-default click-detail" ' +
                            'data-user="' + this.user_id + '" ' +
                            'data-vendor="' + this.sale_vendor + '" ' +
                            'data-date="' + this.date_timestamp + '" ' +
                            'data-date_display="' + this.date_string + '" ' +
                            'data-amount="' + this.amount + '" ' +
                            'data-clicks="' + this.clicks + '">' +
                            'See details</a></td>');
                } else {
                    row.append('<td data-sort="' + this.sale_amount + '">' + currency +"  " + this.sale_amount + '</td>');
                }
                // Earning
                row.append('<td data-sort="' + this.amount + '">' + currency +"  " + this.amount + '</td>');
                table.append(row);
            });
        } else {
            var row = $('<tr/>');
            row.append('<td colspan="6">No earnings yet</td>');
            table.append(row);
        }
        $('#loading-img').hide();
    });

    $("#all-earnings").on("click", "a", function() {
        var user_id = $(this).data("user");
        var vendor = $(this).data("vendor");
        var date = $(this).data("date");
        var date_display = $(this).data("date_display");
        var amount = $(this).data("amount");
        var clicks = $(this).data("clicks");
        $.ajax({
            type: "get",
            url: "{% url 'clicks-detail' %}",
            data: { user_id: user_id, vendor : vendor, date : date, amount: amount, clicks: clicks},
            success: function (response) {
                var json = jQuery.parseJSON(response);
                load_detailed_data_clicks(json, date_display, vendor, "{{ currency }}");
            }
        });
    });
</script>

{% include 'dashboard/fragments/dialog_detail_clicks.html' with request=request csrf_token=csrf_token only  %}
{% include 'dashboard/fragments/dialog_new_top_products.html' with request=request csrf_token=csrf_token next=next top_products=top_products is_admin=False currency=currency month=month_display year=year is_owner=is_owner only  %}
{% include 'dashboard/fragments/dialog_new_top_publishers.html' with request=request csrf_token=csrf_token next=next top_publishers=top_publishers is_admin=False currency=currency month=month_display year=year only %}
{% include 'dashboard/modal_more_info.html' %}
{% endblock body %}