{% extends 'base.html' %}
{% load i18n cache %}

{% block extra-title %}{% trans "Partner" %} | {% endblock %}
{% block 'extra-scripts' %}
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['LineChart']});
//annotatedtimeline']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Commission (SEK)');
        data.addRows([
          {% for sale_date, commission in sales.items %}
          [new Date({{ sale_date.year }}, {{ sale_date.month }} - 1, {{ sale_date.day }}), {{ commission }}],
          {% endfor %}
        ]);
        data.sort(0);
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        var options = {
            legend: {
                position: 'none'
            }
        };
        chart.draw(data, options);
      }
    </script>
{% endblock %}

{% block body-header %}
    {% include 'dashboard/body_header.html' %}
{% endblock body-header %}
{% block body-classes %}one-column dashboard{% endblock body-classes %}
{% block body %}
<div id="content">
    <div class="light-block group">
        <h3>{% trans "Total" %}</h3>
        <h3>{% blocktrans %}Your commission {{ total_sales }}{% endblocktrans %}kr</h3>
        <h3>{% blocktrans %}Confirmed commission {{ total_confirmed }}{% endblocktrans %}kr</h3>
        <h3>{% blocktrans %}Pending payment {{ pending_payment }}{% endblocktrans %}kr</h3>
        <h3><a href="#">{% trans "More info" %}</a></h3>
    </div>
    <div class="content-chart group">
        <div class="chart-select">
            <select>
                <option data-year="2012" data-month="12">December 2012</option>
            </select>
        </div>
        <div id="chart_div" style="width: 100%; height: 300px"></div>
    </div>
</div>
{% endblock body %}
