{% extends 'base.html' %}
{% load i18n l10n cache %}
{% load static from staticfiles %}

{% block extra-title %}{% trans "Partner" %} | {% endblock %}
{% block 'extra-scripts' %}
    <script type="text/javascript" src="{% static "js/vendor/tablesort.min.js" %}"></script>
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['LineChart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', '{% trans "Commission (SEK)" %}');
        data.addRows([
          {% for sale_date, commission in sales.items %}
          [new Date({{ sale_date.year }}, {{ sale_date.month }} - 1, {{ sale_date.day }}), {{ commission|unlocalize }}],
          {% endfor %}
        ]);
        data.sort(0);
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        var options = {
            legend: {
                position: 'none'
            }
        };
        chart.draw(data, options);

        // Click chart
        var clicksData = new google.visualization.DataTable();
        clicksData.addColumn('date', 'Date');
        clicksData.addColumn('number', '{% trans "Clicks" %}');
        clicksData.addRows([
          {% for sale_date, data in clicks.items %}
          [new Date({{ sale_date.year }}, {{ sale_date.month }} - 1, {{ sale_date.day }}), {{ data }}],
          {% endfor %}
        ]);
        clicksData.sort(0);
        var clicksChart = new google.visualization.LineChart(document.getElementById('clicks_chart'));
        clicksChart.draw(clicksData, {legend: {position: 'none'}, colors: ['#c63310']});
      }
        $(document).ready(function() {
            $('.chart-menu select').change(function() {
                var $selected = $(this).find(':selected');
                var year = $selected.data('year');
                var month = $selected.data('month');

                window.location.href = '/partner/' + year + '/' + month + '/';
            });
            $('#more-info').click(function(event) {
                create_html_dialog(jQuery(this).attr('href'));
                event.preventDefault();
            });
            new Tablesort($('table.sortable').get(0));
        });
    </script>
{% endblock %}

{% block body-header %}
    {% include 'dashboard/body_header.html' %}
{% endblock body-header %}
{% block body-classes %}one-column dashboard{% endblock body-classes %}
{% block body %}
<div id="content">
    <div class="light-block group">
        <h3 class="commission">{% blocktrans %}Your commission: {{ total_sales }}kr{% endblocktrans %}</h3>
        <h3 class="commission">{% blocktrans %}Confirmed commission: {{ total_confirmed }}kr{% endblocktrans %}</h3>
        <h3 class="commission">{% blocktrans %}Pending payment: {{ pending_payment }}kr{% endblocktrans %}</h3>
        <h3 class="link"><a id="more-info" class="open-dialog" href="{% url 'dashboard-more-info' %}">{% trans "More info" %}</a></h3>
    </div>
    <div class="content-chart group">
        <div class="chart-menu">
            <label>{% trans "Show: " %}
                <select>
                    {% for date in dates %}
                    <option data-year="{{ date.year }}" data-month="{{ date.month }}"{% if date.year == year and date.month == month %} selected{%endif %}>{{ date|date:"F Y" }}</option>
                    {% endfor %}
                </select>
            </label>
            <p>{% blocktrans %}Your commission {{ month_commission }}kr{% endblocktrans %}</p>
            <p>{% blocktrans %}Your clicks {{month_click}} st{% endblocktrans %}</p>
        </div>
        <div id="charts">
            <div id="chart_div" style="width: 740px; height: 300px"></div>
            <div id="clicks_chart" style="width: 740px; height: 300px;"></div>
            {% if is_after_june %}
            <table class="sortable">
                <thead>
                    <tr>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Product" %}</th>
                        <th>{% trans "From" %}</th>
                        <th>{% trans "Clicks" %}</th>
                        <th>{% trans "Commission" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales_table %}
                    <tr>
                        <td data-sort="{{ sale.sale_date|date:"U" }}">{{ sale.sale_date }}</td>
                        <td>{{ sale.product }}</td>
                        <td>{{ sale.link }}</td>
                        <td>{{ sale.clicks }}</td>
                        <td data-sort="{{ sale.commission }}">{{ sale.commission }} {{ sale.currency }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">{% trans "No sales yet." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}
