{% extends 'base.html' %}
{% load i18n l10n cache %}
{% load static from staticfiles %}

{% block extra-title %}{% trans "Publisher" %} | {% endblock %}
{% block 'extra-scripts' %}
    <script type="text/javascript" src="{% static "js/vendor/tablesort.min.js" %}"></script>
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
        google.load('visualization', '1', {packages: ['corechart']});
        google.setOnLoadCallback(drawChart);
        function drawChart () {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'X');
            data.addColumn('number', '{% trans "Commission" %} ({{ currency }})');
            data.addColumn('number', '{% trans "Referral commission" %} ({{ currency }})');
            data.addColumn('number', '{% trans "Network commission" %} ({{ currency }})');
            data.addColumn('number', '{% trans "Clicks" %}');
            data.addRows([
            {% for sale_date, data in data_per_day.items %}
                {% if forloop.last %}
                [new Date({{ sale_date.year }}, {{ sale_date.month }} - 1, {{ sale_date.day }}), {{ data.0|unlocalize }}, {{ data.2|unlocalize }}, {{ data.3|unlocalize }}, {{ data.1 }}]
                {% else %}
                [new Date({{ sale_date.year }}, {{ sale_date.month }} - 1, {{ sale_date.day }}), {{ data.0|unlocalize }}, {{ data.2|unlocalize }}, {{ data.3|unlocalize }}, {{ data.1 }}],
                {% endif %}
            {% endfor %}
            ]);
            data.sort(0);
            var left = data.getColumnRange(1);
            var right = data.getColumnRange(2);
            var view = new google.visualization.DataView(data);

            {% if request.user.referral_partner %}
            var series = {
                    0: {targetAxisIndex: 0},
                    1: {targetAxisIndex: 0, color: '#ff9900'},
                    2: {targetAxisIndex: 0, color: '#2c2c2c'},
                    3: {targetAxisIndex: 1, color: '#dc3912'}
                };
            {% else %}
            var series = {
                    0: {targetAxisIndex: 0},
                    1: {targetAxisIndex: 0, color: '#2c2c2c'},
                    2: {targetAxisIndex: 1, color: '#dc3912'}
                };
            view.setColumns([0, 1, 3, 4]);
            {% endif %}
            var chart = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'graph',
                dataTable: view,
                options: {
                    vAxes: {
                        0: {
                            minValue: 0,
                            maxValue: (left.min == 0 && left.max == 0) ? 1 : null,
                            title: '{% trans "Commission" %} ({{ currency }})',
                            textStyle: {color: '#3366cc'},
                            titleTextStyle: {color: '#3366cc'}
                        },
                        1: {
                            minValue: 0,
                            maxValue: (right.min == 0 && right.max == 0) ? 1 : null,
                            title: '{% trans "Clicks" %}',
                            textStyle: {color: '#dc3912'},
                            titleTextStyle: {color: '#dc3912'}
                        },
                    },
                    series: series
                }
            });
            chart.draw();
        }
        $(document).ready(function() {
            $('.date-select').change(function() {
                var $selected = $(this).find(':selected');
                var year = $selected.data('year');
                var month = $selected.data('month');

                window.location.href = '/publisher/dashboard/' + year + '/' + month + '/';
            });
            new Tablesort($('table.sortable').get(0));
        });
    </script>
{% endblock %}

{% block body-classes %}publisher-page{% endblock body-classes %}
{% block body %}

    {% include 'dashboard/body_header.html' %}

    <div class="row subnav-page">
        <div class="col-sm-3">{% trans "Pending commission: " %}<strong>{{ sales_pending|floatformat:2 }} {{ currency }}</strong></div>
        <div class="col-sm-3"><span class="glyphicon glyphicon-arrow-right"></span> {% trans "Confirmed commission: " %}<strong>{{ total_confirmed|floatformat:2 }} {{ currency }}</strong></div>
        <div class="col-sm-3"><span class="glyphicon glyphicon-arrow-right"></span> {% trans "Pending payment: " %}<strong>{{ pending_payment|floatformat:2 }} {{ currency }}</strong></div>
        <div class="col-sm-3"><a data-toggle="modal" href="#modal_publisher_info">{% trans "How payments work" %}</a></div>
        <div class="col-sm-12" style="border-bottom: 2px solid #DDD; text-align:center; margin:10px; padding-bottom: 45px;">{% trans "In total, " %}<strong>{{ total_earned }} {{ currency }}</strong> {% trans "has been paid out to you" %}</div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ul class="list-inline monthly-list">
                <li>
                <label>{% trans "Show statistics for: " %}
                    <select class="date-select">
                        {% for date in dates %}
                        <option data-year="{{ date.year }}" data-month="{{ date.month }}"{% if date.year == year and date.month == month %} selected{%endif %}>{{ date|date:"F Y" }}</option>
                        {% endfor %}
                    </select>
                </label>
                </li>
            </ul>
            <ul class="list-inline monthly-list">
                <li>{% blocktrans %}Your commission: {{ month_commission }} {{ currency }}{% endblocktrans %}</li>
                <li>{% blocktrans %}Clicks: {{month_clicks}}{% endblocktrans %}</li>
                <li>{% blocktrans %}Sales: {{month_sales}}{% endblocktrans %}</li>
                <li>{% blocktrans with conversion_rate=month_conversion_rate|floatformat:2 %}Conversion rate: {{ conversion_rate }}%{% endblocktrans %}</li>
            </ul>


            {% if request.user.referral_partner %}
            <ul class="list-inline monthly-list">
                <li>{% blocktrans %}Referral commission: {{ referral_commission }} {{ currency }}{% endblocktrans %}</li>
                <li>{% blocktrans %}Referrals: {{referral_sales}}{% endblocktrans %}</li>
            </ul>
            {% endif %}
            {% if network_sales %}
            <ul class="list-inline monthly-list">
                <li>{% blocktrans %}Network commission: {{ network_commission }} {{ currency }}{% endblocktrans %}</li>
                <li>{% blocktrans %}Network sales: {{ network_sales }}{% endblocktrans %}</li>
            </ul>
            {% endif %}


        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="graph" style="width: 100%; height: 300px;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% if request.user.referral_partner %}
            <a class="btn btn-primary btn-uppercase" href="{% url 'dashboard-referral' %}">{% trans "Earn money by inviting other publishers/bloggers" %}</a>
            {% endif %}
        </div>
    </div>

    {% if is_after_june %}
    <div class="row">
        <div class="col-md-6">

            <h2>{% trans "Most clicked products" %}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col1 product-image">{% trans "Product" %}</th>
                        <th class="col2"></th>
                        <th class="col3 center">{% trans "Clicks" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in most_clicked_products %}
                    <tr>
                        <td class="col1 product-image"><a href="{{ product.product_link }}"><img src="{{ product.product_image }}"></a></td>
                        <td class="col2"><a href="{{ product.product_link }}">{{ product.product }}</a></td>
                        <td class="col3 center">{{ product.clicks }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">{% trans "No sales yet." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="col-md-6">

            <h2>{% trans "Generated most sales" %}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col1 product-image">{% trans "Product" %}</th>
                        <th class="col2"></th>
                        <th class="col3 center">{% trans "Sales" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in most_sold_products %}
                    <tr>
                        <td class="col1 product-image"><a href="{{ product.product_link }}"><img src="{{ product.product_image }}"></a></td>
                        <td class="col2"><a href="{{ product.product_link }}">{{ product.product }}</a></td>
                        <td class="col3 center">{{ product.sales }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">{% trans "No sales yet." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="sales-header">{% trans "Your Earnings" %}</h2>
            <table class="sortable table">
                <thead>
                    <tr>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Item" %}</th>
                        <th class="hidden-xs"></th>
                        <th>{% trans "From" %}</th>
                        <th class="center">{% trans "Clicks" %}</th>
                        <th>{% trans "Commission" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for earning in user_earnings %}
                    <tr>
                        <td data-sort="{{ earning.date|date:"U" }}">{{ earning.date.date }}</td>
                        {% if earning.extra_sale.is_referral_sale %}
                        <td class="hidden-xs">{% trans "Referral sale by" %} <a href="{{ earning.from_user }}">{{ earning.from_user }}</a></td>
                        <td>{% trans "Referral" %}</td>
                        <td class="center"></td>
                        {% elif earning.extra_sale.is_promo %}
                        <td></td>
                        <td class="hidden-xs"></td>
                        <td>{% trans "Welcome to APPRL" %}</td>
                        <td class="center"></td>
                        {% else %}
                            {% if earning.from_user %}
                                <td><a href="#"><img src="{{ earning.from_user_avatar }}"></a></td>
                                <td class="hidden-xs"><a href="#">{% if earning.from_user.name %}{{ earning.from_user.name }}{% else %}{{ earning.from_user.slug }}{% endif %}</a></td>
                            {% elif earning.from_product %}
                                <td><a href="{{ earning.extra_sale.product_link }}"><img src="{{ earning.extra_sale.product_image }}"></a></td>
                                <td class="hidden-xs">{% if earning.extra_sale.product_link %}<a href="{{ earning.extra_sale.product_link }}">{{ earning.extra_sale.product }}</a>{% else %}{% if earning.extra_sale.link_raw != 'Ext-Store' %}{{ earning.extra_sale.product }}{% endif %}{% endif %}</td>
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}
                        <td>{% if earning.extra_sale.link %}{{ earning.extra_sale.link }}{% else %}{{ earning.type}}{% endif %}</td>
                        <td class="center">{{ earning.extra_sale.clicks }}</td>
                        {% endif %}

                        <td data-sort="{{ earning.amount }}">{{ earning.amount|floatformat:2 }} {{ currency }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">{% trans "No earnings yet." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

{% include 'dashboard/modal_more_info.html' %}
{% endblock body %}
