{% extends 'base.html' %}
{% load i18n cache %}

{% block extra-title %}{% trans "Become a publisher" %} | {% endblock %}

{% block body-classes %}one-column dashboard dashboard-complete{% endblock body-classes %}
{% block body %}
<div id="content">
  <h1>{% trans "Thanks for your application!" %}</h1>
  <p class="complete">{% trans "We will soon get in touch with you." %}</p>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_trackEvent', 'Publisher', 'Signup', '{{ request.session.publisher_info }}']);
</script>
{% endblock %}
