{% extends 'base.html' %}
{% load i18n %}

{% block body-classes %}index-page-complete{% endblock body-classes %}
{% block body %}
<div class="body-header">
    <div class="body-header-col-full">
        <h1>{% trans "Thanks for your application!" %}</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        {% if analytics_identifier == 'Publisher' %}
        <p>{% trans "We will soon get in touch with you." %} {% trans "In the meantime, create your account:" %}</p>
        <a class="btn btn-primary" href="{% url 'auth_register' %}">{% trans "CREATE YOUR ACCOUNT" %}</a>
        {% else %}
        <p>{% trans "We will soon get in touch with you." %}</p>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_trackEvent', '{{ analytics_identifier }}', 'Signup', '{{ request.session.index_complete_info }}']);
</script>
{% endblock %}
