{% extends 'base.html' %}
{% load i18n l10n cache dashboard_extras %}
{% load static from staticfiles %}

{% block extra-title %}{% trans "Publisher" %} | {% endblock %}
{% block 'extra-scripts' %}
    <script type="text/javascript" src="{% static "js/vendor/tablesort.min.js" %}"></script>
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
        google.load('visualization', '1', {packages: ['corechart']});
        google.setOnLoadCallback(drawChart);
        function drawChart () {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'X');
            data.addColumn('number', '{% trans "Commission Earnings" %} ({{ currency }})');
            data.addColumn('number', '{% trans "Referral earnings" %} ({{ currency }})');
            data.addColumn('number', '{% trans "Network earnings" %} ({{ currency }})');
            data.addColumn('number', '{% trans "Click earnings" %} ({{ currency }})');
            data.addColumn('number', '{% trans "Clicks" %}');
            data.addRows([
            {% for sale_date, data in data_per_day.items %}
                {% if forloop.last %}
                [new Date({{ sale_date.year }}, {{ sale_date.month }} - 1, {{ sale_date.day }}), {{ data.0|unlocalize }}, {{ data.2|unlocalize }}, {{ data.3|unlocalize }}, {{ data.4|unlocalize }}, {{ data.1 }}]
                {% else %}
                [new Date({{ sale_date.year }}, {{ sale_date.month }} - 1, {{ sale_date.day }}), {{ data.0|unlocalize }}, {{ data.2|unlocalize }}, {{ data.3|unlocalize }}, {{ data.4|unlocalize }}, {{ data.1 }}],
                {% endif %}
            {% endfor %}
            ]);
            data.sort(0);
            var left = data.getColumnRange(1);
            var right = data.getColumnRange(2);
            var view = new google.visualization.DataView(data);

            /* TODO Maybe this could be written better */
            {% if request.user.referral_partner %}
                {% if is_owner %}
                var series = {
                    0: {targetAxisIndex: 0},
                    1: {targetAxisIndex: 0, color: '#ff9900'},
                    2: {targetAxisIndex: 0, color: '#2c2c2c'},
                    3: {targetAxisIndex: 0, color: '#ababab'},
                    4: {targetAxisIndex: 1, color: '#dc3912'}
                };
                {% else %}
                var series = {
                    0: {targetAxisIndex: 0},
                    1: {targetAxisIndex: 0, color: '#ff9900'},
                    2: {targetAxisIndex: 0, color: '#ababab'},
                    3: {targetAxisIndex: 1, color: '#dc3912'}
                };
                view.setColumns([0, 1, 2, 4, 5]);
                {% endif %}
            {% else %}
                {% if is_owner %}
                var series = {
                    0: {targetAxisIndex: 0},
                    1: {targetAxisIndex: 0, color: '#2c2c2c'},
                    2: {targetAxisIndex: 0, color: '#ababab'},
                    3: {targetAxisIndex: 1, color: '#dc3912'}
                };
                view.setColumns([0, 1, 3, 4, 5]);
                {% else %}
                var series = {
                    0: {targetAxisIndex: 0},
                    1: {targetAxisIndex: 0, color: '#ababab'},
                    2: {targetAxisIndex: 1, color: '#dc3912'}
                };
                view.setColumns([0, 1, 4, 5]);
                {% endif %}
            {% endif %}
            var chart = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'graph',
                dataTable: view,
                options: {
                    vAxes: {
                        0: {
                            minValue: 0,
                            maxValue: (left.min == 0 && left.max == 0) ? 1 : null,
                            title: '{% trans "Earnings" %} ({{ currency }})',
                            textStyle: {color: '#3366cc'},
                            titleTextStyle: {color: '#3366cc'}
                        },
                        1: {
                            minValue: 0,
                            maxValue: (right.min == 0 && right.max == 0) ? 1 : null,
                            title: '{% trans "Clicks" %}',
                            textStyle: {color: '#dc3912'},
                            titleTextStyle: {color: '#dc3912'}
                        }
                    },
                    series: series
                }
            });
            chart.draw();
        }
        $(document).ready(function() {
            $('.month-select').change(function() {
                var month = $('.month-select').find(':selected').data('month');
                var year = $('.year-select').find(':selected').data('year');
                window.location.href = '/publisher/dashboard/' + year + '/' + month + '/';

            });
            $('.year-select').change(function() {
                var month = $('.month-select').find(':selected').data('month');
                var year = $('.year-select').find(':selected').data('year');
                window.location.href = '/publisher/dashboard/' + year + '/' + month + '/';
            });

            new Tablesort($('table#earnings').get(0));
            new Tablesort($('table#top-products').get(0));
            new Tablesort($('table#top-products-more').get(0));
            new Tablesort($('table#top-publishers').get(0));
            new Tablesort($('table#top-publishers-more').get(0));

        });
    </script>
{% endblock %}

{% block body-classes %}publisher-page{% endblock body-classes %}
{% block body %}

    {% include 'dashboard/body_header.html' %}

    <div class="row subnav-page">
        <div class="col-sm-3">{% trans "Pending earnings: " %}<strong>{{ currency }} {{ sales_pending|floatformat:2 }}</strong></div>
        <div class="col-sm-3"><span class="glyphicon glyphicon-arrow-right"></span> {% trans "Confirmed earnings: " %}<strong>{{ currency }} {{ total_confirmed|floatformat:2 }}</strong></div>
        <div class="col-sm-3"><span class="glyphicon glyphicon-arrow-right"></span> {% trans "Pending payment: " %}<strong>{{ currency }} {{ pending_payment|floatformat:2 }}</strong></div>
        <div class="col-sm-3"><a data-toggle="modal" href="#modal_publisher_info">{% trans "How payments work" %}</a></div>
        <div class="col-sm-12" style="border-bottom: 2px solid #DDD; text-align:center; margin:10px; padding-bottom: 45px;">{% trans "In total, " %}<strong>{{ currency }} {{ total_earned }}</strong> {% trans "has been paid out to you" %}</div>
    </div>

    <div class="row">
        <ul class="list-inline monthly-list date-dropdown">
            <li>
            <label>{% trans "Show statistics for: " %}
                <select class="month-select">
                    {% for item_month in months_choices %}
                    <option data-month="{{ item_month.0 }}"{% if item_month.0 == month %} selected{%endif %}>{{ item_month.1 }}</option>
                    {% endfor %}
                </select>
                <select class="year-select">
                    {% for item_year in years_choices %}
                    <option data-year="{{ item_year }}" {% if item_year == year %} selected{%endif %}>{{ item_year }}</option>
                    {% endfor %}
                </select>
            </label>
            </li>
        </ul>
        <ul class="list-inline monthly-list">
            <li><b>{% blocktrans %}Total earnings: {{ currency }} {{ total_commission }}{% endblocktrans %}</b></li>
        </ul>
        <ul class="list-inline monthly-list">
            <li>{% blocktrans %}Commission earnings: {{ currency }} {{ month_commission }}{% endblocktrans %}</li>
            <li>{% blocktrans %}Clicks: {{ month_clicks }}{% endblocktrans %}</li>
            <li>{% blocktrans %}Sales: {{ month_sales }}{% endblocktrans %}</li>
            <li>{% blocktrans with conversion_rate=month_conversion_rate|floatformat:2 %}Conversion rate: {{ conversion_rate }}%{% endblocktrans %}</li>
        </ul>
        {% if request.user.referral_partner %}
        <ul class="list-inline monthly-list">
            <li>{% blocktrans %}Referral earnings: {{ currency }} {{ referral_commission }}{% endblocktrans %}</li>
            <li>{% blocktrans %}Referrals: {{referral_sales}}{% endblocktrans %}</li>
        </ul>
        {% endif %}
        {% if is_owner %}
        <ul class="list-inline monthly-list">
            <li>{% blocktrans %}Network earnings: {{ currency }} {{ network_commission }}{% endblocktrans %}</li>
            <li>{% blocktrans %}Clicks: {{ network_clicks }}{% endblocktrans %}</li>
            <li>{% blocktrans %}Sales: {{ network_sales }}{% endblocktrans %}</li>
            <li>{% blocktrans %}Conversion rate: {% endblocktrans %}{{ network_sales|commission_rate:network_clicks  }}</li>
        </ul>
        {% endif %}
        <ul class="list-inline monthly-list">
            <li>{% blocktrans %}Click earnings: {{ currency }} {{ ppc_earnings }}{% endblocktrans %}</li>
            <li>{% blocktrans %}Clicks: {{ ppc_clicks }}{% endblocktrans %}</li>
        </ul>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="graph" style="width: 100%; height: 300px;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% if request.user.referral_partner %}
            <a class="btn btn-primary btn-uppercase" href="{% url 'dashboard-referral' %}">{% trans "Earn money by inviting other publishers/bloggers" %}</a>
            {% endif %}
        </div>
    </div>

    {% if is_after_june %}

    {% if is_owner %}
        <div class="row">
            <div class="col-lg-12 table-responsive">
                <div class="col-lg-10 col-md-6 col-sm-6 nopadding"><h2>{% trans "Top publishers" %} {{ month_display }} {{ year }}</h2></div>
                <div class="col-lg-2 col-md-6 col-sm-6 text-right hidden-xs nopadding"><h2><small><a class="btn btn-primary" data-toggle="modal" data-target="#modal_top_publishers">{% trans "See all" %}</a></small></h2></div>
                <table id="top-publishers" class="sortable table">
                    <thead>
                        <tr>
                            <th class="col1 product-image center">{% trans "Publisher" %}</th>
                            <th class="col2 center"></th>
                            <th class="center hidden-xs ">{% trans "Commission earnings" %}</th>
                            <th class="center hidden-xs ">{% trans "Click earnings" %}</th>
                            <th class="center">{% trans "Total earnings" %}</th>
                            <th class="center">{% trans "Network earnings" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for publisher in top_publishers|top_five %}
                        <tr>
                            <td data-sort="{{ publisher.user }}" class="col1 product-image center"><img src="{{ publisher.publisher_image }}"></td>
                            <td data-sort="{{ publisher.user }}" class="col2"><a href="{{ publisher.publisher_link }}">{{ publisher.user }}</a></td>
                            <td class="hidden-xs center" data-sort="{{ publisher.publisher_earnings }}">
                                {{ currency }} {{ publisher.publisher_earnings|floatformat:2 }}
                            </td>
                            {% comment %}{% if is_admin %}{% endcomment %}
                            <td class="hidden-xs center" data-sort="{{ publisher.publisher_click_earnings }}">
                                {{ currency }} {{ publisher.publisher_click_earnings|floatformat:2 }}
                            </td>
                            {% comment %}{% else %}
                                <td class="center" data-sort="{{ publisher.network_click_earnings }}">
                                    {{ publisher.network_click_earnings }} {{ currency }}
                                </td>
                            {% endif %}{% endcomment %}
                            <td class="center" data-sort="{{ publisher.total_network_earnings }}">
                                {{ currency }} {{ publisher.total_network_earnings|floatformat:2 }}
                            </td>
                            <td class="center" data-sort="{{ publisher.network_earnings }}">
                                {{ currency }} {{ publisher.network_earnings|floatformat:2 }}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">{% trans "No sales yet." %}</td>
                        </tr>
                        {% endfor %}
                </tbody>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12 table-responsive">
            <div class="col-lg-10 col-md-6 col-sm-6 nopadding"><h2>{% trans "Top products" %} {{ month_display }} {{ year }}</h2></div>
            <div class="col-lg-2 col-md-6 col-sm-6 text-right hidden-xs nopadding"><h2><small><a class="btn btn-primary" data-toggle="modal" data-target="#modal_top_products">{% trans "See all" %}</a></small></h2></div>
            <table id="top-products" class="sortable table">
                <thead>
                    <tr>
                        <th class="col1 product-image center">{% trans "Product" %}</th>
                        <th class="col2 hidden-xs center"></th>
                        <th class="col3 center hidden-xs center">{% trans "Clicks" %}</th>
                        <th class="center">{% trans "Sales" %}</th>
                        <th class="center hidden-xs">{% trans "Conversion rate" %}</th>
                        <th class="hidden-xs center">{% trans "Sales generated" %}</th>
                        <th class="center">{% trans "Total earnings" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in most_sold_products|top_five %}
                    <tr>
                        <td data-sort="{{ product.product }}" class="col1 product-image center"><a href="{{ product.product_link }}"><img src="{{ product.product_image }}"></a></td>
                        <td class="col2 hidden-xs"><a href="{{ product.product_link }}">{{ product.product }}</a></td>
                        <td class="col3 center hidden-xs">{{ product.clicks }}</td>
                        <td class="center">{% if product.sales == 0 %}-{% else %}{{ product.sales }}{% endif %}</td>
                        <td class="hidden-xs center">{{ product.sales|commission_rate:product.clicks }}</td>
                        <td class="hidden-xs center">{{ currency }} {{ product.converted_amount|floatformat:2 }}</td>
                        <td class="center">{{ currency }} {{ product.total_earnings|floatformat:2 }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">{% trans "No sales yet." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 table-responsive">
            <h2 class="sales-header">{% trans "Your earnings" %} {{ month_display }} {{ year }}</h2>
                <table id="earnings" class="sortable table">
                    <thead>
                        <tr>
                            <th class="hidden-xs">{% trans "Date" %}</th>
                            <th>{% trans "Description" %}</th>
                            <th class="hidden-xs"></th>
                            <th class="hidden-xs">{% trans "Details" %}</th>
                            <th>{% trans "Sale value" %}</th>
                            <th>{% trans "Your earnings" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for earning in user_earnings %}
                        <tr>
                            <!-- Date -->
                            <td class="hidden-xs" data-sort="{{ earning.date|date:"U" }}">{{ earning.date.date }}</td>

                            {% if earning.user_earning_type == "referral_sale_commission" %}
                                <!-- If referral, show user -->
                                <td class="center hidden-xs"></td>
                                <td data-sort="{{ earning.from_user }}">{% trans "Referral sale by" %} <a href="{{ earning.from_user }}">{{ earning.from_user }}</a></td>
                                <td class="hidden-xs">{% trans "Referral" %}</td>
                            {% elif earning.extra_sale.is_promo %}
                                <!-- Referral Signup -->
                                <td class="hidden-xs"></td>
                                <td class="hidden-xs"></td>
                                <td>{% trans "Welcome to APPRL" %}</td>
                            {% elif earning.user_earning_type == "publisher_sale_click_commission" or earning.user_earning_type == "publisher_network_click_tribute" %}
                                <!-- Clicks -->
                                <td class="hidden-xs" colspan="2">{% trans "Clicks to " %}{{ earning.sale.vendor }}</td>
                                <td>
                                    {% if earning.from_user %}{% trans "Clicks by " %} {% if earning.from_user.name %}{{ earning.from_user.name }}{% else %}{{ earning.from_user.slug }}{% endif %}{% endif %}
                                </td>
                            {% else %}
                                <!-- Product Information -->
                                <td data-sort="{{ earning.product_name }}"><a href="{{ earning.product_link }}"><img src="{{ earning.product_image }}"></a></td>
                                <td class="hidden-xs">{% if earning.product_link %}<a href="{{ earning.product_link }}">{{ earning.product_name }}</a>{% else %}{% if earning.extra_sale.link_raw != 'Ext-Store' %}{{ earning.product_name }}{% endif %}{% endif %}</td>

                                <!-- FROM -->
                                <td class="hidden-xs">
                                    {% if earning.extra_sale.link %}
                                        {{ earning.extra_sale.link }}
                                    {% else %}
                                        {% if earning.user_earning_type == 'publisher_network_tribute' %}
                                            {% trans "Sale by " %} {% if earning.from_user.name %}{{ earning.from_user.name }}{% else %}{{ earning.from_user.slug }}{% endif %}
                                        {% elif earning.user_earning_type == 'publisher_sale_commission' %}
                                            <td class="hidden-xs">{% if earning.extra_sale.product_link %}<a href="{{ earning.extra_sale.product_link }}">{{ earning.extra_sale.product }}</a>{% else %}{% if earning.extra_sale.link_raw != 'Ext-Store' %}{{ earning.extra_sale.product }}{% endif %}{% endif %}</td>
                                        {% else %}
                                            {{ earning.get_user_earning_type_display }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td data-sort="{{ earning.sale.converted_amount }}">
                                {% if earning.user_earning_type == "publisher_sale_click_commission" or earning.user_earning_type == "publisher_network_click_tribute" %}
                                    <a class="btn btn-primary click-detail" data-user="{{ earning.sale.user_id }}"
                                       data-vendor="{{ earning.sale.vendor }}" data-date="{{ earning.date|date:"U" }}"
                                       data-amount="{{ earning.amount }}" data-clicks="{{ earning.clicks }}">
                                        {% trans "See details" %}
                                    </a>
                                {% else %}
                                    {{ currency }} {{ earning.sale.converted_amount|floatformat:2 }}
                                {% endif %}
                            </td>
                            <td data-sort="{{ earning.amount }}">{{ currency }} {{ earning.amount|floatformat:2 }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">{% trans "No earnings yet." %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    {% endif %}

<script>
    $(".click-detail").click(function() {
        var user_id = $(this).data("user");
        var vendor = $(this).data("vendor");
        var date = $(this).data("date");
        var amount = $(this).data("amount");
        var clicks = $(this).data("clicks");
        $.ajax({
            type: "post",
            url: "{% url 'clicks-detail' %}",
            data: { user_id: user_id, vendor : vendor, date : date, amount: amount, clicks: clicks},
            success: function (response) {
                var json = jQuery.parseJSON(response);
                load_detailed_data_clicks(json, date, vendor, "{{ currency }}");
            }
        });
    });
</script>

{% include 'dashboard/fragments/dialog_detail_clicks.html' with request=request csrf_token=csrf_token only  %}
{% include 'dashboard/fragments/dialog_top_products.html' with request=request csrf_token=csrf_token next=next most_sold_products=most_sold_products is_admin=False currency=currency month=month_display year=year  only  %}
{% include 'dashboard/fragments/dialog_top_publishers.html' with request=request csrf_token=csrf_token next=next top_publishers=top_publishers is_admin=False currency=currency month=month_display year=year only %}
{% include 'dashboard/modal_more_info.html' %}
{% endblock body %}