{% load static from staticfiles %}
{% load i18n compressed %}

<div id="product-chooser" data-reset-text="{% trans "Reset" %}">

    {% if not enabled %}<div class="disabled"><div class="info">{% trans liked_info %}</div></div>{% endif %}

    <ul id="product-tabs" class="nav nav-tabs nav-justified">
        <li><a{% if request.user.is_authenticated %} data-user="{{ request.user.id }}"{% endif %} class="tab-likes" href="#"><i class="fa fa-heart"></i>&nbsp;<span>{% trans "Saved" %}</span></a></li>
        <li class="active"><a class="tab-all" href="#"><i class="fa fa-list"></i>&nbsp;{% trans "All" %}<span class="hidden-xs">{% trans " products" %}</span></a></li>
    </ul>

    <a href="#" class="close-product-chooser"><i class="fa fa-times"></i></a>

    <div id="product-wrapper" class="product-chooser-wrapper">
        <div class="product-filter-container">

            <div id="product-filter">
                <ul id="product-filter-gender" class="list-filter-a hidden-xs">
                    <li><a href="#" data-value="W"{% if gender == 'W' %} class="selected"{% endif %}>{% trans "Women" %}</a></li>
                    <li><a href="#" data-value="M"{% if gender == 'M' %} class="selected"{% endif %}>{% trans "Men" %}</a></li>
                </ul>

                <div class="search-wrapper">
                    <i class="fa fa-search"></i>
                    <input id="product-search" type="search" name="q" placeholder="{% trans 'Search products & brands here' %}">
                </div>

                <a class="btn btn-primary btn-sm btn-product-reset hidden-xs" style="display: none;" href="#">{% trans "Reset" %}</a>

                <div class="hidden-filters-container">
                    <a class="btn btn-grey btn-filter hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#hidden-filters" aria-expanded="false">{% trans "Filter products" %} <i class="fa fa-chevron-down"></i></a>

                    <div class="collapse" id="hidden-filters" aria-expanded="false">

                        <ul class="hidden-filters list-horizontal">
                            <li class="btn-product-reset hidden-sm hidden-md hidden-lg dropdown" style="display:none">
                                <a class="btn btn-primary btn-sm btn-product-reset" style="display:none;" href="#">
                                    <span>{% trans "Reset" %}</span>
                                </a>
                            </li>
                            <li id="product-filter-gender-2" class="dropdown left hidden-sm hidden-md hidden-lg">
                                <a class="btn btn-sm dropdown-toggle" href="#" data-default-name="{% trans "Choose gender" %}"><span>{% trans "Choose gender" %}</span> <i class="fa fa-chevron-up"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" data-value="W"{% if gender == 'W' %} class="selected"{% endif %}>{% trans "Women" %}</a>
                                    </li>
                                    <li>
                                        <a href="#" data-value="M"{% if gender == 'M' %} class="selected"{% endif %}>{% trans "Men" %}</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="product-filter-category" class="dropdown left">
                                <a class="btn btn-sm dropdown-toggle" href="#" data-default-name="{% trans "Category" %}"><span>{% trans "Category" %}</span> <i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li id="product-filter-subcategory" class="dropdown left">
                                <a class="btn btn-sm dropdown-toggle" href="#" data-default-name="{% trans "Subcategory" %}"><span>{% trans "Subcategory" %}</span> <i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li id="product-filter-color" class="dropdown">
                                <a class="btn btn-sm dropdown-toggle" href="#" data-default-name="{% trans "Color" %}"><span>{% trans "Color" %}</span> <i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li id="product-filter-price" class="dropdown">
                                <a class="btn btn-sm dropdown-toggle" href="#" data-default-name="{% trans "Price" %}"><span>{% trans "Price" %}</span> <i class="fa fa-chevron-up"></i></a>
                            </li>
                            {% if request.user.is_authenticated and request.user.is_partner %}
                            <li id="product-filter-store" class="dropdown left">
                                <a class="btn btn-sm dropdown-toggle" href="#" data-default-name="{% trans "Store" %}"><span>{% trans "Store" %}</span> <i class="fa fa-chevron-up"></i></a>
                            </li>
                            {% endif %}
                        </ul>

                    </div>
                </div>

            </div>
        </div>

        <div class="product-list-container">
            <div id="product-list-empty">
                <p>{% trans "No matching items" %}</p>
                {% comment %}<a class="btn btn-default btn-reset" href="#">{% trans "Reset search" %}</a>{% endcomment %}
            </div>

            <div id="product-list-unauthenticated">
                <p>{% trans "Connect with your Facebook account to save your favourite items." %}</p>
                <a class="facebook-btn" href="#login"><img src="{% static "images/facebook-en.png" %}"></a>
            </div>

            <ul id="product-list" class="list-inline"></ul>
        </div>
    </div>

</div>