{% load i18n compressed %}
{% load static from staticfiles %}

<div id="product-widget-preview">
    <div id="preview-header" class="preview-header">
        {%  trans 'My widget preview' %}
    </div>
    <div class="product-list-container">
        <div id="product-widget-product-list" class="">
            <a class="previous">Previous</a>
            <a class="next">Next</a>
            <ul class="product-list list-unstyled"></ul>
        </div>
    </div>
</div>

{% include 'apparel/tools/dialog_embed_product_widget.html' with request=request LANGUAGES=LANGUAGES external_product_widget_id=external_product_widget_id only %}