{% load i18n compressed %}
{% load static from staticfiles %}

<div id="product-widget-preview">
    <div id="preview-header" class="preview-header">
        {%  trans 'My shop preview' %}
    </div>
    <div class="product-list-container">
        <div>
            <div id="shop-product-list" class="col-product-list{% if show_liked == 'true' %} liked-products{% endif %}">
                <h3>0 {% trans 'products' %}</h3>
                <ul class="product-list list-unstyled"></ul>
            </div>
        </div>
    </div>
</div>

{% include 'apparel/tools/dialog_embed_product_widget.html' with request=request LANGUAGES=LANGUAGES external_product_widget_id=external_product_widget_id only %}