{% extends 'activity_feed/verbs/base.html' %}
{% load apparel_extras i18n thumbnail thumbnail_extras %}

{% block activity_header %}
    {% for user in users %}{% if not forloop.first %}{% if forloop.last %} {% trans "and" %} {% else %}, {% endif %}{% endif %}<a href="{{user.get_absolute_url}}">{{user.display_name}}</a>{% endfor %}
    {% blocktrans with user_url=users.0.get_absolute_url count count=total_objects %}
    has added <a href="{{user_url}}">a new product</a>
    {% plural %}
    has added <a href="{{user_url}}">{{count}} new products</a>
    {% endblocktrans %}
{% endblock %}

{% block activity_content %}
    {% if total_objects == 1 %}
        {% include 'apparel/fragments/product_medium.html' with object=objects.0 %}
    {% else %}
        <ul class="group">
            {% for object in objects %}
                <li>{% include 'apparel/fragments/product_medium.html' with object=object %}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
