{% load i18n cache %}
<div class="feed-item panel feed-verb-{{ object.verb }}" data-user-id="{{ object.user_id }}">

    {% cache CACHE_TIMEOUT activity_header object.id LANGUAGE_CODE %}
    <div class="panel-heading">
        <a href="{% block activity_header_image_url %}{{ object.user.get_absolute_url }}{% endblock %}"><img class="img-circle" src="{{ object.user.avatar }}"></a>
        <p>{% block activity_header %}{% endblock %}</p>
    </div>
    {% endcache %}
    <div class="panel-body">
        {% block activity_content %}{% endblock %}
    </div>
</div>
