{% load apparel_extras comments i18n %}
<article class="activity {{ verb }}">
    <header class="activity-header">
        <div class="activity-image">
            <a href="{{ users.0.get_absolute_url }}"><img src="{{ users.0.avatar }}" width="50" height="50"></a>
        </div>
        <div class="activity-short">
            <h3>{% block activity_header %}{% endblock %}</h3>
            <p class="activity-date">{{ created|since }}</p>
        </div>
    </header>
    <div class="activity-content">{% block activity_content %}{% endblock %}</div>
    {% if enable_comments and objects|length == 1 %}
    <div class="activity-comment comment-box">
        {% if comment_count > 2 %}
        <a class="comment-count" href="{{ objects.0.get_absolute_url }}#comments">{% blocktrans with comment_count=comment_count %}See all {{comment_count}} comments{% endblocktrans %}</a>
        {% endif %}
        <ul class="comments-list">
        {% for comment in comments %}
            {% include 'comments/comment.html' %}
        {% endfor %}
        </ul>
        {% if user and user.is_authenticated %}
        {% render_comment_form for objects.0 %}
        {% endif %}
    </div>
    {% endif %}
</article>
