{% extends 'activity_feed/activity.html' %}
{% load i18n %}

{% block activity_header %}
    {% for user in users %}{% if not forloop.first %}{% if forloop.last %} {% trans "and" %} {% else %}, {% endif %}{% endif %}<a href="{{user.get_absolute_url}}">{{user.display_name}}</a>{% endfor %}
    {% trans "now follows" %} <a href="{{objects.0.get_absolute_url}}">{{objects.0.display_name}}</a>
{% endblock %}

{% block activity_content %}
    <a href="{{ objects.0.get_absolute_url }}"><img src="{{ objects.0.avatar_large }}"></a>
{% endblock %}
