{% extends 'activity_feed/verbs/base.html' %}
{% load i18n %}

{% block activity_header %}
    {% for user in users %}{% if not forloop.first %}{% if forloop.last %} {% trans "and" %} {% else %}, {% endif %}{% endif %}<a href="{{user.get_absolute_url}}">{{user.display_name}}</a>{% endfor %}
    {% if objects|length > 1 %}
        {% blocktrans with count=objects|length %}<span class="likes-text">likes</span> {{count}} looks{% endblocktrans %}
    {% else %}
        <span class="likes-text">{% trans "likes" %}</span>
    {% endif %}
{% endblock %}

{% block activity_content %}
    {% include 'apparel/fragments/look_medium.html' with object=objects.0 %}
{% endblock %}
