{% extends 'activity_feed/activity.html' %}
{% load i18n %}

{% block activity_header %}
    <a href="{{object.user.get_absolute_url}}">{{object.user.display_name}}</a> {% trans "likes the look" %} <a href="{{object.activity_object.get_absolute_url}}">{{object.activity_object.title}}</a> {% trans "by" %} <a href="{{object.activity_object.user.get_absolute_url}}">{{object.activity_object.user.get_profile.display_name}}</a>
{% endblock %}

{% block activity_content %}
    {% include 'apparel/fragments/look_medium.html' with object=object.activity_object %}
{% endblock %}
