{% extends 'activity_feed/verbs/base.html' %}
{% load i18n %}

{% block activity_header %}
    {% for user in users %}{% if not forloop.first %}{% if forloop.last %} {% trans "and" %} {% else %}, {% endif %}{% endif %}<a href="{{user.get_absolute_url}}">{{user.display_name}}</a>{% endfor %}
    {% if objects|length > 1 %}
    {% blocktrans with count=objects|length %}likes {{count}} looks{% endblocktrans %}
    {% else %}
    {% blocktrans with object_url=objects.0.get_absolute_url title=objects.0.title user_url=objects.0.user.get_absolute_url user_name=objects.0.user.display_name %}
    likes the look <a href="{{object_url}}">{{title}}</a> by <a href="{{user_url}}">{{user_name}}</a> 
    {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block activity_content %}
    {% include 'apparel/fragments/look_medium.html' with object=objects.0 %}
{% endblock %}
