{% extends 'activity_feed/verbs/base.html' %}
{% load i18n apparel_extras cache %}

{% block activity_header %}
    {% for user in users %}{% if not forloop.first %}{% if forloop.last %} {% trans "and" %} {% else %}, {% endif %}{% endif %}<a href="{{user.get_absolute_url}}">{{user.display_name}}</a>{% endfor %}
    {% comment %}TODO: fix objects.0.id when we do aggregations{% endcomment %}
        {% if total_objects > 1 %}
            {% blocktrans with count=total_objects %}<span class="likes-text">likes</span> {{count}} products{% endblocktrans %}
        {% else %}
            <span class="likes-text">{% trans "likes" %}</span>
        {% endif %}
{% endblock %}

{% block activity_content %}
    {% if total_objects == 1 %}
        {% if users|length == 1 and users.0.is_partner %}
        {% include 'apparel/fragments/product_medium.html' with object=objects.0 sid=users.0.user.pk %}
        {% else %}
        {% include 'apparel/fragments/product_medium.html' with object=objects.0 %}
        {% endif %}
    {% else %}
        <ul class="list-unstyled">
            {% for object in objects %}
                {% if users|length == 1 and users.0.is_partner %}
                <li>{% include 'apparel/fragments/product_medium.html' with sid=users.0.user.id %}</li>
                {% else %}
                <li>{% include 'apparel/fragments/product_medium.html' %}</li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if total_objects > 4 %}
            <a href="{{ users.0.get_absolute_url }}" class="btn btn-default btn-block">{% blocktrans with count=remaining_objects %}+ {{ count }} more{% endblocktrans %}</a>
        {% endif %}
    {% endif %}
{% endblock %}
