{% extends 'activity_feed/verbs/base.html' %}
{% load i18n %}

{% block activity_header %}
    {% for user in users %}{% if not forloop.first %}{% if forloop.last %} {% trans "and" %} {% else %}, {% endif %}{% endif %}<a href="{{user.get_absolute_url}}">{{user.display_name}}</a>{% endfor %}
    {% if objects|length > 1 %}
    {% blocktrans with count=objects|length %}likes {{count}} products{% endblocktrans %}
    {% else %}
    {% blocktrans with object_url=objects.0.get_absolute_url title=objects.0 %}
    likes <a href="{{object_url}}">{{title}}</a>
    {% endblocktrans %}
    {% endif %} 
{% endblock %}

{% block activity_content %}
    {% if objects|length > 1 %}
    2 or 4 products layout
    {% else %}
    {% include 'apparel/fragments/product_feed_452.html' with object=objects.0 width="452" %}
    {% endif %}
{% endblock %}
