@import compass/reset
@import compass/css3
@import compass/utilities

@import partials/base.sass
@import partials/widget.sass
@import partials/shop.sass

body
  +font
  +typography
  +btn_helper
  background-color: #ffffff

.container
  #inner-container
    width: 100%
    display: table
    .sidebar
      display: table-cell
      width: $aside_width
      padding-right: $gutter_width
    #content
      display: table-cell
      #product-list
        width: 100%
    #product-stores, #product-stores-header
      display: none

// Duplicate from application.sass
span, a
  &.likes
    +apparel_likes
  &.discount-price
    +apparel_discount_price
  &.price
    +apparel_price
  &.currency
    +apparel_currency
