@import compass/reset

@import partials/base.sass
@import partials/font_face_extended.scss

@import compass/css3
@import compass/utilities


// Page layout can be done using mixins applied to your semantic classes and IDs:
body
  .container
    +container
    +clearfix
  .sidebar
    +float-left
    width: $aside_width
    margin-right: $gutter_width
  .last
    margin-right: 0
  &.two-columns
    #content
      +float-left
      width: 696px - 1
      @media screen and (min-width: 1212px)
        width: 696px - 1  + 232
      @media screen and (min-width: 1444px)
        width: 696px - 1  + 464
      @media screen and (min-width: 1676px)
        width: 696px - 1  + 696
    &.look #content, &.edit-look #content, &.profile-looks #content, &.settings #content, &.about #content
      width: 695px
  &.right
    #content
      margin-right: $gutter_width
  &.three-columns
    #content
      +float-left
      width: $middle_width
      margin-right: $gutter_width
  &.one-column
    #content
      +float-left
      width: $content_width

//:focus
//  outline= !border_color "dotted" "medium"
#sidebar-profile-info
  margin: 10px 0 5px 0
.sidebar-profile-name
  line-height: normal
  margin: 10px 0 5px 0
  font-size: 2em
.lifc
  font-size: 1.43em
  font-weight: bold
  color: #3b3b3b
  margin: 20px 0 0
  text-shadow: 0 2px 3px #F5F5F5
.lifc em
  font-style: italic
  color: #3d699e


@import partials/application.sass
