@charset "UTF-8";
/* line 14, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

@import url(partials/base.css);
/* line 3, ../src/partials/_typography.sass */
body {
  font-family: "Gotham Book", "Helvetica", "Arial", sans-serif;
  font-size: 70%;
  line-height: 1.5em;
  color: #333333;
}
/* line 120, ../src/partials/_base.sass */
body a {
  text-decoration: none;
  color: #333333;
}
/* line 124, ../src/partials/_base.sass */
body p a:hover, body p a:active {
  text-decoration: underline;
}
/* line 126, ../src/partials/_base.sass */
body h1 {
  font-size: 1.25em;
}
/* line 129, ../src/partials/_base.sass */
body h2, body h3 {
  font-size: 1em;
}
/* line 131, ../src/partials/_base.sass */
body h2 {
  margin: 30px 0 10px;
  border-bottom: 1px solid #d9d9d9;
}
/* line 134, ../src/partials/_base.sass */
body h3 {
  font-weight: bolder;
}

/* line 7, ../src/beta.sass */
body {
  background: #3c3c3c;
  color: #adadad;
}
/* line 10, ../src/beta.sass */
body h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
/* line 13, ../src/beta.sass */
body form {
  width: 300px;
  margin: 20% auto 0;
}
/* line 16, ../src/beta.sass */
body label {
  display: block;
}
/* line 18, ../src/beta.sass */
body input {
  width: 100%;
}
/* line 20, ../src/beta.sass */
body input, body button {
  display: block;
  font-size: 2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 24, ../src/beta.sass */
body button {
  margin-top: 1em;
  background: #3c3c3c;
  color: #adadad;
  border: 1px solid #adadad;
  float: right;
}
/* line 30, ../src/beta.sass */
body button:hover {
  color: #3c3c3c;
  background: #adadad;
  border-color: #efefef;
}
