/* line 6, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 23, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 33, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" "";
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 36, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img {
  border: none;
}

/* line 15, ../src/screen.sass */
body.bp {
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 58, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* line 63, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h1 img {
  margin: 0;
}
/* line 65, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
/* line 74, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 79, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
/* line 84, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
}
/* line 88, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 90, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 92, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 96, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 100, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp a {
  text-decoration: underline;
  color: #333333;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:visited {
  color: black;
}
/* line 15, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:focus {
  color: black;
}
/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:hover {
  color: black;
}
/* line 21, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:active {
  color: #ff3333;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}
/* line 107, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp strong {
  font-weight: bold;
}
/* line 109, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp em {
  font-style: italic;
}
/* line 111, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 114, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666;
}
/* line 118, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 121, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp del {
  color: #666;
}
/* line 123, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 126, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp pre, body.bp code, body.bp tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
/* line 129, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 131, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 134, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp ul {
  list-style-type: disc;
}
/* line 136, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp ol {
  list-style-type: decimal;
}
/* line 138, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 140, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dl dt {
  font-weight: bold;
}
/* line 142, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dd {
  margin-left: 1.5em;
}
/* line 144, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 147, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp th {
  font-weight: bold;
}
/* line 149, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp thead th {
  background: #c3d9ff;
}
/* line 151, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 153, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 155, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp tfoot {
  font-style: italic;
}
/* line 157, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp caption {
  background: #eee;
}
/* line 159, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp .quiet {
  color: #666666;
}
/* line 161, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .clearfix {
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body.bp .clearfix {
  display: block;
}
/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 7, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_debug.sass */
body.bp .showgrid {
  background: url('/images/grid.png?1263827204');
}
/* line 5, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .error a {
  color: #8a1f11;
}
/* line 7, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .notice {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .notice a {
  color: #514721;
}
/* line 9, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 46, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .success a {
  color: #264409;
}
/* line 11, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .hide {
  display: none;
}
/* line 13, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .highlight {
  background: yellow;
}
/* line 15, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .removed {
  background: #990000;
  color: white;
}
/* line 20, ../src/screen.sass */
body.bp ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 15, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp label {
  font-weight: bold;
}
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 5px;
}
/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.title {
  font-size: 1.5em;
}
/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input[type=checkbox], form.bp input.checkbox,
form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 34, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 37, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp select {
  margin: 0.5em 0;
}
/* line 49, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 51, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password],
form.bp textarea,
form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus,
form.bp select:focus {
  border: 1px solid #666666;
}
/* line 42, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 44, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 34, ../src/screen.sass */
body #container {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body #container {
  display: block;
}
/* line 36, ../src/screen.sass */
body #header, body #footer {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 940px;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body #header, * html body #footer {
  overflow-x: hidden;
}

/* line 40, ../src/screen.sass */
body.sidebar.left #sidebar {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 180px;
  padding-right: 40px;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.sidebar.left #sidebar {
  overflow-x: hidden;
}
/* line 43, ../src/screen.sass */
body.sidebar.left #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 700px;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.sidebar.left #content {
  overflow-x: hidden;
}

/* line 51, ../src/screen.sass */
body.sidebar.right #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 180px;
  padding-left: 40px;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.sidebar.right #sidebar {
  overflow-x: hidden;
}
/* line 54, ../src/screen.sass */
body.sidebar.right #content {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 700px;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.sidebar.right #content {
  overflow-x: hidden;
}

/* line 62, ../src/screen.sass */
body.sidebar.right.left #sidebar {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 180px;
  padding-right: 40px;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.sidebar.right.left #sidebar {
  overflow-x: hidden;
}
/* line 65, ../src/screen.sass */
body.sidebar.right.left #content {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 460px;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.sidebar.right.left #content {
  overflow-x: hidden;
}
/* line 71, ../src/screen.sass */
body.sidebar.right.left #sidebar-two {
  display: inline;
  float: left;
  margin-right: 0;
  width: 180px;
  padding-left: 40px;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.sidebar.right.left #sidebar-two {
  overflow-x: hidden;
}

/* line 6, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 23, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 33, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" "";
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 36, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img {
  border: none;
}

/* line 3, ../src/partials/_application.sass */
#header, #nav {
  width: 940px;
}

/* line 6, ../src/partials/_application.sass */
#header-pane {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#header-pane {
  display: block;
}

/* line 9, ../src/partials/_application.sass */
#main-content {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#main-content {
  display: block;
}

/* line 12, ../src/partials/_application.sass */
#content.fixed {
  position: fixed;
  top: 0;
}

/* line 16, ../src/partials/_application.sass */
body {
  background: transparent url('../images/header-bg.png') no-repeat scroll center top;
}

/* line 20, ../src/partials/_application.sass */
a {
  text-decoration: none;
}
/* line 23, ../src/partials/_application.sass */
a:hover, a:active {
  text-decoration: underline;
}

/* line 27, ../src/partials/_application.sass */
h2 {
  text-transform: uppercase;
  font-size: 1.3em;
  border-bottom: 1px solid #d9d9d9;
}

/* line 33, ../src/partials/_application.sass */
h3, h4 {
  text-transform: uppercase;
}

/* line 37, ../src/partials/_application.sass */
#header-pane {
  height: 140px;
  overflow: visible;
  position: relative;
}

/* line 43, ../src/partials/_application.sass */
#login-pane {
  height: 2em;
  line-height: 2em;
  background: transparent url(../images/loggedin-pane-bg.png) scroll repeat-x left top;
}
/* line 48, ../src/partials/_application.sass */
#login-pane.updates {
  background: transparent url(../images/updates-bg.png) scroll repeat-x left top;
}

/* line 52, ../src/partials/_application.sass */
#nav-user {
  float: left;
  margin: 0;
}

/* line 57, ../src/partials/_application.sass */
#nav-main {
  position: absolute;
  top: 50px;
  left: 450px;
}
/* line 62, ../src/partials/_application.sass */
#nav-main li {
  display: inline;
  margin-left: 2em;
}
/* line 66, ../src/partials/_application.sass */
#nav-main li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 73, ../src/partials/_application.sass */
#nav-main li a.selected {
  background: transparent url('../images/nav-main-selected.png') fixed no-repeat center bottom;
}

/* line 77, ../src/partials/_application.sass */
#logo {
  float: left;
  margin-top: 30px;
  padding: 20px;
  border-bottom: 1px solid #999999;
}

/* line 84, ../src/partials/_application.sass */
#logged-in-as {
  float: left;
}

/* line 88, ../src/partials/_application.sass */
#logout {
  display: inline-block;
  float: right;
  text-decoration: none;
  padding-left: 20px;
  background: transparent url('../images/logout.png') fixed no-repeat left center;
}

/* line 96, ../src/partials/_application.sass */
#account-dialogue {
  position: absolute;
  width: 482px;
  height: 36px;
  padding: 3px 0;
  top: 37px;
  left: 200px;
  display: none;
  background: transparent url('../images/login-bg.png') scroll no-repeat left center;
}

/* line 107, ../src/partials/_application.sass */
#login-forgot-password {
  color: #fb9292;
}

/* line 111, ../src/partials/_application.sass */
#login-create-account {
  color: #92c0c0;
}

/* line 116, ../src/partials/_application.sass */
#account-dialogue input.default-value {
  font-style: italic;
}
/* line 119, ../src/partials/_application.sass */
#account-dialogue form {
  margin: 0;
  margin: auto 1em;
}

/* line 124, ../src/partials/_application.sass */
#login-username, #login-password, #login-password-placeholder {
  background: transparent url(../images/login-text-bg.png) scroll no-repeat left center;
  width: 108px;
  height: 24px;
  margin: 0;
  border: none;
  vertical-align: middle;
  padding: 8px 16px;
  font-size: 1.2em;
  float: left;
}

/* line 136, ../src/partials/_application.sass */
#login-submit {
  width: 40px;
  height: 40px;
  background: transparent url(../images/login-button.png) scroll no-repeat left center;
  text-indent: -10000em;
  border: none;
  float: left;
  cursor: pointer;
}

/* line 146, ../src/partials/_application.sass */
#login-password {
  display: none;
}

/* line 150, ../src/partials/_application.sass */
#account-dialogue .fb-connect-button {
  float: right;
  margin-right: 2em;
  margin-top: auto;
  height: 100%;
  padding-top: 6px;
}

/* line 158, ../src/partials/_application.sass */
ul#product-menu {
  margin: 0;
}
/* line 8, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.sass */
ul#product-menu li {
  list-style-type: none;
  margin-left: 0px;
}

/* line 164, ../src/partials/_application.sass */
.collage .tooltip, #product-menu ul, a.block_link, table.available-sizes td, #pagination, #add-menu, #add-to-look ul, .product-info, .product-vendor {
  border: 1px solid #dadada;
  background-color: #f2f2f2;
}

/* line 170, ../src/partials/_application.sass */
.product-options .option-size, .product-options .option-relative-size, .product-options .option-shoe-size, .product-options .option-pants-length, .product-options .option-pants-width {
  border: 1px solid #dadada;
  background-color: #f2f2f2;
}

/* line 174, ../src/partials/_application.sass */
#sidebar ul {
  padding: 0;
}

/* line 177, ../src/partials/_application.sass */
#product-menu ul {
  margin: 0 0 9px 0;
  border-bottom: none;
}
/* line 181, ../src/partials/_application.sass */
#product-menu ul li {
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#7b7b7b));
  background: -moz-linear-gradient(left top, left bottom, from(#f2f2f2), to(#7b7b7b));
  border-bottom: 1px solid #dadada;
  padding-left: 1em;
  list-style: disc inside url(../images/list-item.png);
  line-height: 2.5em;
}
/* line 188, ../src/partials/_application.sass */
#product-menu ul li ul {
  background-color: #dadada;
  margin-left: -1em;
  margin-bottom: 0;
}
/* line 193, ../src/partials/_application.sass */
#product-menu ul li ul li {
  border-bottom: 1px solid #f2f2f2;
}

/* line 197, ../src/partials/_application.sass */
#product-gender li.selected {
  list-style-image: url(../images/list-item-radio-selected.png);
}

/* line 201, ../src/partials/_application.sass */
#product-color li.selected, #product-manufacturers li.selected, #product-category li.selected {
  list-style-image: url(../images/list-item-check-selected.png);
}

/* line 206, ../src/partials/_application.sass */
span.likes {
  background: transparent url(../images/heart.png) no-repeat scroll left bottom;
  padding-left: 20px;
  color: #fa7070;
}
/* line 211, ../src/partials/_application.sass */
span.price {
  background: transparent url(../images/check.png) no-repeat scroll left bottom;
  padding-left: 20px;
}

/* line 216, ../src/partials/_application.sass */
.product-photo {
  border: 1px solid #dadada;
}

/* line 220, ../src/partials/_application.sass */
#product-list {
  border-bottom: 1px solid #dadada;
  height: 360px;
}

/* line 225, ../src/partials/_application.sass */
.product-small {
  width: 140px;
  height: 180px;
  float: left;
}
/* line 230, ../src/partials/_application.sass */
.product-small .product-image {
  text-align: center;
  position: relative;
  height: 138px;
}
/* line 235, ../src/partials/_application.sass */
.product-small span.likes {
  position: absolute;
  top: 5px;
  left: 5px;
  padding-left: 0;
  padding-top: 6px;
  min-width: 10px;
  background-position: center top;
}
/* line 244, ../src/partials/_application.sass */
.product-small .product-info {
  text-align: center;
  border-bottom: none;
  padding-bottom: 5px;
}

/* line 250, ../src/partials/_application.sass */
#pagination {
  height: 30px;
  border-top: none;
}
/* line 254, ../src/partials/_application.sass */
#pagination .prev {
  float: left;
  display: inline-block;
  width: 138px;
  height: 30px;
  background: transparent url(../images/prev-page.png) no-repeat scroll 20px center;
  border-right: 1px solid #dadada;
}
/* line 262, ../src/partials/_application.sass */
#pagination .next {
  float: right;
  display: inline-block;
  width: 138px;
  height: 30px;
  background: transparent url(../images/next-page.png) no-repeat scroll 120px center;
  border-left: 1px solid #dadada;
}
/* line 270, ../src/partials/_application.sass */
#pagination .current {
  float: left;
  line-height: 30px;
  text-align: center;
}

/* line 276, ../src/partials/_application.sass */
.tooltip .product-image, #product .product-image {
  height: 500px;
  border: 1px solid #dadada;
  float: left;
  margin-top: -12px;
  position: relative;
}

/* line 284, ../src/partials/_application.sass */
.tooltip .product-image .magnifier, #product .product-image .magnifier {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 19px;
  height: 20px;
  background: transparent url(../images/magnifier.png) no-repeat scroll left top;
  display: none;
}

/* line 294, ../src/partials/_application.sass */
table.available-sizes th {
  border: none;
  font-size: 0.8em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

/* line 302, ../src/partials/_application.sass */
.product-info {
  border-left: none;
  overflow: visible;
}

/* line 307, ../src/partials/_application.sass */
.tooltip .product-info, #product .product-info {
  background: #fafafa;
  height: 478px;
}

/* line 311, ../src/partials/_application.sass */
.product-meta {
  display: inline;
  float: left;
  margin-right: 0;
  width: 380px;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html .product-meta {
  overflow-x: hidden;
}

/* line 314, ../src/partials/_application.sass */
.product-info .box {
  padding: 1.5em;
  background-color: inherit;
}

/* line 319, ../src/partials/_application.sass */
.product-options {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
  list-style: none;
}
/* line 325, ../src/partials/_application.sass */
.product-options ul {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
  list-style: none;
}
/* line 331, ../src/partials/_application.sass */
.product-options li ul li {
  float: left;
}
/* line 334, ../src/partials/_application.sass */
.product-options .option-size, .product-options .option-relative-size, .product-options .option-shoe-size, .product-options .option-pants-length, .product-options .option-pants-width {
  border-right: none;
}
/* line 337, ../src/partials/_application.sass */
.product-options .option-size li, .product-options .option-relative-size li, .product-options .option-shoe-size li, .product-options .option-pants-length li, .product-options .option-pants-width li {
  padding: 0 10px;
  border-right: 1px solid #dadada;
}
/* line 341, ../src/partials/_application.sass */
.product-options .option-color {
  background: transparent url(../images/option-color-bg.png) scroll repeat-x left top;
  border-right: 1px solid #dadada;
}
/* line 345, ../src/partials/_application.sass */
.product-options .option-color li {
  background: transparent scroll no-repeat left top;
  width: 39px;
  height: 20px;
  text-indent: -10000em;
}
/* line 351, ../src/partials/_application.sass */
.product-options .option-color li.black {
  background-image: url(../images/option-color-black.png);
}
/* line 354, ../src/partials/_application.sass */
.product-options .option-color li.yellow {
  background-image: url(../images/option-color-yellow.png);
}
/* line 357, ../src/partials/_application.sass */
.product-options .option-color li.green {
  background-image: url(../images/option-color-green.png);
}
/* line 360, ../src/partials/_application.sass */
.product-options .option-color li.magenta {
  background-image: url(../images/option-color-magenta.png);
}

/* line 364, ../src/partials/_application.sass */
.product-vendors {
  border-bottom: 1px solid #e7e7e7;
}

/* line 368, ../src/partials/_application.sass */
a.buy-now {
  padding: 50px 10px 5px;
  background: #d0fae8 url(../images/check-large.png) scroll no-repeat center center;
  border: 1px solid #92c0c7;
  color: #408994;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 377, ../src/partials/_application.sass */
.product-vendors a.buy-now {
  float: right;
}

/* line 381, ../src/partials/_application.sass */
.product-vendor {
  border-bottom: none;
  padding: 5px 10px;
  height: 30px;
  line-height: 30px;
}
/* line 387, ../src/partials/_application.sass */
.product-vendor .price, .product-vendor .currency {
  line-height: 30px;
}
/* line 390, ../src/partials/_application.sass */
.product-vendor .price {
  font-size: 2em;
  background: none;
  padding-left: 0;
  padding-right: 5px;
}
/* line 396, ../src/partials/_application.sass */
.product-vendor .vendor {
  float: right;
  background: transparent url(../images/vendor.png) scroll no-repeat left center;
  padding: 0 10px;
}

/* line 403, ../src/partials/_application.sass */
.similar-product .product-photo {
  float: left;
  margin-right: 10px;
}
/* line 407, ../src/partials/_application.sass */
.similar-product .product-summary {
  float: left;
}

/* line 412, ../src/partials/_application.sass */
.product-summary a, .product-summary span {
  display: block;
}
/* line 415, ../src/partials/_application.sass */
.product-summary a {
  text-transform: uppercase;
  background: transparent url(../images/arrow-bg.png) scroll no-repeat left bottom;
  padding-left: 20px;
}

/* line 421, ../src/partials/_application.sass */
#add-menu {
  margin-top: 4em;
  text-transform: uppercase;
}
/* line 425, ../src/partials/_application.sass */
#add-menu > li {
  position: relative;
  float: left;
  line-height: 2.5em;
  padding-right: 1em;
  padding-left: 1em;
}

/* line 433, ../src/partials/_application.sass */
#add-to-look {
  border-right: 1px solid #dadada;
}

/* line 437, ../src/partials/_application.sass */
#add-menu > li > a {
  background: transparent url(../images/add.png) scroll no-repeat left center;
  padding-left: 20px;
}

/* line 444, ../src/partials/_application.sass */
li#add-to-look > a {
  background-image: url(../images/add.png);
}
/* line 447, ../src/partials/_application.sass */
li#add-to-look ul {
  display: none;
  position: absolute;
  margin: 0 -1em;
  border-bottom: none;
}
/* line 453, ../src/partials/_application.sass */
li#add-to-look ul li {
  padding: 0 1em;
  border-bottom: 1px solid #dadada;
}
/* line 457, ../src/partials/_application.sass */
li#add-to-wardrobe > a {
  background-image: url(../images/embed.png);
}

/* line 461, ../src/partials/_application.sass */
a.block_link {
  display: block;
  line-height: 2.5em;
  text-align: center;
  text-transform: uppercase;
}

/* line 468, ../src/partials/_application.sass */
#search {
  background: transparent url(../images/search.png) scroll no-repeat left center;
  top: 31px;
  right: 0px;
  position: absolute;
  width: 163px;
  height: 24px;
  padding: 17px 50px 17px 25px;
  overflow: visible;
  z-index: 1000;
}
/* line 479, ../src/partials/_application.sass */
#search.expanded {
  background: transparent url(../images/searchresult-bg.png) scroll no-repeat center top;
  height: 547px;
  width: 895px;
}

/* line 485, ../src/partials/_application.sass */
#searchbox {
  position: absolute;
  width: 163px;
  right: 50px;
  margin: 0;
  border: none;
  vertical-align: middle;
  font-size: 1.2em;
  background: transparent;
}

/* line 496, ../src/partials/_application.sass */
#search-result {
  margin-top: 140px;
  display: none;
}
/* line 500, ../src/partials/_application.sass */
#search-result h2 {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 505, ../src/partials/_application.sass */
.search-result-container {
  margin-left: 5px;
}
/* line 508, ../src/partials/_application.sass */
.search-result-container h3 {
  font-size: 1em;
  font-weight: bold;
}
/* line 512, ../src/partials/_application.sass */
.search-result-container a {
  display: block;
  margin-bottom: 4px;
}
/* line 516, ../src/partials/_application.sass */
.search-result-container .product-info {
  border: none;
  text-align: left;
}
/* line 520, ../src/partials/_application.sass */
.search-result-container .product-small {
  width: 205px;
}
/* line 523, ../src/partials/_application.sass */
.search-result-container .product-image {
  float: left;
  margin-right: 5px;
}

/* line 528, ../src/partials/_application.sass */
#main-content form {
  margin-left: .5em;
  padding-top: -.5em;
}
/* line 532, ../src/partials/_application.sass */
#main-content form label {
  display: block;
  margin-top: .5em;
}
/* line 536, ../src/partials/_application.sass */
#main-content form button {
  margin-top: 1em;
}
/* line 539, ../src/partials/_application.sass */
#main-content form .errorlist {
  color: #990000;
}

/* line 543, ../src/partials/_application.sass */
.facebook-profile-image {
  float: left;
  margin-right: .5em;
}

/* line 548, ../src/partials/_application.sass */
#profile-nav li {
  display: block;
  float: left;
  height: 30px;
  padding-left: .5em;
  padding-right: .5em;
  border: 1px solid #d9d9d9;
  border-left-color: white;
  text-transform: uppercase;
  background: transparent url(../images/profile-nav-bg.png) scroll repeat-x top left;
}
/* line 559, ../src/partials/_application.sass */
#profile-nav li.selected {
  background-image: url(../images/profile-nav-bg-selected.png);
  border-right-color: #ababab;
  border-left-color: #ababab;
}
/* line 564, ../src/partials/_application.sass */
#profile-nav li a {
  line-height: 30px;
}
/* line 567, ../src/partials/_application.sass */
#profile-nav li.profile-image {
  padding: 0;
}

/* line 571, ../src/partials/_application.sass */
#profile-nav-dash {
  position: relative;
  top: -10px;
  z-index: -1;
}
