/* Contains CSS rules that are used both in external widgets and on the apparelrow site */

/* line 9, ../src/widget.sass */
div#ar-wrapper h1, div#ar-wrapper h2, div#ar-wrapper h3, div#ar-wrapper h4, div#ar-wrapper h5, div#ar-wrapper span, div#ar-wrapper p, div#ar-wrapper div, div#ar-wrapper a {
  background: none;
  border: none;
  bottom: auto;
  clear: none;
  cursor: default;
  float: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px !important;
  font-style: normal;
  font-weight: normal;
  height: auto;
  left: auto;
  letter-spacing: normal;
  line-height: normal;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  overflow: visible;
  position: static;
  right: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  top: auto;
  visibility: visible;
  white-space: normal;
  width: auto;
  z-index: auto;
}

/* line 41, ../src/widget.sass */
.ar-look-collage, .ar-look-photo {
  height: 524px;
}

/* line 45, ../src/widget.sass */
#ar-wrapper {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 75%;
  line-height: 1.5em;
  color: #333333;
  position: relative;
}
/* line 104, ../src/partials/_base.sass */
#ar-wrapper a {
  text-decoration: none;
  color: #333333;
}
/* line 109, ../src/partials/_base.sass */
#ar-wrapper p a:hover, #ar-wrapper p a:active {
  text-decoration: underline;
}
/* line 112, ../src/partials/_base.sass */
#ar-wrapper h2, #ar-wrapper h3 {
  font-size: 1em;
}
/* line 115, ../src/partials/_base.sass */
#ar-wrapper h2 {
  margin: 30px 0 10px;
  border-bottom: 1px solid #d9d9d9;
}
/* line 119, ../src/partials/_base.sass */
#ar-wrapper h3 {
  font-weight: bolder;
}
/* line 49, ../src/widget.sass */
#ar-wrapper .ar-look-photo {
  top: 5px;
  position: relative;
  margin: 0 auto;
}
/* line 36, ../src/partials/_widget.sass */
#ar-wrapper .ar-look-photo .hotspot, #ar-wrapper .ar-look-photo .ar-hotspot {
  position: absolute;
  padding: 40px;
  background: transparent url('http://localhost:8000/media/images/look-hotspot.png?1271672587') no-repeat scroll center center;
}
/* line 51, ../src/widget.sass */
#ar-wrapper .ar-link {
  cursor: pointer;
}
/* line 53, ../src/widget.sass */
#ar-wrapper .ar-tooltip {
  border: 1px solid #d9d9d9;
  background-color: #fafafa;
  background: #efefef url('http://localhost:8000/media/images/tooltip-bg.png?1273841888') repeat-x scroll center top;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #d9d9d9;
  /* Webkit (Safari, Chrome) */
  -webkit-box-shadow: #999999 0px 0px 5px;
  /* Gecko (Firefox, Camino) */
  -moz-box-shadow: #999999 0px 0px 5px;
  /* CSS3 */
  box-shadow: #999999 0px 0px 5px;
  display: none;
  z-index: 1100;
  padding: 10px 10px 8px 10px;
  position: relative;
}
/* line 15, ../src/partials/_widget.sass */
#ar-wrapper .ar-tooltip h2 {
  margin-top: 0;
  margin-bottom: 1px;
  border-bottom: none;
  white-space: nowrap;
}
/* line 20, ../src/partials/_widget.sass */
#ar-wrapper .ar-tooltip p, #ar-wrapper .ar-tooltip a {
  color: #666666;
  font-size: smaller;
  white-space: nowrap;
}
/* line 24, ../src/partials/_widget.sass */
#ar-wrapper .ar-tooltip .arrow, #ar-wrapper .ar-tooltip .ar-arrow {
  position: absolute;
  background: transparent url('http://localhost:8000/media/images/tooltip-arrow.png?1273841888') no-repeat scroll center center;
  width: 14px;
  height: 8px;
  bottom: -8px;
  left: 16px;
}
/* line 55, ../src/widget.sass */
#ar-wrapper .ar-tooltip p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 75%;
  line-height: 1.5em;
  color: #333333;
  font-size: smaller/1.5 !important;
}
/* line 104, ../src/partials/_base.sass */
#ar-wrapper .ar-tooltip p a {
  text-decoration: none;
  color: #333333;
}
/* line 109, ../src/partials/_base.sass */
#ar-wrapper .ar-tooltip p p a:hover, #ar-wrapper .ar-tooltip p p a:active {
  text-decoration: underline;
}
/* line 112, ../src/partials/_base.sass */
#ar-wrapper .ar-tooltip p h2, #ar-wrapper .ar-tooltip p h3 {
  font-size: 1em;
}
/* line 115, ../src/partials/_base.sass */
#ar-wrapper .ar-tooltip p h2 {
  margin: 30px 0 10px;
  border-bottom: 1px solid #d9d9d9;
}
/* line 119, ../src/partials/_base.sass */
#ar-wrapper .ar-tooltip p h3 {
  font-weight: bolder;
}
/* line 59, ../src/widget.sass */
#ar-wrapper .ar-tooltip a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 75%;
  line-height: 1.5em;
  color: #333333;
  font-size: smaller !important;
  cursor: pointer;
}
/* line 104, ../src/partials/_base.sass */
#ar-wrapper .ar-tooltip a a {
  text-decoration: none;
  color: #333333;
}
/* line 109, ../src/partials/_base.sass */
#ar-wrapper .ar-tooltip a p a:hover, #ar-wrapper .ar-tooltip a p a:active {
  text-decoration: underline;
}
/* line 112, ../src/partials/_base.sass */
#ar-wrapper .ar-tooltip a h2, #ar-wrapper .ar-tooltip a h3 {
  font-size: 1em;
}
/* line 115, ../src/partials/_base.sass */
#ar-wrapper .ar-tooltip a h2 {
  margin: 30px 0 10px;
  border-bottom: 1px solid #d9d9d9;
}
/* line 119, ../src/partials/_base.sass */
#ar-wrapper .ar-tooltip a h3 {
  font-weight: bolder;
}
