/* Contains CSS rules that are used both in external widgets and on the apparelrow site */
@import url(shared.css);
@font-face {
  font-family: "Gotham Book";
  src: url('../fonts/gotham-book.eot');
  src: local("Gotham Book"), local("gotham-book"), url('../fonts/gotham-book.woff') format('woff'), url('../fonts/gotham-book.ttf') format('truetype'), url('../fonts/gotham-book.svg') format('svg');
}

@font-face {
  font-family: "Gotham Book Italic";
  font-style: "italic";
  src: url('../fonts/gotham-bookitalic.eot');
  src: local("Gotham Book Italic"), local("gotham-bookitalic"), url('../fonts/gotham-bookitalic.woff') format('woff'), url('../fonts/gotham-bookitalic.ttf') format('truetype'), url('../fonts/gotham-bookitalic.svg') format('svg');
}

@font-face {
  font-family: "Gotham Medium";
  font-weight: "bold";
  src: url('../fonts/gotham-medium.eot');
  src: local("Gotham Medium"), local("gotham-medium"), url('../fonts/gotham-medium.woff') format('woff'), url('../fonts/gotham-medium.ttf') format('truetype'), url('../fonts/gotham-medium.svg') format('svg');
}

@font-face {
  font-family: "Gotham Medium Italic";
  font-style: "italic";
  font-weight: "bold";
  src: url('../fonts/gotham-mediumitalic.eot');
  src: local("Gotham Medium Italic"), local("gotham-mediumitalic"), url('../fonts/gotham-mediumitalic.woff') format('woff'), url('../fonts/gotham-mediumitalic.ttf') format('truetype'), url('../fonts/gotham-mediumitalic.svg') format('svg');
}

/* line 11, ../src/widget.sass */
div#ar-wrapper h1, div#ar-wrapper h2, div#ar-wrapper h3, div#ar-wrapper h4, div#ar-wrapper h5, div#ar-wrapper span, div#ar-wrapper p, div#ar-wrapper div, div#ar-wrapper a {
  background: none;
  border: none;
  bottom: auto;
  clear: none;
  cursor: default;
  float: none;
  font-family: "Gotham Book", "Helvetica", "Arial", sans-serif;
  font-size: 12px !important;
  font-style: normal;
  font-weight: normal;
  height: auto;
  left: auto;
  letter-spacing: normal;
  line-height: normal;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  overflow: visible;
  position: static;
  right: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  top: auto;
  visibility: visible;
  white-space: normal;
  width: auto;
  z-index: auto;
}

/* line 43, ../src/widget.sass */
.ar-look-collage, .ar-look-photo {
  height: 524px;
}

/* line 46, ../src/widget.sass */
#ar-wrapper {
  font-family: "Gotham Book", "Helvetica", "Arial", sans-serif;
  font-size: 70%;
  line-height: 1.5em;
  color: #333333;
  position: relative;
}
/* line 116, ../src/partials/_base.sass */
#ar-wrapper a {
  text-decoration: none;
  color: #333333;
}
/* line 120, ../src/partials/_base.sass */
#ar-wrapper p a:hover, #ar-wrapper p a:active {
  text-decoration: underline;
}
/* line 122, ../src/partials/_base.sass */
#ar-wrapper h2, #ar-wrapper h3 {
  font-size: 1em;
}
/* line 124, ../src/partials/_base.sass */
#ar-wrapper h2 {
  margin: 30px 0 10px;
  border-bottom: 1px solid #d9d9d9;
}
/* line 127, ../src/partials/_base.sass */
#ar-wrapper h3 {
  font-weight: bolder;
}
/* line 50, ../src/widget.sass */
#ar-wrapper .ar-look-photo {
  position: relative;
  margin: 0 auto;
}
/* line 64, ../src/partials/_widget.sass */
#ar-wrapper .ar-look-photo .hotspot, #ar-wrapper .ar-look-photo .ar-hotspot {
  position: absolute;
  padding: 40px;
  background: transparent url('../images/look-hotspot.png?1271665350') no-repeat scroll center center;
}
/* line 52, ../src/widget.sass */
#ar-wrapper .ar-link {
  cursor: pointer;
}
/* line 54, ../src/widget.sass */
#ar-wrapper a.ar-tooltip {
  cursor: pointer !important;
  border: 1px solid #d9d9d9;
  background-color: #fafafa;
  background-color: #efefef;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  -moz-box-shadow: #999999 0px 0px 5px;
  -webkit-box-shadow: #999999 0px 0px 5px;
  -o-box-shadow: #999999 0px 0px 5px;
  box-shadow: #999999 0px 0px 5px;
  display: none;
  z-index: 1100;
  padding: 4px !important;
  position: relative;
  white-space: nowrap;
}
/* line 17, ../src/partials/_widget.sass */
#ar-wrapper a.ar-tooltip .product-image, #ar-wrapper a.ar-tooltip .ar-product-image {
  border: 1px solid #dadada;
  text-align: center;
  background-color: white;
  float: left;
  width: 90px;
  line-height: 115px;
  height: 115px;
  margin-right: 10px;
}
/* line 26, ../src/partials/_widget.sass */
#ar-wrapper a.ar-tooltip .product-image img, #ar-wrapper a.ar-tooltip .ar-product-image img {
  vertical-align: middle;
}
/* line 28, ../src/partials/_widget.sass */
#ar-wrapper a.ar-tooltip .product-meta {
  float: left;
}
/* line 30, ../src/partials/_widget.sass */
#ar-wrapper a.ar-tooltip .product-meta h2 {
  margin-top: 1em;
  margin-bottom: 0px;
  border-bottom: none;
  white-space: normal;
  overflow: hidden;
}
/* line 36, ../src/partials/_widget.sass */
#ar-wrapper a.ar-tooltip .product-meta h3 {
  color: #666666;
  font-size: smaller;
  font-weight: normal;
}
/* line 40, ../src/partials/_widget.sass */
#ar-wrapper a.ar-tooltip .product-meta div.vendors {
  margin-top: 0.5em;
}
/* line 42, ../src/partials/_widget.sass */
#ar-wrapper a.ar-tooltip .product-meta div.vendors a.vendor {
  display: inline-block;
  color: #666666;
  font-size: smaller;
}
/* line 46, ../src/partials/_widget.sass */
#ar-wrapper a.ar-tooltip .product-meta div.vendors a.buy-now {
  background-image: none;
  padding: 5px;
  display: inline;
  font-size: smaller;
  font-weight: normal;
  margin-left: 5px;
}
/* line 53, ../src/partials/_widget.sass */
#ar-wrapper a.ar-tooltip .product-meta .arrow, #ar-wrapper a.ar-tooltip .product-meta .ar-arrow {
  position: absolute;
  background: transparent url('../images/tooltip-arrow.png?1273840466') no-repeat scroll center center;
  width: 14px;
  height: 8px;
  bottom: -8px;
  left: 116px;
}
/* line 57, ../src/widget.sass */
#ar-wrapper a.ar-tooltip div, #ar-wrapper a.ar-tooltip h3 {
  margin: 0.5em 0;
}
/* line 59, ../src/widget.sass */
#ar-wrapper a.ar-tooltip p {
  font-family: "Gotham Book", "Helvetica", "Arial", sans-serif;
  font-size: 70%;
  line-height: 1.5em;
  color: #333333;
  font-size: smaller/1.5 !important;
}
/* line 116, ../src/partials/_base.sass */
#ar-wrapper a.ar-tooltip p a {
  text-decoration: none;
  color: #333333;
}
/* line 120, ../src/partials/_base.sass */
#ar-wrapper a.ar-tooltip p p a:hover, #ar-wrapper a.ar-tooltip p p a:active {
  text-decoration: underline;
}
/* line 122, ../src/partials/_base.sass */
#ar-wrapper a.ar-tooltip p h2, #ar-wrapper a.ar-tooltip p h3 {
  font-size: 1em;
}
/* line 124, ../src/partials/_base.sass */
#ar-wrapper a.ar-tooltip p h2 {
  margin: 30px 0 10px;
  border-bottom: 1px solid #d9d9d9;
}
/* line 127, ../src/partials/_base.sass */
#ar-wrapper a.ar-tooltip p h3 {
  font-weight: bolder;
}
/* line 63, ../src/widget.sass */
#ar-wrapper a.ar-tooltip h2 {
  margin-top: 1em;
  font-size: 120% !important;
}
/* line 66, ../src/widget.sass */
#ar-wrapper a.ar-tooltip h3 {
  font-family: "Gotham Book", "Helvetica", "Arial", sans-serif;
  font-size: 70%;
  line-height: 1.5em;
  color: #333333;
  font-size: 90% !important;
  color: #666666;
}
/* line 116, ../src/partials/_base.sass */
#ar-wrapper a.ar-tooltip h3 a {
  text-decoration: none;
  color: #333333;
}
/* line 120, ../src/partials/_base.sass */
#ar-wrapper a.ar-tooltip h3 p a:hover, #ar-wrapper a.ar-tooltip h3 p a:active {
  text-decoration: underline;
}
/* line 122, ../src/partials/_base.sass */
#ar-wrapper a.ar-tooltip h3 h2, #ar-wrapper a.ar-tooltip h3 h3 {
  font-size: 1em;
}
/* line 124, ../src/partials/_base.sass */
#ar-wrapper a.ar-tooltip h3 h2 {
  margin: 30px 0 10px;
  border-bottom: 1px solid #d9d9d9;
}
/* line 127, ../src/partials/_base.sass */
#ar-wrapper a.ar-tooltip h3 h3 {
  font-weight: bolder;
}
/* line 71, ../src/widget.sass */
#ar-wrapper a.ar-tooltip .ar-likes {
  background: transparent url('../images/heart.png?1269530868') no-repeat scroll left center;
  padding-left: 16px;
  color: #fa7070;
}
/* line 73, ../src/widget.sass */
#ar-wrapper a.ar-tooltip .ar-price {
  background: transparent url(../images/check.png) no-repeat scroll left bottom;
  color: #333333;
  padding-left: 15px;
}
